<div class="crayons-layout__sidebar-left">
  <p class="fw-heavy fs-3xl mod-center-heading">Mod Center</p>
  <div class="fw-bold fs-s mod-center-section-title">
    INBOX
  </div>
  <div id="mod-center-inbox" class="mod-center-inbox">
    <% if @current_user_tags.any? %>
      <% @current_user_tags.each do |tag| %>
        <a href="<%= "#{URL.url}/mod/#{tag}" %>" class="crayons-link crayons-link--block inbox-tags" data-tag-name="<%= tag %>">
          # <%= tag %>
          <span id="<%= tag %>-indicator" class="crayons-indicator"></span>
        </a>
      <% end %>
    <% end %>
    <a
      href="<%= "#{URL.url}/mod" %>"
      class="crayons-link crayons-link--block inbox-tags"
      data-tag-name="All topics">
      All topics
    </a>
  </div>
  <div class="fw-bold fs-s mod-center-section-title resources">RESOURCES</div>
  <div id="mod-center-other-options">
    <a href="#" class="crayons-link crayons-link--block">
      Feedback?
      <span class="crayons-icon">
        <%= inline_svg_tag("external-link-logo.svg", aria: true, title: "External link") %>
      </span>
    </a>
    <a href="<%= URL.url %>/community-moderation" class="crayons-link crayons-link--block">
      Moderator Guide
      <span class="crayons-icon">
        <%= inline_svg_tag("external-link-logo.svg", aria: true, title: "External link") %>
      </span>
    </a>
    <a href="<%= URL.url %>/terms" class="crayons-link crayons-link--block">
      Terms Of Conduct
      <span class="crayons-icon">
        <%= inline_svg_tag("external-link-logo.svg", aria: true, title: "External link") %>
      </span>
    </a>
  </div>
</div>
