<h2>Add a reaction</h2>
<button class="reaction-button <%= Reaction.cached_any_reactions_for?(moderatable, current_user, "like") ? "reacted" : "" %>" data-reactable-id="<%= moderatable.id %>" data-category="like" data-reactable-type="Article">
  <%= image_tag("favorite-heart-outline-button.svg", alt: "Thumbs down emoji") %>
</button>
<button class="reaction-button <%= Reaction.cached_any_reactions_for?(moderatable, current_user, "thumbsdown") ? "reacted" : "" %>" data-reactable-id="<%= moderatable.id %>" data-category="thumbsdown" data-reactable-type="Article">
  <%= image_tag("twemoji/thumb-down.svg", alt: "Thumbs down emoji") %>
</button>
<button class="reaction-button <%= Reaction.cached_any_reactions_for?(moderatable, current_user, "vomit") ? "reacted" : "" %>" data-reactable-id="<%= moderatable.id %>" data-category="vomit" data-reactable-type="Article">
  <%= image_tag("twemoji/suspicious.svg", alt: "Suspicious face emoji") %>
</button>
