<div id="suspend-user-modal" class="hidden">
  <p>Once suspended, <%= @article.username %> will not be able to comment or publish posts until their suspension is removed.</p>

  <div class="crayons-field mt-4">
    <label for="suspend_reason_userid_<%= @article.user.id %>" class="crayons-field__label">Note:</label>
    <textarea
      id="suspend_reason_userid_<%= @article.user.id %>"
      rows="4"
      cols="70"
      placeholder="Reason for suspension"
      class="crayons-textfield"
      aria-describedby="suspension-reason-error"
      required></textarea>
    <p
      id="suspension-reason-error"
      class="crayons-field__description"
      style="color: red;"
      aria-live="assertive">
    </p>
  </div>
  <div class="mt-4">
    <button
      id="submit-user-suspension-btn"
      class="c-btn c-btn--destructive c-btn--primary"
      data-suspension-reason-selector="#suspend_reason_userid_<%= @article.user.id %>"
      data-username="<%= @article.username %>"
      data-user-id="<%= @article.user.id %>">
      Submit & Suspend
    </button>
  </div>
</div>
