<% user_suspended = @article.user.suspended? %>
<% user_id = @article.user.id %>
<% user_username = @article.username %>
<div id="suspend-unsuspend-modal" class="hidden">
  <p>
    <% if user_suspended %>
      <%= t("views.moderations.actions.suspend.unsuspend_modal_text", username: user_username) %>
    <% else %>
      <%= t("views.moderations.actions.suspend.suspend_modal_text", username: user_username) %>
    <% end %>
  </p>

  <div class="crayons-field mt-4">
    <label
      for="<%= user_suspended ? "unsuspend" : "suspend" %>_reason_userid_<%= user_id %>"
      class="crayons-field__label">
      Note:
    </label>
    <textarea
      id="<%= user_suspended ? "unsuspend" : "suspend" %>_reason_userid_<%= user_id %>"
      rows="4"
      cols="70"
      placeholder="Reason for <%= user_suspended ? "unsuspension" : "suspension" %>"
      class="crayons-textfield"
      aria-describedby="<%= user_suspended ? "unsuspension" : "suspension" %>-reason-error"
      required></textarea>
    <p
      id="<%= user_suspended ? "unsuspension" : "suspension" %>-reason-error"
      class="suspend-unsuspend-reason-error crayons-field__description"
      style="color: red;"
      aria-live="assertive">
    </p>
  </div>
  <div class="mt-4">
    <button
      id="submit-user-<%= user_suspended ? "unsuspend" : "suspend" %>-btn"
      class="c-btn c-btn--primary"
      data-btn-action="<%= user_suspended ? "unsuspend" : "suspend" %>"
      data-reason-selector="#<%= user_suspended ? "unsuspend" : "suspend" %>_reason_userid_<%= user_id %>"
      data-user-id="<%= user_id %>">
      <% if user_suspended %>
        <%= t("views.moderations.actions.suspend.unsuspend_modal_button", username: user_username) %>
      <% else %>
        <%= t("views.moderations.actions.suspend.suspend_modal_button", username: user_username) %>
      <% end %>
    </button>
  </div>
</div>
