<% title "Moderating " + @moderatable.title %>

<% cache(cache_key_heroku_slug("mod-styling")) do %>
  <style>
    <%= Rails.application.assets["moderators.css"].to_s.html_safe %>
  </style>
<% end %>

<div class="container mod-container" style="text-align: center">
  <header class="top-header">
    <h1>Moderate Post</h1>
    <h2>Rate the quality of this post</h2>
    <button class="circle" type="button">
      <%= inline_svg_tag("chevron-right.svg", aria: true, title: "Close moderator actions panel") %>
    </button>
  </header>
  <div class="reactions-container">
    <div class="thumb-reactions-container">
      <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsup") ? "reacted" : "" %>"
              data-reactable-id="<%= @moderatable.id %>"
              data-category="thumbsup"
              data-reactable-type="<%= @moderatable.class.name %>">
        <div class="reaction-button-circle">
          <%= image_tag("emoji/emoji-one-thumbs-up-gray.png", alt: "Thumbs up emoji", class: "emoji-grey") %>
          <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-thumbs-up.png") %>" alt="Thumbs up emoji" />
          <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: "Checkmark") %>
        </div>
        <span class="vote-text">High Quality</span>
      </button>

      <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsdown") ? "reacted" : "" %>"
              data-reactable-id="<%= @moderatable.id %>"
              data-category="thumbsdown"
              data-reactable-type="<%= @moderatable.class.name %>">
        <div class="reaction-button-circle">
          <%= image_tag("emoji/emoji-one-thumbs-down-gray.png", alt: "Thumbs down emoji", class: "emoji-grey") %>
          <img class="reacted-emoji downvote" src="<%= asset_path("emoji/emoji-one-thumbs-down.png") %>" alt="Thumbs down emoji" />
          <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: "Checkmark") %>
        </div>
        <span class="vote-text">Low Quality</span>
      </button>
    </div>
    <button class="reaction-vomit-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "vomit") ? "reacted" : "" %>"
            data-reactable-id="<%= @moderatable.id %>"
            data-category="vomit"
            data-reactable-type="<%= @moderatable.class.name %>">
      <%= image_tag("emoji/emoji-one-nausea-face-gray.png", alt: "Nausea face emoji", class: "emoji-grey") %>
      <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-nausea-face.png") %>" alt="Nausea down emoji" />
      <span></span>
      <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon vomit-checkmark", title: "Checkmark") %>
    </button>
    <span class="how-this-works-section">How does this work?</span>
  </div>
  <%# Rating buttons and options go here, to be added by Arit %>
  <div class="other-things-container">
    <header class="other-things">
      <h1>Other things you can do</h1>
    </header>
    <button class="adjust-tags" type="button">
      <div class="label-wrapper">
        <div class="icon circle centered-icon">
          <%= inline_svg_tag("mod-filled.svg", aria: true, title: "Adjust tags") %>
        </div>
        <header>
          <h2>Adjust tags</h2>
          <h3>Add or remove tags</h3>
        </header>
      </div>
      <div class="toggle-chevron-container">
        <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
      </div>
    </button>
    <button class="set-experience" type="button">
      <div class="label-wrapper">
        <div class="icon circle centered-icon">
          <%= inline_svg_tag("book.svg", aria: false) %>
        </div>
        <header>
          <h2>Set experience level</h2>
          <h3>Curate the most appropriate audience for this post</h3>
        </header>
      </div>
      <div class="toggle-chevron-container">
        <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
      </div>
    </button>
    <div class="bottom-actions">
    <button type="button">Flag user</button>
  </div>
</div>

<script defer>
  setTimeout(function () {
    var butts = document.querySelectorAll('.reaction-button, .reaction-vomit-button');
    for (var i = 0; i < butts.length; i++) {
      var butt = butts[i];
      butt.onclick = function (event) {
        event.preventDefault();
        var thisButt = this;
        thisButt.classList.add('reacted');

        function successCb(response) {
          if (response.result === 'create') {
            thisButt.classList.add('reacted');
          } else {
            thisButt.classList.remove('reacted');
          }
        }

        var formData = new FormData();
        formData.append('reactable_type', thisButt.dataset.reactableType);
        formData.append('category', thisButt.dataset.category);
        formData.append('reactable_id', thisButt.dataset.reactableId);

        getCsrfToken()
          .then(sendFetch('reaction-creation', formData))
          .then(function (response) {
            if (response.status === 200) {
              response.json().then(successCb);
            }
          });
      };
    }
  }, 200)
</script>
