<% title "Moderating " + @moderatable.title %>

<% cache(cache_key_heroku_slug("mod-styling")) do %>
<style>
  <%=Rails.application.assets["moderators.css"].to_s.html_safe %>
</style>
<% end %>

<div class="container mod-container">
  <header class="top-header">
    <h1>Moderate Post</h1>
    <h2>Rate the quality of this post</h2>
    <button class="close-actions-panel circle centered-icon" type="button">
      <%= inline_svg_tag("chevron-right.svg", aria: true, title: "Close moderator actions panel") %>
    </button>
  </header>
  <%# Rating buttons and options go here, to be added by Arit %>
  <div class="other-things-container">
    <header class="other-things">
      <h1>Other things you can do</h1>
    </header>
    <button class="adjust-tags" type="button">
      <div class="icon circle centered-icon">
        <%= inline_svg_tag("mod-filled.svg", aria: true, title: "Adjust tags") %>
      </div>
      <header>
        <h2>Adjust tags</h2>
        <h3>Add or remove tags</h3>
      </header>
      <div class="toggle-chevron-container">
        <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
      </div>
    </button>
    <button class="set-experience" type="button">
      <div class="icon circle centered-icon">
        <%= inline_svg_tag("book.svg", aria: false) %>
      </div>
        <header>
          <h2>Set experience level</h2>
          <h3>Curate the most appropriate audience for this post</h3>
        </header>
        <div class="toggle-chevron-container">
          <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
        </div>
      </div>
    </button>
  </div>
  <footer>
    <%# Flag user %>
  </footer>
</div>