<% title "Moderating " + @moderatable.title %>

<% cache(cache_key_heroku_slug("mod-styling")) do %>
  <style>
    <%= Rails.application.assets["moderators.css"].to_s.html_safe %>
  </style>
<% end %>

<div class="container mod-container">
  <header class="top-header">
    <h1>Moderate Post</h1>
    <h2>Rate the quality of this post</h2>
    <button class="close-actions-panel circle centered-icon" type="button">
      <%= inline_svg_tag("chevron-right.svg", aria: true, title: "Close moderator actions panel") %>
    </button>
  </header>
  <div class="reactions-container">
    <div class="thumb-reactions-container">
      <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsup") ? "reacted" : "" %>"
              data-reactable-id="<%= @moderatable.id %>"
              data-category="thumbsup"
              data-reactable-type="<%= @moderatable.class.name %>">
        <div class="reaction-button-circle">
          <%= image_tag("emoji/emoji-one-thumbs-up-gray.png", alt: "Thumbs up emoji", class: "emoji-grey") %>
          <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-thumbs-up.png") %>" alt="Thumbs up emoji" />
          <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: "Checkmark") %>
        </div>
        <span class="vote-text">High Quality</span>
      </button>
      <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsdown") ? "reacted" : "" %>"
              data-reactable-id="<%= @moderatable.id %>"
              data-category="thumbsdown"
              data-reactable-type="<%= @moderatable.class.name %>">
        <div class="reaction-button-circle">
          <%= image_tag("emoji/emoji-one-thumbs-down-gray.png", alt: "Thumbs down emoji", class: "emoji-grey") %>
          <img class="reacted-emoji downvote" src="<%= asset_path("emoji/emoji-one-thumbs-down.png") %>" alt="Thumbs down emoji" />
          <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: "Checkmark") %>
        </div>
        <span class="vote-text">Low Quality</span>
      </button>
    </div>
    <button class="reaction-vomit-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "vomit") ? "reacted" : "" %>"
            data-reactable-id="<%= @moderatable.id %>"
            data-category="vomit"
            data-reactable-type="<%= @moderatable.class.name %>">
      <%= image_tag("emoji/emoji-one-nausea-face-gray.png", alt: "Nausea face emoji", class: "emoji-grey") %>
      <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-nausea-face.png") %>" alt="Nausea down emoji" />
      <span></span>
      <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon vomit-checkmark", title: "Checkmark") %>
    </button>
    <span class="how-this-works-section">How does this work?</span>
  </div>
  <%# Rating buttons and options go here, to be added by Arit %>
  <div class="other-things-container">
    <header class="other-things">
      <h1>Other things you can do</h1>
    </header>
    <button class="other-things-btn adjust-tags" type="button" data-other-things-type="adjust-tags">
      <div class="label-wrapper">
        <div class="icon circle centered-icon">
          <%= inline_svg_tag("mod-filled.svg", aria: true, title: "Adjust tags") %>
        </div>
        <header>
          <h2>Adjust tags</h2>
          <h3>Add or remove tags</h3>
        </header>
      </div>
      <div class="toggle-chevron-container">
        <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
      </div>
    </button>
    <% if @moderatable.class.name == "Article" %>
      <% @rating_vote = RatingVote.where(article_id: @moderatable.id, user_id: current_user.id).first %>
      <button class="other-things-btn set-experience" type="button" data-other-things-type="set-experience">
        <div class="label-wrapper">
          <div class="icon circle centered-icon">
            <%= inline_svg_tag("book.svg", aria: false) %>
          </div>
          <header>
            <h2>Set experience level</h2>
            <h3>Curate the most appropriate audience for this post</h3>
          </header>
        </div>
        <div class="toggle-chevron-container">
          <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
        </div>
      </button>
      <div class="set-experience-options hidden">
        <%= form_for(RatingVote.new) do |f| %>
          <%= f.hidden_field :article_id, value: @moderatable.id %>
          <%= f.hidden_field :group, value: "experience_level" %>
          <button value="1" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating == 1.0 %>">
            <div class="level-rating-content">
              <span class="level-rating-number">1</span>
              <span class="level-rating-text">Beginner</span>
            </div>
            <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon", title: "Checkmark") %>
          </button>
          <button value="2" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating == 2.0 %>">
            <div class="level-rating-content">
              <span class="level-rating-number">2</span>
              <span class="level-rating-text">Novice</span>
            </div>
            <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon", title: "Checkmark") %>
          </button>
          <button value="3" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating == 3.0 %>">
            <div class="level-rating-content">
              <span class="level-rating-number">3</span>
              <span class="level-rating-text">Mid-level</span>
            </div>
            <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon", title: "Checkmark") %>
          </button>
          <button value="4" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating == 4.0 %>">
            <div class="level-rating-content">
              <span class="level-rating-number">4</span>
              <span class="level-rating-text">Advanced</span>
            </div>
            <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon", title: "Checkmark") %>
          </button>
          <button value="5" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating == 5.0 %>">
            <div class="level-rating-content">
              <span class="level-rating-number">5</span>
              <span class="level-rating-text">Expert</span>
            </div>
            <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon", title: "Checkmark") %>
          </button>
        <% end %>
        <span class="how-this-works-section">How does this work?</span>
      </div>
    <% end %>
  </div>
  <div class="bottom-actions">
    <button type="button">Flag user</button>
  </div>
</div>

<script defer>
  setTimeout(function() {
    var butts = document.querySelectorAll('.reaction-button, .reaction-vomit-button');
    for (var i = 0; i < butts.length; i++) {
      var butt = butts[i];
      butt.onclick = function(event) {
        event.preventDefault();
        var thisButt = this;
        thisButt.classList.add('reacted');

        function successCb(response) {
          if (response.result === 'create') {
            thisButt.classList.add('reacted');
          } else {
            thisButt.classList.remove('reacted');
          }
        }

        var formData = new FormData();
        formData.append('reactable_type', thisButt.dataset.reactableType);
        formData.append('category', thisButt.dataset.category);
        formData.append('reactable_id', thisButt.dataset.reactableId);

        getCsrfToken()
          .then(sendFetch('reaction-creation', formData))
          .then(function(response) {
            if (response.status === 200) {
              response.json().then(successCb);
            }
          });
      };
    }

    // set actions panel heights
    document.documentElement.style.height = "100%";
    document.body.style.cssText = 'height: 100%; margin: 0; padding-top: 0;';
    document.getElementById('page-content').style.cssText = 'margin-top: 0 !important; margin-bottom: 0;';

    // toggle "Other Things" DropDowns
    function toggleOtherThings(type) {
      if (type === 'set-experience') {
        document.querySelector('.set-experience-options').classList.toggle('hidden');
      } else if (type === 'adjust-tags') {
        document.querySelector('.adjust-tags-options').classList.toggle('hidden');
      }
    }

    //  rotate chevrons & toggle dropdowns
    document.querySelectorAll('button.other-things-btn').forEach((btn) => {
      btn.addEventListener('click', (e) => {
        e.preventDefault();
        let clickedBtn = e.currentTarget;
        clickedBtn.querySelector('.label-wrapper > .icon').classList.toggle('hidden');
        clickedBtn.querySelector('.toggle-chevron-container').classList.toggle('rotated');

        let btnType = clickedBtn.dataset.otherThingsType;
        toggleOtherThings(btnType);
      })
    });
  }, 200)
</script>
