<% title "Moderating " + @moderatable.title %>

<% cache(cache_key_heroku_slug("mod-styling")) do %>
  <style>
    <%= Rails.application.assets["moderators.css"].to_s.html_safe %>
  </style>
<% end %>

<%= javascript_packs_with_chunks_tag "actionsPanel", defer: true %>

<div class="container mod-container">
  <header class="top-header">
    <h1>Moderate Post</h1>
    <h2>Rate the quality of this post</h2>
    <button class="close-actions-panel circle centered-icon" type="button" title="Close moderator actions panel">
      <%= inline_svg_tag("chevron-right.svg", aria: false) %>
    </button>
  </header>
  <div class="reactions-container">
    <div class="thumb-reactions-container">
      <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsup") ? "reacted" : "" %>"
              data-reactable-id="<%= @moderatable.id %>"
              data-category="thumbsup"
              data-reactable-type="<%= @moderatable.class.name %>">
        <div class="reaction-button-circle">
          <%= image_tag("emoji/emoji-one-thumbs-up-gray.png", alt: "Thumbs up emoji", class: "emoji-grey") %>
          <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-thumbs-up.png") %>" alt="Thumbs up emoji" />
          <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: "Checkmark") %>
        </div>
        <span class="vote-text">High Quality</span>
      </button>
      <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsdown") ? "reacted" : "" %>"
              data-reactable-id="<%= @moderatable.id %>"
              data-category="thumbsdown"
              data-reactable-type="<%= @moderatable.class.name %>">
        <div class="reaction-button-circle">
          <%= image_tag("emoji/emoji-one-thumbs-down-gray.png", alt: "Thumbs down emoji", class: "emoji-grey") %>
          <img class="reacted-emoji downvote" src="<%= asset_path("emoji/emoji-one-thumbs-down.png") %>" alt="Thumbs down emoji" />
          <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: "Checkmark") %>
        </div>
        <span class="vote-text">Low Quality</span>
      </button>
    </div>
    <button class="reaction-vomit-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "vomit") ? "reacted" : "" %>"
            data-reactable-id="<%= @moderatable.id %>"
            data-category="vomit"
            data-reactable-type="<%= @moderatable.class.name %>">
      <%= image_tag("emoji/emoji-one-nausea-face-gray.png", alt: "Nausea face emoji", class: "emoji-grey") %>
      <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-nausea-face.png") %>" alt="Nausea down emoji" />
      <span></span>
      <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon vomit-checkmark", title: "Checkmark") %>
    </button>
    <span class="how-this-works-section">How does this work?</span>
  </div>
  <div class="other-things-container">
    <header class="other-things">
      <h1>Other things you can do</h1>
    </header>
    <% unless @moderatable.tag_list.size == 4 && @moderatable_tags&.length.zero? && !current_user.any_admin? %>
      <button class="other-things-btn adjust-tags" type="button" data-other-things-type="adjust-tags">
        <div class="label-wrapper">
          <div class="icon circle centered-icon">
            <%= inline_svg_tag("mod-filled.svg", aria: true, title: "Adjust tags") %>
          </div>
          <header>
            <h2>Adjust tags</h2>
            <h3>Add or remove tags</h3>
          </header>
        </div>
        <div class="toggle-chevron-container">
          <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
        </div>
      </button>

      <div class="adjust-tags-options dropdown-options hidden">
        <% if current_user.any_admin? %>
        <div class="add-tag-container" data-allowed-to-adjust="<%= @allowed_to_adjust %>">
          <input class="crayons-textfield" type="text" placeholder="Add a tag">
        </div>
        <% elsif @moderatable.tag_list.size < 4 %>
          <% @tag_moderator_tags.each do |tag| %>
            <button class="adjustable-tag" type="button" data-adjustment-type="addition" data-tag-id="<%= tag.id %>" data-article-id="<%= @moderatable.id %>">
              <span class="num-sign">#</span><%= tag.name %>
              <div class="circle centered-icon adjustment-icon">
                <%= inline_svg_tag("plus.svg", aria: false) %>
              </div>
            </button>
          <% end %>
        <% end %>
        <% if @moderatable_tags&.length.positive? %>
          <% @moderatable_tags.each do |tag| %>
            <button class="adjustable-tag" type="button" data-adjustment-type="removal" data-tag-id="<%= tag.id %>">
              <span class="num-sign">#</span><%= tag.name %>
              <div class="circle centered-icon adjustment-icon selected">
                <%= inline_svg_tag("subtract.svg", aria: false) %>
              </div>
            </button>
          <% end %>
        <% elsif current_user.any_admin? %>
          <% @moderatable.tags.each do |tag| %>
            <button class="adjustable-tag" type="button" data-adjustment-type="removal" data-tag-id="<%= tag.id %>">
              <span class="num-sign">#</span><%= tag.name %>
              <div class="circle centered-icon adjustment-icon selected">
                <%= inline_svg_tag("subtract.svg", aria: false) %>
              </div>
            </button>
          <% end %>
        <% end %>
        <span class="how-this-works-section">How does this work?</span>
      </div>
    <% end %>
    <% @rating_vote = RatingVote.where(article_id: @moderatable.id, user_id: current_user.id).first %>
    <button class="other-things-btn set-experience" type="button" data-other-things-type="set-experience">
      <div class="label-wrapper">
        <div class="icon circle centered-icon">
          <%= inline_svg_tag("book.svg", aria: false) %>
        </div>
        <header>
          <h2>Set experience level</h2>
          <h3>Curate the most appropriate audience for this post</h3>
        </header>
      </div>
      <div class="toggle-chevron-container">
        <%= inline_svg_tag("chevron-toggle.svg", aria: false) %>
      </div>
    </button>
    <div class="set-experience-options dropdown-options hidden">
      <% rating_hash = { "Expert" => 5, "Advanced" => 4, "Mid-level" => 3, "Beginner" => 2, "Novice" => 1 } %>
      <% rating_hash.each do |rating_name, rating_level| %>
      <button value="<%= rating_level %>" name="rating_vote_<%= rating_level %>" id="js__rating__vote__<%= rating_level %>" class="level-rating-button<%= " selected" if @rating_vote&.rating == rating_level.to_f %>" data-user-id="<%= current_user.id %>" data-article-id="<%= @moderatable.id %>" data-group="experience_level">
        <div class="level-rating-content">
          <span class="level-rating-number"><%= rating_level %></span>
          <span class="level-rating-text"><%= rating_name %></span>
        </div>
        <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon", title: "Checkmark") %>
      </button>
      <% end %>
      <span class="how-this-works-section">How does this work?</span>
    </div>
  </div>
  <div class="bottom-actions">
    <button type="button">Flag user</button>
  </div>
</div>
