<% title "Moderate" %>

<%= javascript_packs_with_chunks_tag "modCenter", defer: true %>

<div id="moderation-page"></div>
<% if current_user&.trusted %>
  <div class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left" id="mod-center">
    <%= render "moderations/mod_sidebar_left" %>
    <div class="mod-index-container articles-list crayons-layout__content">
      <header class="mod-index-header-new">
        <span class="tag-hash hidden">#</span>
        <span class="current-view-heading">All topics</span>
      </header>
      <main class="mod-index-list" id="mod-index-list" data-articles="<%= @articles %>">
        <header class="mod-index-list-header">
          <h2>Post</h2>
          <h2>Author</h2>
          <%# <h2>Status</h2> %>
          <h2>Date</h2>
        </header>
      </main>
    </div>
    <%= render "moderations/mod_sidebar_right" %>
  </div>
<% else %>
<div class="container" style="margin-top: 90px;">
  <h1 style="text-align: center"><%= community_name %> Mods</h1>
  <div class="body">
    <p>We periodically award some <%= community_name %> members with heightened privileges to help moderate the community.</p>
    <p>Email <%= email_link %> if you'd like to be considered right away.</p>
    <% unless user_signed_in? %>
    <p><em>P.S. You are not currently signed in.</em></p>
    <% end %>
  </div>
</div>
<% end %>

<script>
  var els = document.getElementsByClassName('quick-mod-button');
  for (let i = 0; i < els.length; i += 1) {
    els[i].onclick = function(e) {
      let path = e.target.dataset.path
      let el = document.getElementById('quick-mod-' + i)
      // if iframe is opened/loaded, clear the innerHTML
      if (el.innerHTML.length > 10) {
        el.innerHTML = ''
      } else {
        el.innerHTML = '<div class="mod-index-row-iframes"><iframe id="quick-mod-article" src="' + path + '"></iframe><iframe class="actions-panel" src="' + path + '/actions_panel"></iframe></div>'
      }
    }
  }
</script>
