<% title "Mod Center" %>

<%= javascript_packs_with_chunks_tag "modCenter", defer: true %>

<div id="moderation-page" aria-hidden="true"></div>

<% if current_user&.trusted %>
  <div class="crayons-layout crayons-layout--2-cols" id="mod-center">
    <%= render "moderations/mod_sidebar_left" %>
    <main class="mod-index-container articles-list crayons-layout__content">

      <header class="mod-index-header hidden m:block">
        <h2 class="crayons-subtitle-1">
          <%= @tag ? "##{@tag.name}" : "All topics" %>
        </h2>
      </header>

      <section class="mod-index-body">
        <div class="mod-index-list-header lh-tight hidden m:grid">
          <h2 class="mod-index-list-header__label">Post</h2>
          <h2 class="mod-index-list-header__label">Author</h2>
          <h2 class="mod-index-list-header__label align-center">Date</h2>
        </div>

        <div class="mod-index-list" id="mod-index-list" data-articles="<%= @articles %>">
        </div>
      </section>
    </div>
    <div data-testid="flag-user-modal-container" class="flag-user-modal-container hidden">
    </div>
  </main>
<% else %>
  <div class="container" style="margin-top: 90px;">
    <h1 class="pt-5" style="text-align: center"><%= community_name %> Mods</h1>
    <div class="body">
      <p>We periodically award some <%= community_name %> members with heightened privileges to help moderate the community.</p>
      <p>Check out our <%= link_to "Code of Conduct", code_of_conduct_path %> and read through our <%= link_to "Trusted User Guide", community_moderation_path %> and <%= link_to "Tag Moderation Guide", tag_moderation_path %>.</p>
      <p>If you'd like to assist us as a trusted user or tag mod, please email us at <%= mail_to email_link, email_link %> and let us know which role you're interested in and why. If it's tag moderation, please tell us what tags you'd like to moderate for.</p>
      <% unless user_signed_in? %>
        <p><em>P.S. You are not currently signed in.</em></p>
      <% end %>
    </div>
  </div>
<% end %>
