<div id="delete-user">
  <% if current_user.super_admin? %>
    <%= form_for(@user, url: full_delete_admin_user_path(@user), html: { class: "flex flex-col gap-4", method: :post, onsubmit: "return confirm('#{j t('views.admin.users.delete.onsubmit')}')", id: nil }) do |f| %>
      <p><%= t("views.admin.users.danger.desc1") %></p>
      <p><%= t("views.admin.users.delete.desc2", user: @user.name) %></p>
      <p><%= t("views.admin.users.danger.desc3") %></p>
      <div>
        <button class="c-btn c-btn--primary c-btn--destructive"><%= t("views.admin.users.delete.submit") %></button>
      </div>
    <% end %>
  <% else %>
    <div class="crayons-notice crayons-notice--danger"><%= t("views.admin.users.delete.notice") %></div>
  <% end %>
</div>
