<div id="merge-accounts">
  <%= form_for(@user, url: merge_admin_user_path(@user),
                      html: { class: "flex flex-col gap-4", method: :post, onsubmit: "return confirm('#{j t('views.admin.users.merge.onsubmit')}')", id: nil }) do |f| %>
    <p><%= t("views.admin.users.danger.desc1") %></p>
    <p><%= t("views.admin.users.merge.desc2_html") %></p>
    <div class="crayons-field mb-4">
      <%= f.label :merge_user_id, t("views.admin.users.merge.id"), class: "crayons-field__label" %>
      <%= f.text_field :merge_user_id, placeholder: "1234", class: "crayons-textfield", type: "number", inputmode: "numeric", aria: { describedby: "merge-user-description" } %>
    </div>
    <div>
      <%= f.button t("views.admin.users.merge.submit"), class: "c-btn c-btn--destructive c-btn--primary", type: "submit" %>
    </div>
  <% end %>
</div>
