<div id="add-role-modal" class="hidden">
  <%= form_for(:user, method: "patch", html: { class: "js-add-role-form flex flex-col gap-4", id: nil }) do |f| %>
    <div class="crayons-field">
      <%= f.label :user_status, t("views.admin.users.actions.assign_role.role"), class: "crayons-field__label" %>
      <%= f.select(:user_status, grouped_options_for_select(role_options(current_user)), { include_blank: t("views.admin.users.actions.assign_role.select") }, class: "crayons-select") %>
    </div>
    <div class="crayons-field">
      <%= f.label :note_for_current_role, t("views.admin.users.actions.assign_role.note"), class: "crayons-field__label" %>
      <%= f.text_area :note_for_current_role, required: true, class: "crayons-textfield", placeholder: "" %>
    </div>
    <div>
      <%= f.button t("views.admin.users.actions.assign_role.submit"), class: "c-btn c-btn--primary" %>
    </div>
  <% end %>
</div>
