<div id="banish-for-spam">
  <div class="flex flex-col gap-4">
    <div class="js-banishable-user hidden">
      <p><%= t("views.admin.users.danger.desc1") %></p>
      <p><%= t("views.admin.users.banish.desc2_html", user: tag.span(class: "js-user-name")) %></p>
      <p><%= t("views.admin.users.danger.desc3") %></p>
      <%= form_for(:user, html: { method: :post, id: nil, class: "js-banish-form" }) do %>
        <button class="c-btn c-btn--primary c-btn--destructive"><%= t("views.admin.users.banish.submit_html", user: tag.span(class: "js-user-name")) %></button>
      <% end %>
    </div>
    <div class="js-not-banishable-user">
      <div class="crayons-notice crayons-notice--danger"><%= t("views.admin.users.banish.notice_html", user: tag.span(class: "js-user-name")) %></div>
    </div>
  </div>
</div>
