<div class="crayons-card p-6 mb-6">
  <h2 class="crayons-title mb-6">Create Channel</h2>
  <%= form_for [:admin, ChatChannel.new], html: { class: "inline-form" } do |f| %>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :channel_name, "Channel Name", class: "sr-only" %>
        <%= f.text_field :channel_name, placeholder: "Channel Name", required: true %>
        <%= f.label :usernames_string, "Usernames", class: "sr-only" %>
        <%= f.text_field :usernames_string, placeholder: "Usernames to add" %>
        <%= f.submit "Create Chat Channel", class: "btn btn-secondary p-1" %>
      </div>
    </div>
  <% end %>
</div>

<div class="crayons-card p-6">
  <header class="flex mb-6">
    <h2 class="crayons-title mb-6">Channels</h2>
    <%= search_form_for @q, url: admin_chat_channels_path, class: "form-inline ml-auto" do |f| %>
      <%= f.label :channel_name_cont, "Channel Name", class: "sr-only" %>
      <%= f.search_field :channel_name_cont, placeholder: "Channel Name", class: "form-control mx-3" %>
      <%= f.submit "Search", class: "btn btn-secondary" %>
    <% end %>
  </header>

  <%= paginate @group_chat_channels %>

  <table class="crayons-table">
    <thead>
      <tr>
        <th scope="col">Channel Name</th>
        <th scope="col">Users</th>
        <th scope="col">Add Users</th>
        <th scope="col">Remove User</th>
        <% if current_user.any_admin? %>
          <th scope="col">Delete Channel</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="crayons-card">
      <% @group_chat_channels.each do |channel| %>
        <tr>
          <td><a href="/connect/<%= channel.slug %>" target="_blank" rel="noopener"><%= channel.channel_name %></td>
          <td><%= channel.users.pluck(:username).join(", ") %></td>
          <td>
            <%= form_for [:admin, channel] do |f| %>
              <%= f.text_field :usernames_string, placeholder: "Usernames to add" %>
              <%= f.submit "Add users", class: "btn btn-secondary p-1 my-1" %>
            <% end %>
          </td>
          <td>
            <%= form_with url: remove_user_admin_chat_channel_url(channel), model: [:admin, channel], method: :delete, local: true do |f| %>
              <%= f.text_field :username_string, placeholder: "Username to remove" %>
              <%= f.submit "Remove user", data: { confirm: "Are you sure you want to remove this user?" }, class: "btn btn-secondary p-1 my-1" %>
            <% end %>
          </td>
          <% if current_user.any_admin? %>
            <td>
              <% if channel.users.count.zero? %>
                <%= link_to "Delete Channel", admin_chat_channel_path(channel), class: "crayons-btn crayons-btn--danger", method: :delete, data: { confirm: "Are you sure?" } %>
              <% else %>
                Cannot delete a channel with users
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @group_chat_channels %>
</div>
