<aside class="side-bar sidebar-additional showing grid gap-4" id="sidebar-additional">
  <% cache(release_adjusted_cache_key("main-article-right-sidebar-discussions-#{params[:timeframe]}-#{user_signed_in?}"), expires_in: (params[:timeframe].blank? ? 120 : 360).seconds) do %>
    <% @sidebar_ad = DisplayAd.for_display("sidebar_right", user_signed_in?) %>
    <% if @sidebar_ad %>
      <div class="crayons-card crayons-card--secondary p-4 crayons-sponsorship-widget text-styles" data-display-unit data-id="<%= @sidebar_ad.id %>">
        <%= @sidebar_ad.processed_html.html_safe %>
      </div>
    <% end %>

    <%= render "articles/sidebar_campaign" if Campaign.current.show_in_sidebar? %>
    <%= render "articles/sidebar_listings" if Listing.feature_enabled? %>

    <% Settings::General.sidebar_tags.each do |tag| %>
      <section class="crayons-card crayons-card--secondary crayons-layout__content">
        <header class="crayons-card__header">
          <h3 class="crayons-subtitle-2"><a href="/t/<%= tag %>" class="crayons-link">#<%= tag %></a></h3>
        </header>

        <div>
          <% if tag == "help" %>
            <% Article.active_help.limit(5).pluck(:path, :title, :comments_count, :created_at).each do |plucked_article| %>
              <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: true %>
            <% end %>
          <% else %>
            <% active_threads(tags: [tag], time_ago: Timeframe.datetime(params[:timeframe]), count: 5).each do |plucked_article| %>
              <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: true %>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>
  <% unless user_signed_in? %>
    <% cache("seo-boostable-posts-homepage-#{params[:timeframe]}", expires_in: 18.hours) do %>
      <% boostable_posts = Article.seo_boostable(nil, Timeframe.datetime(params[:timeframe])) %>
      <% if boostable_posts.present? %>
        <section class="widget">
          <header>
            <h4><%= t("views.main.side.trend") %></h4>
          </header>
          <div class="widget-body">
            <div class="widget-link-list">
              <% boostable_posts.each do |plucked_article| %>
                <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: false %>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
      <% recent_preamble_optimized_posts = Article.search_optimized(nil) %>
      <% if params[:timeframe].blank? && recent_preamble_optimized_posts.present? %>
        <section class="widget">
          <header>
            <h4><%= t("views.main.side.recent") %></h4>
          </header>
          <div class="widget-body">
            <div class="widget-link-list">
              <% recent_preamble_optimized_posts.each do |plucked_article| %>
                <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: false %>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
    <% end %>
  <% end %>
</aside>
