<%= csrf_meta_tags %>

<header class="flex items-center mb-6">
  <h2 class="crayons-title">Pages</h2>
  <%= link_to "New page", new_admin_page_path, class: "btn btn-primary ml-auto" %>
</header>

<div class="crayons-card p-6 pages__table">
  <% @pages.each do |page| %>
    <div class="flex py-2 items-center">
      <%= link_to page.title, edit_admin_page_path(page.id) %>
      <%= link_to "View", page.path, class: "ml-auto btn btn-secondary" %>
    </div>
  <% end %>
</div>

<div class="mt-8 pages__override_defaults">
  <div class="my-6">
    <% if !@code_of_conduct || !@privacy || !@terms%>
      <h2 class="mb-4 crayons-title">Override defaults</h2>
      <div class="crayons-notice crayons-notice--warning">
        <strong>Note: Proceed with caution. When you edit any of the following pages, it will diverge from the original Forem version and you will no longer receive updates. You will see your updated version in the section above.</strong>
      </div>
    <% else %>
      <div class="crayons-notice crayons-notice--info">
        <strong>Note: You have overridden the code of conduct, privacy policy and terms of use. You will no longer receive updates on these pages from Forem.</strong>
      </div>
    <% end %>
  </div>

  <div class="crayons-card p-6">
    <% if !@code_of_conduct %>
      <div class="flex py-2 items-center">
          <%= link_to "Code of Conduct", new_admin_page_path(slug: "code-of-conduct") %>
          <%= link_to "View", code_of_conduct_path, class: "ml-auto btn btn-secondary" %>
      </div>
    <% end %>
    <% if !@privacy %>
    <div class="flex py-2 items-center">
        <%= link_to "Privacy Policy", new_admin_page_path(slug: "privacy") %>
        <%= link_to "View", privacy_path , class: "ml-auto btn btn-secondary" %>
    </div>
    <% end %>
    <% if !@terms %>
    <div class="flex py-2 items-center">
        <%= link_to "Terms of Use", new_admin_page_path(slug: "terms") %>
        <%= link_to "View", terms_path, class: "ml-auto btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
