<%= paginate @comments %>

<div class="flex flex-col gap-2">
  <% @comments.each do |comment| %>
    <article class="flex gap-3">
      <% if comment.user %>
        <a href="<%= comment.user.path %>" target="_blank" rel="noopener" class="crayons-avatar crayons-avatar--l mt-2 shrink-0">
          <img width="32" height="32" src="<%= comment.user.profile_image_url_for(length: 50) %>" alt="<%= comment.user.username %> profile" loading="lazy" />
        </a>
      <% end %>

      <div class="crayons-card flex-1">
        <% if comment.commentable %>
          <header class="flex justify-between gap-4 items-center pl-4 pt-2 pr-2 border">
            <div>
              <a href="<%= comment.commentable.path %>">re: <%= comment.commentable.title %></a>
              <strong><%= comment.user.username %></strong>
            </div>
            <a class="c-link c-link--block c-link--icon-left" href="<%= comment.path %>" target="_blank" rel="noopener">
              <%= crayons_icon_tag(:link, class: "c-link__icon") %>
              View
            </a>
          </header>
        <% end %>
        <div class="text-styles text-styles--tertiary p-4">
          <%= sanitize comment.processed_html,
                       tags: %w[strong em p h1 h2 h3 h4 h5 h6 i u b code pre br ul ol li small sup img a span hr blockquote],
                       attributes: %w[href strong em ref rel src title alt class] %>
        </div>
        <footer class="fs-s flex gap-4 p-4 pt-0">
          <span>❤️ <%= pluralize(comment.public_reactions_count, "like") %></span>
          <% if comment.reactions.where(user_id: current_user.id).empty? %>
              <%= form_tag(reactions_path, remote: true) do %>
                <%= hidden_field_tag(:reactable_type, "Comment") %>
                <%= hidden_field_tag(:reactable_id, comment.id) %>
                <button class="c-btn">❤️ Like</button>
              <% end %>
            <% end %>
        </footer>
      </div>
    </article>
  <% end %>
</div>

<%= paginate @comments %>

<script>
  window.addEventListener('load', function() {
    $("form").submit(function (e) {
      $(this).toggleClass("d-none");
      $(this).toggleClass("d-inline");
    });
  });
</script>
