<div class="notice"><%= flash[:notice] %></div>
<%= csrf_meta_tags %>
<%= link_to "Create A New Welcome Thread", "/internal/welcome", method: :post %>
<h1>All Welcome Threads</h1>
<hr>
<% @daily_threads.each do |thread| %>
  <a href="<%= thread.path %>"><%= thread.title %></a>
  <hr style="border-top: dotted 1px;">
<% end %>
