<h1>Welcome!</h1>


<div class="mt-8 mb-6 crayons-card p-7 align-left mx-auto" style="max-width:490px;">
  <h2>Resend confirmation instructions</h2>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="crayons-field mt-2">
      <%= f.label :email, class: "crayons-field__label" %><br />
      <%= f.email_field :email, class:  "crayons-textfield", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="crayons-field mt-2">
      <%= f.submit "Resend confirmation instructions", class: "crayons-btn" %>
    </div>
  <% end %>
</div>