
<style>
  body {
    background: white;
    padding: 0;
    margin: 0;
  }
  .listing-og-container {
    width: 88vw;
    height: 44vw;
    padding: 1vw 0;
    margin: 1.72vw auto;
  }
  .single-classified-listing {
    display: inline-block;
    overflow: hidden;
    font-family: "Roboto";
    border: 0.1vw solid #dbdbdb;
    border-radius: .2vw;
    width: 78vw;
    height: 39vw;
    margin: 0 auto;
    display: block;
  }

  .single-classified-listing h3 {
    font-size: 4.1vw;
    margin: 0;
    border-bottom: 0.1vw solid #dbdbdb;
    background-color: #efefef;
    break-inside: avoid;
    padding: 1vw 1.5vw;
  }

  .single-classified-listing .long-title {
    font-size: 3vw;
  }

  .single-classified-listing p {
    margin: 1.6vw 0;
  }

  .single-classified-listing .single-classified-listing-body {
    font-size: 3vw;
    padding: 0 1.5vw;
    height: 27.5vw;
    position: relative;
    overflow: hidden;
  }

  .single-classified-listing-tags {
    margin-top: 1vw;
    padding: 0 1.5vw;
  }

  .single-classified-listing-tags span {
    background-color: #dbdbdb;
    margin: .1vw;
    padding: .2vw .5vw;
    border-radius: .3vw;
    font-weight: bold;
    font-size: 1.6vw;
  }
  .single-classified-listing-author-info {
    padding: 0 1.5vw;
    margin: .5vw 0;
    font-size: 1.5vw;
  }
</style>
<div class="listing-og-container">
  <div class="single-classified-listing ">
    <div class="listing-content">
      <% if @listing.title.length > 70 %>
        <h3 class="long-title"><%= @listing.title %></h3>
      <% else %>
        <h3><%= @listing.title %></h3>
      <% end %>
      <div class="single-classified-listing-body">
        <%= @listing.processed_html.html_safe %>
      </div>
      <div class="single-classified-listing-tags">
        <% if @listing.tags.present? %>
          <% @listing.tags.each do |tag|  %>
            <span><%= tag.name %></span>
          <% end %>
        <% end %>
      </div>
      <div class="single-classified-listing-author-info">
        <%= @listing.category %>・<%= @listing.author.username %>
      </div>
    </div>
  </div>
</div>
