<h2>Abuse Reports</h2>

<div class="row my-3">
  <div class="col">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="<%= internal_reports_path(state: @feedback_type, status: "Open") %>" class="nav-link <%= "active" if @status == "Open" %>">Open/Unresolved</a>
      </li>
      <li class="nav-item">
        <a href="<%= internal_reports_path(state: @feedback_type, status: "Resolved") %>" class="nav-link <%= "active" if @status == "Resolved" %>">Resolved</a>
      </li>
      <li class="nav-item">
        <a href="<%= internal_reports_path(state: @feedback_type, status: "Invalid") %>" class="nav-link <%= "active" if @status == "Invalid" %>">Invalid</a>
    </ul>
  </div>
</div>

<div class="row my-3" id="vomitReactions">
  <div class="card w-100">
    <div class="card-header" id="vomitReactionsHeader">
      <h2 class="d-inline">Vomit Reactions</h2>
      <button class="btn btn-secondary float-right" type="button" data-toggle="collapse" data-target="#vomitReactionsBodyContainer" aria-expanded="false" aria-controls="vomitReactionsBodyContainer">
        Toggle
      </button>
    </div>
    <div id="vomitReactionsBodyContainer" class="collapse hide" aria-labelledby="vomitReactionsHeader" data-parent="#vomitReactions">
      <div class="card-body" style="overflow: scroll; max-height: 500px;">
        <% @vomits.each do |reaction| %>
          <% next if (reaction.reactable_type == "Article" && !reaction.reactable.published) || (reaction.reactable_type == "User" && reaction.reactable&.banished?) %>
          <div class="d-flex justify-content-between" id="js__reaction__div__<%= reaction.id %>">
            <span>
              🤢 <a href="<%= reaction.user.path %>">@<%= reaction.user.username %></a>
            </span>
            <span>
              <strong><%= reaction.reactable_type %>:</strong>
              <a href="<%= reaction.reactable.path %>"><%= reaction.reactable.title %></a>
              <% if reaction.reactable_type == "User" && reaction.reactable.banned %>
                <span class="badge badge-danger">Suspended</span>
              <% end %>
              <% if reaction.reactable_type == "User" && reaction.reactable.vomitted_on? %>
                <span class="badge badge-warning">Vomitted</span>
              <% end %>
            </span>
            <span>
              <% if params[:status] == "Open" || params[:status].blank? %>
                <% if reaction.reactable_type == "User" %>
                  <button
                    class="btn btn-success btn-sm js-reaction-confirm"
                    type="button"
                    data-reactable="user"
                    data-id="<%= reaction.id %>"
                    data-status="confirmed">
                    CONFIRM
                  </button>
                <% else %>
                  <button
                    class="btn btn-success btn-sm js-reaction-confirm"
                    type="button"
                    data-reactable="not-user"
                    data-id="<%= reaction.id %>"
                    data-status="confirmed">
                    CONFIRM
                  </button>
                <% end %>
                <button
                  class="btn btn-danger btn-sm js-reaction-confirm"
                  type="button"
                  data-id="<%= reaction.id %>"
                  data-status="invalid">
                  INVALID
                </button>
              <% end %>
            </span>
          </div>
          <hr id="js__reaction__div__hr__<%= reaction.id %>">
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function removeReactionDiv(id){
    document.getElementById(`js__reaction__div__${id}`).remove();
    document.getElementById(`js__reaction__div__hr__${id}`).remove();
  }

  function updateReactionStatus(id, status){
    fetch(`/internal/reactions/${id}`, {
     method: 'PATCH',
     headers: {
      Accept: 'application/json',
       'X-CSRF-Token': document.querySelector("meta[name='csrf-token']").content,
       'Content-Type': 'application/json',
     },
     body: JSON.stringify({
       id: id,
       status: status,
      }),
     credentials: 'same-origin'
   })
    .then(response => response.json()
    .then(json => {
      if (json.outcome === 'Success') {
      removeReactionDiv(id)
      } else {
        alert(json.error)
      }
    })
    .catch(error => {
      alert(error);
    }))
  }

  document.querySelectorAll('.js-reaction-confirm').forEach(item => {
    item.addEventListener('click', function () {
      if (item.dataset.reactable === 'user') {
        if (confirm("You are confirming a reaction for a User; are you sure?")){
          updateReactionStatus(item.dataset.id, item.dataset.status);
        }
      } else {
        updateReactionStatus(item.dataset.id, item.dataset.status);
      }
    });
  });
</script>
