<%= render "style" %>

  <div class="col-12">
    <hr>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a href="/internal/reports" class="nav-link <%= "active" if @view.blank? %>">Submitted Reports</a>
      </li>
      <li class="nav-item">
        <a href="/internal/reports?view=new-articles" class="nav-link <%= "active" if @view == "new-articles" %>">New Articles</a>
      </li>
      <li class="nav-item">
        <a href="/internal/reports?view=suspicious-users" class="nav-link <%= "active" if @view == "suspicious-users" %>">Suspicious Users</a>
      </li>
    </ul>
    <hr>
  </div>


<% if @view == "new-articles" %>
  <%= render "new_articles" %>
<% elsif @view == "suspicious-users" %>
  <%= render "suspicious_users" %>
<% else %>
  <%= render "reports" if @view.blank? %>
<% end %>