<style>
  .top-nav{
    line-height: 1.4em;
  }
  @media (max-width:991px) and (min-width:768px) {
    .top-nav{
      margin-top: 100px;
    }
    .alert{
      margin-top: 100px;
    }
  }
  .top-nav a {
    display: inline-block;
    padding: 10px;
  }
  .active-state {
    background-color:#89ffba;
  }
</style>

<h3 class="top-nav">
  <a href="/internal/reports?state=abuse-reports" class="<%= "active-state" if @feedback_type == "abuse-reports" %>">Abuse Reports</a> |
  <a href="/internal/reports?state=bug-reports" class="<%= "active-state" if @feedback_type == "bug-reports" %>">Bug Reports</a>
</h3>

<h1><%= @feedback_type.titleize %></h1>

<%= paginate @feedback_messages %>

  <% @feedback_messages.each do |feedback_message| %>
    <div class="row main-group">
      <%= form_for [:internal, feedback_message] do |f| %>
        <%= render "feedback_message", f: f, feedback_message: feedback_message %>
      <% end %>
    </div>
  <% end %>
  <br>
  <br>
