<%= content_for :page_meta do %>
  <%= render "stories/tagged_articles/meta" %>
<% end %>
<% expiry_minutes = params[:timeframe].blank? || params[:timeframe] == "latest" ? 4 : 20 %>
<% flag = true %>
<% cache("tag-stories-index-#{params}-#{flag}-#{@tag_model.updated_at}-#{user_signed_in?}", expires_in: expiry_minutes.minutes) do %>
  <div class="crayons-layout">
    <header class="tag-header crayons-card branded-4" style="border-top-color: <%= Color::CompareHex.new([@tag_model.bg_color_hex || "#0000000", @tag_model.text_color_hex || "#ffffff"]).brightness(0.88) %>">
      <div class="flex">
        <% if @tag_model.badge_id && @tag_model.badge %>
            <img src="<%= optimized_image_url(@tag_model.badge.badge_image_url, width: 64) %>" alt="" class="mr-4" style="transform: rotate(<%= -25 + (@tag_model.id.digits.first * 5) %>deg); width: 64px; height: 64px;" />
        <% end %>
        <div class="flex flex-col w-100 justify-center">
          <div class="flex justify-between items-center">
            <h1 class="crayons-title">
              <% if @tag_model && @tag_model.pretty_name.present? %>
                <%= @tag_model.pretty_name %>
              <% else %>
                <span class="opacity-50">#</span>
                <%= @tag %>
              <% end %>
            </h1>
            <% if @tag_model %>
              <button id="user-follow-butt" class="crayons-btn follow-action-button" data-info='{"id":<%= @tag_model.id %>,"className":"Tag"}'>Follow</button>
            <% end %>
          </div>
          <% if @tag_model && @tag_model.short_summary.present? %>
            <p class="max-w-100 m:max-w-75 pt-2 s:pt-4">
              <%= strip_tags(@tag_model.short_summary) %>
            </p>
          <% end %>
        </div>
      </div>
      <% if @tag_model && @tag_model.short_summary.present? %>
      <% end %>
    </header>
  </div>

  <div class="home sub-home" id="index-container"
      data-params="<%= params.merge(sort_by: "hotness_score", sort_direction: "desc").to_json(only: %i[tag username sort_by sort_direction]) %>" data-which=""
      data-tag="<%= @tag %>"
      data-feed="<%= params[:timeframe] || "base-feed" %>"
      data-requires-approval="<%= @tag_model.requires_approval %>"
      data-articles-since="<%= Timeframe.datetime_iso8601(params[:timeframe]) %>">
    <%= render "stories/tagged_articles/sidebar" %>
    <main class="articles-list" id="main-content" data-follow-button-container="true">
      <header class="flex items-center p-2 m:p-0 m:pb-2" id="on-page-nav-controls">
        <button type="button" class="crayons-btn crayons-btn--ghost crayons-btn--icon mr-2 inline-block m:hidden" id="on-page-nav-butt-left" aria-label="nav-button-left">
          <div class="crayons-icon nav-icon ">
            <%= inline_svg_tag("hamburger.svg", aria: true, title: "Left menu") %>
          </div>
        </button>
        <% if user_signed_in? %>
        <div class="flex-1 flex items-center justify-between">
          <h2 class="crayons-subtitle-2"><%= feed_heading(params[:timeframe]) %></h2>
          <div class="relative hidden s:block">
            <button id="feed-nav-button" class="crayons-btn crayons-btn--ghost crayons-btn--icon" aria-label="Change feed view"><%= inline_svg_tag("overflow-horizontal.svg", class: "crayons-icon", aria_hidden: true, title: "Change feed view") %></button>
            <div id="feed-nav-content" class="crayons-dropdown right-0">
              <nav id="feed-navigation-links" aria-label="View posts by" class="drawer-navigation">
                <ul class="list-none">
                  <li class="drawer-navigation__item py-2">
                    <a
                      href="<%= list_path %>/"
                      <%= %w[week month year infinity latest].exclude?(params[:timeframe]) ? ' aria-current="page"'.html_safe : "" %>>
                      Trending
                    </a>
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </li>
                    <li class="drawer-navigation__item py-2">
                    <a
                      href="<%= list_path %>/latest"
                      <%= timeframe_check("latest") ? ' aria-current="page"'.html_safe : "" %>>
                      Most Recent
                    </a>
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </li>
                  <li class="drawer-navigation__item py-2">
                    <a
                      href="<%= list_path %>/top/week"
                      <%= timeframe_check("week") ? ' aria-current="page"'.html_safe : "" %>>
                      This Week
                    </a>
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </li>
                  <li class="drawer-navigation__item py-2">
                    <a
                      href="<%= list_path %>/top/month"
                      <%= timeframe_check("month") ? ' aria-current="page"'.html_safe : "" %>>
                      This Month
                    </a>
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </li>
                  <li class="drawer-navigation__item py-2">
                    <a
                      href="<%= list_path %>/top/year"
                      <%= timeframe_check("year") ? ' aria-current="page"'.html_safe : "" %>>
                      This Year
                    </a>
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </li>
                  <li class="drawer-navigation__item py-2">
                    <a
                      href="<%= list_path %>/top/infinity"
                      <%= timeframe_check("infinity") ? ' aria-current="page"'.html_safe : "" %>>
                      All Time
                    </a>
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div id="mobile-feed-nav-container" class="s:hidden ">
            <button id="mobile-feed-nav-button" class="crayons-btn crayons-btn--ghost crayons-btn--icon" aria-label="Change feed view"><%= inline_svg_tag("overflow-horizontal.svg", class: "crayons-icon", aria_hidden: true, title: "Change feed view") %></button>
          </div>
        </div>
        <% else %>
          <div class="flex-1 flex items-center justify-between">
            <div class="crayons-notice w-100" aria-live="polite">👋 <a href="<%= sign_up_path %>">Sign in</a> for the ability to view posts by time period.</div>
          </div>
        <% end %>

        <button type="button" class="crayons-btn crayons-btn--ghost crayons-btn--icon ml-2 inline-block l:hidden" id="on-page-nav-butt-right" aria-label="nav-button-right">
          <div class="crayons-icon nav-icon ">
            <%= inline_svg_tag("hamburger.svg", aria: true, title: "Right menu") %>
          </div>
        </button>
      </header>

      <div class="substories" id="substories">
        <%# stories/tagged_articles/main_feed will iterate on stories with .each_with_index,
            thus by using .present? here we preload the items %>
        <% if @stories.present? %>
          <%= render "stories/tagged_articles/main_feed" %>
        <% end %>
      </div>
      <div class="loading-articles" id="loading-articles">
        loading...
      </div>
    </main>
    <%= render "stories/tagged_articles/sidebar_additional" %>
  </div>

  <%= javascript_packs_with_chunks_tag "storiesList", "followButtons", "feedPreviewCards", "feedNavigation", defer: true %>
<% end %>
