<%= form_for(User.new, as: :user, url: session_path(:user), data: { testid: "login-form" }) do |f| %>
  <div class="crayons-field mb-3">
    <%= f.label :email, class: "crayons-field__label" %>
    <%= f.email_field :email, autocomplete: "email", class: "crayons-textfield" %>
  </div>

  <div class="crayons-field mb-3">
    <%= f.label :password, class: "crayons-field__label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "crayons-textfield" %>
  </div>

  <div class="crayons-field flex flex-row items-center justify-between mb-3">
    <div>
      <%= f.check_box :remember_me, class: "crayons-checkbox" %>
      <%= f.label :remember_me, class: "crayons-field__label fw-normal" %>
    </div>
    <a class="m-0" href="<%= new_password_path(:user) %>">
       <%= t("views.auth.login.forgot") %>
    </a>
  </div>

  <div class="actions pt-3">
    <%= f.submit t("views.auth.login.text"), class: "crayons-btn crayons-btn--l w-100" %>
  </div>
<% end %>
