<% title t("views.auth.wizard.meta.title") %>
<div class="crayons-card crayons-card--secondary crayons-notice crayons-notice--success mx-auto mt-8 mb-10 p-4 fs-2xl lh-base align-center" style="width:96%;max-width:1300px;" aria-live="polite">
  <h1 class="m-7 mb-3"><%= t("views.auth.wizard.heading") %></h1>
  <img class="m-7 mb-2 radius-default" alt="Dancing Baby Groot GIF" src="https://media.giphy.com/media/F9hQLAVhWnL56/giphy.gif" style="height:220px" />
  <p class="mb-4 mt-6">
    <%= t("views.auth.wizard.step_1") %>
  </p>
  <p class="mb-4">
    <%= t("views.auth.wizard.step_2_html", path: link_to(admin_config_path, admin_config_path)) %>
  </p>
  <p class="mb-4">
    <%= t("views.auth.wizard.step_3") %>
  </p>
  <p class="mb-8">
    <%= t("views.auth.wizard.step_4") %>
  </p>
  <p class="mb-7 fw-bold">
    <%= t("views.auth.wizard.step_5") %>
  </p>
  <%= render "shared/authentication/email_registration_form" %>
</div>
