<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
<style>
  textarea{
    height: 140px;
  }
</style>
<h1>Tags</h1>
<%= form_tag("/internal/tags", method: "get") do %>
  <%= label_tag(:search, "Find by tag name:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <% if params[:state].present? %>
  <%= hidden_field_tag(:state, params[:state]) %>
  <% end %>
  <%= submit_tag("Search") %>
<% end %>

<h2>
    <a href="/internal/tags"
        style="<%= 'background: yellow' if params[:state].blank? %>">All</a> |
    <a href="/internal/tags?state=supported"
        style="<%= 'background: yellow' if params[:state] == "supported" %>">Supported</a> |
    <a href="/internal/tags?state=unsupported"
        style="<%= 'background: yellow' if params[:state] == "unsupported" %>">Unsupported</a> |
</h2>

<hr/><hr/>
<% @tags.each do |tag| %>

<% end %>