<div class="crayons-card p-6 mb-6">
  <h2 class="crayons-title mb-6">Create New Event</h2>

  <%= form_for @event, url: { controller: "events", action: "create" } do |f| %>
    <%= render "event_form", f: f, event: @event %>
  <% end %>
</div>

<div class="crayons-card p-6 mb-6">
  <h2 class="crayons-title mb-6">Upcoming Events</h2>
  <% @events.each do |event| %>
    <% if event.starts_at.future? %>
      <img src="<%= event.cover_image_url %>" alt="event cover image">
      <%= form_for [:admin, event] do |f| %>
        <%= render "event_form", f: f, event: event %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="crayons-card p-6 mb-6">
  <h2 class="crayons-title mb-6">Past Events</h2>
  <% @events.each do |event| %>
    <% if !event.starts_at.future? %>
      <img src="<%= event.cover_image_url %>" alt="event cover image">
      <%= form_for [:admin, event] do |f| %>
        <%= render "event_form", f: f, event: event %>
      <% end %>
    <% end %>
  <% end %>
</div>
