<section class="crayons-layout">
  <div class="registration crayons-card">
    <div class="registration__content">
      <h1 class="registration__title">
        <% if params[:state] == "new-user" && ForemInstance.invitation_only? %>
          <%= community_name %> is invite only.
        <% else %>
          Welcome to <%= community_name %>
        <% end %>
      </h1>
      <p class="registration__description">
        <%= render "shared/authentication_title" %>
      </p>
    </div>

    <div class="registration__actions">
      <% if display_registration_fallback?(params[:state]) %>
        <h2 class="mt-8" style="text-align: center;" aria-live="polite">Sorry to be a bummer...</h2>
        <p class="mb-8" style="text-align: center;" aria-live="polite">Unfortunately, we do not support creating new accounts right now on our mobile app. If you want create a new account to join <%= community_name %>, please do that on the web at <a href="<%= URL.url %>"><%= URL.url %></a>.</p>
      <% end %>

      <%= render partial: "shared/authentication/providers_registration_form" %>

      <% if params[:state] == "new-user" %>
        <div class="registration__hr">
          <span class="registration__hr-label">
            Already have an account? <a href="<%= sign_up_path %>">Log in</a>.
          </span>
        </div>
      <% else %>
        <div class="registration__actions-email" id="sign-in-password-form">
          <% if Settings::Authentication.allow_email_password_login %>
            <div class="registration__hr">
              <span class="registration__hr-label">
                Have a password? Continue with your email address
              </span>
            </div>
            <%= render partial: "shared/authentication/email_login_form" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
