<div class="new-article-pitch">
  <% if @new_article_not_logged_in %>
    <div class="prefill-non-logged-in-message">
      <div class="registration__logo-container">
        <img class="secondary-logo" src="<%= cloudinary(safe_logo_url(SiteConfig.secondary_logo_url), 190) %>"
             alt="Secondary <%= community_name %> logo" />
      </div>
      <p>
        <b>Welcome to <%= community_name %></b>
      </p>
      <p>
        Sign in below to compose your post and share it with the community.
      </p>
    </div>
  <% else %>
    <div class="registration__logo-container">
      <img class="secondary-logo" src="<%= cloudinary(safe_logo_url(SiteConfig.secondary_logo_url), 190) %>"
           alt="Secondary <%= community_name %> logo" />
    </div>
    <h1>Great to have you</h1>
  <% end %>
  <div class="links">
    <div class="flex flex-col m:flex-row justify-center">
      <%= render partial: "shared/authentication/providers_registration_form" %>
    </div>

    <p class="pt-4"><em>We require social login to prevent abuse.</em></p>
  </div>
  <p>Open Source 😇</p>
  <p>Free Forever ❤️</p>
  <div style="height:300px" />
</div>
