<div class="new-article-pitch">
  <% if @new_article_not_logged_in %>
    <div class="prefill-non-logged-in-message">
      <%= render "devise/registrations/registration_logo" %>
      <p>
        <b>Welcome to <%= ApplicationConfig["COMMUNITY_NAME"] %></b>
      </p>
      <p>
        Sign in below to compose your post and share it with the community.
      </p>
    </div>
  <% else %>
    <%= render "devise/registrations/registration_logo" %>
    <h1>Great to have you</h1>
  <% end %>
  <div class="links">
    <a href="/users/auth/twitter?callback_url=<%= ApplicationConfig["APP_PROTOCOL"] %><%= ApplicationConfig["APP_DOMAIN"] %>/users/auth/twitter/callback" class="sign-up-link" data-no-instant>
      <%= inline_svg_tag("twitter-logo.svg", class: "icon-img", aria: true, title: "twitter logo") %> Sign In with Twitter
    </a>
    <a href="/users/auth/github?state=join-club-page_basic" class="sign-up-link" data-no-instant>
      <%= inline_svg_tag("github-logo.svg", class: "icon-img", aria: true, title: "github logo") %> Sign In with GitHub
    </a>
    <p><em>We require social login to prevent abuse.</em></p>
  </div>
  <p>Open Source 😇</p>
  <p>Free Forever ❤️</p>
  <div style="height:300px"></div>
</div>
