<span data-controller="modal" data-modal-root-selector-value="#edit-group-<%= group_name %>-modal-root" data-modal-content-selector-value="#edit-group-<%= group_name %>-modal" data-modal-title-value="Edit Group <%= group_name %>" data-modal-size-value="s" class="mx-1">
  <button data-action="modal#toggleModal" class="crayons-btn crayons-btn--secondary">
    Edit group
  </button>

  <div id="edit-group-<%= group_name %>-modal" class="hidden">
    <div class="form-group grid p-6 mb-6 gap-1">
      <%= form_for [:admin, group] do |form| %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_field :description, class: "form-control" %>
        </div>
        <%= form.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div id="edit-group-<%= group_name %>-modal-root"></div>
</span>
