<div class="form-group">
  <%= form.label :label %>
  <%= form.text_field :label, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :description %>
  <%= form.text_field :description, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :placeholder_text %>
  <%= form.text_field :placeholder_text, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :input_type %>
  <%= form.select :input_type, ProfileField.input_types.keys, class: "form-control" %>
</div>
