<main id="main-content" class="crayons-layout crayons-layout--limited-l gap-0">
  <div class="crayons-card crayons-card--secondary text-styles text-styles--secondary text-padding -mb-1 mx-3 m:mx-6 mt-3">
    <%= @listing.title %>
  </div>
  <div class="crayons-card text-padding">
    <h1 class="crayons-subtitle-1 mb-2"><%= t("views.listings.delete.subtitle") %></h1>
    <p class="fs-l mb-4">
      <%= t("views.listings.delete.description.text_html", action: link_to(@listing.published ? t("views.listings.delete.description.unpublish") : t("views.listings.delete.description.edit"), edit_listing_path(@listing), data: { no_instant: "" })) %>
    </p>

    <%= form_tag listing_path(@listing), method: :delete do %>
      <button class="crayons-btn crayons-btn--danger"><%= t("views.listings.delete.submit") %></button>

      <a data-no-instant href="<%= edit_listing_path(@listing) %>" class="crayons-btn crayons-btn--secondary">
        <%= @listing.published ? t("views.listings.delete.unpublish") : t("views.listings.delete.edit") %>
      </a>
    <% end %>
  </div>
</main>
