<% title "Edit Listing" %>

<header class="crayons-layout crayons-layout--limited-l flex items-center justify-between p-2 l:p-4 l:pb-0">
  <h1 class="crayons-title">Edit Listing</h1>
</header>

<main class="crayons-layout crayons-layout--2-cols crayons-layout--2-cols--inverted crayons-layout--limited-l">
  <div class="crayons-layout__content">
    <div class="crayons-card mb-6 p-6">
      <%= form_for(@listing, html: { class: "grid gap-6 mb-6" }) do |f| %>
        <div class="crayons-notice" aria-live="polite">You can only edit title/body/tags of drafts or within the first 24 hours of listing or bumping</div>

        <%= render partial: "form_errors", locals: { listing: @listing } %>

        <% if (@listing.bumped_at && @listing.bumped_at > 24.hours.ago) || @listing.updated_at && !@listing.published %>
          <div class="crayons-field">
            <%= f.label "title", "Title", class: "crayons-field__label" %>
            <%= f.text_field "title", maxlength: 128, placeholder: "128 characters max, plain text", class: "crayons-textfield" %>
          </div>
          <div class="crayons-field">
            <%= f.label "body_markdown", "Body Markdown", class: "crayons-field__label" %>
            <%= f.text_area "body_markdown", maxlength: 400, placeholder: "...", class: "crayons-textfield" %>
            <p class="crayons-field__description">400 characters max, 12 line break max, no images allowed, *markdown is encouraged*</p>
          </div>
          <div class="crayons-field">
            <%= f.label "tag_list", "Tags", class: "crayons-field__label" %>
            <%= f.text_field "tag_list", value: @listing.cached_tag_list, placeholder: "8 tags max, comma separated, no spaces or special characters", class: "crayons-textfield" %>
          </div>
          <div class="crayons-field">
            <%= f.label "expires_at", "Custom Expire Date", class: "crayons-field__label" %>
            <%= f.date_field "expires_at", min: Date.tomorrow, max: @listing.natural_expiration_date, class: "crayons-textfield m:max-w-50" %>
            <p class="crayons-field__description">
                If applicable for time sensitive events, deadlines, etc.
              </p>
          </div>
          <div class="crayons-field crayons-field--checkbox">
            <%= f.check_box "contact_via_connect", class: "crayons-checkbox" %>
            <label class="crayons-field__label" for="contact_via_connect">
              Connect messaging
              <p class="crayons-field__description">Allow Users to message me via Connect.</p>
            </label>
          </div>
          <div class="crayons-field">
            <%= f.label "location", "Location", class: "crayons-field__label" %>
            <%= f.text_field "location", maxlength: 32, placeholder: "New York", class: "crayons-textfield m:max-w-50" %>
            <p class="crayons-field__description">32 characters max, plain text</p>
          </div>
          <div>
            <% if @listing.published %>
              <%= f.submit "Update listing", class: "crayons-btn" %>
            <% else %>
              <%= f.submit "Update draft", class: "crayons-btn crayons-btn--secondary" %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= form_for(@listing, html: { class: "pt-6 mt-6 border-t-1 border-solid border-0 border-base-20 flex items-center" }) do |f| %>
        <% if @listing.published == false %>
          <input type="hidden" name="listing[action]" value="publish" />
          <%= f.submit "Publish listing", class: "crayons-btn mr-4" %>
          <p>This listing is <strong class="color-accent-danger">not</strong> published.</p>
        <% else %>
          <input type="hidden" name="listing[action]" value="unpublish" />
          <%= f.submit "Unpublish listing", class: "crayons-btn crayons-btn--danger" %>
        <% end %>
      <% end %>
    </div>

    <% if @listing.bumped_at %>
      <%= form_for(@listing, html: { class: "crayons-card grid gap-6 p-6 mb-6" }) do |f| %>
        <header>
          <h2 class="mb-2">Bump your listing</h2>
          <p>You can bump your listing for the same price as the original listing</p>
        </header>
        <div class="flex items-center">
          <%= f.submit "Bump listing", class: "crayons-btn crayons-btn--secondary mr-4" %>
          <p class="color-base-70">Last Published/Bumped: <%= time_ago_in_words @listing.bumped_at %> ago</p>
        </div>
        <input type="hidden" name="listing[action]" value="bump" />
      <% end %>
    <% end %>
  </div>

  <aside class="crayons-layout__sidebar-right px-3 m:px-0">
    <% unless @listing.published %>
      <%= form_for(@listing, html: { class: "crayons-card crayons-card--secondary p-3 m:p-4 mb-2 m:mb-4" }) do |f| %>
        <p class="pb-4">
          This listing is <strong class="color-accent-danger">not</strong> published
        </p>
        <input type="hidden" name="listing[action]" value="publish" />
        <%= f.submit "Publish listing", class: "crayons-btn w-100" %>
      <% end %>
    <% end %>

    <div class="crayons-card crayons-card--secondary p-3 m:p-4 mb-2 m:mb-4">
      <p>
        <% if (@listing.natural_expiration_date) < Date.today %>
          Expired <%= time_ago_in_words @listing.natural_expiration_date %> ago
        <% else %>
          Expires in <%= time_ago_in_words @listing.natural_expiration_date %>
        <% end %>
      </p>
      <% if @listing.bumped_at %>
        <p class="pt-3 mt-3 border-t-1 border-solid border-0 border-base-10">
          Last Published/Bumped: <%= time_ago_in_words @listing.bumped_at %> ago
        </p>
      <% end %>
    </div>
  </aside>
</main>
