<h3>Title - this for our reference only:</h3>
<%= text_field_tag :title, @broadcast.title %>
<hr>
<div class="form-group">
  <%= label_tag :processed_html, "HTML" %>
  <%= text_area_tag :processed_html, @broadcast.processed_html, size: "100x10", class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag :type, "Type:" %>
  <%= select_tag "type_of", options_for_select(%w[Onboarding Announcement Welcome]) %>
</div>
<div class="form-group">
  <%= label_tag :active, "Active:" %>
  <%= select_tag :active, options_for_select([true, false]) %>
</div>
<br>
