<div class="container show-page-content-display"
     data-details="<%= article.organization&.slug %>__<%= article.slug %>"
     id="<%= classification == "boosted" ? "partner-content-display" : "classic_article_#{article.id}" %>">
  <div class="content-classification">
    <span class="content-classification-text"><%= classification_text %></span>
  </div>
  <div class="main-content-display">
    <%= render "additional_content_boxes/article_content_area",
               article: article,
               classification: classification,
               organization: article.cached_organization %>
  </div>
  <div class="secondary-content-display">
    <%= render "additional_content_boxes/article_followable_area",
               article: article,
               followable: article.organization || article.user,
               classification: classification,
               follow_cue: follow_cue %>
  </div>
</div>
