<span class="color-base-30 px-2 m:pl-0" role="presentation">&bull;</span>

<a href="<%= URL.comment(decorated_comment) %>" class="comment-date crayons-link crayons-link--secondary fs-s">
  <time datetime="<%= decorated_comment.published_timestamp %>">
    <%= decorated_comment.readable_publish_date %>
  </time>

  <% if decorated_comment.edited_at.present? %>
    &bull; Edited
    <span class="hidden m:inline-block">
      on <time datetime="<%= decorated_comment.edited_timestamp %>">
      <%= decorated_comment.edited_at.strftime('%b %-d') %></time>
    </span>
  <% end %>
</a>
