<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <br><br><br><br>
<% end %>

<%= form_for(@comment, authenticity_token: false) do |f| %>
  <% if @article&.comment_template.present? && @comment.new_record? %>
    <div class="article-comment-form-preamble">
      This post comes with a comment template
    </div>
  <% end %>
  <input type="hidden" name="authenticity_token" value="NOTHING" id="new_comment_authenticity_token">
  <% unless @comment.persisted? %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable_type %>
    <%= f.hidden_field :parent_id, value: @parent_comment.id if @parent_comment %>
  <% end %>
  <div class="field" id="textarea-wrapper">
    <%= f.text_area :body_markdown,
                    placeholder: "Add to the discussion",
                    onfocus: "handleFocus(event)",
                    onblur: "handleBlur(event)",
                    onkeyup: "handleKeyUp(event)",
                    onkeydown: "handleKeyDown(event)",
                    id: "text-area",
                    autofocus: @comment.persisted?,
                    required: true %>
    <div class="preview-toggle comment-preview-div" id="preview-div"></div>
  </div>
  <div id="markdown-hint" style="height:0px; opacity:0; visibility:hidden">
    <span><i>_italics_</i><b>**bold**</b> ~<s>strikethrough</s>~ <code>`code line`</code> <code>```code block```</code> &gt;quote</span>
  </div>
  <div class="code-of-conduct" id="toggle-code-of-conduct-checkbox">
  </div>
  <span>
    <a id="markdown-button" aria-expanded="true" aria-controls="collapsible-0">X</a>
  </span>
  <a class="markdown-guide" title="Markdown Guide">
    <img class="icon-image" src="<%= asset_path('info.svg') %>" />
  </a>
  <div class="editor-image-upload">
    <input type="file" id="image-upload-main" name="file" accept="image/*" style="display:none">
    <button class="image-upload-button" id="image-upload-button-main" onclick="handleImageUpload(event,'main')" title="Upload Image">
      <img class="icon-image" src="<%= asset_path("image-upload.svg") %>" />
    </button>
    <label class="image-upload-file-label" id="image-upload-file-label-main"></label>
    <input type="submit" id='image-upload-submit-main' value="Upload" style="display:none">
    <input class="uploaded-image" id="uploaded-image-main" />
  </div>
  <div class="actions" id="submit-wrapper">
    <%= link_to request.referer.present? ? :back : commentable.path do %>
      <button id="cancel-button" class="comment-action-button comment-action-cancel">CANCEL</button>
    <% end %>
    <button id="preview-button" class="comment-action-button comment-action-preview">PREVIEW</button>
    <%= f.submit "SUBMIT", onclick: "validateField(event)", class: "comment-action-button", id: "submit-button" %>
  </div>
<% end %>

<div id="collapsible-markdown" aria-hidden="false" style="height:0px; visibility: hidden; height:0; opacity:0;">
  <span>
    <p>
      <i>Italics</i>: _italics_ (command + i and fill in between)<br/>
      <b>Bold</b>: **bold** (command + b and fill text in between)
      <s>Strikethrough</s>: ~~strikethrough~~<br/>
      <a href="#put-link-here">Surprise Link</a>: [Surprise Link](put-link-here)<br/>
      <img alt="some text about the image" src=""></img>![some text about the image](put-direct-image-link-here)<br/>
      Headers: is #h1, ##h2 ... and so on until ######h6 <br/>
      Lists: +, -, * start unordered lists, while numbers like 1., 2. start ordered lists <br/>
      Code: `inline code` is surrounded by backticks, while ```code blocks``` have them tripled <br/>
    </p>
  </span>
</div>

<script type="text/javascript">
  var markdownCheatsheet = document.getElementById("collapsible-markdown");
  var markdownButton = document.getElementById("markdown-button");

  var toggleCheatsheet = function() {
    var markdownCheatsheet = document.getElementById("collapsible-markdown");
    markdownCheatsheet.style.height = (markdownCheatsheet.style.height == "0px") ? "200px" : "0px";
    markdownCheatsheet.style.visibility = (markdownCheatsheet.style.visibility === "hidden") ? "visible" : "hidden";
    markdownCheatsheet.style.opacity = (markdownCheatsheet.style.opacity == 0) ? 1 : 0;
  }

  markdownButton.addEventListener("click", () => {
    toggleCheatsheet();
  })
</script>

<% if @comment.persisted? %>

  <script defer>
    if (document.getElementById("edit_comment_<%= @comment&.id %>")) {
      document.getElementById("edit_comment_<%= @comment&.id %>").onsubmit = function (e) {
        e.preventDefault();
        document.getElementById("submit-button").classList.add("submitting");
        document.getElementById("text-area").classList.add("submitting");
        var form = this;
        var waitingOnCSRF = setInterval(function () {
          var metaTag = document.querySelector("meta[name='csrf-token']")
          if (metaTag) {
            clearInterval(waitingOnCSRF);
            authToken = metaTag.getAttribute("content");
            document.getElementById("new_comment_authenticity_token").value = authToken;
            form.submit();
          }
        }, 1);
      }
    }
  </script>

  <script defer>
    var formElement = document.getElementById("edit_comment_<%= @comment&.id %>");
    if (formElement) {
      formElement.getElementsByClassName("comment-action-cancel")[0].style.display = "inline-block";
    }
  </script>
<% end %>
