<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <br><br><br><br>
<% end %>

<%= form_for(@comment, authenticity_token: false) do |f| %>
  <% if @article&.comment_template.present? && @comment.new_record? %>
    <div class="article-comment-form-preamble">
      This post comes with a comment template
    </div>
  <% end %>
  <input type="hidden" name="authenticity_token" value="NOTHING" id="new_comment_authenticity_token">
  <% unless @comment.persisted? %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable_type %>
    <%= f.hidden_field :parent_id, value: @parent_comment.id if @parent_comment %>
  <% end %>
  <div class="field" id="textarea-wrapper">
    <%= f.text_area :body_markdown,
                    placeholder: "Add to the discussion",
                    onfocus: "handleFocus(event)",
                    onblur: "handleBlur(event)",
                    onkeyup: "handleKeyUp(event)",
                    onkeydown: "handleKeyDown(event)",
                    id: "text-area",
                    autofocus: @comment.persisted?,
                    required: true %>
    <div class="preview-toggle comment-preview-div" id="preview-div"></div>
  </div>
  <div class="code-of-conduct" id="toggle-code-of-conduct-checkbox">
  </div>
  <!-- <a href="/p/editor_guide" class="markdown-guide" target="_blank" title="Markdown Guide">
    <img class="icon-image" src="<%= asset_path('info.svg') %>" />
  </a> -->
  <a class="markdown-guide" title="Markdown Guide">
    <img class="icon-image" src="<%= asset_path('info.svg') %>" />
  </a>
  <div class="editor-image-upload">
    <input type="file" id="image-upload-main" name="file" accept="image/*" style="display:none">
    <button class="image-upload-button" id="image-upload-button-main" onclick="handleImageUpload(event,'main')" title="Upload Image">
      <img class="icon-image" src="<%= asset_path("image-upload.svg") %>" />
    </button>
    <label class="image-upload-file-label" id="image-upload-file-label-main"></label>
    <input type="submit" id='image-upload-submit-main' value="Upload" style="display:none">
    <input class="uploaded-image" id="uploaded-image-main" />
  </div>
  <div class="actions" id="submit-wrapper">
    <%= link_to request.referer.present? ? :back : commentable.path do %>
      <button id="cancel-button" class="comment-action-button comment-action-cancel">CANCEL</button>
    <% end %>
    <button id="preview-button" class="comment-action-button comment-action-preview">PREVIEW</button>
    <%= f.submit "SUBMIT", onclick: "validateField(event)", class: "comment-action-button", id: "submit-button" %>
  </div>
  <script>
    positionPopover = () => {
      var mdPopover = document.getElementsByClassName('markdown-guide-container')[0]
      var newComment = document.getElementsByClassName('new_comment')[0]
      var newCommentPos = newComment.getBoundingClientRect()

      mdPopover.style.top = `calc(${newCommentPos.top + (newCommentPos.height/2) + window.scrollY}px)`;
      // mdPopover.style.left = `${newCommentPos.left+ window.scrollX}px`;
    };

    var mdBtn = document.getElementsByClassName('markdown-guide')[0]
    mdBtn.addEventListener('click', () => {
      var mdPopover = document.getElementsByClassName('markdown-guide-container')[0]
      positionPopover();
      if (mdPopover.style.display === "none") {
        mdPopover.style.display = "block"
        window.addEventListener('resize', positionPopover, true);
      } else {
        window.removeEventListener('resize', positionPopover, true);
        mdPopover.style.display = "none"
      }
    })
  </script>
<% end %>

<div class="markdown-guide-container" style="display: none;">
  <a title="Close" class="markdown-guide-close">X</a>
  <div class="markdown-guide-content">
    <i>Italics</i>: *italics* or _italics_ (that's one asterisk or underscore on each end)<br/>
    <b>Bold</b>: **bold** or __bold__ (now it's two on each end)<br/>
    <s>Strikethrough</s>: ~~strikethrough~~<br/>
    <a href="#put-link-here">Surprise Link</a>: [Surprise Link](put-link-here)<br/>
    <img alt="some text about the image" src=""></img>![some text about the image](put-direct-image-link-here)<br/>
    Headers: is #h1, ##h2 ... and so on until ######h6 <br/>
    Lists: +, -, * start unordered lists, while numbers like 1., 2. start ordered lists <br/>
    Code: `inline code` is surrounded by backticks, while ```code blocks``` have them tripled <br/>
  </div>
</div>

<% if @comment.persisted? %>

  <script defer>
    if (document.getElementById("edit_comment_<%= @comment&.id %>")) {
      document.getElementById("edit_comment_<%= @comment&.id %>").onsubmit = function (e) {
        e.preventDefault();
        document.getElementById("submit-button").classList.add("submitting");
        document.getElementById("text-area").classList.add("submitting");
        var form = this;
        var waitingOnCSRF = setInterval(function () {
          var metaTag = document.querySelector("meta[name='csrf-token']")
          if (metaTag) {
            clearInterval(waitingOnCSRF);
            authToken = metaTag.getAttribute("content");
            document.getElementById("new_comment_authenticity_token").value = authToken;
            form.submit();
          }
        }, 1);
      }
    }
  </script>

  <script defer>
    var formElement = document.getElementById("edit_comment_<%= @comment&.id %>");
    if (formElement) {
      formElement.getElementsByClassName("comment-action-cancel")[0].style.display = "inline-block";
    }
  </script>
<% end %>
