<div class="liquid-comment">
  <div class="details">
    <a href="/<%= comment.user.username %>">
      <img class="profile-pic" src="<%= ProfileImage.new(comment.user).get(50) %>" alt="<%= comment.user.username %> profile image"/>
    </a>
    <a href="/<%= comment.user.username %>">
      <span class="comment-username"><%= comment.user.name %></span>
    </a>
    <div class="comment-date">
      <a href="<%= comment.path %>"><%= comment.readable_publish_date %></a>
    </div>
  </div>
  <div class="body">
    <%= comment.processed_html.html_safe %>
  </div>
</div>
