<h2>General Purpose URL Purge</h2>
<p>For a page that should 404. This will purge the page via Fastly.</p>
<p>Use the full path (https://dev.to/xyz) or the relative path: (/xyz)</p>
<div class="row m-3">
  <%= form_tag bust_cache_internal_tools_path do %>
    <div class="form-row">
      <div class="form-group">
        <%= label_tag("Link:") %>
        <%= text_field_tag :dead_link, nil, placeholder: "/devteam/page" %>
        <%= submit_tag("Clear Cache") %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<h2>Bust Cache For Specific Content</h2>
<p>This clears both the Rails cache & the Fastly cache.</p>
<div class="row m-3">
  <%= form_tag bust_cache_internal_tools_path do %>
    <div class="form-row">
      <div class="form-group">
        <%= label_tag("Article ID: ") %>
        <%= text_field_tag :bust_article, nil, placeholder: "12345" %>
        <%= submit_tag("Clear Article Cache") %>
      </div>
    </div>
  <% end %>
</div>
<div class="row m-3">
  <%= form_tag bust_cache_internal_tools_path do %>
    <div class="form-row">
      <div class="form-group">
        <%= label_tag("User ID: ") %>
        <%= text_field_tag :bust_user, nil, placeholder: "12345" %>
        <%= submit_tag("Clear User Cache") %>
      </div>
    </div>
  <% end %>
</div>
