<div class="notice"><%= flash[:notice] %></div>
<%= csrf_meta_tags %>

<div class="row justify-content-end">
  <%= link_to "New Page", "/internal/pages/new", class: "btn btn-primary" %>
</div>

<hr>

<div class="row">
  <div class="list-group-flush w-100">
    <% @pages.each do |page| %>
      <a class="list-group-item list-group-item-action" href="/internal/pages/<%= page.id %>/edit">
        <%= page.title %>
      </a>
    <% end %>
  </div>
</div>
