<div id="possibleSpamUsers">
  <div class="crayons-card">
    <div class="card-header flex items-center" id="possibleSpamUsersHeader">
      <h4>Possible Spam/Abuse Users</h4>
      <button class="btn btn-secondary ml-auto" type="button" data-toggle="collapse" data-target="#possibleSpamUsersBodyContainer" aria-expanded="false" aria-controls="possibleSpamUsersBodyContainer">
        Toggle
      </button>
    </div>
    <div id="possibleSpamUsersBodyContainer" class="collapse hide" aria-labelledby="possibleSpamUsersHeader" data-parent="#possibleSpamUsers">
      <div class="card-body" style="overflow: scroll; max-height: 500px;">
        <% @possible_spam_users.each do |user| %>
          <div class="py-2 flex">
            <a href="<%= user.path %>">@<%= user.username %></a> - <%= user.name %>
            <div class="ml-auto shrink-0">
              <a href="/admin/users/<%= user.id %>" class="btn btn-secondary btn-sm">admin User</a>
              <a href="/admin/users/<%= user.id %>/edit" class="btn btn-danger btn-sm">Destructive Actions</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
