<%= render "style" %>

<h2 class="crayons-title mb-6">Suspicious activity</h2>

<div class="grid gap-6">
  <%= render "abuse_reports" %>

  <div class="crayons-card p-4">
    <%= search_form_for @q, url: admin_feedback_messages_path, class: "form-inline crayons-card crayons-card--secondary p-4" do |f| %>

      <%= f.label :reported_url_cont, "Reported URL", class: "sr-only" %>
      <%= f.search_field :reported_url_cont, placeholder: "Reported URL", class: "form-control mr-2" %>

      <%= f.label :reporter_username_cont, "Reporter", class: "sr-only" %>
      <%= f.search_field :reporter_username_cont, placeholder: "Reporter", class: "form-control mr-2" %>

      <%= f.select(:status_eq, options_for_select(%w[Open Invalid Resolved], @q.status_eq), { include_blank: true }, class: "custom-select mr-2") %>

      <%= f.submit "Search", class: "btn btn-secondary" %>
    <% end %>

    <div class="pt-4 px-2 pb-4">
      <strong>Sort:</strong>
      <%= tag.span(sort_link(@q, :reporter_username, "Reporter"), class: "mx-2") %>
      <%= tag.span(sort_link(@q, :reported_url, "Reported URL"), class: "mx-2") %>
      <%= tag.span(sort_link(@q, :created_at, "Creation Date"), class: "ml-2") %>
    </div>

    <%= paginate @feedback_messages %>

    <div class="grid gap-4">
      <% @feedback_messages.each do |feedback_message| %>
        <%= form_for [:admin, feedback_message] do |f| %>
          <%= render "feedback_message", f: f, feedback_message: feedback_message %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @feedback_messages %>
