<div class="relative">
  <button type="button" id="<%= vomit_reaction.id %>-action-dropdown-btn" data-toggle-dropdown="<%= vomit_reaction.id %>-action-dropdown" class="c-btn c-btn--icon-alone ml-auto"
    aria-expanded="false" aria-controls="<%= vomit_reaction.id %>-action-dropdown" aria-haspopup="true" aria-label="Actions: <%= vomit_reaction.id %>">
    <%= crayons_icon_tag("overflow-horizontal", aria_hidden: true) %>
  </button>
  <div id="<%= vomit_reaction.id %>-action-dropdown" class="crayons-dropdown right-0">
    <ul class="list-none">
      <% if vomit_reaction.status != 'confirmed' %>
        <li>
          <button
            data-testid="mark-as-valid"
            type="button"
            data-mark-valid="<%= vomit_reaction.id %>"
            data-status="confirmed"
            data-reaction-target="confirmed"
            data-action="reaction#updateReactionConfirmed"
            data-remove-element="false"
            class="c-btn align-left w-100 c-btn--icon-left">
              <%= crayons_icon_tag("checkmark", aria_hidden: true, class: "c-btn__icon") %>
              <%= t("views.moderations.flags.actions.mark_as_valid") %>
          </button>
        </li>
      <% end %>
      <% if vomit_reaction.status != 'invalid' %>
        <li>
          <button
            data-testid="mark-as-invalid"
            type="button"
            data-mark-invalid="<%= vomit_reaction.id %>"
            data-altstatus="invalid"
            data-reaction-target="invalid"
            data-action="reaction#updateReactionInvalid"
            data-remove-element="false"
            class="c-btn align-left w-100 c-btn--icon-left">
              <%= crayons_icon_tag("x", aria_hidden: true, class: "c-btn__icon") %>
              <%= t("views.moderations.flags.actions.mark_as_invalid") %>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
