<div class="grid gap-6 p-6 justify-center">
  <% if @link_expired %>
    <h1>This Invitation link is expired. Please contact the channel mod for new Invitation link</h1>
  <% else %>
    <h1 class="mt-5">Would you like to join the <%= @chat_channel.channel_name %> channel</h1>
    <%= form_with(url: joining_invitation_response_path, html: { class: "align-center" }) do |f| %>
      <%= f.hidden_field :user_action, value: "accept" %>
      <%= f.hidden_field :chat_channel_id, value: @chat_channel.id %>
      <%= f.submit "Accept", class: "crayons-btn crayons-btn--s" %>
    <% end %>
    <%= form_with(url: joining_invitation_response_path, html: { class: "align-center" }) do |f| %>
      <%= f.hidden_field :user_action, value: "decline" %>
      <%= f.hidden_field :chat_channel_id, value: @chat_channel.id %>
      <%= f.submit "Decline", class: "crayons-btn crayons-btn--danger mb-5 crayons-btn--s" %>
    <% end %>
  <% end %>
</div>
