<div>
  <p class="mb-4 color-base-60 fs-s">
    Posted on <time datetime="<%= @article.published_timestamp %>"><%= @article.readable_publish_date %></time> by:
  </p>

  <div class="flex">
    <a href="<%= URL.user(@user) %>" class="crayons-avatar crayons-avatar--2xl shrink-0 mr-4">
      <img class="crayons-avatar__image" src="<%= Images::Profile.call(@user.profile_image_url, length: 180) %>" alt="<%= @user.username %> profile" />
    </a>
    <div>
      <h3 class="fs-l s:fs-xl m:fs-2xl l:fs-3xl fw-medium"><a href="<%= URL.user(@user) %>" class="crayons-link"><%= @user.name %></a></h3>
      <p class="fw-medium mb-2">
        <a href="<%= URL.user(@user) %>" class="crayons-link crayons-link--secondary">
          @<%= @user.username %>
        </a>
      </p>
      <% if @user.summary %>
        <p class="color-base-70 mb-4"><%= @user.summary %></p>
      <% end %>

      <div class="flex items-center">
        <div><%= follow_button(@user) %>&nbsp;</div>

        <% if @user.twitter_username.present? || @user.github_username.present? || @user.website_url.present? %>
          <div class="flex items-center fs-s">
            <% if @user.twitter_username.present? %>
              <a href="http://twitter.com/<%= @user.twitter_username %>" target="_blank" rel="noopener" class="crayons-link crayons-link--secondary ml-4">
                <%= inline_svg_tag("twitter.svg", aria: true, class: "crayons-icon", width: 24, height: 24, title: "Twitter") %>
              </a>
            <% end %>
            <% if @user.github_username.present? %>
              <a href="http://github.com/<%= @user.github_username %>" target="_blank" rel="noopener" class="crayons-link crayons-link--secondary ml-4">
                <%= inline_svg_tag("github.svg", aria: true, class: "crayons-icon", width: 24, height: 24, title: "GitHub") %>
              </a>
            <% end %>
            <% if @user.website_url.present? %>
              <a href="<%= @user.website_url %>" target="_blank" rel="noopener" class="crayons-link crayons-link--secondary ml-4">
                <%= inline_svg_tag("link-external.svg", aria: true, class: "crayons-icon", width: 24, height: 24, title: "Website") %>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
