<div class="article-actions" id="article-reaction-actions">
  <% if @article.published? %>
    <button id="reaction-butt-like" class="article-reaction-butt like-reaction-button" data-category="like" alt="heart-emoji" title="heart">
      <img alt="heart" src="<%= asset_path("emoji/emoji-one-heart.png") %>" /><span class="reaction-number" id="reaction-number-like"></span>
    </button>
    <button id="reaction-butt-unicorn" class="article-reaction-butt unicorn-reaction-button" data-category="unicorn" alt="unicorn-emoji" title="unicorn">
      <img alt="unicorn" src="<%= asset_path("emoji/emoji-one-unicorn.png") %>" /><span class="reaction-number" id="reaction-number-unicorn"></span>
    </button>
    <button id="reaction-butt-readinglist" class="article-reaction-butt readinglist-reaction-button" data-category="readinglist" alt="unicorn-emoji" title="reading list">
      <img alt="reading list" src="<%= asset_path("emoji/emoji-one-bookmark.png") %>" /><span class="reaction-number" id="reaction-number-readinglist"></span>
    </button>
    <a class="article-actions-tweet-button"
      id="article-actions-tweet-button"
      rel="noopener"
      target='_blank'
      href='https://twitter.com/intent/tweet?text="<%= u @article.title.strip %>" by <%= @article.user.twitter_username ? "@" + @article.user.twitter_username : @article.user.name %> %23DEVcommunity https://dev.to<%= @article.path %>'>
      <img src="<%= asset_path("twitter.svg") %>" alt="twitter logo">
    </a>
  <% end %>
  <a class="article-actions-comments-count" href="#comments" id="jump-to-comments">
    DISCUSS
    <% if @article.comments_count.positive? %>
      <span class="article-actions-comments-count-number">(<%= @article.comments_count %>)</span>
    <% else %>
    <% end %>
  </a>
  <div class="article-share-action-block">
    <button id="article-show-more-button" class="dropbtn" aria-label="Toggle dropdown menu">
      <img src="<%= asset_path("three-dots.svg") %>" class="dropdown-icon" alt="dropdown menu icon">
    </button>
    <div class="dropdown-content">
      <div>
        <% if user_signed_in? %>
          <div class="dropdown-link-row notification-subscriptions-area-row"
            id="notification-subscriptions-area" data-notifiable-id="<%= @article.id %>" data-notifiable-type="Article">
            <div class="notification-subscriptions-area-header">🔔 Notification Subscriptions
              <button for="subscribe_notifications" id="notification-subscription-label_not_subscribed" class="notification-subscription-label notification-subscription-label-unsubscribe" data-payload="not_subscribed" name="unsubscribe">
                Unsubscribe
              </button>
            </div>
            <button for="subscribe_notifications" id="notification-subscription-label_all_comments" class="notification-subscription-label" data-payload="all_comments">
              All Comments <span class="selected-emoji">✅</span>
            </button>
            <button for="subscribe_notifications" id="notification-subscription-label_top_level_comments" class="notification-subscription-label" data-payload="top_level_comments">
              Top Level Comments <span class="selected-emoji">✅</span>
            </button>
            <button for="subscribe_notifications" id="notification-subscription-label_only_author_comments" class="notification-subscription-label" data-payload="only_author_comments">
              Post Author Comments <span class="selected-emoji">✅</span>
            </button>
            <%= javascript_packs_with_chunks_tag "notificationSubscriptionHandler", defer: true %>
          </div>
        <% end %>
        <div class="dropdown-link-row">
          <clipboard-copy for="article-copy-link-input" aria-live="polite" aria-controls="article-copy-link-announcer">
            <input type="text" id="article-copy-link-input" value="<%= ApplicationConfig["APP_PROTOCOL"] %><%= ApplicationConfig["APP_DOMAIN"] %><%= @article.path %>" readonly />
            <img id="article-copy-icon" src="<%= asset_path("content-copy.svg") %>" alt="Copy to Clipboard" />
            <span id="article-copy-link-announcer" role="alert" hidden>Copied to Clipboard</span>
          </clipboard-copy>
        </div>
        <web-share-wrapper shareurl="https://dev.to<%= @article.path %>" sharetext="<%= @article.title %>" template="web-share-button">
          <div class="dropdown-link-row">
            <a target="_blank"
               href='https://twitter.com/intent/tweet?text="<%= u @article.title.strip %>" by <%= @article.user.twitter_username ? "@" + @article.user.twitter_username : @article.user.name %> %23DEVcommunity https://dev.to<%= @article.path %>'>
              Share to Twitter
            </a>
          </div>
          <div class="dropdown-link-row">
            <a target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&url=https://dev.to<%= @article.path %>&title=<%= @article.title %>&summary=<%= @article.description %>&source=dev.to'>
              Share to LinkedIn
            </a>
          </div>
          <div class="dropdown-link-row">
            <a target='_blank' href='https://www.reddit.com/submit?url=https://dev.to<%= @article.path %>&title=<%= @article.title %>'>
              Share to Reddit
            </a>
          </div>
          <div class="dropdown-link-row">
            <a target='_blank' href='https://news.ycombinator.com/submitlink?u=https://dev.to<%= @article.path %>&t=<%= @article.title %>'>
              Share to Hacker News
            </a>
          </div>
          <div class="dropdown-link-row">
            <a target='_blank' href='https://www.facebook.com/sharer.php?u=https://dev.to<%= @article.path %>'>
              Share to Facebook
            </a>
          </div>
        </web-share-wrapper>
        <template id="web-share-button">
          <div class="dropdown-link-row"><a href="#">Share Post</a></div>
        </template>
        <div class="dropdown-link-row"><a href="/report-abuse">Report Abuse</a></div>
      </div>
    </div>
  </div>
</div>
<% if @variant_number.to_i == 0 && !user_signed_in? && @article.body_markdown.size > 900 %>
  <% cache("below-article-html-variant-#{rand(20)}", expires_in: 8.hours) do %>
    <% @html_variant = HtmlVariant.find_for_test(@article.cached_tag_list_array, "article_show_below_article_cta") %>
    <% if @html_variant %>
      <div class="html-variant-wrapper" id="html-variant-article-show-below-article" data-variant-id="<%= @html_variant.id %>">
        <%= @html_variant.html.html_safe %>
      </div>
    <% end %>
  <% end %>
<% end %>
