<div class="article-actions" id="article-reaction-actions">
  <% unless user_signed_in? %>
    <div class="showpage-reaction-cta cta" id="showpage-reaction-cta">
      Did you find this post useful? Show some love!
      <div class="down-arrow"> </div>
    </div>
  <% end %>
  <button id="reaction-butt-like" class="article-reaction-butt like-reaction-button" data-category="like" alt="heart-emoji" title="heart">
    <img src="<%= asset_path("emoji/emoji-one-heart.png") %>" /><span class="reaction-number" id="reaction-number-like"></span>
  </button>
  <button id="reaction-butt-unicorn" class="article-reaction-butt unicorn-reaction-button" data-category="unicorn" alt="unicorn-emoji" title="unicorn">
    <img src="<%= asset_path("emoji/emoji-one-unicorn.png") %>" /><span class="reaction-number" id="reaction-number-unicorn"></span>
  </button>
  <button id="reaction-butt-readinglist" class="article-reaction-butt readinglist-reaction-button" data-category="readinglist" alt="unicorn-emoji" title="reading list">
    <img src="<%= asset_path("emoji/emoji-one-bookmark.png") %>" /><span class="reaction-number" id="reaction-number-readinglist"></span>
  </button>
  <a class="article-actions-tweet-button"
      target='_blank'
      href='https://twitter.com/intent/tweet?text="<%=u @article.title.strip %>" by <%= @article.user.twitter_username ? "@" + @article.user.twitter_username : @article.user.name %> %23DEVcommunity https://dev.to<%= @article.path %>'>
    <img src="<%= asset_path("twitter.svg") %>" />
  </a>
  <a class="article-actions-comments-count" href="#comments" id="jump-to-comments">
    DISCUSSION
    <% if @article.comments_count.nonzero? %>
      (<%= @article.comments_count %>)
    <% else %>
    <% end %>
  </a>
  <div class="article-share-action-block">
    <button id="article-show-more-button" class="dropbtn">
      <img src="<%= asset_path("three-dots.svg") %>" class="dropdown-icon" />
    </button>
    <div class="dropdown-content">
      <div>
        <div class="dropdown-link-row">
          <input value="https://dev.to<%= @article.path %>" onClick="this.setSelectionRange(0, this.value.length)" readonly/>
        </div>
        <div class="dropdown-link-row"><a target='_blank' href='https://twitter.com/intent/tweet?text="<%= @article.title %>" by <%= @article.user.twitter_username ? "@" + @article.user.twitter_username : @article.user.name %> %23DEVcommunity https://dev.to<%= @article.path %>'>Share to Twitter</a></div>
        <div class="dropdown-link-row"><a target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&url=https://dev.to<%=@article.path%>&title=<%=@article.title%>&summary=<%=@article.description%>&source=dev.to'>Share to LinkedIn</a></div>
        <div class="dropdown-link-row"><a target='_blank' href='https://www.reddit.com/submit?url=https://dev.to<%=@article.path%>&title=<%= @article.title %>'>Share to Reddit</a></div>
        <div class="dropdown-link-row"><a target='_blank' href='https://www.facebook.com/sharer.php?u=https://dev.to<%=@article.path%>'>Share to Facebook</a></div>
        <div class="dropdown-link-row"><a href="/report-abuse">Report Abuse</a></div>
      </div>
    </div>
  </div>
</div>
<% unless user_signed_in? %>
  <div class="showpage-signin-cta cta" id="showpage-signin-cta">
    <a href="/">dev.to</a> is where software developers read, write, and level up.
    <span style="display:block;margin-top:30px;"><a href="/enter" id="primary-cta-link" class="primary-cta-link">Sign Up Now</a></span>
    <br/>
     <span class="showpage-signin-cta-subtext">(open source and free forever ❤️)</span>
  </div>
<% end %>
