<% if @user.badge_achievements_count > 0 %>
  <div class="crayons-card crayons-card--secondary">
    <header class="crayons-card__header">
      <h3 class="crayons-subtitle-3">Badges</h3>
    </header>
    <div class="crayons-card__body grid gap-4 grid-cols-3 m:grid-cols-2">
      <% @user.badge_achievements.order(id: :desc).includes(:badge).each do |achievement| %>
        <a href="/badge/<%= achievement.badge.slug %>" title="<%= achievement.badge.title %>">
          <img src="<%= optimized_image_url(achievement.badge.badge_image_url, width: 180) %>" alt="<%= achievement.badge.title %>" class="mx-auto max-w-100 h-auto align-middle" style="transform: rotate(<%= rand(-10..10) %>deg);" />
        </a>
      <% end %>
    </div>
  </div>
<% end %>
