<% if @user.badge_achievements_count > 0 %>
  <div class="crayons-card crayons-card--secondary">
    <header class="crayons-card__header">
      <h3 class="crayons-subtitle-3">Badges</h3>
    </header>
    <div class="crayons-card__body">
      <div class="grid gap-4 grid-cols-3 s:grid-cols-4 m:grid-cols-2 align-center items-center js-profile-badges">
        <% @user.badge_achievements.order(id: :desc).includes(:badge).each_with_index do |achievement, i| %>
          <a href="/badge/<%= achievement.badge.slug %>" title="<%= achievement.badge.title %>" class="js-profile-badge <% if i >= @badges_limit %>hidden<% end %>">
            <img src="<%= optimized_image_url(achievement.badge.badge_image_url, width: 180) %>" alt="<%= achievement.badge.title %>" class="mx-auto max-w-75 h-auto align-middle" style="transform: rotate(<%= rand(-10..10) %>deg);" />
          </a>
        <% end %>
      </div>

      <% if @user.badge_achievements_count > @badges_limit %>
        <button type="button" class="crayons-btn crayons-btn--ghost-brand crayons-btn--s w-100 js-profile-badges-trigger">Show all <%= @user.badge_achievements_count %> badges</button>
      <% end %>
    </div>
  </div>
<% end %>
