<div class="block" id="block-index-<%= i %>">
  <% if show_published %>
    <script>
      <%== block.published_javascript %>
    </script>
    <%= tag.style block.published_css, escape_attributes: false %>
    <div class="block-wrapper-<%= block.id %>">
      <%= sanitize block.published_html %>
    </div>
  <% else %>
    <script>
      <%== block.processed_javascript %>
    </script>
    <%= tag.style block.processed_css, escape_attributes: false %>
    <div class="block-wrapper-<%= block.id %>">
      <%= sanitize block.processed_html %>
    </div>
  <% end %>
</div>
