<% if articles %>
<div class="more-articles crayons-card crayons-card--secondary">
  <h1 class="fs-4xl fw-bold mb-4">
    Read Next
  </h1>
  <% articles.each do |article| %>
    <a href="<%= article.path %>" data-preload-image="<%= cloud_cover_url(article.main_image) %>">
      <div class="single-other-article">
        <div class="picture">
          <%= optimized_image_tag(article.cached_user.profile_image_url,
                                  optimizer_options: { crop: "imagga_scale", width: 100, height: 100 },
                                  image_options: { loading: "lazy", alt: "#{article.cached_user.username} profile image" }) %>
        </div>
        <div class="content">
          <h3 class="fs-2xl fw-bold mb-0"><%= article.title %></h3>
          <h4 class="fs-base">
            <%= article.cached_user.name %> - <time datetime="<%= article.published_timestamp %>"><%= article.readable_publish_date %></time>
          </h4>
        </div>
      </div>
    </a>
  <% end %>
</div>
<% end %>
