<% if articles %>
  <div class="more-articles container">
    <% articles.each do |article| %>
      <a href="<%= article.path %>" data-preload-image="<%= cloud_cover_url(article.main_image) %>">
        <div class="single-other-article">
          <div class="picture" data-hover-details="users/<%= article.user_id %>">
            <img src="<%= ProfileImage.new(article.cached_user).get(90) %>" alt="<%= article.cached_user.username %> profile image"/>
          </div>
          <div class="content">
            <h3><%= article.title %></h3>
            <h4 data-hover-details="users/<%= article.user_id %>">
              <%= article.cached_user.name %>・<time datetime="<%= article.published_timestamp %>"><%= article.readable_publish_date %></time>
            </h4>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% end %>
