<div class="align-center">
  <% if @comments_to_show_count && @article.comments_count > @comments_to_show_count %>
    <div class="mb-4">
      <a class="crayons-btn crayons-btn--secondary w-100" href="<%= @article.path %>/comments">
        <%= t("core.view") %> <%= t("core.full") %> <%= t("core.discussion") %> (<%= @article.comments_count %> comments)
      </a>
    </div>
  <% end %>

  <% if @article.any_comments_hidden %>
    <p class="fs-s color-base-60 mb-4">
      Some comments have been hidden by the post's author - <a href="/faq">find out more</a>
    </p>
  <% end %>

  <%= render "articles/conduct_and_abuse_actions", page: "articles_show" %>
</div>
