<% cache("whole-comment-area-#{@presenter.id}-#{@presenter.last_comment_at}-#{@presenter.show_comments}", expires_in: 2.hours) do %>
  <div id="comments" data-updated-at="<%= Time.current %>">
    <% if @presenter.show_comments %>
      <div class="comments-container-container">
        <div
          class="comments-container"
          id="comments-container"
          data-commentable-id="<%= @presenter.id %>"
          data-commentable-type="Article">
          <%= render "/comments/form",
                     commentable: @presenter,
                     commentable_type: "Article" %>
          <div class="comment-trees" id="comment-trees-container">
            <% if @presenter.comments_count > 0 %>
              <% Comment.tree_for(@presenter, @comments_to_show_count).each do |comment, sub_comments| %>
                <% cache ["comment_root_cached_tree", comment] do %>
                  <%= tree_for(comment, sub_comments, @presenter) %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="show-comments-footer">
          <%= render "articles/comments_actions" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% return if @warm_only %>
