<div class='ltag__link'>
  <a href='<%= article.user.path %>' class='ltag__link__link'>
    <div class='ltag__link__pic'>
      <img src='<%= profile_img %>' alt='<%= article.user.username + " " + "image"%>'/>
    </div>
  </a>
  <a href='<%= article.path %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= title %></h2>
      <h3><%= article.user.name %></h3>
      <div class='ltag__link__taglist'><%= article.tag_list.map { |t| "<span class='ltag__link__tag'>##{t}</span>" }.join.html_safe %></div>
    </div>
  </a>
</div>
