<% if organization && organization.bg_color_hex.present? %>
  <div class="flex <% if author == true %>mt-6<% end %>">
    <a href="/<%= organization.slug %>" class="crayons-logo crayons-logo--2xl shrink-0 mr-4">
      <% cache("article-organization-image-#{organization.id}-#{organization.updated_at.rfc3339}", expires_in: 100.hours) do %>
        <img src="<%= Images::Profile.call(organization.profile_image_url) %>" alt="<%= organization.name %>" class="crayons-logo__image" />
      <% end %>
    </a>
    <div>
      <h3 class="fs-l s:fs-xl m:fs-2xl l:fs-3xl fw-medium"><a href="/<%= organization.slug %>" class="crayons-link"><%= organization.name %></a></h3>
      <% if organization.summary %>
        <div class="color-base-70 mb-4"><%= organization.summary %></div>
      <% end %>
      <% if organization.twitter_username.present? || organization.website_url.present? %>
        <div class="social">
          <% if organization.twitter_username.present? %>
            <a href="https://twitter.com/<%= organization.twitter_username %>" target="_blank" class="crayons-link crayons-link--secondary" rel="noopener" title="@<%= organization.twitter_username %>">
            <%= inline_svg_tag("twitter.svg", aria: true, class: "crayons-icon", width: 24, height: 24, title: "Twitter") %>
            </a>
          <% end %>
          <% if organization.website_url.present? %>
            <a href="<%= organization.website_url %>" target="_blank" rel="noopener" class="ml-2 crayons-link crayons-link--secondary" title="<%= beautified_url organization.website_url %>">
              <%= inline_svg_tag("link-external.svg", aria: true, class: "crayons-icon", width: 24, height: 24, title: "Website") %>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
