<form id="main-status-form" action="/articles" accept-charset="UTF-8" data-remote="true" method="post">
<input name="utf8" type="hidden" value="✓" autocomplete="off">
<input type="hidden" name="authenticity_token" value="NOTHING" autocomplete="off">
<div class="<%= "crayons-card p-2" unless expanded %>">
  <textarea class="crayons-textfield element-focused"
    placeholder="<%= expanded ? "Anything to add?" : t("views.stories.status_placeholder") %>" aria-label="<%= t("views.stories.status_placeholder") %>" maxlength="256" rows="1" name="article[title]" id="article_title" style="height: 40px;"></textarea>
  <input value="status" autocomplete="off" type="hidden" name="article[type_of]" id="article_type_of">
  <input value="1" autocomplete="off" type="hidden" name="article[published]" id="article_published">
  <% if @article && @article.published == true && @user && !Rails.env.test? %>
    <%= render "articles/liquid", article: @article, title: @article.title %>
    <input value="<%= article_url(@article) %>" autocomplete="off" type="hidden" name="article[body_url]" id="article_body_url">
  <% else %>
    <input value="" autocomplete="off" type="hidden" name="article[body_markdown]" id="article_body_markdown">
  <% end %>
  <div id="main-status-form-controls" class="justify-between items-center pt-2 <%= expanded ? "flex " : "hidden" %>">
    <div class="fs-xs color-base-60">
      <%= t("views.stories.status_hint_html") %>
    </div>
    <div class="flex items-center">
      <div class="fs-s color-base-60 pr-2 align-right pr-1" style="min-width:65px">
        <span id="main-status-form-char-count">0</span>/256
      </div>
      <input type="submit" name="commit" value="<%= t("views.stories.submit") %>" class="crayons-btn crayons-btn--primary py-1" data-disable-with="Post">
    </div>
  </div>
</div>
</form>

<script defer>

let statusForm = document.getElementById('main-status-form');
let loopingForCSRF = setInterval(() => {
  if (window.csrfToken !== undefined) {
    statusForm.querySelector('input[name="authenticity_token"]').value = window.csrfToken;
    clearInterval(loopingForCSRF);
  }
}, 25);

let enterKey = 13;
document.getElementById('article_title').onkeydown = function (e) {
  if (window.Forem.Runtime.hasOSSpecificModifier(e) && e.keyCode === enterKey) {
    document.getElementById('main-status-form').submit();
  }
  else if (e.keyCode === enterKey) {
    e.preventDefault();
  }

}

document.getElementById('article_title').onkeyup = function (e) {
  let textarea = e.target;
  textarea.style.height = `${textarea.scrollHeight + 3}px`; // Set height to content height
  document.getElementById('main-status-form-char-count').innerText = document.getElementById('article_title').value.length;
}

</script>