<button
  role="checkbox"
  id="reaction-butt-<%= category %>"
  class="crayons-btn crayons-btn--ghost article-reaction-butt <%= category %>-reaction-button"
  data-category="<%= category %>"
  alt="<%= description %>"
  title="<%= description %>">
  <%= inline_svg_tag(image_path, aria: true, class: "crayons-icon", title: description) %>
  <span class="fs-s fw-normal color-base-70" id="reaction-number-<%= category %>" alt="count"><span class="bg-base-40 opacity-25 p-2 inline-block radius-default"></span></span>
</button>
