<button
  role="checkbox"
  id="reaction-butt-<%= category %>"
  class="article-reaction-butt <%= category %>-reaction-button"
  data-category="<%= category %>"
  alt="<%= description %>"
  title="<%= description %>">
  <img
    alt="<%= description %>"
    src="<%= asset_path(image_path) %>" />
  <span class="reaction-number" id="reaction-number-<%= category %>" alt="count"></span>
</button>
