<div class="sidebar-nav" id="sidebar-nav">
  <% if user_signed_in? %>
    <a class="sidebar-profile" id="sidebar-profile" href="#">
      <img src="" class="sidebar-profile--avatar" id="sidebar-profile--avatar" alt="" width="48" height="48">
      <div class="sidebar-profile--details">
        <h4 class="sidebar-profile--name" id="sidebar-profile--name"></h4>
        <small class="sidebar-profile--username" id="sidebar-profile--username"></small>
      </div>
    </a>
  <% end %>
  <div class="widget sidebar-nav-block sidebar-tag-block">
    <% if user_signed_in? %>
      <div class="sidebar-nav-element sidebar-main-nav">
        <a class="sidebar-nav-link" href="<%= readinglist_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-bookmark.png") %>" alt="reading list icon" /> Reading List
          <span id="reading-list-count"></span>
        </a>
        <a class="sidebar-nav-link" href="<%= classified_listings_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-clipboard.png") %>" alt="listings icon" /> Listings
        </a>
        <a class="sidebar-nav-link" href="<%= videos_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-videocamera.png") %>" alt="videos icon" /> Videos
        </a>
        <a class="sidebar-nav-link" href="<%= pod_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-headphones.png") %>" alt="podcasts icon" /> Podcasts
        </a>
      </div>
    <% end %>
    <header>
      <% if user_signed_in? %>
        My Tags
      <% else %>
        Design Your Experience
      <% end %>
    </header>
    <div class="sidebar-nav-block-inner">
      <div id="sidebar-nav-followed-tags" class="sidebar-nav-followed-tags"></div>
      <div id="sidebar-nav-default-tags" class="sidebar-nav-default-tags <%= "showing" unless user_signed_in? %>">
        <% if user_signed_in? %>
          <header id="tag-separator">Other Popular Tags</header>
        <% end %>
        <% Tag.where(supported: true).order("hotness_score DESC").limit(30).pluck(:id, :name).each do |tag_array| %>
          <div class="sidebar-nav-element" id="default-sidebar-element-<%= tag_array.second %>">
            <a class="sidebar-nav-link sidebar-nav-link-tag" href="<%= tag_path(tag_array.second) %>">
              <span class="sidebar-nav-tag-text">
                #<%= tag_array.second %>
              </span>
            </a>
            <a class="follow-action-button sidebar-nav-link-follow cta"
               href="#" id="sidebar-nav-link-follow-<%= tag_array.second %>"
               data-info='{"id":<%= tag_array.first %>,"className":"Tag"}'>
              + FOLLOW
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <a href="<%= tags_path %>" class="cta cta-button">View all-time top tags</a>
  </div>
</div>
