<nav class="mb-6" id="sidebar-nav" aria-label="Primary sidebar nav">
  <% if user_signed_in? %>
    <a class="crayons-link crayons-link--block mb-2 flex break-word items-start" id="sidebar-profile" href="#">
      <span class="crayons-avatar crayons-avatar--xl shrink-0 mr-2">
        <img src="" class="crayons-avatar__image" id="sidebar-profile--avatar" alt="" width="48" height="48">
      </span>

      <div class="flex-1">
        <h4 class="fs-base fw-bold" id="sidebar-profile--name"></h4>
        <small class="fs-s opacity-75" id="sidebar-profile--username"></small>
      </div>
    </a>
  <% end %>
  <% unless user_signed_in? %>
    <a href="<%= sign_up_path %>" class="crayons-link crayons-link--block fw-bold">
      <%= inline_svg_tag("twemoji/handshake.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Sign In/Up") %>
      Sign In/Up
    </a>
  <% end %>
  <% if false # Let's bring it when ready %>
    <a href="/" class="crayons-link crayons-link--block">
      <%= inline_svg_tag("twemoji/house.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Home") %>
      Home
    </a>
  <% end %>

  <div class="sidebar-navigation-links">
    <% NavigationLink.ordered[0..4].each do |link| %>
      <%= render "articles/sidebar_nav_link", link: link %>
    <% end %>

    <% if NavigationLink.all.length > 5 %>
      <a href="javascript:void(0)" class="crayons-link crayons-link--secondary crayons-link--block crayons-link--block--indented fs-s" id="main-nav-more-trigger">More...</a>

      <div class="hidden" id="main-nav-more">
        <% NavigationLink.ordered[5..].each do |link| %>
          <%= render "articles/sidebar_nav_link", link: link %>
        <% end %>
      </div>
  </div>
  <% end %>
</nav>

<nav class="sidebar-tags-browser mb-6 overflow-y-auto scrolling-touch" aria-label="Secondary sidebar nav">
  <% if user_signed_in? %>
    <header class="fs-xs color-base-50 ff-monospace fw-bold p-2">MY TAGS</header>
    <div id="sidebar-nav-followed-tags" class="sidebar-nav-followed-tags"></div>
  <% end %>
  <div id="sidebar-nav-default-tags" class="sidebar-nav-default-tags <%= "showing" unless user_signed_in? %>">
    <header id="tag-separator" class="fs-xs color-base-50 ff-monospace fw-bold p-2">
      <% if user_signed_in? %>
        OTHER POPULAR TAGS
      <% else %>
        DESIGN YOUR EXPERIENCE
      <% end %>
    </header>
    <% Tag.where(supported: true).order(hotness_score: :desc).limit(30).pluck(:id, :name).each do |tag_array| %>
      <div class="sidebar-nav-element" id="default-sidebar-element-<%= tag_array.second %>">
        <a class="crayons-link crayons-link--block" href="<%= tag_path(tag_array.second) %>">
          #<%= tag_array.second %>
        </a>
        <a class="follow-action-button sidebar-nav-link-follow crayons-btn crayons-btn--s crayons-btn--secondary_"
          href="#" id="sidebar-nav-link-follow-<%= tag_array.second %>"
          data-info='{"id":<%= tag_array.first %>,"className":"Tag"}'>
          Follow
        </a>
      </div>
    <% end %>
</nav>
