<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right">
  <div class="sidebar-bg" id="sidebar-bg-right"></div>
  <div class="side-bar sidebar-additional showing" id="sidebar-additional">
    <% unless user_signed_in? %>
      <div class="widget signin-cta-widget">
        <header class="signin-cta-widget-header">
          Join <%= ApplicationConfig["COMMUNITY_NAME"] %>
        </header>
        <div class="widget-body">
          <% if SiteConfig.auth_allowed?("twitter") %>
            <a href="/users/auth/twitter?callback_url=<%= ApplicationConfig["APP_PROTOCOL"] %><%= ApplicationConfig["APP_DOMAIN"] %>/users/auth/twitter/callback" class="cta cta-button login-cta-button" data-no-instant>Sign In With Twitter</a>
          <% end %>
          <% if SiteConfig.auth_allowed?("github") %>
            <a href="/users/auth/github?state=navbar_basic" class="cta cta-button login-cta-button" data-no-instant>Sign In With GitHub</a>
          <% end %>
        </div>
      </div>
    <% end %>
    <% cache(cache_key_heroku_slug("main-article-right-sidebar-discussions-#{params[:timeframe]}"), expires_in: (params[:timeframe].blank? ? 120 : 360).seconds) do %>
      <% @sidebar_ad = DisplayAd.for_display("sidebar_right") %>
      <% if @sidebar_ad %>
        <div class="widget">
          <div class="widget-body" style="margin-top:-6px">
            <%= @sidebar_ad.processed_html.html_safe %>
          </div>
        </div>
      <% end %>
      <%= render "articles/sidebar_campaign" if SiteConfig.campaign_sidebar_enabled? %>
      <% if params[:timeframe].blank? && @classified_listings.any? %>
        <div class="crayons-widget mb-4">
          <header class="crayons-widget__header">
            <h3 class="crayons-widget__title">Listings</h3>
            <div class="crayons-widget__actions">
              <a href="/listings" class="fs-s color-accent-brand">See all</a>
            </div>
          </header>
          <div class="crayons-widget__body p-0">
            <% @classified_listings.order("bumped_at DESC").limit(5).each do |listing| %>
              <a href="<%= listing.path %>" class="crayons-widget__link">
                <%= listing.title %>
                <div class="crayons-widget__link__additional">
                  <%= listing.category %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
      <% SiteConfig.sidebar_tags.each do |tag| %>
        <div class="widget">
          <header>
            <a href="/t/<%= tag %>"><h4>#<%= tag %></h4></a>
          </header>
          <div class="widget-body">
            <div class="widget-link-list">
              <% if tag == "help" %>
                <% Article.active_help.limit(8).pluck(:path, :title, :comments_count, :created_at).each do |plucked_article| %>
                  <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: true %>
                <% end %>
              <% else %>
                <% Article.active_threads([tag], Timeframer.new(params[:timeframe]).datetime, 5).each do |plucked_article| %>
                  <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: true %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% unless user_signed_in? %>
      <% cache("seo-boostable-posts-homepage-#{params[:timeframe]}-xoxo", expires_in: 18.hours) do %>
        <% boostable_posts = Article.seo_boostable(nil, Timeframer.new(params[:timeframe]).datetime) %>
        <% if boostable_posts.present? %>
          <div class="widget">
            <header>
              <h4>trending guides/resources</h4>
            </header>
            <div class="widget-body">
              <div class="widget-link-list">
                <% boostable_posts.each do |plucked_article| %>
                  <%= render "articles/widget_list_item", plucked_article: plucked_article, show_comment_count: false %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
