<nav class="mb-6" id="sidebar-nav" aria-label="Primary sidebar nav">
  <% if user_signed_in? %>
    <a class="crayons-link crayons-link--block mb-2 flex break-word items-start" id="sidebar-profile" href="#">
      <span class="crayons-avatar crayons-avatar--xl shrink-0 mr-2">
        <%# That `src` is basically an empty gif - the tiniest possible image - it serves as a placeholder until the proper profile image is loaded. It's better to have this rather than empty `src` because empty src may look off here and there for a split of a second. %>
        <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="crayons-avatar__image" id="sidebar-profile--avatar" alt="" width="48" height="48">
      </span>

      <div class="flex-1">
        <h2 class="fs-base fw-bold" id="sidebar-profile--name"></h2>
        <small class="fs-s opacity-75" id="sidebar-profile--username"></small>
      </div>
    </a>
  <% end %>
  <% unless user_signed_in? %>
    <a href="<%= sign_up_path %>" class="crayons-link crayons-link--block fw-bold">
      <%= inline_svg_tag("twemoji/handshake.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Sign In/Up") %>
      Sign In/Up
    </a>
  <% end %>
  <% if false # Let's bring it when ready %>
    <a href="/" class="crayons-link crayons-link--block">
      <%= inline_svg_tag("twemoji/house.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Home") %>
      Home
    </a>
  <% end %>

  <div class="sidebar-navigation-links">
    <% NavigationLink.ordered[0..4].each do |link| %>
      <%= render "articles/sidebar_nav_link", link: link %>
    <% end %>

    <% if NavigationLink.all.length > 5 %>
      <a href="javascript:void(0)" class="crayons-link crayons-link--secondary crayons-link--block crayons-link--block--indented fs-s" id="main-nav-more-trigger">More...</a>

      <div class="hidden" id="main-nav-more">
        <% NavigationLink.ordered[5..].each do |link| %>
          <%= render "articles/sidebar_nav_link", link: link %>
        <% end %>
        <div class="flex justify-around p-4 mt-4 border-solid border-0 border-t-1 border-base-10">
          <%= render partial: "layouts/social_media" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>

<nav class="mb-6" aria-label="Secondary sidebar nav">
  <% if user_signed_in? %>
    <header class="p-2 pr-0 flex items-center justify-between">
      <h3 class="crayons-subtitle-3">My Tags</h3>
      <a href="/dashboard/following_tags" class="crayons-btn crayons-btn--icon crayons-btn--ghost-dimmed" aria-label="Customize tag priority" title="Customize tag priority">
        <%= inline_svg_tag("cog.svg", class: "crayons-icon") %>
      </a>
    </header>
    <div id="sidebar-nav-followed-tags" class="overflow-y-auto mb-2" style="max-height: 42vh;"></div>
  <% else %>
    <h3 class="crayons-subtitle-3 p-2">Popular Tags</h3>
    <div id="sidebar-nav-default-tags" class="overflow-y-auto" style="max-height: 42vh">
      <% Tag.where(supported: true).order(hotness_score: :desc).limit(30).pluck(:id, :name).each do |tag_array| %>
        <div class="sidebar-nav-element" id="default-sidebar-element-<%= tag_array.second %>">
          <a class="crayons-link crayons-link--block py-2 px-2" href="<%= tag_path(tag_array.second) %>">
            #<%= tag_array.second %>
          </a>
          <a class="follow-action-button sidebar-nav-link-follow crayons-btn crayons-btn--s"
            href="#" id="sidebar-nav-link-follow-<%= tag_array.second %>"
            data-info='{"id":<%= tag_array.first %>,"className":"Tag"}'>
            Follow
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</nav>
