<div class="sidebar-nav" id="sidebar-nav">
  <% if user_signed_in? %>
    <div class="sidebar-profile-snapshot">
      <a class="sidebar-profile-snapshot-inner" id="sidebar-profile-snapshot-inner" href="#">
        <div class="sidebar-profile-pic" id="sidebar-profile-pic">
        </div>
        <div class="sidebar-profile-content">
          <div class="sidebar-profile-name" id="sidebar-profile-name">
          </div>
          <div class="sidebar-profile-username" id="sidebar-profile-username">
          </div>
        </div>
      </a>
    </div>
  <% end %>
  <div class="widget sidebar-nav-block sidebar-tag-block">
    <% if user_signed_in? %>
      <div class="sidebar-nav-header sidebar-nav-header-middle">
        navigation
      </div>
      <div class="sidebar-nav-element">
        <a class="sidebar-nav-link" href="<%= readinglist_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-bookmark.png") %>" alt="reading list icon" /> Reading List
          <span id="reading-list-count"></span>
        </a>
        <a class="sidebar-nav-link pro-visible-block" href="<%= history_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-filmstrip.png") %>" alt="history icon" /> History
        </a>
        <a class="sidebar-nav-link" href="<%= classified_listings_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-clipboard.png") %>" alt="listings icon" /> Listings
        </a>
        <a class="sidebar-nav-link" href="<%= videos_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-videocamera.png") %>" alt="videos icon" /> Videos
        </a>
        <a class="sidebar-nav-link" href="<%= pod_path %>">
          <img class="nav-emoji" src="<%= asset_path("emoji/emoji-one-headphones.png") %>" alt="podcasts icon" /> Podcasts
        </a>
      </div>
    <% end %>
    <div class="sidebar-nav-header sidebar-nav-header-middle">
      <% if user_signed_in? %>
        my tags
      <% else %>
        design your experience
      <% end %>
    </div>
    <div class="sidebar-nav-block-inner">
      <div id="sidebar-nav-followed-tags" class="sidebar-nav-followed-tags"></div>
      <div id="sidebar-nav-default-tags" class="sidebar-nav-default-tags <%= "showing" unless user_signed_in? %>">
        <% if user_signed_in? %>
          <div class="sidebar-nav-subheader tag-separator" id="tag-separator">Other Popular Tags</div>
        <% end %>
        <% Tag.where(supported: true).order("hotness_score DESC").limit(30).pluck(:id, :name).each do |tag_array| %>
          <div class="sidebar-nav-element" id="default-sidebar-element-<%= tag_array.second %>">
            <a class="sidebar-nav-link" href="<%= tag_path(tag_array.second) %>">
              <span class="sidebar-nav-tag-text">
                #<%= tag_array.second %>
              </span>
            </a>
            <a class="follow-action-button sidebar-nav-link-follow cta"
               href="#" id="sidebar-nav-link-follow-<%= tag_array.second %>"
               data-info='{"id":<%= tag_array.first %>,"className":"Tag"}'>
              + FOLLOW
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="sidebar-nav-subheader">
      <a href="<%= tags_path %>">View all-time top tags</a>
    </div>
  </div>
</div>
