<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right">
  <div class="sidebar-bg" id="sidebar-bg-right"></div>
  <div class="side-bar sidebar-additional showing" id="sidebar-additional">
    <% if @user && @user.class.name == "User" %>
      <% @user.github_repos.where(featured: true).order({stargazers_count: :desc}, {name: :asc}).each do |repo| %>
        <a class="widget" href="<%= repo.url %>" target="_blank">
          <header>
            <span class="emoji"><img src="<%= asset_path("github-logo.svg") %>" /></span> <%= repo.name %>
          </header>
          <div class="widget-body" style="font-size:0.85em;">
            <%= repo.description %>
            <div class="widget-footer">
              <% if repo.fork %>
                <span class="widget-accent">fork</span>
              <% end %>
              <%= repo.language %>
              <% if repo.stargazers_count > 0%>
                <img src="<%= asset_path("star.svg") %>" /> <%= repo.stargazers_count %>
              <% end %>
            </div>
          </div>
        </a>
      <% end %>
      <% if Reaction.for_display(@user).size > 0 %>
        <div class="widget">
          <header>
            &lt;RECENT REACTIONS&gt;
          </header>
          <div class="widget-body">
            <% Reaction.for_display(@user).each do |reaction| %>
              <div class="row">
                <div class="key">
                  <%= image_tag(ReactionImage.new(reaction.category).path, style:"height:22px;width:22px;border:0px;vertical-align:5px;") %>
                </div>
                <div class="value" style="padding:5px 2px 0px 10px;">
                  <a href="<%= reaction.reactable.path %>"><%= reaction.reactable.title %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% elsif @user && @user.class.name == "Organization" %>
    <% elsif @tag || @query %>
    <% elsif @podcast_index %>
    <% else %>
      <% unless user_signed_in? %>
        <div class="widget signin-cta-widget">
          <header>
            &lt;SIGN UP&gt;
          </header>
          <div class="widget-body">
            <p style="margin-bottom: 12px;">Join thousands of developers leveling up their game together.</p>
            <center style="margin-bottom: 12px;">
              <a href="/users/auth/twitter?state=navbar_basic" class="cta cta-button" data-no-instant>
                TWITTER
              </a>
              <a href="/users/auth/github?state=navbar_basic" class="cta cta-button" data-no-instant>
                GITHUB
              </a>
            </center>
          </div>
        </div>
      <% end %>
      <% if @sidebar_ad %>
        <div class="widget">
          <div class="widget-body" style="margin-top:-6px">
            <%= @sidebar_ad.processed_html.html_safe %>
          </div>
        </div>
      <% end %>
      <% if Article.active_help.any? %>
        <div class="widget">
          <header>
            <#HELP>
          </header>
          <div class="widget-body">
            <div class="widget-link-list">
              <% Article.active_help.limit(8).pluck(:path,:title,:comments_count, :created_at).each do |plucked_article| %>
                <div class="widget-link-list__item">
                  <a href="<%= plucked_article[0] %>">
                    <%= plucked_article[1] %> <span class="discuss-list-comment-count <%= "discuss-list-comment-count-brand-new" if plucked_article[2] == 0 %>"><%= plucked_article[2] == 0 ? "fresh" : plucked_article[2] %></span>
                  </a>
                </div>
              <% end %>
            </div>
            <p><center><a class="cta cta-button" href="/new/help">ASK FOR HELP</a></center></p>
          </div>
        </div>
      <% end %>
      <% if Flipflop.she_coded? %>
      <div class="widget">
        <header>
          <#SHECODED>
        </header>
        <div class="widget-body">
          <div class="widget-link-list">
            <% Article.
              where(published: true).
              tagged_with("shecoded").
              order("created_at DESC").
              limit(20).
              pluck(:path, :title, :comments_count, :created_at).
              each do |plucked_article| %>
              <div class="widget-link-list__item">
                <a href="<%= plucked_article[0] %>">
                  <%= plucked_article[1] %> <span class="discuss-list-comment-count <%= " discuss-list-comment-count-brand-new " if plucked_article[2] == 0 %>"><%= plucked_article[2] == 0 ? "fresh" : plucked_article[2] %>
                  </span>
                </a>
              </div>
            <% end %>
          </div>
          <p><center><a class="cta cta-button" href="/new/shecoded">TELL YOUR STORY</a></center></p>
        </div>
      </div>
      <% else %>
          <div class="widget">
            <header>
              <#DISCUSS>
            </header>
            <div class="widget-body">
              <div class="widget-link-list">
                <% Article.
                  where(published:true).
                  tagged_with("discuss").
                  order("created_at DESC").
                  limit(8).
                  pluck(:path, :title, :comments_count, :created_at).
                  each do |plucked_article| %>
                  <div class="widget-link-list__item">
                    <a href="<%= plucked_article[0] %>">
                      <%= plucked_article[1] %> <span class="discuss-list-comment-count <%= "discuss-list-comment-count-brand-new" if plucked_article[2] == 0 %>"><%= plucked_article[2] == 0 ? "fresh" : plucked_article[2] %></span>
                    </a>
                  </div>
                <% end %>
              </div>
              <p><center><a class="cta cta-button" href="/new/discuss">TELL YOUR STORY</a></center></p>
            </div>
          </div>
        <% end %>
      <div class="widget">
        <header>
          <#EXPLAINLIKEIMFIVE>
        </header>
        <div class="widget-body">
          <div class="widget-link-list">
            <% Article.
              where(published:true).
              tagged_with("explainlikeimfive").
              order("created_at DESC").
              limit(8).
              pluck(:path,:title,:comments_count, :created_at).
              each do |plucked_article| %>
              <div class="widget-link-list__item">
                <a href="<%= plucked_article[0] %>">
                  <%= plucked_article[1] %> <span class="discuss-list-comment-count <%= "discuss-list-comment-count-brand-new" if plucked_article[2] == 0 %>"><%= plucked_article[2] == 0 ? "fresh" : plucked_article[2] %></span>
                </a>
              </div>
            <% end %>
          </div>
          <p><center><a class="cta cta-button" href="/new/explainlikeimfive">ASK FOR AN EXPLANATION</a></center></p>
        </div>
      </div>
      <div class="widget" id="podcast-widget">
        <header>
          &lt;LATEST PODCASTS&gt;
        </header>
        <div class="widget-body">
            <% @podcast_episodes.each do |ep| %>
              <div class="widget-podcast-ep">
                <a href="<%= ep.path %>"><%= ep.title %>
                <div class="widget-podcast-title">
                  <a href="<%= ep.podcast.path %>"><%= ep.podcast.title %>
                </div>
              </div>
            <% end %>
            <p><center><a class="cta cta-button" href="/pod">VIEW ALL</a></center></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
