<nav class="mb-6 sidebar-nav" id="sidebar-nav" aria-label="Primary sidebar nav">

  <% NavigationLink.ordered[0..4].each do |link| %>
    <%= render "articles/sidebar_nav_link", link: link %>
  <% end %>

  <% if NavigationLink.all.length > 5 %>
    <a href="javascript:void(0)" class="crayons-link crayons-link--secondary crayons-link--block crayons-link--block--indented fs-s" id="main-nav-more-trigger">More...</a>

    <div class="hidden" id="main-nav-more">
      <% NavigationLink.ordered[5..].each do |link| %>
        <%= render "articles/sidebar_nav_link", link: link %>
      <% end %>
    </div>
  <% end %>
</nav>

<nav class="sidebar-tags-browser mb-6 overflow-y-auto scrolling-touch" aria-label="Secondary sidebar nav">
  <% if user_signed_in? %>
    <header class="fs-xs color-base-50 ff-monospace fw-bold p-2">MY TAGS</header>
    <div id="sidebar-nav-followed-tags" class="sidebar-nav-followed-tags"></div>
  <% end %>
  <div id="sidebar-nav-default-tags" class="sidebar-nav-default-tags <%= "showing" unless user_signed_in? %>">
    <header id="tag-separator" class="fs-xs color-base-50 ff-monospace fw-bold p-2">
      <% if user_signed_in? %>
        OTHER POPULAR TAGS
      <% else %>
        DESIGN YOUR EXPERIENCE
      <% end %>
    </header>
    <% Tag.where(supported: true).order(hotness_score: :desc).limit(30).pluck(:id, :name).each do |tag_array| %>
      <div class="sidebar-nav-element" id="default-sidebar-element-<%= tag_array.second %>">
        <a class="crayons-link crayons-link--block" href="<%= tag_path(tag_array.second) %>">
          #<%= tag_array.second %>
        </a>
        <a class="follow-action-button sidebar-nav-link-follow crayons-btn crayons-btn--s crayons-btn--secondary_"
          href="#" id="sidebar-nav-link-follow-<%= tag_array.second %>"
          data-info='{"id":<%= tag_array.first %>,"className":"Tag"}'>
          Follow
        </a>
      </div>
    <% end %>
</nav>
