<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <% cache("main-sidebar-nav--#{user_signed_in?}", :expires_in => 5.days) do %>
      <%= render "articles/sidebar_nav" %>
      <div class="widget sponsorship-widget <%= "showing" unless user_signed_in? %>" id="sponsorship-widget">
        <header>
          <a href="/sponsors"><h4>community sponsors</h4></a>
          <span class="emoji">
            <img src="<%= asset_path "emoji/emoji-one-heart.png" %>" alt="emoji heart"/>
          </span>
        </header>
        <div class="widget-body">
          <div class="sidebar-sponsor">
            <a class="partner-link" href="https://try.digitalocean.com/performance/?utm_source=devto&utm_medium=display&utm_campaign=Devto_2018_Brand" target="_blank" data-details="digitalocean__image">
              <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/85318v8gv77kzr8r2e58.png") %>" style="margin-bottom:8px;" alt="Digital Ocean logo" />
            </a>
            <div class="sponsor-tagline" style="display:inline;">
              The all-in-one cloud platform developers & their teams love.
              <a class="partner-link sponsor-learn-more" href="https://try.digitalocean.com/performance/?utm_source=devto&utm_medium=display&utm_campaign=Devto_2018_Brand" target="_blank" data-details="digitalocean__learn-more">
                Learn More
              </a>
            </div>
          </div>
          <div class="sidebar-sponsor">
            <a class="partner-link" href="https://triplebyte.com/a/YU8fSn0/homepage-tag" target="_blank" data-details="triplebyte__image">
              <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/r50i600z08ty2sjwey4o.png") %>" alt="Triplebyte logo" />
            </a>
            <div class="sponsor-tagline">
              Do one coding quiz, get multiple job offers.
              <a class="partner-link sponsor-learn-more" href="https://triplebyte.com/a/YU8fSn0/homepage-tag" target="_blank" data-details="triplebyte__learn-more">
                Learn More
              </a>
            </div>
          </div>
          <div class="sidebar-sponsor">
            <a class="partner-link" href="https://raygun.com/?utm_source=dev.to" target="_blank" data-details="raygun__image">
              <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/6a7bsz3y872g66upddt3.png") %>" alt="Raygun logo"/>
            </a>
            <div class="sponsor-tagline">
              Error, crash, and performance monitoring software for devs.
              <a class="partner-link sponsor-learn-more" href="https://raygun.com/?utm_source=dev.to" target="_blank" data-details="raygun__learn-more">
                Learn More
              </a>
            </div>
          </div>
          <div class="sponsors-love-message">
            We are grateful for wonderful sponsors who help sustain the dev community.
          </div>
          <div class="sponsor-footer">
            <p>
              <a href="/sponsorship-info">Sponsorship Info/Policy</a>
            </p>
          </div>
        </div>
      </div>
      <div class="widget">
        <header>
          <h4>key links</h4>
        </header>
        <div class="widget-body">
          <a href="https://twitter.com/thepracticaldev" target="_blank" rel="noopener"><img src="<%= asset_path("twitter-logo.svg") %>" alt="Twitter logo" class="social-icon" /></a>
          <a href="https://github.com/thepracticaldev" target="_blank" rel="noopener"><img src="<%= asset_path("github-logo.svg") %>" alt="GitHub logo" class="social-icon" /></a>
          <a href="https://instagram.com/thepracticaldev" target="_blank" rel="noopener"><img src="<%= asset_path("instagram-logo.svg") %>" alt="Instagram logo" class="social-icon" /></a>
          <a href="https://facebook.com/thepracticaldev" target="_blank" rel="noopener"><img src="<%= asset_path("facebook-logo.svg") %>" alt="Facebook logo" class="social-icon" /></a>
          <a href="https://twitch.tv/thepracticaldev" target="_blank" rel="noopener"><img src="<%= asset_path("twitch-logo.svg") %>" alt="Twitch logo" class="social-icon" /></a>
        </div>
        <div class="side-footer">
          <a href="/about">About</a>
          <a href="/events">Events</a>
          <a href="/sponsors">Sponsors</a>
          <a href="https://shop.dev.to/">DEV Shop</a>
          <a href="/privacy">Privacy Policy</a>
          <a href="/terms">Terms of Use</a>
          <a href="/contact">Contact</a>
          <a href="/faq">FAQ</a>
          <a href="/code-of-conduct">Code of Conduct</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
