<div class="user-metadata-details">
  <ul class="user-metadata-details-inner">
      <% if @organization %>
        <% if @organization.location.present? %>
          <li>
            <div class="key">
              Headquarters
            </div>
            <div class="value">
              <%= sanitize @organization.location %>
            </div>
          </li>
        <% end %>
        <% if @organization.company_size.present? %>
          <li>
            <div class="key">
              Employees
            </div>
            <div class="value">
              <%= @organization.company_size %>
            </div>
          </li>
        <% end %>
        <% if @organization.email.present? %>
          <li>
            <div class="key">
              Support email
            </div>
            <div class="value">
              <a href="mailto:<%= sanitize @organization.email %>"><%= sanitize @organization.email %></a>
            </div>
          </li>
        <% end %>
      <% else %>

      <% if @user.email_public && context != "sidebar" %>
        <li>
          <div class="key">
            Email
          </div>
          <div class="value">
            <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
          </div>
        </li>
      <% end %>
      <% if @user.employment_title.present? %>
        <li>
          <div class="key">
            Work
          </div>
          <div class="value">
            <%= @user.employment_title %>
            <% if @user.employer_name.present? %>
              <span class="opacity-50"> at </span>
              <% if @user.employer_url.present? %>
                <a href="<%= @user.employer_url %>" target="_blank" rel="noopener"><%= @user.employer_name %></a>
              <% else %>
                <%= @user.employer_name %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if @user.location.present? %>
        <li>
          <div class="key">
            Location
          </div>
          <div class="value">
            <%= @user.location %>
          </div>
        </li>
      <% end %>
      <% if @user.education.present? %>
        <li>
          <div class="key">
            Education
          </div>
          <ul class="value">
            <%= @user.education %>
          </ul>
        </li>
      <% end %>
    <% end %>
    <li>
      <div class="key">
        Joined
      </div>
      <div class="value">
        <%= local_date(@user.created_at) %>
      </div>
    </li>
  </ul>
</div>
