<%= javascript_include_tag "https://embed.runkit.com", defer: true %>

<% if true %>
  <div id="article-form"
    data-article="<%= article.to_json(only: %i[id title cached_tag_list published body_markdown main_image organization_id canonical_url updated_at], methods: %i[series all_series]) %>"
    data-organizations="<%= organizations&.to_json(only: %i[id name bg_color_hex text_color_hex], methods: [:profile_image_90]) %>"
    data-version="<%= version %>"
  >
  <form class="crayons-article-form articleform__form articleform__form--<%= version %> hidden" id="_article-form"
    data-article="<%= article.to_json(only: %i[id title cached_tag_list published body_markdown main_image organization_id canonical_url updated_at], methods: %i[series all_series]) %>"
    data-organizations="<%= organizations&.to_json(only: %i[id name bg_color_hex text_color_hex], methods: [:profile_image_90]) %>"
    data-version="<%= version %>">
    <div class="crayons-article-form__close">
      <a href="#" class="crayons-btn crayons-btn--ghost crayons-btn--icon">
        <%= inline_svg_tag("x.svg", aria: true, class: "crayons-icon", title: "Close") %>
      </a>
    </div>

    <div class="crayons-layout crayons-layout--article-form pt-2">
      <div class="crayons-layout__narrow-sidebar">
        <a href="/" class="crayons-article-form__logo" aria-label="<%= community_name %> Home"><%= logo_svg %></a>
      </div>

      <div class="crayons-layout__content crayons-article-form__fields">
        <% if organizations && organizations.size > 0 %>
          <div class="crayons-article-form__organization">
            <label class="crayons-field flex-row items-center">
              <div class="crayons-field__label w-auto">Publish under an organization:</div>
              <select name="article[organization_id]" id="article_publish_under_org" class="crayons-select w-auto ml-2 mt-0">
                <%= options_for_select({ "None" => "" }.merge(organizations.pluck(:name, :id).to_h), article.organization_id || "") %>
              </select>
            </label>
          </div>
        <% end %>

        <% if version == "v2" %>
          <div class="crayons-article-form__cover">
            <% if article.main_image.present? %>
              <div class="crayons-article-form__cover__image"><img src="<%= article.main_image %>"></div>
            <% else %>
              <button class="crayons-btn crayons-btn--secondary">Add a cover image</button>
            <% end %>
          </div>

          <div class="crayons-article-form__title">
            <input class="crayons-textfield crayons-textfield--ghost fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy" type="text" value="<%= article.title %>" placeholder="New post title here..." name="title" autofocus />
          </div>

          <div class="crayons-article-form__tagsfield">
            <input type="text" class="crayons-textfield crayons-textfield--ghost ff-accent" placeholder="Add up to 4 tags (no special characters)..." name="tags" value="<%= article.cached_tag_list %>" />
          </div>
        <% end %>

        <div class="crayons-article-form__body">
          <div class="crayons-article-form__toolbar invisible">
            toolbar
          </div>
          <textarea class="crayons-textfield crayons-textfield--ghost fs-l ff-accent h-100" placeholder="Write your post content here..." name="body_markdown"><%= article.body_markdown %></textarea>
        </div>
      </div>

      <div class="crayons-layout--aside">
        <ul class="list-disc pl-6">
          <li>Think of post title as super short description. Like an overview of the actual post in one short sentence...</li>
          <li>Be specific :)</li>
        </ul>
      </div>
    </div>

    <div class="crayons-article-form__actions">
      <div class="crayons-layout crayons-layout--article-form">
        <span></span>
        <div class="crayons-layout__content flex">
          <button class="crayons-btn crayons-btn--primary mr-2" type="submit">Publish</button>
          <button class="crayons-btn crayons-btn--secondary mr-2">Preview</button>
          <button class="crayons-btn crayons-btn--secondary mr-2">Save draft</button>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--icon mr-2">
            <%= inline_svg_tag("cog.svg", aria: true, class: "crayons-icon", title: "Options") %>
          </button>
        </div>
      </div>
    </div>

    <div style="display:none">
      <% if version == "v2" %>
        <%= render "pages/editor_guide_text", version: "2" %>
      <% else %>
        <%= render "pages/editor_guide_text", version: "1" %>
      <% end %>
    </div>
  </form>
  </div>

<% else %>

  <div class="articleformcontainer">
    <div class="articleform"
        id="article-form"
        data-article="<%= article.to_json(only: %i[id title cached_tag_list published body_markdown main_image organization_id canonical_url updated_at], methods: %i[series all_series]) %>"
        data-organizations="<%= organizations&.to_json(only: %i[id name bg_color_hex text_color_hex], methods: [:profile_image_90]) %>"
        data-version="<%= version %>">
      <form class="articleform__form articleform__form--<%= version %>">
        <% if organizations && organizations.size > 0 %>
          <div class="articleform__orgsettings">
            Publish under an organization:<select name="article[organization_id]" id="article_publish_under_org">
              <%= options_for_select({ "None" => "" }.merge(organizations.pluck(:name, :id).to_h), article.organization_id || "") %>
            </select>
          </div>
        <% end %>
        <% if version == "v2" %>
          <% if article.main_image.present? %>
            <div class="articleform__mainimage"><img src="<%= article.main_image %>"></div>
          <% end %>
          <input class="articleform__title articleform__titlepreview" type="text" value="<%= article.title %>" placeholder="Title" name="title" />
          <div class="articleform__detailfields">
            <div class="articleform__tagswrapper">
              <input type="text" class="articleform__tags" placeholder="4 tags max, comma separated, no spaces or special characters" name="tags" value="<%= article.cached_tag_list %>" />
            </div>
            <button class="articleform__detailsButton articleform__detailsButton--image"></button>
            <button class="articleform__detailsButton articleform__detailsButton--moreconfig"></button>
          </div>
        <% end %>
        <textarea class="articleform__body" placeholder="Body Markdown" name="body_markdown"><%= article.body_markdown %></textarea>
        <div>
          <button class="articleform__detailsButton articleform__detailsButton--image articleform__detailsButton--bottom"></button>
          <% if version == "v2" %>
            <button class="articleform__detailsButton articleform__detailsButton--moreconfig articleform__detailsButton--bottom"></button>
          <% end %>
        </div>
        <div class="articleform__buttons">
          <span style="visibility:hidden;">
            <p>New Changes <button class="clear-button">clear</button></p>
            <button class="articleform__buttons--publish">SAVE CHANGES</button>
          </span>
        </div>
      </form>
      <div style="display:none">
        <% if version == "v2" %>
          <%= render "pages/editor_guide_text", version: "2" %>
        <% else %>
          <%= render "pages/editor_guide_text", version: "1" %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<style>
  body {
    padding-top: 0;
  }

  .crayons-article-form {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .crayons-layout--article-form {
    flex: 1;
  }

  body > footer,
  #top-bar {
    display: none
  }

  .universal-page-content-wrapper {
    overflow: unset;
  }
</style>
