<% title @article.title %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to<%=@article.path%>"/>
  <meta name="description" content="<%=@article.description %>">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to<%=@article.path%>" />
  <meta property="og:title" content="<%=@article.title %>" />
  <meta property="og:image" content="<%= cloudinary(@article.main_image,1080,@article.image_jpg_quality) %>" />
  <meta property="og:description" content="<%=@article.description %>" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:creator" content="@<%=@user.twitter_username %>">
  <meta name="twitter:title" content="<%=@article.title %>">
  <meta name="twitter:description" content="<%=@article.description %>">
  <meta name="twitter:image:src" content="<%= cloudinary(@article.main_image,1080,@article.image_jpg_quality) %>">
<% end %>

<div class="container article">
  <amp-img src="<%= cloudinary(@article.main_image,1080,@article.image_jpg_quality) %>"
     width="1080"
     height="500"
     layout="responsive"
     alt="title image">
  </amp-img>

  <div class="title">
    <h1>
      <%= @article.title %>
    </h1>
    <hr/>
    <h3>
      <amp-img src="<%= cloudinary(@user.profile_image_url,20) %>"
         class="profile"
         width="20"
         height="20"
         alt="title image">
      </amp-img>
      By <a href="http://twitter.com/<%= @user.twitter_username %>"><%= @user.name %></a>
      <a href="http://twitter.com/<%= @user.twitter_username %>">
        <amp-img src="<%= icon_url("twitter") %>"
           width="18"
           height="18"
           alt="title image">
        </amp-img>
      </a>
      <a href="http://github.com/<%= @user.github_username %>">
        <amp-img src="<%= icon_url("github") %>"
           width="18"
           height="18"
           alt="title image">
        </amp-img>
      </a>
      <span class="published-at"><%= "on "+@article.published_at.strftime("%B %d, %Y") if @article.published_at %></span>
    </h3>
  </div>
  <div class="body">
    <%= @article.processed_html.html_safe %>
  </div>
  <div class="about-the-author">
    <div class="left-column">
      <amp-img src="<%= cloudinary(@user.profile_image_url,120) %>"
         width="120"
         height="120"
         alt="profile image">
      </amp-img>
    </div>
    <div class="main-content">
      <h4><%= @user.name %></h4>
      <p><%= @user.summary %></p>
      <p class="social">
        <% if @user.twitter_username.present? %>
          <a href="http://twitter.com/<%= @user.twitter_username %>" target="_blank" rel="noopener">
            <amp-img src="<%= icon_url("twitter") %>"
               width="18"
               height="18"
               alt="title image">
            </amp-img> <%= @user.twitter_username %>
          </a>
        <% end %>
        <% if @user.github_username.present? %>
          <a href="http://github.com/<%= @user.github_username %>" target="_blank" rel="noopener">
            <amp-img src="<%= icon_url("github") %>"
               width="18"
               height="18"
               alt="title image">
            </amp-img> <%= @user.github_username %></a>
        <% end %>
        <% if @user.website_url.present? %>
          <a href="<%= @user.website_url %>" target="_blank" rel="noopener">
            <amp-img src="<%= icon_url("link") %>"
               width="18"
               height="18"
               alt="title image">
            </amp-img> <%= @user.website_url.split("//")[1] %></a>
        <% end %>
      </p>
    </div>
  </div>
</div>
