<% title(t("views.articles.unlock.meta.title")) %>
<main id="main-content" class="crayons-layout crayons-layout--limited-l gap-0">
  <div class="crayons-card crayons-card--secondary text-styles text-styles--secondary text-padding -mb-1 mx-3 m:mx-6 mt-3">
    <%= @article.title %>
  </div>
  <div class="crayons-card text-padding">
    <h1 class="crayons-subtitle-1 mb-2"><%= t("views.articles.unlock.heading") %></h1>
    <p class="fs-l mb-4">
      <%= t("views.articles.unlock.desc") %>
    </p>

    <div class="fs-l mb-5">
      <div class="fw-bold">
        <%= t("views.articles.unlock.reason") %>
      </div>
      <em>
        <%= @discussion_lock.reason %>
      </em>
    </div>

    <div class="fs-l mb-5">
      <div class="fw-bold">
        <%= t("views.articles.unlock.notes") %>
      </div>
      <em>
        <%= @discussion_lock.notes %>
      </em>
    </div>

    <%= form_for @discussion_lock, method: :delete do |f| %>
      <div class="crayons-field">
        <%= f.hidden_field :article_id, value: @article.id %>
      </div>
      <%= f.submit t("views.articles.unlock.submit"), class: "crayons-btn crayons-btn--danger" %>
      <a data-no-instant href="<%= dashboard_path %>" class="crayons-btn crayons-btn--ghost"><%= t("views.articles.unlock.cancel") %></a>
    <% end %>
  </div>
</main>
