<% title "Edit Article - DEV" %>

<% if @article.video.present? %>
  <div style="text-align:center;padding-top:60px;margin:auto;max-width:880px;margin-bottom:-50px;">

    <% if @article.video_state == "PROGRESSING" %>
        <h1 style="color:#062144">⏳ Video Transcoding In Progress ⏳</h1>
        <img src="https://media.giphy.com/media/xf20D8HzvTQzu/giphy.gif" style="border-radius:12px" />
        <div style="max-width:376px;margin:18px auto 0px;font-size:0.8em;">
          <p>
            You'll get an email when it's finished. Contact <a href="mailto:ben@dev.to">ben@dev.to</a> if the email never comes, or if anything else is broken. 😱
          </p>
          <p>
            This is an unpublished article with a video. Publish it as usual when the video is done processing.
          </p>
        </div>
    <% elsif @article.video_state == "COMPLETED" %>
      <br/></br/>
      <%= render "articles/video_player", meta_tags: false, article: @article  %>
      <div style="padding-top:15px;">
        
        <%= form_for(@article) do |f| %>
          Change preview image (via URL): <%= f.text_field :video_thumbnail_url, placeholder: "New Thumbnail URL" %>
          <%= f.submit "Submit Change" %>
        <% end %>
        <h5>Video is in beta ❤️</h5>
      </div>

    <% end %>
  </div>
<% end %>

<% if params[:beta_form] %>
  <%= render 'react_form' %>
<% else %>
  <% if @article.body_html && @article.body_html.size > 10 %>
    <%= render 'inline_form' %>
  <% else %>
    <%= render 'articles/markdown_form' %>
  <% end %>
<% end %>