<%= content_for :page_meta do %>
  <% title_with_timeframe(
       page_title: "#{community_name} #{community_emoji}",
       timeframe: params[:timeframe],
       content_for: true,
     ) %>

  <link rel="canonical" href="<%= app_url(request.path) %>" />
  <meta name="description" content="<%= Settings::Community.community_description %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= app_url(request.path) %>" />
  <meta property="og:title" content="<%= title_with_timeframe(page_title: community_name, timeframe: params[:timeframe]) %>" />
  <meta property="og:image" content="<%= Settings::General.main_social_image %>">
  <meta property="og:description" content="<%= Settings::Community.community_description %>" />
  <meta property="og:site_name" content="<%= community_name %>" />

  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= title_with_timeframe(page_title: community_name, timeframe: params[:timeframe]) %>">
  <meta name="twitter:description" content="<%= Settings::Community.community_description %>">
  <meta name="twitter:image:src" content="<%= Settings::General.main_social_image %>">
  <meta name="twitter:card" content="summary_large_image">
  <%= auto_discovery_link_tag(:rss, app_url("feed"), title: "#{community_name} RSS Feed") %>
<% end %>

<%= javascript_packs_with_chunks_tag "homePage", defer: true %>
<% cache(release_adjusted_cache_key("main-stories-index-#{params}-#{user_signed_in?}"), expires_in: 90.seconds) do %>
  <div class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left" id="index-container"
      data-params="<%= params.merge(sort_by: "hotness_score", sort_direction: "desc").to_json(only: %i[tag username q sort_by sort_direction]) %>" data-which="<%= @list_of %>"
      data-tag=""
      data-feed="<%= params[:timeframe] || "base-feed" %>"
      data-articles-since="<%= Timeframe.datetime_iso8601(params[:timeframe]) %>">

    <%= render "articles/sidebar" %>

    <%# BEGIN Feed menu bar %>
    <main class="articles-list crayons-layout__content" id="main-content" data-follow-button-container="true">
      <%= render(partial: "onboardings/task_card") if user_signed_in? %>

      <header class="flex justify-between items-center p-2 px-3 m:p-0 m:px-0 m:pb-2">
        <h1 id="feed-title" class="crayons-subtitle-2"><%= feed_heading(params[:timeframe]) %></h1>

        <div class="relative hidden s:block">
          <button id="feed-nav-button" class="crayons-btn crayons-btn--ghost crayons-btn--icon" aria-label="Change feed view"><%= inline_svg_tag("overflow-horizontal.svg", class: "crayons-icon", aria_hidden: true, title: "Change feed view") %></button>
          <div id="feed-nav-content" class="crayons-dropdown right-0">
             <nav id="feed-navigation-links" aria-label="View posts by" class="drawer-navigation">
              <ul class="list-none">
                <li class="drawer-navigation__item py-2">
                  <a
                    href="<%= list_path %>/"
                    <%= %w[this-week this-month this-year all-time most-recent].exclude?(params[:timeframe]) ? ' aria-current="page"'.html_safe : "" %>>
                    Trending
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </a>
                </li>
                  <li class="drawer-navigation__item py-2">
                  <a
                    href="<%= list_path %>/top/most-recent"
                    <%= timeframe_check("most-recent") ? ' aria-current="page"'.html_safe : "" %>>
                    Most Recent
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </a>
                </li>
                <li class="drawer-navigation__item py-2">
                  <a
                    href="<%= list_path %>/top/this-week"
                    <%= timeframe_check("this-week") ? ' aria-current="page"'.html_safe : "" %>>
                    This Week
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </a>
                </li>
                <li class="drawer-navigation__item py-2">
                  <a
                    href="<%= list_path %>/top/this-month"
                    <%= timeframe_check("this-month") ? ' aria-current="page"'.html_safe : "" %>>
                    This Month
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </a>
                </li>
                <li class="drawer-navigation__item py-2">
                  <a
                    href="<%= list_path %>/top/this-year"
                    <%= timeframe_check("this-year") ? ' aria-current="page"'.html_safe : "" %>>
                    This Year
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </a>
                </li>
                <li class="drawer-navigation__item py-2">
                  <a
                    href="<%= list_path %>/top/all-time"
                    <%= timeframe_check("all-time") ? ' aria-current="page"'.html_safe : "" %>>
                    All Time
                    <%= inline_svg_tag("checkmark.svg", class: "check-icon", aria_hidden: true, title: "Current page") %>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div id="mobile-feed-nav-container" class="s:hidden">
          <button id="mobile-feed-nav-button" class="crayons-btn crayons-btn--ghost crayons-btn--icon" aria-label="Change feed view"><%= inline_svg_tag("overflow-horizontal.svg", class: "crayons-icon", aria_hidden: true, title: "Change feed view") %></button>
        </div>
      </header>

      <% if user_signed_in? %>
        <div id="homepage-feed" style="min-height: 90vh"></div>
      <% else %>
        <%= render "stories/main_stories_feed" %>
      <% end %>

      <div id="followed-podcasts" data-episodes="<%= @podcast_episodes.to_json(include: { podcast: { only: %i[slug title id], methods: %i[image_90] } }) %>"></div>
      <div class="loading-articles" id="loading-articles">
        loading...
      </div>
    </main>

    <%= render "articles/sidebar_additional" %>
  </div>

  <%= javascript_packs_with_chunks_tag "storiesList", "followButtons", "feedPreviewCards", "feedNavigation", defer: true %>
<% end %>
