<% title t("views.manager.meta.title", title: @article.title) %>
<main id="main-content">
  <div class="dashboard-manage-header">
    <div class="dashboard-manage-header-inner-container">
      <div class="dashboard-manage-nav">
        <a href="/dashboard"><%= t("views.manager.nav.dashboard") %></a><%= t("views.manager.nav.text") %>
      </div>
      <% if flash[:error] %>
        <div role="alert">
          <h3 class="manage-page-error"><%= t("views.manager.error.pins", error: flash[:pins_error]) %></h3>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div role="alert">
          <h3 class="manage-page-success"><%= flash[:success] %></h3>
        </div>
      <% end %>
      <p><strong><%= t("views.manager.tools.subtitle") %></strong><%= t("views.manager.tools.text_html") %>
      <h2><%= t("views.manager.tips.heading") %></h2>
      <ol>
        <li>
          <%= t("views.manager.tips.text_1") %>
        </li>
        <li>
          <%= t("views.manager.tips.text_2_html") %>
        </li>
        <li>
          <%= t("views.manager.tips.text_3") %>
        </li>
      </ol>
    </div>
  </div>

 
  </div>
</main>
