<%= content_for :page_meta do %>
  <%= render "articles/search/meta" %>
<% end %>
<div id="query-wrapper"></div>
<div class="home sub-home" id="index-container"
     data-params="<%= params.to_json(only: %i[tag username search_fields]) %>" data-which="<%= @list_of %>"
     data-tag=""
     data-feed="<%= params[:timeframe] || "base-feed" %>"
     data-articles-since="<%= Timeframer.new(params[:timeframe]).datetime&.iso8601 %>">
  <%= render "articles/search/sidebar" %>
  <div class="articles-list" id="articles-list">
    <div class="substories" id="substories">
      <div class="query-results-nothing">
        <div class="query-results-loader"></div>
        <br />
      </div>
    </div>
    <div class="loading-articles" id="loading-articles">
      loading...
    </div>
  </div>
  <%= render "articles/search/sidebar_additional" %>
</div>
<%= render "articles/search" %>

<%= render "stories/narrow_nav_menu" %>
<%= render "stories/stories_list_script" %>
