<% title "History" %>

<%= content_for :page_meta do %>
  <% page_url = "#{ApplicationConfig['APP_PROTOCOL']}#{ApplicationConfig['APP_DOMAIN']}#{history_path}" %>
  <link rel="canonical" href="<%= page_url %>" />
  <meta name="description" content="Page views history for <%= community_qualified_name %>">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= page_url %>" />
  <meta property="og:title" content="History - <%= community_qualified_name %>" />
  <meta property="og:description" content="My Posts History on <%= community_qualified_name %>" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= ApplicationConfig["SITE_TWITTER_HANDLE"] %>">
  <meta name="twitter:title" content="History - <%= community_qualified_name %>">
  <meta name="twitter:description" content="Page views history for <%= community_qualified_name %>">
<% end %>

<div class="home">
  <div class="item-list-container" id="history" data-algolia-key="<%= @secured_algolia_key %>">
  </div>
</div>

<%= javascript_pack_tag "history", defer: true %>
