<% if FeatureFlag.enabled?(:member_index_view) %>
  <% if params[:controller] == "admin/users" %>
    <%= form_with url: admin_users_path, method: :get, local: true, class: "flex flex-col m:flex-row gap-3 m:items-center p-3" do |f| %>
      <div class="crayons-field flex-1 flex-row items-center gap-2">
        <%= f.text_field :search, value: params[:search], class: "crayons-textfield mt-0", placeholder: "Search member...", aria: { label: "Search member by name, username, email, or Twitter/GitHub usernames" } %>
      </div>
      <div class="crayons-field flex-row items-center gap-2">
        <%= f.select :role, options_for_select(Role::ROLES, params[:role]), { include_blank: "All roles" }, class: "crayons-select mt-0" %>
      </div>
      <%= f.submit "Filter", class: "c-btn c-btn--secondary" %>
    <% end %>
  <% end %>
<% else %>
  <% if params[:controller] == "admin/users" %>
    <%= form_with url: admin_users_path, method: :get, local: true, class: "flex flex-col m:flex-row gap-3 m:items-center p-3" do |f| %>
      <div class="crayons-field flex-1 flex-row items-center gap-2">
        <%= f.label :search, class: "crayons-field__label whitespace-nowrap" %>
        <%= f.text_field :search, value: params[:search], class: "crayons-textfield mt-0", placeholder: "Name, username, email, or Twitter/GitHub usernames", aria: { label: "Filter by name, username, email, or Twitter/GitHub usernames" } %>
      </div>
      <div class="crayons-field flex-row items-center gap-2">
        <%= f.label :role, "Filter by Role", class: "crayons-field__label whitespace-nowrap" %>
        <%= f.select :role, options_for_select(Role::ROLES, params[:role]), { include_blank: "All roles" }, class: "crayons-select mt-0" %>
      </div>
      <%= f.submit "Filter", class: "c-btn c-btn--secondary" %>
    <% end %>
  <% end %>
  <% if params[:controller] == "admin/invitations" %>
    <%= link_to "New", new_admin_invitation_path, class: "c-cta self-end" %>
  <% end %>
<% end %>
