<div class="js-filters-modal hidden">
    <%= form_with url: admin_users_path, method: :get, local: true, class: "flex flex-col h-100" do |f| %>
        <div class="flex justify-between items-center border-0 border-b-1 border-base-10 border-solid -mx-7 px-7 pb-2">
            <h2 class="crayons-subtitle-2">Filters</h2>
            <button type="button" class="c-btn">Clear filters</button>
        </div>
        <div class="py-4">
            <details class="admin-details">
                <summary class="py-4 flex justify-between text-uppercase color-base-60 fs-s">Member roles<%= crayons_icon_tag("chevron-down", aria_hidden: true, class: "summary-icon") %></summary>
                <fieldset class="pb-4">
                    <legend class="screen-reader-only">Member roles</legend>
                    <div class="crayons-field crayons-field--radio">
                      <%= f.radio_button :role, "admin", class: "crayons-radio", role: "radio", id: "admin" %>
                      <%= label_tag "admin", "Admin", class: "crayons-field__label" %>
                    </div>
                </fieldset>
            </details>
            <details class="admin-details">
                <summary class="py-4 flex justify-between text-uppercase color-base-60 fs-s">Status<%= crayons_icon_tag("chevron-down", aria_hidden: true, class: "summary-icon") %></summary>
                Status options
            </details>
            <details class="admin-details">
                <summary class="py-4 flex justify-between text-uppercase color-base-60 fs-s">Joining date<%= crayons_icon_tag("chevron-down", aria_hidden: true, class: "summary-icon") %></summary>
                Joining date options
            </details>
            <details class="admin-details">
                <summary class="py-4 flex justify-between text-uppercase color-base-60 fs-s">Last activity<%= crayons_icon_tag("chevron-down", aria_hidden: true, class: "summary-icon") %></summary>
                Last activity options
            </details>
            <details class="admin-details">
                <summary class="py-4 flex justify-between text-uppercase color-base-60 fs-s">Organizations<%= crayons_icon_tag("chevron-down", aria_hidden: true, class: "summary-icon") %></summary>
                Organizations options
            </details>
        </div>
        <div class="flex gap-2 mt-auto">
            <button class="c-btn c-btn--primary grow-1">Apply filters</button>
            <button type="button" class="js-filter-modal-cancel-btn c-btn grow-1">Cancel</button>
        </div>
    <% end %>
</div>
