<div class="relative">
    <button type="button" id="<%= id %>-action-dropdown-btn" data-toggle-dropdown="<%= id %>-action-dropdown" class="c-btn c-btn--icon-alone ml-auto"
        aria-expanded="false" aria-controls="<%= id %>-action-dropdown" aria-haspopup="true" aria-label="User actions: <%= user.name %>">
        <%= crayons_icon_tag("overflow-vertical", aria_hidden: true) %>
    </button>
    <div id="<%= id %>-action-dropdown" class="crayons-dropdown right-0">
        <ul class="list-none">
            <li>
                <button class="c-btn align-left w-100 c-btn--icon-left"
                data-modal-title="Add role"
                data-modal-size="small"
                data-modal-content-selector="#add-role-modal"
                data-form-action="<%= user_status_admin_user_path(user) %>">
                <%= crayons_icon_tag("badge", aria_hidden: true, class: "c-btn__icon") %>
                Assign role
                </button>
            </li>
            <li>
                <button class="c-btn align-left w-100 c-btn--icon-left"
                        data-modal-title="Add organization"
                        data-modal-size="small"
                        data-modal-content-selector="#add-organization"
                        data-user-name="<%= user.name %>"
                        data-user-id="<%= user.id %>"
                        data-form-action="<%= user_status_admin_user_path(user) %>">
                        <%= crayons_icon_tag("team", aria_hidden: true, class: "c-btn__icon") %>
                        Add organization
                </button>
            </li>
            <li>
                <button class="c-btn align-left w-100 c-btn--icon-left"
                        data-modal-title="Adjust balance"
                        data-modal-size="small"
                        data-modal-content-selector="#adjust-balance"
                        data-user-name="<%= user.name %>"
                        data-unspent-credits-count="<%= user.unspent_credits_count %>"
                        data-form-action="<%= user_status_admin_user_path(user) %>">
                        <%= crayons_icon_tag("wallet", aria_hidden: true, class: "c-btn__icon") %>
                        Adjust credit balance
                </button>
                <hr />
            </li>

            <li><button data-copy-email="<%= user.email %>" type="button" class="c-btn w-100 align-left c-btn--icon-left"> <%= crayons_icon_tag("copy", aria_hidden: true, class: "c-btn__icon") %>Copy email address</button></li>
        </ul>
    </div>
</div>
