<% credits_url = app_url(credits_path) %>
<% pro_membership_url = app_url(user_settings_path("pro-membership")) %>

<p>Hi <%= @user.name %>, your Pro Membership will expire in <%= @days %> days on <%= @date.to_s(:long) %>!</p>

<p>Make sure you have enough credits for its renewal: <a href="<%= credits_url %>"><%= credits_url %></a>.</p>

<p>You can also <a href="<%= pro_membership_url %>">review your Pro Membership status</a>.</p>
