<center>
  <h1 style="font-size:3em;">Dog Food Board</h1>
  <img src="https://thepracticaldev.s3.amazonaws.com/i/dqf9n77i1me0yz14x492.gif" alt="doggies" />

  <h2>Comments past 24 hours</h2>
  <% @comment_totals_24_hours.each do |comment| %>
    <div><%= comment[:username] %>: <%= comment[:number_of_comments] %></div>
  <% end %>

  <h2>Comments this week</h2>
  <% @comment_totals_this_week.each do |comment| %>
    <div><%= comment[:username] %>: <%= comment[:number_of_comments] %></div>
  <% end %>

  <h2>Overall comments</h2>
  <% @team_members.each do |member| %>
    <div><%= member.username %>: <%= member.comments_count %></div>
  <% end %>
</center>
<br /><br />
<div style="margin:auto;max-width:600px">
  <b>Ways to make comments:</b>
  <ul>
    <li>
      Ask a question on an article
    </li>
    <li>
      Make the first comment in a discussion
    </li>
    <li>
      Say "welcome" to someone making an intro post
    </li>
    <li>
      Make a follow-up comment or question on another comment.
    </li>
    <li>
      Say something simple like "Thanks" or "Great post".
    </li>
    <li>
      And many more!!!
    </li>
  </ul>
</div>
<br /><br />

<script>
  setInterval(function () {
    location.reload();
  }, 180000)
</script>
