<%= form_for(Settings::General.new,
             url: admin_settings_general_settings_path,
             html: { data: {
               action: "submit->config#updateConfigurationSettings",
               testid: "ahoyAnalyticsForm"
             } }) do |f| %>
  <details class="crayons-card">
    <summary class="crayons-subtitle-2 p-6">Ahoy Analytics</summary>

    <div class="p-6 pt-0">
      <fieldset class="grid gap-4">
        <div class="crayons-field crayons-field--checkbox">
          <%= f.check_box :ahoy_tracking, checked: Settings::General.ahoy_tracking, class: "crayons-checkbox" %>
          <%= admin_config_label :ahoy_tracking %>
        </div>
        <%= admin_config_description Constants::Settings::General.details[:ahoy_tracking][:description] %>
      </fieldset>
      <%= render "update_setting_button", f: f %>
    </div>
  </details>
<% end %>
