<%= form_for(Settings::General.new,
             url: admin_settings_general_settings_path,
             html: { data: { action: "submit->config#updateConfigurationSettings" } }) do |f| %>
  <details class="crayons-card">
    <summary class="crayons-subtitle-2 p-6">API Tokens</summary>

    <div class="p-6 pt-0">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :health_check_token %>
          <%= admin_config_description Constants::Settings::General::DETAILS[:health_check_token][:description] %>
          <%= f.text_field :health_check_token,
                           class: "crayons-textfield",
                           value: Settings::General.health_check_token,
                           placeholder: Constants::Settings::General::DETAILS[:health_check_token][:placeholder] %>
        </div>
        <div class="crayons-field">
          <%= admin_config_label :video_encoder_key %>
          <%= admin_config_description Constants::Settings::General::DETAILS[:video_encoder_key][:description] %>
          <%= f.text_field :video_encoder_key,
                           class: "crayons-textfield",
                           value: Settings::General.video_encoder_key,
                           placeholder: Constants::Settings::General::DETAILS[:video_encoder_key][:placeholder] %>
        </div>
      </fieldset>
      <%= render "update_setting_button", f: f %>
    </div>
  </details>
<% end %>
