<%= form_for(Settings::General.new,
             url: admin_settings_general_settings_path,
             html: { data: { action: "submit->config#updateConfigurationSettings" } }) do |f| %>
  <details class="crayons-card">
    <summary class="crayons-subtitle-2 p-6">Onboarding</summary>
    <div class="p-6 pt-0">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :onboarding_background_image %>
          <%= admin_config_description Constants::Settings::General.details[:onboarding_background_image][:description] %>
          <%= f.text_field :onboarding_background_image,
                           class: "crayons-textfield",
                           value: Settings::General.onboarding_background_image,
                           placeholder: Constants::Settings::General.details[:onboarding_background_image][:placeholder] %>
          <div class="flex flex-wrap flex-row -mx-4 mt-2">
            <div class="w-100 max-w-100 px-4">
              <img alt="onboarding background image" class="max-w-100 h-auto" src="<%= Settings::General.onboarding_background_image %>" loading="lazy" />
            </div>
          </div>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :suggested_tags %>
          <%= admin_config_description Constants::Settings::General.details[:suggested_tags][:description] %>
          <%= f.text_field :suggested_tags,
                           class: "crayons-textfield",
                           value: Settings::General.suggested_tags.join(","),
                           placeholder: Constants::Settings::General.details[:suggested_tags][:placeholder] %>
        </div>
      </fieldset>
      <%= render "update_setting_button", f: f %>
    </div>
  </details>
<% end %>
