<div class="badge_details">
  <img
    class="badge_image"
    src="<%= optimized_image_url(badge.badge_image_url, width: 192) %>"
    alt="<%= badge.title %> badge"
    title="<%= badge.title %>"
    loading="lazy" />

  <div class="badge_text_content">
    <h4 class="fw-800 fs-l color-grey-800">Some Random long Text for testing purposes Some Random long Text for testing purposes <%= badge.title %></h4>
    <p>Some Random long Text for testing purposes Some Random long Text for testing purposes Some Random long Text for testing purposes Some Random long Text for testing purposes Some Random long Text for testing purposes<%= badge.description %></p>
    <button class="flex flex-row items-start c-btn c-btn--primary mt-4" onclick="window.Forem.closeModal()"><%= t("views.badges.gotit") %></button>
  </div>
  <div class="close" onclick="window.Forem.closeModal()">
    <%= inline_svg_tag("x.svg", aria_hidden: true, title: t("views.moderations.actions.admin.icon")) %>
  </div>
</div>
