<div class="badge_details grid grid-cols-1 gap-1 s:gap-8 s:grid-cols-2">
  <img
    class="flex flex-row p-3"
    src="<%= optimized_image_url(badge.badge_image_url, width: 192) %>"
    alt="<%= badge.title %> badge"
    title="<%= badge.title %>"
    loading="lazy" />
  <div class="flex flex-col justify-between items-start">
    <div class="flex flex-col items-start">
      <h4 class="fw-800 fs-l color-grey-800"><%= badge.title %></h4>
      <p><%= badge.description %></p>
    </div>
    <button class="flex flex-row items-start c-btn c-btn--primary" onclick="window.Forem.closeModal()">Got it</button>
  </div>
</div>
