<% title t("views.badges.meta.title") %>

<div class="blank-space"></div>
<main class="crayons-layout px-2 l:px-2">
  <h1 class="crayons-title"><%= t("views.badges.heading") %></h1>
  <p><%= t("views.badges.desc") %></p>
  <div class="sticker-book crayons-card p-3 s:p-3 m:p-6 l:p-6 xl:p-8 grid gap-3 m:gap-4 l:gap-4 l:gap-6 grid-cols-2 s:grid-cols-2 m:grid-cols-3 l:grid-cols-4 xl:grid-cols-5 mb-6">
    <% @badges.each do |badge| %>
    <div
      role="button"
      onclick="window.Forem.showModal({prompt: true, contentSelector: '#badge-<%= badge.id %>', overlay: true})"
      style="width:auto; background-color: white;"
      class="crayons-card media-card media-card--all">
      <div style="background-color: #F5F5F5" class="p-3">
        <img
          style="width: 100%; aspect-ratio:1/1;"
          class="badge-image <%= "unearned" unless badge.id.in?(@earned_badge_achievements) %>"
          src="<%= optimized_image_url(badge.badge_image_url, width: 192) %>"
          alt="<%= badge.title %> badge"
          title="<%= badge.title %>"
          loading="lazy" />
      </div>
      <p aria-hidden="true" class="color-grey-800 align-center fw-bold fs-base flex lh-base justify-center p-3">
          <%= badge.title %>
      </p>

      <div id="badge-<%= badge.id %>" class="hidden">
        <%= render partial: "badge_detail", locals: { badge: badge } %>
      </div>
    </div>
    <% end %>
  </div>
</main>
