<div class="crayons-card mb-6 p-6">
    <h4 class="mb-4">Past <%= num_days %> day new users (<%= User.where("registered_at > ?", num_days.day.ago).count %>)</h4>
    <div class="card">
      <div class="card-header">
        <strong>Overall data:</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Average comments: <%= User.where("registered_at > ?", num_days.day.ago).average(:comments_count) %>
        </li>
        <li class="list-group-item">
          Average articles: <%= User.where("registered_at > ?", num_days.day.ago).average(:articles_count) %>
        </li>
        <li class="list-group-item">
          Average reactions: <%= User.where("registered_at > ?", num_days.day.ago).average(:reactions_count) %>
        </li>
      </ul>
    </div>
</div>
