<%= javascript_packs_with_chunks_tag "admin/overview", defer: true %>

<h1 class="crayons-title mb-4">
  Overview
</h1>

<div class="flex flex-col gap-4">
  <div class="flex flex-col m:flex-row gap-4">
    <section class="crayons-card p-7 m:basis-2-3">
      <header class="flex justify-between items-center mb-7">
        <h2 class="crayons-subtitle-1">Analytics and trends</h2>
        <div class="relative w-auto">
          <button type="button" class="c-btn c-btn--icon-alone dropdown-trigger whitespace-nowrap" id="timeperiods-trigger" aria-haspopup="true" aria-expanded="false" aria-controls="options-dropdown">
            <%= crayons_icon_tag("calendar", title: "Timeframes", class: "c-btn__icon") %>
          </button>
          <form action="" id="timeperiods-dropdown" class="crayons-dropdown right-0 left-0 s:left-auto">
            <fieldset class="mb-2">
              <ul class="mb-0 p-2 flex flex-col gap-3">
                <li class="crayons-field crayons-field--radio">
                  <input type="radio" name="timeperiod" value="7" id="7days" class="crayons-radio" checked />
                  <label for="7days" class="crayons-field__label">Last 7 days</label>
                </li>
                <li class="crayons-field crayons-field--radio">
                  <input type="radio" name="timeperiod" value="14" id="14days" class="crayons-radio" />
                  <label for="14days" class="crayons-field__label">Last 14 days</label>
                </li>
                <li class="crayons-field crayons-field--radio">
                  <input type="radio" name="timeperiod" value="30" id="30days" class="crayons-radio" />
                  <label for="30days" class="crayons-field__label">Last 30 days</label>
                </li>
              </ul>
            </fieldset>
            <button type="submit" class="c-btn c-btn--secondary w-100">Submit</button>
          </form>
        </div>
      </header>

      <div class="grid s:grid-cols-2 gap-7">
        <div>
          <header class="color-secondary">
            <h3 class="fs-l fw-normal"><span class="color-primary fw-bold">18</span> posts</h3>
            <p class="flex items-center fs-s mb-1">
              <%= crayons_icon_tag(:increase, width: 18, height: 18, class: "color-accent-success") %>
              17% increase
            </p>
          </header>
          <canvas
            id="postsChart"
            width="400"
            height="100"
            class="-mx-1 js-chart"
            data-days="Mar 21,Mar 22,Mar 23,Mar 24,Mar 25,Mar 26,Mar 27"
            data-values="2,5,4,7,6,8,9"></canvas>
          <footer class="flex justify-between items-center fs-xs color-secondary">
            <span>Mar 21</span>
            <span>Today</span>
          </footer>
        </div>

        <div>
          <header class="color-secondary">
            <h3 class="fs-l fw-normal"><span class="color-primary fw-bold">411</span> comments</h3>
            <p class="flex items-center fs-s mb-1">
              <%= crayons_icon_tag(:increase, width: 18, height: 18, class: "color-accent-success") %>
              211% increase
            </p>
          </header>
          <canvas
            id="commentsChart"
            width="400"
            height="100"
            class="-mx-1 js-chart"
            data-days="Mar 21,Mar 22,Mar 23,Mar 24,Mar 25,Mar 26,Mar 27"
            data-values="92,110,90,123,132,105,133"></canvas>
          <footer class="flex justify-between items-center fs-xs color-secondary">
            <span>Mar 21</span>
            <span>Today</span>
          </footer>
        </div>

        <div>
          <header class="color-secondary">
            <h3 class="fs-l fw-normal"><span class="color-primary fw-bold">1.7k</span> reactions</h3>
            <p class="flex items-center fs-s mb-1">
              <%= crayons_icon_tag(:decrease, width: 18, height: 18, class: "color-accent-danger") %>
              31% decrease
            </p>
          </header>
          <canvas
            id="reactionsChart"
            width="400"
            height="100"
            class="-mx-1 js-chart"
            data-days="Mar 21,Mar 22,Mar 23,Mar 24,Mar 25,Mar 26,Mar 27"
            data-values="900,931,830,1022,1450,1001,1670"></canvas>
          <footer class="flex justify-between items-center fs-xs color-secondary">
            <span>Mar 21</span>
            <span>Today</span>
          </footer>
        </div>

        <div>
          <header class="color-secondary">
            <h3 class="fs-l fw-normal"><span class="color-primary fw-bold">11</span> new members</h3>
            <p class="flex items-center fs-s mb-1">
              <%= crayons_icon_tag(:increase, width: 18, height: 18, class: "color-accent-success") %>
              2% increase
            </p>
          </header>
          <canvas
            id="newMembersChart"
            width="400"
            height="100"
            class="-mx-1 js-chart"
            data-days="Mar 21,Mar 22,Mar 23,Mar 24,Mar 25,Mar 26,Mar 27"
            data-values="7,6,6,8,5,2,3"></canvas>
          <footer class="flex justify-between items-center fs-xs color-secondary">
            <span>Mar 21</span>
            <span>Today</span>
          </footer>
        </div>
      </div>
    </section>

    <section class="crayons-card p-7 m:basis-1-3">
      <h2 class="crayons-subtitle-1 mb-4">Health check</h2>

      <a href="/" class="flex flex-col c-link c-link--block -mx-4">
        <strong class="fs-xl">18</strong>
        <span>Flags raised by <span class="fw-bold">Moderators</span></span>
        <small class="opacity-75">3 articles, 5 coomments, 10 users</small>
      </a>

      <a href="<%= admin_feedback_messages_path %>" class="flex flex-col c-link c-link--block -mx-4">
        <strong class="fs-xl"><%= @open_abuse_reports_count %></strong>
        <span><%= "Report".pluralize(@open_abuse_reports_count) %> submitted by <span class="fw-bold">Users</span></span>
        <small class="opacity-75">3 articles, 5 coomments, 10 users</small>
      </a>

      <a href="/" class="flex flex-col c-link c-link--block -mx-4">
        <strong class="fs-xl">5</strong>
        <span>Potential spam/abuse users</span>
      </a>

    </section>
  </div>

  <section class="crayons-card p-7 grid grid-cols-2 gap-7">
    <div>
      <header class="mb-4">
        <h2 class="crayons-subtitle-1">Help</h2>
        <p class="color-secondary">Here are a few things we recommend doing now that you're using Forem!</p>
      </header>

      <ol>
        <li class="mb-1 -ml-4">
          Fully review the
          <a href="https://admin.forem.com" class="c-link c-link--branded">Forem Admin Documentation</a>
          and the latest Forem
          <a href="https://admin.forem.com/docs/getting-started/forem-setup-checklist" class="c-link c-link--branded">Quick Start Guide</a>
        </li>
        <li class="mb-1 -ml-4">
          Set up and configure your Forem
          under <%= link_to "the Config section", admin_config_path, class: "c-link c-link--branded" %>.
        </li>
        <li class="mb-1 -ml-4"><%= link_to "Create a Welcome Thread", admin_welcome_index_path, class: "c-link c-link--branded" %></li>
        <li class="mb-1 -ml-4"><%= link_to "Update and customize your Forem tags", admin_tags_path, class: "c-link c-link--branded" %></li>
        <li class="mb-1 -ml-4">
          <%= link_to "Create pages", admin_pages_path, class: "c-link c-link--branded" %>
          and
          <%= link_to "sort them in the navigation sidebar", admin_navigation_links_path %>.
        </li>
        <li class="mb-1 -ml-4">
          <a href="https://admin.forem.com/docs/advanced-customization/config/authentication" class="c-link c-link--branded">Set your Forem's access level</a>
          and
          <a href="https://admin.forem.com/docs/advanced-customization/config/smtp-settings" class="c-link c-link--branded">email settings</a>.
        </li>
      </ol>
    </div>

    <div>
      <div class="mb-7">
        <h2 class="crayons-subtitle-1">Forem Admin Guide</h2>
        <p class="color-secondary mb-4">This guide gives you the best practices on how you can manage and grow your community on Forem.</p>
        <a href="https://admin.forem.com" target="_blank" class="c-cta">Visit Forem Admin Guide &raquo;</a>
      </div>

      <div>
        <h2 class="crayons-subtitle-1">Forem.dev</h2>
        <p class="color-secondary mb-4">Meet other creators using Forem so that you can share tips with each other.</p>
        <a href="https://forem.dev" target="_blank" class="c-cta">Join Forem.dev Community &raquo;</a>
      </div>
    </div>
  </section>

  <section class="crayons-card p-7">
    <h2 class="crayons-subtitle-1 mb-6">Deployment</h2>

    <div class="grid grid-cols-2 gap-7">
      <div>
        <strong class="color-secondary mr-2">Last deploy</strong>
        <%= ForemInstance.deployed_at %>
      </div>

      <div>
        <strong class="color-secondary mr-2">Latest Commit ID</strong>
        <%= ForemInstance.latest_commit_id || "Not Available" %>
      </div>
    </div>
  </section>
</div>
