<% title "Reading List" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/readinglist") %>" />
  <meta name="description" content="Notifications inbox for dev.to">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/readinglist") %>" />
  <meta property="og:title" content="Reading List - <%= community_qualified_name %>" />
  <meta property="og:description" content="My Saved Posts on dev.to" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Reading List - <%= community_qualified_name %>">
  <meta name="twitter:description" content="Reading List for dev.to">
<% end %>

<div class="home">
  <div class="item-list-container" id="reading-list" data-algolia-key="<%= @secured_algolia_key %>" data-view="<%= @view %>">
  </div>
</div>
<%= javascript_packs_with_chunks_tag "readingList", defer: true %>
