<div>
  <%= form_for [:internal, ProfileField.new], html: { class: "inline-form" } do |form| %>
    <div class="form-group">
      <div class="crayons-card grid p-6 mb-6 gap-1">
        <%= render "form", form: form %>
        <%= f.submit class: "btn btn-primary float-right" %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <% @profile_fields.each do |field| %>
    <%= form_for [:internal, field] do |form| %>
      <div class="crayons-card grid p-6 mb-6 gap-1">
        <%= render "form", form: form %>
        <%= form.submit class: "btn btn-primary float-right" %>
        <%= button_to "Delete", internal_profile_field_path(field), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>
