<h2 class="crayons-title mb-6">Award Badges</h2>
<div class="crayons-card p-6">
  <div class="crayons-notice crayons-notice--warning mb-6" aria-live="polite">
    Warning: Usernames are case-sensitive and must be all lowercase! This task will fail silently when supplied with incorrect usernames.
  </div>

  <%= form_with(url: admin_badge_achievements_award_badges_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :badge, "Badge:" %>
      <%= f.select("badge", @all_badges.map { |badge| [badge.title, badge.slug] }, include_blank: true, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label :usernames, "Usernames (Comma Delimited, All Lowercase, No @ Symbol Required In Front Of Usernames)*" %>
      <%= f.text_area :usernames, placeholder: "username1, username2, username3", required: true, size: "40x10", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message_markdown, "Override Default Message (Supports Markdown)" %>
      <%= f.text_area :message_markdown, size: "40x10", class: "form-control" %>
    </div>
    <%= f.submit "Award Badges", class: "btn btn-primary mb-4" %>
    <%= link_to "Back to Badge Achievements", admin_badge_achievements_path, class: "btn btn-primary float-right" %>
  <% end %>
</div>
