<header class="flex justify-between items-center mb-4">
  <h1 class="crayons-title">Award Badges</h1>
  <%= link_to "Back to Badge Achievements", admin_badge_achievements_path, class: "c-link c-link--block" %>
</header>
<div class="crayons-card p-6">
  <%= form_with(url: admin_badge_achievements_award_badges_path, local: true, class: "flex flex-col gap-4") do |f| %>
    <div class="crayons-field">
      <%= f.label :badge, "Badge", class: "crayons-field__label" %>
      <%= f.select("badge", @all_badges.map { |badge| [badge.title, badge.slug] }, include_blank: true) %>
    </div>
    <div class="crayons-field">
      <%= f.label :usernames, "Usernames", class: "crayons-field__label" %>
      <p class="crayons-field__description">
        Comma Delimited, All Lowercase, No @ Symbol Required In Front Of Usernames
        Warning: Usernames are case-sensitive and must be all lowercase! This task will fail silently when supplied with incorrect usernames.
      </p>
      <%= f.text_area :usernames, placeholder: "username1, username2, username3", required: true, size: "40x3", class: "crayons-textfield" %>
    </div>
    <div class="crayons-field">
      <%= f.label :message_markdown, "Override Default Message", class: "crayons-field__label" %>
      <p class="crayons-field__description">
        Supports Markdown
      </p>
      <%= f.text_area :message_markdown, size: "40x3", class: "crayons-textfield" %>
    </div>
    <div>
      <%= f.submit "Award Badges", class: "c-btn c-btn--primary" %>
    </div>
  <% end %>
</div>
