<%# TODO: change to map of IDs %>
<% cache "activity-aggregated-reactions-#{notifications.first.json_data["reaction"]["updated_at"]}_#{notifications.last.notifiable_id}" do %>
  <% actors = notifications.map { |n| n.json_data["user"] }.uniq %>
  <% public_actors = notifications.map { |n| n.json_data["user"] unless n.json_data["reaction"]["category"] == "readinglist" }.uniq.compact %>
  <% reactable_data = notifications.first.json_data["reaction"]["reactable"] %>

  <% if public_actors.size.positive? %>
    <% cache "activity-profile-pic-#{public_actors.first["id"]}-#{public_actors.first["profile_image_90"]}" do %>
      <a href="<%= public_actors.first["path"] %>" class="small-pic-link-wrapper">
        <div class="small-pic">
          <img src="<%= public_actors.first["profile_image_90"] %>" alt="link to <%= public_actors.first["username"] %>'s profile">
        </div>
      </a>
    <% end %>
  <% else %>
    <div class="small-pic">
      <img src="<%= asset_path ReactionImage.new("readinglist").path %>" alt="Reading List Icon">
    </div>
  <% end %>

  <div class="content notification-content reaction-content">
    <% if public_actors.size == 0 && actors.size == 1 %>
      Someone
    <% elsif public_actors.size == 0 && actors.size > 1 %>
      <%= actors.size %> devs
    <% elsif public_actors.size == 1 && actors.size == 1 %>
      <a href="<%= public_actors.first["path"] %>"><%= public_actors.first["name"] %></a>
    <% elsif public_actors.size == 2 && actors.size == 2 %>
      <a href="<%= public_actors.first["path"] %>"><%= public_actors.first["name"] %></a> and <a href="<%= public_actors.last["path"] %>"><%= public_actors.last["name"] %></a>
    <% elsif public_actors.size > 1 %>
      <a href="<%= public_actors.first["path"] %>"><%= public_actors.first["name"] %></a> and <%= pluralize(actors.size - 1, "other") %>
    <% else %>
      Devs
    <% end %>
    reacted to
      <a href="<%= reactable_data["path"] %>" class="notification-comment-reacted-link">
        <%# your article/comment or the actual title of the article/comment %>
        <%= reactable_data["title"].blank? ? "your #{reactable_data["class"]["name"].downcase}" : sanitize(reactable_data["title"]) %>
      </a>
      <span class="reaction-images">
          with
        <% reaction_categories = notifications.map { |n| n.json_data["reaction"]["category"] } %>
        <% reaction_categories.each do |cat| %>
          <% if ReactionImage.new(cat).path.present? %>
            <%= image_tag ReactionImage.new(cat).path, class: "reaction-image", alt: "#{cat}" %>
          <% end %>
        <% end %>
      </span>
  </div>
<% end %>
