<% first_notification = notification.grouped_notifications.first %>
<% cache "activity-profile-pic-#{first_notification.json_data["user"]["id"]}-#{first_notification.json_data["user"]["profile_image_90"]}" do %>
  <a href="<%= first_notification.json_data["user"]["path"] %>" class="small-pic-link-wrapper">
    <div class="small-pic">
      <img src="<%= first_notification.json_data["user"]["profile_image_90"] %>" alt="link to <%= first_notification.json_data["user"]["username"] %>'s profile">
    </div>
  </a>
<% end %>

<div class="content notification-content reaction-content">
  <% if notification.grouped_notifications.length == 1 %>
    <% cache "activity-follow-button-#{first_notification.json_data["user"]["path"]}-#{first_notification.json_data["user"]["name"]}" do %>
      <a href="<%= first_notification.json_data["user"]["path"] %>"><%= first_notification.json_data["user"]["name"] %></a> followed you!
      <%= follow_button(first_notification.decorate.mocked_object("user"), "follow-back") %>
    <% end %>
  <% elsif notification.grouped_notifications.length == 2 %>
    <% json_data_array = notification.grouped_notifications.map(&:json_data) %>
    <div class="follower-pic-row">
      <div class="tiny-pic">
        <a href="<%= json_data_array.last["user"]["path"] %>">
          <img src="<%= json_data_array.last["user"]["profile_image_90"] %>" alt="link to <%= json_data_array.last["user"]["name"] %>'s profile" class="round">
        </a>
      </div>
    </div>
    <br>
    <div class="notification-message">
      <a href="<%= json_data_array.first["user"]["path"] %>"><%= json_data_array.first["user"]["name"] %></a> and
        <a href="<%= json_data_array.second["user"]["path"] %>"><%= json_data_array.second["user"]["name"] %></a> followed you!
    </div>
  <% else %>
    <div class="follower-pic-row">
      <% notification.grouped_notifications[1..10].each do |notification| %>
        <div class="tiny-pic">
          <a href="<%= notification.json_data["user"]["path"] %>">
            <img src="<%= notification.json_data["user"]["profile_image_90"] %>" alt="link to <%= notification.json_data["user"]["name"] %>'s profile" class="round">
          </a>
        </div>
      <% end %>
    </div>
    <br>
    <a href="<%= first_notification.json_data["user"]["path"] %>"><%= first_notification.json_data["user"]["name"] %></a>
      and <%= notification.grouped_notifications.size - 1 %> others followed you!
  <% end %>
</div>
