<% json_data = notification.json_data %>
<% cache "activity-profile-pic-#{json_data['user']['id']}-#{json_data['user']['profile_image_90']}" do %>
  <a href="<%= json_data["user"]["path"] %>" class="small-pic-link-wrapper">
    <div class="small-pic">
      <img src="<%= json_data["user"]["profile_image_90"] %>" alt="link to <%= json_data["user"]["username"] %>'s profile">
    </div>
  </a>
<% end %>
<!-- below links to comment thread -->
<div class="content notification-content comment-content">
  <a href="<%= json_data["user"]["path"] %>"><%= json_data["user"]["name"] %></a> mentioned you in a comment
  <%= render "notifications/shared/comment_box", json_data: json_data, notification: notification, context: "default" %>
</div>
