<nav class="px-3 s:px-0" aria-label="Notifications">
  <% if @organizations.present? %>
    <select id="notifications-filter__select" class="crayons-select mb-4" aria-label="Filter by account...">
      <option value="/notifications"><%= @user.name %></option>
      <% @organizations.each do |org| %>
        <option value="/notifications/org/<%= org.id %>" <%= "selected" if params[:org_id].to_i == org.id %>><%= org.name %></option>
      <% end %>
    </select>
  <% end %>

  <ul class="crayons-navigation <%= "hidden" if params[:org_id].present? %>">
    <li>
      <a data-text="All" class="crayons-navigation__item <%= "crayons-navigation__item--current" if params[:filter].blank? %>" href="/notifications" aria-current="<%= "page" if params[:filter].blank? %>">
        All
      </a>
    </li>
    <li>
      <a data-text="Comments" class="crayons-navigation__item <%= "crayons-navigation__item--current" if params[:filter].to_s.casecmp("comments").zero? && params[:org_id].blank? %>"
        href="/notifications/comments" aria-current="<%= "page" if params[:filter].to_s.casecmp("comments").zero? && params[:org_id].blank? %>">
        Comments
      </a>
    </li>
    <li>
      <a data-text="Posts" class="crayons-navigation__item <%= "crayons-navigation__item--current" if params[:filter].to_s.casecmp("posts").zero? && params[:org_id].blank? %>"
        href="/notifications/posts" aria-current="<%= "page" if params[:filter].to_s.casecmp("posts").zero? && params[:org_id].blank? %>">
        Posts
      </a>
    </li>
  </ul>
  <% if @organizations.present? %>
    <% @organizations.each do |org| %>
      <ul class="crayons-navigation <%= "hidden" unless params[:org_id].to_i == org.id %>">
        <li><a data-text="All" class="crayons-navigation__item <%= "crayons-navigation__item--current" if params[:filter].to_s.casecmp("org").zero? && params[:org_id].to_i == org.id %>" href="/notifications/org/<%= org.id %>">
          All
        </a></li>
        <li><a data-text="Comments" class="crayons-navigation__item <%= "crayons-navigation__item--current" if params[:filter].to_s.casecmp("comments").zero? && params[:org_id].to_i == org.id %>" href="/notifications/comments/<%= org.id %>">
          Comments
        </a></li>
      </ul>
    <% end %>
  <% end %>
</nav>
