<% if rand(2) == 1 %>
  <% version = "2017/7/13/notifications-page/you-are-not-signed-in" %>
  <div class="signup-cue split-test-tracking-div" data-version="<%= version %>">
    Heads up, you are not currently signed in on this device. You need to sign in to comment or see your notifications, etc.
    <hr/>
    Authenticate via
    <center>
    <a href="/users/auth/twitter?callback_url=https://dev.to" class="sign-up-link" data-no-instant><%= image_tag("twitter-logo.svg", class:"icon-img", alt: "twitter logo") %> Twitter</a>
    or
    <a href="/users/auth/github?state=notifications-cue_<%= version %>" class="sign-up-link" data-no-instant><%= image_tag("github-logo.svg", class:"icon-img", alt: "github logo") %> GitHub</a>
    </center>
  </div>
<% else %>
  <% version = "2017/7/13/notifications-page/-join-dev-community-sloth-full" %>
  <div class="signup-cue signup-cue-advanced split-test-tracking-div" data-version="<%= version %>">
    <h2>Join the DEV community :)</h2>
    <p>
      <a href="/" style="color:#497fbd">dev.to</a> is a place for programmers of all backgrounds and experience levels to learn and share ideas.
    </p>
    <p>
      Create your account to customize your feed and start participating.
    </p>
    <center>
      <a href="/users/auth/twitter?callback_url=https://dev.to" class="sign-up-link" data-no-instant><%= image_tag("twitter-logo.svg", class:"icon-img", alt: "twitter logo") %> Twitter</a>
      or
      <a href="/users/auth/github?state=notifications-cue_<%= version %>" class="sign-up-link" data-no-instant><%= image_tag("github-logo.svg", class:"icon-img", alt: "github logo") %> GitHub</a>
    </center>
      <%=image_tag(cl_image_path(asset_path("/assets/sloan.png"),
       :type=>"fetch",
       :width => 300,
       :crop => "imagga_scale",
       :quality => "auto",
       :flags => "progressive",
       :fetch_format => "auto",
       :sign_url => true), class:"sloan", alt:"sloth-mascot") %>
  </div>
<% end %>
