<div class="crayons-card notification">
  <% json_data = notification.json_data %>
  <%= render "notifications/shared/profile_pic", json_data: json_data %>

  <div class="notification__content">
    <% data = notification.json_data %>
    <% removal = data["adjustment_type"] == "removal" %>
      <h3 class="mb-2 color-base-90"><%= t("views.notifications.tag.heading") %></h3>
      <p class="mb-4">
        <%= t(
              "views.notifications.tag.#{removal ? 'remove' : 'add'}_html",
              tag: link_to("##{data['tag_name']}", "/t/#{data['tag_name']}"),
              title: link_to(h(data["article"]["title"]), data["article"]["path"]),
            ) %>
      </p>
      <% if data["reason_for_adjustment"].present? %>
        <div class="crayons-card crayons-card--secondary p-4 mb-4">
          <p class="color-base-70">
            <strong><%= t("views.notifications.tag.reason") %></strong>
            <em><%= data["reason_for_adjustment"] %></em>
          </p>
        </div>
      <% end %>
      <% if removal %>
        <p class="mb-2"><%= t("views.notifications.tag.check_html", other: link_to(t("views.notifications.tag.other"), "/tags")) %></p>
      <% end %>
      <p>
        <%= t("views.notifications.tag.support_html", community: community_name, email: t("contact_prompts.if_any_questions_html")) %>
      </p>
  </div>
</div>
