<div class="small-pic">
  <%= cl_image_tag("sloan.jpg", width: 90, height: 90, crop: :fill, fetch_format: "auto", flags: ["progressive"], quality: "auto", type: :asset, alt: "Sloan, the sloth mascot") %>
</div>
<div class="content notification-content comment-content">
  <% data = notification.json_data %>
  <% removal = data["adjustment_type"] == "removal" %>
  Hey there 👋
  <br /><br />
  Moderators <%= removal ? "removed" : "added" %>  the
  <b><a href="/t/<%= data["tag_name"] %>" style="font-weight: 900">#<%= data["tag_name"] %></a></b> tag <%= removal ? "from" : "to" %> your post
  <a href="<%= data["article"]["path"] %>"><%= h(data["article"]["title"]) %></a>.
  <br /><br />
  <%= removal ? "Certain tags have special submission guidelines, and mods need to adjust tags to best fit the community." : "Mods felt this tag represented your article." %>
  <br /><br />
  <div class="comment-text">
    <div style="font-size:0.8em;margin-top: -3px;font-weight: 900;margin-bottom: 5px;">Reason for action</div>
    <%= data["reason_for_adjustment"] %>
  </div>
  <br />
  <% if removal %>
    Check out <a href="/tags">other popular tags</a> which may be more appropriate
  <% end %>
  <br><br />
  Thanks for being part of DEV! If you feel like this mod action was a mistake, feel free to contact
  <a href="mailto:<%= SiteConfig.default_site_email %>"><%= SiteConfig.default_site_email %></a>. 🤗
  <br /><br />
</div>
