<h1>Classified Listings</h1>
<%= form_tag("/internal/listings", method: "get") do %>
  <%= label_tag(:search, "Find by listing title or username:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <% if params[:state].present? %>
    <%= hidden_field_tag(:state, params[:state]) %>
  <% end %>
  <%= submit_tag("Search") %>
<% end %>
<%= paginate @classified_listings %>
<div class="wrapper">
  <div class="grid-item">Title Link</div>
  <div class="grid-item">User/Org</div>
  <div class="grid-item">Category</div>
  <div class="grid-item">Cached Tags</div>
  <div class="grid-item">Published?</div>
  <div class="grid-item">Last Bumped</div>
</div>
<% @classified_listings.each do |listing| %>
  <div class="single-internal-listing">
    <div class="wrapper">
      <div class="grid-item">
        <a href="/internal/listings/<%= listing.id %>/edit" target="_blank">
          <%= listing.title %>
        </a>
      </div>
      <div class="grid-item"><a href="/internal/users/<%= listing.user_id %>"><%= User.find(listing.user_id).username %></a><%= " / " + Organization.find(listing.organization_id).name if listing.organization_id.present? %></div>
      <div class="grid-item"><%= listing.category %></div>
      <div class="grid-item"><%= listing.cached_tag_list %></div>
      <div class="grid-item"><%= listing.published ? "Yes" : "No" %></div>
      <div class="grid-item"><%= time_ago_in_words(listing.bumped_at) %> ago</div>
    </div>
    <div class="buffer-area">
      <button class="btn toggle-buffering-butt" style="border: none;">Share to Buffer</button>
      <div class="buffering-area-for-single-listing" style="display:none;">
        <p>show up!</p>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @classified_listings %>
<style>
.single-internal-listing {
  border-bottom: 1px solid grey;
  padding: 10px;
}
</style>

<script>
$(".toggle-buffering-butt").click(function (e) {
    e.preventDefault()
    console.log($(this).closest(".buffer-area").find(".buffering-area-for-single-listing").toggle());
  })
</script>
