  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        Set new password
      </h2>
      <p class="color-base-70">
        As an alternative to signing in via linked social accounts, you may create a password.

        If you signed up with a social media account, please <a href="<%= new_user_password_path %>">reset the password</a> for your primary email address (<%= current_user.email %>) first.
      </p>
    </header>
    <%= form_with(url: user_update_password_path, data: { testid: "update-password-form" }) do |f| %>
      <div class="crayons-field mb-4">
        <%= f.label :current_password, class: "crayons-field__label" %>
        <%= f.password_field :current_password, class: "crayons-textfield", autocomplete: "off" %>
      </div>
      <div class="crayons-field mb-4">
        <%= f.label :password, class: "crayons-field__label" %>
        <%= f.password_field :password, class: "crayons-textfield", autocomplete: "off" %>
      </div>
      <div class="crayons-field mb-4">
        <%= f.label :password_confirmation, "Confirm new password", class: "crayons-field__label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "crayons-textfield" %>
      </div>
      <button class="crayons-btn crayon-btn--secondary" id="new__api__secret__btn" type="submit">Set New Password</button>
   <% end %>
</div>
