  <div class="crayons-card mb-6 grid grid-flow-row gap-6 p-6">
    <header>
      <h2 class="mb-2">Set New Password</h2>
      <p>As an alternative to signing in via linked social accounts, you may create a password.</p>
    </header>
    <%= form_for @user do |f| %>
      <div class="crayons-field mb-5">
        <%= f.label :password, class: "crayons-field__label" %>
        <%= f.password_field :password, class: "crayons-textfield", autocomplete: "off" %>
        <%= f.label :password_confirmation, "Confirm new password", class: "crayons-field__label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "crayons-textfield" %>
      </div>
      <button class="crayons-btn crayon-btn--secondary" id="new__api__secret__btn" type="submit">Set New Password</button>
   <% end %>
</div>
