<h3>Canned Responses</h3>
<p>Canned responses are snippets that you can reuse for comments.</p>

<% if @canned_responses.size.positive? %>
  <h3>Your canned responses</h3>
  <div class="github-repos-container">
    <div class="github-repos">
    <% @canned_responses.each do |canned_response| %>
      <div class="github-repo-row">
        <div class="github-repo-row-name canned-response-row-name">
          <%= canned_response.title %>
          <%= form_tag "/canned_responses/#{canned_response.id}", method: :delete, onsubmit: "return confirm('Are you sure you want to delete: #{canned_response.title}?');" do %>
            <button type="submit" class="cta danger-button">DELETE</button>
          <% end %>
          <button type="button" class="cta">
            <a href="/settings/canned-responses?id=<%= canned_response.id %>">EDIT</a>
          </button>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>

<% if @canned_response.persisted? %>
<hr>

<h3>Editing a canned response</h3>
<a href="/settings/canned-responses">Create a new canned response</a>
<% else %>
<h3>Add a canned response</h3>
<% end %>
<%= form_for(@canned_response) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content, "Comment body (Markdown)" %>
  <%= f.text_area :content, value: @canned_response.content %>
  <%= f.hidden_field :content_type, value: "body_markdown" %>
  <%= f.hidden_field :type_of, value: "personal_comment" %>
  <%= f.submit "Submit", class: "cta" %>
<% end %>
