<div class="<%= "ltag__user ltag__user__id__#{user.id}" %>" style="<%= "border-color:#{user.darker_color};box-shadow: 3px 3px 0px #{user.darker_color};" %>">
  <% if user_path.present? %>
    <a href="<%= user_path %>" class="ltag__user__link profile-image-link">
      <div class="ltag__user__pic">
        <img src="<%= user.profile_image_url_for(length: 150) %>" alt="<%= "#{user.username} image" %>" />
      </div>
    </a>
  <% else %>
    <div class="ltag__user__pic">
      <img src="<%= user.profile_image_url_for(length: 150) %>" alt="<%= "#{user.username} image" %>" />
    </div>
  <% end %>
  <div class="ltag__user__content">
    <h2><%= link_to_if user_path.present?, user.name, user_path, class: "ltag__user__link" %><%= follow_button(user, "full", "c-btn--secondary fs-base") %></h2>
    <div class="ltag__user__summary">
      <%= link_to_if user_path.present?, user.tag_line, user_path, class: "ltag__user__link" %>
    </div>
  </div>
</div>
