<% if @pinned_stories.present? %>
  <div class="pinned-articles">
    <h5><img src="<%= asset_path("pushpin.svg") %>" width="20" height="20" alt="pin" /> Pinned</h5>
    <% @pinned_stories.each do |story| %>
      <%= render "articles/single_story", story: story %>
    <% end %>
  </div>
<% end %>
<% @stories.each_with_index do |story, i| %>
  <%= render "articles/single_story", story: story %>
  <% if i == 0 && @comments.present? %>
    <%= render "users/comments_section" %>
  <% end %>
<% end %>
<% if @stories.none? && @comments.present? %>
  <%= render "users/comments_section" %>
<% end %>
<% if @stories.size > 1 %>
  <div class="placeholder-div"></div>
<% end %>
<div class="single-article-small-pic" id="article-index-hidden-div" style="display:none"></div>
