<%= form_for @users_notification_setting, url: users_notification_settings_path do |f| %>
  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= t("views.settings.notifications.email") %>
      </h2>
    </header>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_newsletter, class: "crayons-checkbox" %>
      <%= f.label :email_newsletter, "Надсилайте мені щотижневу розсилку на електронну пошту", class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_digest_periodic, class: "crayons-checkbox" %>
      <%= f.label :email_digest_periodic, "Періодично надсилайте мені дайджест найпопулярніших дописів за моїми тегами", class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_comment_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_comment_notifications, "Надсилайте мені повідомлення, коли хтось відповідає мені в коментарях", class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_follower_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_follower_notifications, "Надішліть мені листа, коли хтось підпишеться на мене", class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_mention_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_mention_notifications, "Напишіть мені, коли хтось посилається на мене", class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_badge_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_badge_notifications, "Напишіть мені на електронну пошту, коли я отримаю бейдж", class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_unread_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_unread_notifications, t("helpers.label.users_notification_setting.email_unread_notifications", community: community_name), class: "crayons-field__label" %>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1 flex items-center">
        <%= t("views.settings.notifications.mobile") %>
      </h2>
    </header>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :mobile_comment_notifications, class: "crayons-checkbox" %>
      <%= f.label :mobile_comment_notifications, t("helpers.label.users_notification_setting.mobile_comment_notifications"), class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :mobile_mention_notifications, class: "crayons-checkbox" %>
      <%= f.label :mobile_mention_notifications, t("helpers.label.users_notification_setting.mobile_mention_notifications"), class: "crayons-field__label" %>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= t("views.settings.notifications.general") %>
      </h2>
      <p class="color-base-70">
        <%= t("views.settings.notifications.general_desc_html", page: link_to(t("views.settings.notifications.page"), notifications_path)) %>
      </p>
    </header>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :welcome_notifications, class: "crayons-checkbox" %>
      <%= f.label :welcome_notifications, t("helpers.label.users_notification_setting.welcome_notifications", community: community_name), class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :reaction_notifications, class: "crayons-checkbox" %>
      <%= f.label :reaction_notifications, t("helpers.label.users_notification_setting.reaction_notifications"), class: "crayons-field__label" %>
    </div>
  </div>


  <div class="crayons-card crayons-card--content-rows">
    <button type="submit" class="crayons-btn"><%= t("views.settings.notifications.save") %></button>
  </div>

<% end %>
