<div>
  <h2><%= @organization.name %></h2>
  <div class="grid gap-2">
    <% @organization.users.each do |user| %>
      <div class="crayons-card crayons-card--secondary p-4">
        <a href="<%= user.path %>"><%= user.name %></a>
      </div>
    <% end %>
  </div>
</div>
<h2><%= t("views.settings.danger") %></h2>
<%= form_tag users_leave_org_path(@organization), onsubmit: "return confirm('#{t('views.settings.org.leave.confirm')}');" do %>
  <div class="field">
    <%= submit_tag t("views.settings.org.leave.submit"), class: "danger-button" %>
  </div>
<% end %>
