<%= javascript_packs_with_chunks_tag "colorPreview", "validateFileInputs", "stickySaveFooter", defer: true %>

<%= render "users/additional_authentication" %>

<% if ApplicationConfig["APP_DOMAIN"] == "dev.to" %>
  <%# @forem/oss Temporary disabling of overly DEV-specialized link. %>
  <%# We should create a generalized version of the badge page, including a permanent proxied path for the badge image for hotlinking. %>
  <div class="crayons-card mb-6 p-6 grid gap-6">
    <div class="flex items-center">
      <a href="<%= user_url(current_user) || "#" %>" aria-label="Go to your profile page" class="mr-2">
        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="<%= community_name %> badge" height="32" width="32" class="dev-badge crayons-icon" />
      </a>
      <p>Add the <%= community_name %> badge to your personal site. <a href="/p/badges">Click here for the code</a>.</p>
    </div>
  </div>
<% end %>

<%= form_with(url: profile_path(@user.profile_id), method: "patch", html: { class: "sticky-footer-form" }) do |f| %>
  <% @profile_field_groups.each do |group| %>
    <div class="crayons-card mb-6 grid grid-flow-row gap-6 p-6">
      <h2><%= group.name %></h2>
      <div class="color-base-40"><%= group.description %></div>
      <% group.profile_fields.each do |field| %>
        <div>
          <div><%= field.label %></div>
          <%= f.public_send(field["input_type"], "profile[#{field.attribute_name}]", value: @user.profile.data[field.attribute_name]) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="save-footer crayons-card mb-6 grid gap-6 p-6">
    <div>
      <button type="submit" class="crayons-btn">Save</button>
    </div>
  </div>

<% end %>
