<div class="<%= "github-repo-row-featured" if response_template.id == params[:id].to_i %> mb-4">
  <div class="flex items-center py-2 mt-2">
    <div class="flex-1 ff-monospace">
      <%= response_template.title %>
    </div>
    <div class="flex">
      <% if policy(response_template).modify? %>
        <%= form_with url: response_template_path(response_template.id), method: :delete, local: true, html: { onsubmit: "return confirm('#{t('views.settings.extensions.comment.confirm', template: response_template.title)}');" } do %>
          <button type="submit" class="crayons-btn crayons-btn--secondary"><%= t("views.settings.extensions.comment.remove") %></button>
        <% end %>
        <a class="crayons-btn crayons-btn--secondary ml-2" href="/settings/response-templates/<%= response_template.id %>" role="button"><%= t("views.settings.extensions.comment.edit") %></a>
      <% end %>
    </div>
  </div>
</div>
