<div id="sidebar-wrapper-right" class="sidebar-wrapper sidebar-wrapper-right">
  <div class="sidebar-bg" id="sidebar-bg-right"></div>
  <div class="side-bar sidebar-additional showing" id="sidebar-additional">
    <%= render "users/organizations_area" %>
    <% @user.github_repos.where(featured: true).order(stargazers_count: :desc, name: :asc).each do |repo| %>
      <a class="widget" href="<%= repo.url %>" target="_blank">
        <header>
          <h4><span class="emoji"><img src="<%= asset_path("github-logo.svg") %>" alt="github logo"></span><%= repo.name %></h4>
        </header>
        <div class="widget-body">
          <% if repo.description.present? %>
            <%= EmojiConverter.call(repo.description) %>
          <% end %>
          <div class="widget-footer">
            <% if repo.fork %>
              <span class="widget-accent">fork</span>
            <% end %>
            <%= repo.language %>
            <% if repo.stargazers_count.to_i > 0 %>
              <img src="<%= asset_path("star.svg") %>" alt="star icon"> <%= repo.stargazers_count %>
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
    <%= render "articles/badges_area" %>
  </div>
</div>
