<%= form_for(@user, html: { id: "ux-customization-form" }) do |f| %>
  <h2>Style Customization</h2>
  <div class="sub-field">
    <%= f.label :config_theme, "Site Theme" %>
    <div class="theme-selector-field">
      <% ["default", "night theme", "minimal light theme", "pink theme", "ten x hacker theme"].each do |theme| %>
        <%= render partial: "theme_selector", locals: { f: f, theme: theme } %>
      <% end %>
    </div>
  </div>
  <div class="sub-field">
    <%= f.label :config_font, "Base Reading Font" %>
    <div class="theme-selector-field">
      <% ["default", "sans serif", "monospace", "comic sans", "open dyslexic"].each do |font| %>
        <%= render partial: "font_selector", locals: { f: f, font: font } %>
      <% end %>
    </div>
  </div>
  <div class="sub-field">
    <%= f.label :config_navbar, "Site Navbar" %>
    <div class="theme-selector-field">
      <% ["default", "static"].each do |navbar| %>
        <%= render partial: "navbar_selector", locals: { f: f, navbar: navbar } %>
      <% end %>
    </div>
  </div>

  <h2>Writing</h2>
  <div class="sub-field">
    <%= f.label :editor_version, "Editor Version" %>
    <div class="theme-selector-field">
      <% ["v1", "v2"].each do |version| %>
        <%= render partial: "editor_selector", locals: { f: f, version: version } %>
      <% end %>
    </div>
  </div>

  <h2>Content Customization</h2>
  <div class="sub-field">
    <%= f.label :experience_level, "What is your approximate coding experience level (1-5)?" %>
    <div class="theme-selector-field">
      <% ["1", "3", "5", "8", "10"].each_with_index do |exp, i| %>
        <%= render partial: "experience_selector", locals: { f: f, exp: exp, i: i } %>
      <% end %>
      <div>
        <sub><em>This will not be displayed on your profile or anywhere publicly. It helps gently determine what content you are shown along with tags you follow etc.</em></sub>
      </div>
    </div>
  </div>

  <div class="field">
    <label></label>
    <%= f.hidden_field :tab, value: @tab, id: nil %>
    <%= f.submit "SUBMIT", class: "cta" %>
  </div>
<% end %>