<% if policy(Article).create? %>
  <div class="crayons-card crayons-card--content-rows" id="monetization">
    <header>
      <h2 class="crayons-subtitle-1 flex items-center">
        <%= t("views.settings.extensions.web_monetization.header") %>
        <span class="ml-2 c-indicator c-indicator--warning"><%= t("core.beta") %></span>
      </h2>
      <p class="color-base-70">
        <%= t("views.settings.extensions.web_monetization.receive_payments") %> <a href="https://dev.to/hacksultan/web-monetization-like-i-m-5-1418"><%= t("views.settings.extensions.web_monetization.learn_more") %></a>
      </p>
    </header>
    <%= form_for(@user, html: { id: nil, class: "grid gap-4" }) do |f| %>
      <div class="crayons-field">
        <%= f.label :payment_pointer, t("views.settings.extensions.web_monetization.payment_pointer"), class: "crayons-field__label" %>
        <%= f.text_field :payment_pointer, class: "crayons-textfield", placeholder: "$pay.somethinglikethis.co/value" %>
      </div>
      <%= f.hidden_field :tab, value: @tab, id: nil %>
      <button type="submit" class="crayons-btn w-max"><%= t("views.settings.extensions.web_monetization.save_settings") %></button>
    <% end %>
  </div>
<% end %>
