<%= render "users/user_profile" %>

<div class="home sub-home" id="index-container"
     data-params="<%= params.to_json(only: %i[tag username q]) %>" data-which="<%= @list_of %>"
     data-algolia-tag="<%= "user_#{@user.id}" %>"
     data-feed="<%= params[:timeframe] || "base-feed" %>"
     data-articles-since="0">
  <%= render "users/sidebar" %>
  <div class="articles-list" id="articles-list">
    <%= render "users/actions" %>
    <div class="substories" id="substories">
      <%= render "users/main_feed" %>
    </div>
    <div class="loading-articles" id="loading-articles">
      loading...
    </div>
  </div>
  <% cache "user-profile-sidebar-additional-#{@user.id}-#{@user.github_repos_updated_at}-#{@user.badge_achievements_count}", expires_in: 2.days do %>
    <%= render "users/sidebar_additional" %>
  <% end %>
</div>

<%= render "stories/narrow_nav_menu" %>
<%= render "stories/stories_list_script" %>
