<style>
  .stories-index{
    margin-top: 0px !important;
  }
  .profile-pic{
    border-radius: 1000px;
    width: 200px;
    border: 3px solid #888;
    float: left;
  }
  header{
    padding: 20px;
    overflow: hidden;
  }
  .profile-info{
    float: left;
  }
  header h1{
    padding-left: 20px;
    font-size: 2.5em;
  }

</style>
<% title @user.name + " — DEV Profile on dev.to" %>

<div class="home">
  <div class="container article">
    <header>
      <img class="profile-pic" src="<%= ProfileImage.new(@user).get(320) %>" itemprop="image" alt="<%= @user.username %> profile" style="border-color:<%=user_colors(@user)[:text] %>;background:<%=user_colors(@user)[:text] %>"/>
      <div class="profile-info">
        <h1><%= @user.name %></h1>
      </div>
    </header>
    <div class="body">
      My projects
    </div>
  </div>
  <div class="primary-sticky-nav">
    <div class="primary-sticky-nav-element primary-sticky-nav-author">
      Test
    </div>
  </div>
</div>