    <!-- Start Bottom Shell -->
    <% unless internal_navigation? %>
      <% cache("footer-and-signup-modal--#{user_signed_in?}--#{ApplicationConfig['HEROKU_SLUG_COMMIT']}", expires_in: 24.hours) do %>
        <%= render "layouts/footer" %>
        <%= render "layouts/signup_modal" unless user_signed_in? %>
      <% end %>
      <div id="live-article-indicator" class="live-article-indicator"></div>
      <%= image_tag("twitter-logo.svg", class: "icon-img", style: "display:none", alt: "twitter logo") %>
      <%= image_tag("github-logo.svg", class: "icon-img", style: "display:none", alt: "github logo") %>
      <% if 1==2 %>
        <%= stylesheet_link_tag "application", media: "all" %>
        <% if render_js? %>
          <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
          <%= javascript_include_tag "application" %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
