<%= render "devise/shared/error_messages", resource: resource %>

<div class="mt-8 mb-10 crayons-card p-7 pt-3 align-left mx-auto" style="max-width:490px;">
  <h2 class="pb-4">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="crayons-field">
      <%= f.label :email, class: "crayons-field__label" %>
      <%= f.email_field :email, class: "crayons-textfield", placeholder: "you@email.com", autofocus: true, required: true %>
    </div>

    <div class="crayons-field pt-6">
      <%= f.submit "Send me reset password instructions", class: "crayons-btn" %>
    </div>
  <% end %>
</div>
