<div class="ltag__event" data-event-name-slug="<%= event.event_name_slug %>" data-event-variation-slug="<%= event.event_variation_slug %>">
  <div class="ltag__event__header">
    <h3 class="ltag__event__title">
      <%= link_to event.title, event_path(event.event_name_slug, event.event_variation_slug), class: "crayons-link" %>
    </h3>
    <span class="ltag__event__date"><%= event.start_time.strftime("%B %d, %Y") %></span>
  </div>
  <p class="ltag__event__description"><%= event.description %></p>
  <div class="ltag__event__actions">
    <button class="crayons-btn crayons-btn--primary ltag__event__signup-btn" data-signup-url="<%= event_signup_path(event.event_name_slug, event.event_variation_slug) %>" data-event-type="<%= event.type_of %>">
      <%= event.signup_button_text(signed_up: false) %>
    </button>
  </div>
</div>
