<div class="ltag-github-code-tag">
  <div class="code-snippet-info">
      <img class="github-logo" alt="GitHub logo" src="<%= ActionController::Base.helpers.asset_path("github-logo.svg") %>">
      <a href="<%= original_link %>"><%= file_path %></a>
      <br>
      <sub>
        <%= line_info %>
      </sub>
  </div>
  <div class="ltag-github-code-body">
    <%= sanitize body %>
  </div>
</div>
