<% if page.main_properties_present? %>
  <div class="crayons-card p-5">
    <% if page.image %>
      <div class="s:max-w-50 mb-4">
        <img alt="" src="<%= page.image %>" height="auto" loading="lazy">
      </div>
    <% end %>
    <div class="text-styles">
      <h2 class="fs-xl fw-bold lh-tight mb-2">
        <a href="<%= page.url %>" class="ltag" target="_blank" rel="noopener noreferrer">
          <%= page.title %>
        </a>
      </h2>
    </div>
    <div>
      <% if page.description %>
        <p class="truncate-at-2 mb-2">
          <%= page.description %>
        </p>
      <% end %>
    </div>
    <div class="color-secondary fs-s flex items-center">
      <% if page.images.favicon %>
        <img
          alt="favicon"
          class="m-0 mr-2"
          src="<%= Images::Optimizer.call(page.images.favicon, width: 32) %>"
          width="32" height="32" loading="lazy" />
      <% end %>
      <%= url_domain %>
    </div>
  </div>
<% else %>
  <a href="<%= plain_url %>" target="_blank" rel="noopener noreferrer">
    <%= plain_url %>
  </a>
<% end %>
