<div class="crayons-card p-5">
  <% if page.image %>
    <div class="max-w-50 mb-4">
      <img src="<%= page.image %>" height="auto" alt="Avatar">
    </div>
  <% end %>
  <div class="color-primary">
    <p class="fs-xl fw-bold lh-tight mb-2">
      <%= page.title %>
    </p>
    <p class="truncate-at-2">
      <%= page.description %>
    </p>
  </div>
  <div class="color-secondary fs-s">
    <span class="fw-medium"><%= page.properties["og:site_name"].first %> &bull;</span>
    <span><%= page.properties["og:url"].first %></span>
  </div>
</div>
