<div class="ltag-quote">
  <div class="ltag-quote__body">
    <div class="ltag-quote__mark">&ldquo;</div>
    <div class="ltag-quote__text"><%= content.html_safe %></div>
    <div class="ltag-quote__mark ltag-quote__mark--end">&rdquo;</div>
  </div>
  <% if rating %>
    <div class="ltag-quote__rating" aria-label="<%= rating %> out of 5 stars">
      <% 5.times do |i| %>
        <span class="ltag-quote__star<%= ' ltag-quote__star--filled' if i < rating %>">★</span>
      <% end %>
    </div>
  <% end %>
  <hr class="ltag-quote__divider" />
  <footer class="ltag-quote__footer">
    <div class="ltag-quote__author-info">
      <% if image.present? %>
        <img class="ltag-quote__avatar" src="<%= image %>" alt="<%= author %>" loading="lazy" />
      <% end %>
      <div class="ltag-quote__meta">
        <span class="ltag-quote__author"><%= author %></span>
        <% if role.present? %>
          <span class="ltag-quote__role"><%= role %></span>
        <% end %>
        <% if source.present? %>
          <span class="ltag-quote__source"><%= source %></span>
        <% end %>
      </div>
    </div>
    <% if link.present? %>
      <a href="<%= link %>" class="ltag-quote__link" target="_blank" rel="noopener noreferrer">Learn more &rarr;</a>
    <% end %>
  </footer>
</div>
