<div class="ltag-quote">
  <div class="ltag-quote__body">
    <div class="ltag-quote__mark ltag-quote__mark--start">
      <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.417 6.679C20.447 7.773 21 9 21 10.989C21 14.489 18.543 17.626 14.97 19.177L14.077 17.799C17.412 15.995 18.064 13.654 18.324 12.178C17.787 12.456 17.084 12.553 16.395 12.489C14.591 12.322 13.169 10.841 13.169 9C13.169 8.07174 13.5377 7.1815 14.1941 6.52513C14.8505 5.86875 15.7407 5.5 16.669 5.5C17.1823 5.50449 17.6897 5.61104 18.1614 5.81345C18.6332 6.01586 19.06 6.31008 19.417 6.679ZM9.417 6.679C10.447 7.773 11 9 11 10.989C11 14.489 8.543 17.626 4.97 19.177L4.077 17.799C7.412 15.995 8.064 13.654 8.324 12.178C7.787 12.456 7.084 12.553 6.395 12.489C4.591 12.322 3.169 10.841 3.169 9C3.169 8.07174 3.53775 7.1815 4.19413 6.52513C4.85051 5.86875 5.74074 5.5 6.669 5.5C7.18234 5.50449 7.68967 5.61104 8.16144 5.81344C8.63321 6.01585 9.06001 6.31008 9.417 6.679Z" />
      </svg>
    </div>
    <div class="ltag-quote__text"><%= content.html_safe %></div>
    <div class="ltag-quote__mark ltag-quote__mark--end">
      <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.417 6.679C20.447 7.773 21 9 21 10.989C21 14.489 18.543 17.626 14.97 19.177L14.077 17.799C17.412 15.995 18.064 13.654 18.324 12.178C17.787 12.456 17.084 12.553 16.395 12.489C14.591 12.322 13.169 10.841 13.169 9C13.169 8.07174 13.5377 7.1815 14.1941 6.52513C14.8505 5.86875 15.7407 5.5 16.669 5.5C17.1823 5.50449 17.6897 5.61104 18.1614 5.81345C18.6332 6.01586 19.06 6.31008 19.417 6.679ZM9.417 6.679C10.447 7.773 11 9 11 10.989C11 14.489 8.543 17.626 4.97 19.177L4.077 17.799C7.412 15.995 8.064 13.654 8.324 12.178C7.787 12.456 7.084 12.553 6.395 12.489C4.591 12.322 3.169 10.841 3.169 9C3.169 8.07174 3.53775 7.1815 4.19413 6.52513C4.85051 5.86875 5.74074 5.5 6.669 5.5C7.18234 5.50449 7.68967 5.61104 8.16144 5.81344C8.63321 6.01585 9.06001 6.31008 9.417 6.679Z" />
      </svg>
    </div>
  </div>
  <% if rating %>
    <div class="ltag-quote__rating" aria-label="<%= rating %> out of 5 stars">
      <% 5.times do |i| %>
        <span class="ltag-quote__star<%= ' ltag-quote__star--filled' if i < rating %>">★</span>
      <% end %>
    </div>
  <% end %>
  <hr class="ltag-quote__divider" />
  <footer class="ltag-quote__footer">
    <div class="ltag-quote__author-info">
      <% if image.present? %>
        <img class="ltag-quote__avatar" src="<%= image %>" alt="<%= author %>" loading="lazy" />
      <% end %>
      <div class="ltag-quote__meta">
        <span class="ltag-quote__author"><%= author %></span>
        <% if role.present? %>
          <span class="ltag-quote__role"><%= role %></span>
        <% end %>
        <% if source.present? %>
          <span class="ltag-quote__source"><%= source %></span>
        <% end %>
      </div>
    </div>
    <% if link.present? %>
      <a href="<%= link %>" class="ltag-quote__link" target="_blank" rel="noopener noreferrer">Learn more &rarr;</a>
    <% end %>
  </footer>
</div>
