<!-- app/views/liquids/_reddit.html.erb -->
<div class='ltag__link'>
  <a href='<%= url %>' class='ltag__link__link'>
    <div class='ltag__link__pic'>
      <img src='<%= thumbnail %>' alt='<%= author %>' />
    </div>
  </a>

  <a href='<%= url %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= title %></h2>
      <h3><%= author %></h3>
      <div class="ltag__link__servicename">
        <img src="<%= asset_path("reddit-icon.svg") %>" alt="Reddit Logo" aria-label="Reddit Logo" />
      </div>
    </div>
  </a>
</div>
