<div class="ltag__user-subscription-tag" id="user-subscription-tag" data-author-username=<%= author_username %>>
  <div class="ltag__user-subscription-tag__container">

    <div class="ltag__user-subscription-tag__content w-100" id="content">

      <div class="ltag__user-subscription-tag__profile-images signed-out" id="profile-images">

        <span class="crayons-avatar crayons-avatar--xl ltag__user-subscription-tag__author-profile-image">
          <img class="crayons-avatar__image ltag__user-subscription-tag__author-profile-image" src=<%= author_profile_image %> <%= "#{author_username} profile image" %>>
        </span>

        <span class="crayons-avatar crayons-avatar--xl ltag__user-subscription-tag__subscriber-profile-image">
          <img class="crayons-avatar__image ltag__user-subscription-tag__subscriber-profile-image">
        </span>

      </div>

      <h1 class="ltag__user-subscription-tag__cta-text fs-xl mt-0 mb-4 align-center" id="user-subscription-cta-text">
        <%= cta_text %>
      </h1>

      <div class="ltag__user-subscription-tag__subscription-area align-center" id="subscription-area">
        <div class="ltag__user-subscription-tag__signed-out" id="subscription-signed-out">
          <div class="fs-base mb-2" id="logged-out-text">
            You must first sign in to DEV.
          </div>
          <button class="crayons-btn" id="sign-in-btn">
            Sign In
          </button>
        </div>

        <div class="ltag__user-subscription-tag__signed-in hidden" id="subscription-signed-in">
          <button class="crayons-btn mb-4" id="subscribe-btn">
            Subscribe
          </button>
          <div class="fs-s mb-3" id="logged-in-text">
            You'll subscribe with
            <span class="ltag__user-subscription-tag__subscriber-email"></span>
            the email address associated with your DEV account. To use a
            different email address, you can
            <a href="/settings">update your email address in Settings</a>.
          </div>
        </div>

        <div class="ltag__user-subscription-tag__apple-auth fs-s hidden" id="subscriber-apple-auth">
          <button disabled class="crayons-btn" id="apple-subscribe-btn">Subscribe</button>
          <div class="fs-s" id="apple-auth-message">
            Hey, there! It looks like when you created your DEV account you signed
            up with Apple using a private relay email address. If you'd like to
            subscribe, please
            <a href="/settings">update your email address in Settings</a>
            first to a different email address.
          </div>
        </div>

        <div class="ltag__user-subscription-tag__response-message crayons-notice fs-base w-100 hidden" id="response-message"></div>
      </div>
    </div>
    <div id="user-subscription-confirmation-modal" class="hidden">
      <div class="crayons-modal crayons-modal--s">
        <div class="crayons-modal__box">
          <header class="crayons-modal__box__header">
            <h2 class="fs-l fw-bold mt-0 mb-0">
              Confirm subscribe
            </h2>
            <button type="button" class="crayons-btn crayons-btn--icon-rounded crayons-btn--ghost" id="close-confirmation-modal">
              <svg width="24" height="24" viewBox="0 0 24 24" class="crayons-icon" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636l4.95 4.95z" />
              </svg>
            </button>
          </header>
          <div class="crayons-modal__box__body">
            <p id="confirmation-text" class="fs-base mb-4 mt-0">
              You'll share your email address<span class="ltag__user-subscription-tag__subscriber-email"></span>,
              username, name, and DEV profile URL with
              <span class="ltag__user-subscription-tag__author-username fw-medium"><%= author_username %></span>.
              Once you do this, you cannot undo this.
            <p>
            <div class="ltag__user-subscription-tag__confirmation-buttons">
              <button class="crayons-btn mr-1" id="confirmation-btn">
                Confirm subscription
              </button>
              <button class="crayons-btn crayons-btn--secondary" id="cancel-btn">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="crayons-modal__overlay"></div>
      </div>
    </div>
  </div>
</div>
