<h1 style="text-align: center;">
  <%= community_name %> Дайджест
</h1>
<h4 style="text-align: center;">Нещодавні дописи, які можуть бути корисними для вас ❤️</h4>
<ul>
  <% @articles.each do |article| %>
    <li style="margin:18px auto">
      <a href="<%= article_url(article) %>" style="font-weight: bold;color:#7654f1;font-size:calc(0.93em + 0.2vw);"><%= article.title.strip %></a><br><%= truncate(article.description, length: 250) %>
    </li>
  <% end %>
     <hr />
</ul>

<div>
      <b>
        Ви можете налаштувати вагу кожного теґу. Чим більше вага – ти більше ймовірності що ми покажемо вам дописи з цього теґу.
      </b>
      <br /><br />
      Це робиться у вашій <b><a href="https://kutok.io/dashboard/following_tags" style="text-decoration: none;">панелі управління</a></b>.
      <br /><br />
    <% if @user.following_users_count == 0 %>
      <b>
        <%= community_name %> Дайджест - це періодична розсилка, в якій публікуються найкращі дописи від нашої спільноти <%= community_members_label %>.
      </b>
      <br /><br />
      Ваш дайджест поки що не налаштований. Підпишіться <%= community_members_label %> на
      <a href="<%= app_url %>" style="text-decoration: none;"><%= community_name %></a> які вас цікавлять, щоб отримувати найактуальніші повідомлення на свою поштову скриньку.
 <% end %>
	  </div>
<center style="margin-top:40px;">

	<div>🦄
	<% tip_rand = rand(5) %>
    <% if tip_rand == 0 %>
    Сьогоднішня порада від Єдинорога:
    <% elsif tip_rand == 1 %>
    Єдиноріг каже:
    <% elsif tip_rand == 2 %>
    Сьогоднішнє пророцтво від Єдинорога:
    <% elsif tip_rand == 3 %>
    Що каже Єдиноріг:
    <% elsif tip_rand == 4 %>
    Єдиноріг приніс вам мудрість:
    <% elsif tip_rand == 5 %>
	Єдиноріг повідомляє:
	<% end %>
<br><em>«
<% tip_rand2 = rand(26) %>
      <% if tip_rand2 == 0 %>
        Ваша ліва шкарпетка вирушить у самостійну пригоду і повернеться з розповідями про таємне шкарпеткове товариство.
      <% elsif tip_rand2 == 1 %>
        Хмаринка, що пропливає повз, перетвориться на вашу улюблену тваринку.
      <% elsif tip_rand2 == 2 %>
        Наступного разу, коли ви подивитесь у дзеркало, ви побачите своє відображення у смішному капелюсі.
      <% elsif tip_rand2 == 3 %>
        Сьогодні ви кращі, ніж учора.
      <% elsif tip_rand2 == 4 %>
		В Японії є острів Аошіма, де мешкає більше котів, ніж людей. 
      <% elsif tip_rand2 == 5 %>
		У реальному житті ви не можете натиснути клавіші CTRL+Z, тому подумайте двічі, перш ніж діяти.
      <% elsif tip_rand2 == 6 %>
        Ніколи не довіряй білці свої жолуді.
      <% elsif tip_rand2 == 7 %>
        Ключ до щастя - це тепла ковдра і хороша книга.
      <% elsif tip_rand2 == 8 %>
        Завжди будь собою, якщо тільки ти не можеш бути єдинорогом. Тоді завжди будь єдинорогом.
      <% elsif tip_rand2 == 9 %>
        Найшвидший спосіб завести друзів - носити з собою запасну парасольку на дощовий день.
      <% elsif tip_rand2 == 10 %>
        Найкращий спосіб знайти загублену річ - купити заміну.
      <% elsif tip_rand2 == 11 %>
        Ніколи не пізно пограти в хованки зі своїми обов'язками.
      <% elsif tip_rand2 == 12 %>
        Коли життя вас розчаровує, пам'ятайте, що ви завжди можете звинуватити в цьому автокорекцію.
      <% elsif tip_rand2 == 13 %>
        Коли перед вами стоїть складне рішення, просто запитайте себе: Як би вчинив єдиноріг?
      <% elsif tip_rand2 == 14 %>
        Тримай друзів близько, а смаколики ще ближче.
      <% elsif tip_rand2 == 15 %>
        Вам треба поспати.
      <% elsif tip_rand2 == 16 %>
        Hекомендує час від часу відриватися від соціальних мереж і піти погуляти.
      <% elsif tip_rand2 == 17 %>
        Потрібно завжди ганятися за веселкою і знаходити в ній позитивні сторони.
      <% elsif tip_rand2 == 18 %>
        Найкращий спосіб здійснити свої мрії - це діяти.
      <% elsif tip_rand2 == 19 %>
        Немає нічого кращого.
      <% elsif tip_rand2 == 20 %>
        Пам'ятайте, навіть наймогутнішим чарівникам доводиться починати зі скромної палички і крихти магії.
      <% elsif tip_rand2 == 21 %>
        Якщо вусатий сантехнік може врятувати принцесу, то і ти можеш подолати будь-який виклик у своєму житті.
      <% elsif tip_rand2 == 22 %>
        Іноді доводиться довіряти своїм інстинктам і трохи ризикувати.
      <% elsif tip_rand2 == 23 %>
        Не забувайте добре їсти та спати.
      <% elsif tip_rand2 == 24 %>
        У вас хліб закінчується, треба в магазин.
      <% elsif tip_rand2 == 25 %>
        Треба задонатити на ЗСУ.
      <% elsif tip_rand2 == 26 %>
        Треба задонатити волонетрам.
<% end %>
	»
	<br><br>
	</em>
<% tip_rand3 = rand(8) %>
      <% if tip_rand3 == 0 %>
        Дякуємо за те, що ви є цінним членом спільноти.
      <% elsif tip_rand3 == 1 %>
        Підписуйтесь на авторів, яких ви хочете бачити більше!
      <% elsif tip_rand3 == 2 %>
        І пам'ятайте. Усе тільки починається.
      <% elsif tip_rand3 == 3 %>
        Щасти вам!
      <% elsif tip_rand3 == 4 %>
        <% if @user.articles_count > 0 %>
          Не можемо дочекатися <b>вашого</b> нового допису у спільності!
        <% else %>
          Не можемо дочекатися, щоб побачити <b>ваш</b> перший допис у спільності!
        <% end %>
      <% elsif tip_rand3 == 5 %>
        <% if @user.articles_count > 0 %>
          Не можемо дочекатися <b>вашого</b> нового допису у спільності!
        <% else %>
          Не можемо дочекатися, щоб побачити <b>ваш</b> перший допис у спільності!
        <% end %>
      <% elsif tip_rand3 == 6 %>
        Ви круті!
      <% elsif tip_rand3 == 7 %>
        На все добре!
      <% elsif tip_rand3 == 8 %>
        Гарного вам дня та будьте здорові!
	  <% end %>
		</div><br>
		<hr />
<div>

📖 Читайте новини та найкращі статті у наших соцмережах:<br>
<a href="https://t.me/kutokio" target="_blank" rel="noopener nofollow"><b class="color-accent-brand">👉Telegram</b></a>, <a href="https://www.facebook.com/kutokio" target="_blank" rel="noopener nofollow"><b class="color-accent-brand">👉Facebook </b></a> та <a href="https://twitter.com/kutok_io" target="_blank" rel="noopener nofollow"><b class="color-accent-brand">👉Twitter </b></a>.

</div>

  
</center>
