<% page_title = title(t("views.videos.meta.title")) %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url(request.path) %>" />
  <meta name="description" content="<%= Settings::Community.community_description %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= app_url(request.path) %>" />
  <meta property="og:title" content="<%= page_title %>" />
  <meta property="og:image" content="<%= Settings::General.main_social_image %>">
  <meta property="og:description" content="<%= t("views.videos.meta.og.description", community: community_name) %>" />
  <meta property="og:site_name" content="<%= community_name %>" />

  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= page_title %>">
  <meta name="twitter:description" content="<%= t("views.videos.meta.og.description", community: community_name) %>">
  <meta name="twitter:image:src" content="<%= Settings::General.main_social_image %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<div id="index-container" data-which="videos" data-params="<%= params.to_json(only: %i[tag username q]) %>">

  <main id="main-content" class="crayons-layout crayons-layout--header-inside">
    <header class="crayons-page-header">
      <h1 class="crayons-title"><%= t("views.videos.heading", community: community_name) %></h1>
    </header>
    <div class="js-video-collection grid gap-2 m:gap-4 s:grid-cols-2 m:grid-cols-3 mb-6">
      <% @video_articles.each do |video_article| %>
        <a href="<%= video_article.path %>" id="video-article-<%= video_article.id %>" class="crayons-card media-card">
          <div class="media-card__artwork">
            <%= optimized_image_tag(video_article.video_thumbnail_url,
                                    optimizer_options: { crop: "crop", width: 320, height: 180 },
                                    image_options: { alt: video_article.title, loading: "lazy", class: "w-100 object-cover block aspect-16-9 h-auto" }) %>
            <span class="media-card__artwork__badge"><%= video_article.video_duration_in_minutes %></span>
          </div>
          <div class="media-card__content">
            <h2 class="fs-base mb-2 fw-medium"><%= video_article.title %></h2>
            <small class="fs-s">
              <%= video_article.user.name %>
            </small>
          </div>
        </a>
      <% end %>
    </div>
    <div class="subvideos"></div>
    <div class="loading-articles" id="loading-articles">
      <%= t("core.loading") %>
    </div>
  </main>
</div>
