<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field" style="width: 2em;">
  <%= f.check_box field.attribute %>
</div>
<%= f.date_field "workshop_expiration", value: (Time.now + 1.year).strftime("%Y-%m-%d"), style: "width: 25%;" %>
<div style="margin-left: 1em;">
  <%= f.label "Send Scholarship Email?" %>
</div>
<div style="margin-left: 1em;">
  <%= f.check_box "scholar_email" %>
</div>
