<div class="crayons-card crayons-card--secondary p-4">
  <h2 class="crayons-subtitle-2 lh-tight mb-4">
    <%= render "shared/authentication_title" %>
  </h2>
  <% if Settings::Community.tagline.present? %>
    <p class="color-base-70 mb-4">
      <%= Settings::Community.tagline %>
    </p>
  <% end %>
  <div>
    <a href="<%= sign_up_path(state: "new-user") %>" data-tracking-id="<%= tracking_id %>" data-tracking-source="<%= source %>" class="c-cta c-cta--branded justify-center w-100 mb-1" aria-label="<%= t("views.auth.create.aria_label") %>"><%= t("views.auth.create.text") %></a>
    <a href="<%= sign_up_path %>" class="c-link c-link--block justify-center" aria-label="<%= t("views.auth.login.aria_label") %>"><%= t("views.auth.login.text") %></a>
  </div>
</div>
