<a href="<%= sign_up_path(state: "new-user") %>" data-tracking-id="ca_feed_home_page" data-tracking-source="feed_card" class="crayons-btn" aria-label="<%= t("views.auth.create.aria_label") %>" data-no-instant>
  <%= t("views.auth.create.text") %>
</a>
<a href="<%= sign_up_path %>" class="crayons-btn crayons-btn--ghost-brand" aria-label="<%= t("views.auth.login.aria_label") %>">
  <%= t("views.auth.login.text") %>
</a>
