<% if display_ad.placement_area.start_with?("feed_") %>
  <div class="crayons-story crayons-story__display-ad billboard"
    data-display-unit data-id="<%= display_ad.id %>"
    data-category-click="<%= DisplayAdEvent::CATEGORY_CLICK %>"
    data-category-impression="<%= DisplayAdEvent::CATEGORY_IMPRESSION %>"
    data-context-type="<%= data_context_type %>"
    data-type-of="<%= display_ad.type_of %>">
    <div class="crayons-story__body">
      <div class="crayons-story__top">
        <%= render partial: "shared/display_ad_header", locals: { display_ad: display_ad } %>
      </div>
      <div class="crayons-story__indention-display-ad">
        <div class="text-styles text-styles--display-ad">
          <%= display_ad.processed_html.html_safe %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="crayons-card crayons-card--secondary crayons-sponsorship billboard"
    data-display-unit data-id="<%= display_ad.id %>"
    data-category-click="<%= DisplayAdEvent::CATEGORY_CLICK %>"
    data-category-impression="<%= DisplayAdEvent::CATEGORY_IMPRESSION %>"
    data-context-type="<%= data_context_type %>"
    data-type-of="<%= display_ad.type_of %>">
    <%= render partial: "shared/display_ad_header", locals: { display_ad: display_ad } %>
    <div class="p-1 pt-3 text-styles text-styles--display-ad">
      <%= display_ad.processed_html.html_safe %>
    </div>
  </div>
<% end %>
