<div class="hamburger">
  <div class="hamburger__content">
    <header class="hamburger__content__header">
      <h2 class="fs-l fw-bold flex-1 break-word lh-tight"><%= community_name.to_s %></h2>

      <button class="c-btn c-btn--icon-alone js-hamburger-trigger shrink-0" aria-label="<%= t("views.hamburger.icon_close") %>">
        <%= crayons_icon_tag(:x, class: "c-btn__icon", aria_hidden: true, title: t("views.hamburger.icon_close")) %>
      </button>
    </header>

    <div class="p-2" id="authentication-hamburger-actions">
      <%= render partial: "shared/auth_widget", locals: { tracking_id: "ca_hamburger_home_page", source: "mobile_hamburger_nav" } unless user_signed_in? %>
      <%= render partial: "layouts/main_nav", locals: { context: "hamburger" } %>
    </div>
  </div>
  <div class="hamburger__overlay js-hamburger-trigger"></div>
</div>
