<div class="user-metadata-details">
  <ul class="user-metadata-details-inner">
      <% if actor.class.name == "Organization" %>
        <% if actor.location.present? %>
          <li>
            <div class="key">
              Headquarters
            </div>
            <div class="value">
              <%= sanitize actor.location %>
            </div>
          </li>
        <% end %>
        <% if actor.company_size.present? %>
          <li>
            <div class="key">
              Employees
            </div>
            <div class="value">
              <%= actor.company_size %>
            </div>
          </li>
        <% end %>
        <% if actor.email.present? %>
          <li>
            <div class="key">
              Support email
            </div>
            <div class="value">
              <a href="mailto:<%= sanitize actor.email %>"><%= sanitize actor.email %></a>
            </div>
          </li>
        <% end %>
      <% else %>

      <% if actor.email_public && context != "sidebar" %>
        <li>
          <div class="key">
            Email
          </div>
          <div class="value">
            <a href="mailto:<%= actor.email %>"><%= actor.email %></a>
          </div>
        </li>
      <% end %>
      <% if actor.employment_title.present? %>
        <li>
          <div class="key">
            Work
          </div>
          <div class="value">
            <%= actor.employment_title %>
            <% if actor.employer_name.present? %>
              <span class="opacity-50"> at </span>
              <% if actor.employer_url.present? %>
                <a href="<%= actor.employer_url %>" target="_blank" rel="noopener"><%= actor.employer_name %></a>
              <% else %>
                <%= actor.employer_name %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if actor.location.present? %>
        <li>
          <div class="key">
            Location
          </div>
          <div class="value">
            <%= actor.location %>
          </div>
        </li>
      <% end %>
      <% if actor.education.present? %>
        <li>
          <div class="key">
            Education
          </div>
          <ul class="value">
            <%= actor.education %>
          </ul>
        </li>
      <% end %>
    <% end %>
    <li>
      <div class="key">
        Joined
      </div>
      <div class="value">
        <%= local_date(actor.created_at) %>
      </div>
    </li>
  </ul>
</div>
