<%= content_for :page_meta do %>
  <% title "DEV EVENTS" %>
  <link rel="canonical" href="https://dev.to/events" />
  <meta name="description" content="dev.to | Events">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/events" />
  <meta property="og:title" content="dev.to | Events" />
  <meta property="og:image" content="https://thepracticaldev.s3.amazonaws.com/i/bhavxzyx2e7bdsyvysve.jpg" />
  <meta property="og:description" content="Talks and workshops designed to help community members level up." />
  <meta property="og:site_name" content="The Practical Dev" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_networks_handle %>">
  <meta name="twitter:title" content="dev.to | Events">
  <meta property="og:description" content="Talks and workshops designed to help community members level up." />
  <meta name="twitter:image:src" content="https://thepracticaldev.s3.amazonaws.com/i/bhavxzyx2e7bdsyvysve.jpg">
<% end %>

<div class="blank-space"></div>

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<div class="container article">
  <div style="height:30px">
  </div>
  <div class="body">
    <img src="<%= asset_path "sustaining-membership.svg" %>" style="height:200px;margin-top:30px;" alt="DEV membership logo">
    <h1 style="font-size:1.9em;font-weight:600;text-align:center;">
      UPCOMING <br> EVENTS
    </h1>
    <p>DEV Events is a series of ongoing talks and workshops designed to cover important topics to help community members level up. Because we have a global community we will be hosting events at varying times so nobody is restricted by time zone. Additionally,
      <strong>some workshops are repeated multiple times</strong> to further account for this.</p>
    <p>We have many more planned if you do not see a topic that interests you. Email
      <a href="mailto:members@dev.to">members@dev.to</a> to request a topic. And if you're interested in speaking, please
      <a href="https://dev.to/jess/would-you-like-to-give-a-dev-talkworkshop--31c6">apply to our CFP</a>.</p>

    <% @events.each do |event| %>
      <%= render "event", event: event %>
    <% end %>

    <h1 style="font-size:1.9em;font-weight:600;text-align:center;">
      PAST <br> EVENTS
    </h1>

    <% @past_events.each do |event| %>
      <%= render "event", event: event %>
    <% end %>

  </div>
</div>
