<%= content_for :page_meta do %>
  <% title("#{community_name} EVENTS") %>
  <link rel="canonical" href="<%= app_url("/events") %>" />
  <meta name="description" content="<%= community_name %> Events">
<%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/events") %>" />
  <meta property="og:title" content="<%= community_name %> Events" />
  <meta property="og:description" content="Community events." />
  <meta property="og:site_name" content="<%= community_name %>" />
  <meta property="og:image" content="<%= SiteConfig.main_social_image %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= community_name %> Events">
  <meta name="twitter:image:src" content="<%= SiteConfig.main_social_image %>">
<% end %>

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0">
      Upcoming Events
    </h1>

    <%= render partial: "event", collection: @events, as: :event %>

    <% if @events.none? %>
      <div class="crayons-notice">
        There are no upcoming events currently scheduled
      </div>
    <% end %>

    <% if @past_events.any? %>
      <h1>
        Past Events
      </h1>
      <%= render partial: "event", collection: @past_events, as: :event %>
    <% end %>
  </div>
</div>
