<div class="flex flex-col gap-4">
  <div class="crayons-field">
    <%= label_tag :name, "Name", class: "crayons-field_label" %>
    <%= text_field_tag :name, @listing_category.name, class: "crayons-textfield" %>
  </div>

  <div class="crayons-field">
    <%= label_tag :cost, "Cost", class: "crayons-field_label" %>
    <%= number_field_tag :cost, @listing_category.cost, class: "crayons-textfield" %>
  </div>

  <div class="crayons-field">
    <%= label_tag :rules, "Rules", class: "crayons-field_label" %>
    <%= text_field_tag :rules, @listing_category.rules, class: "crayons-textfield" %>
  </div>

  <div class="crayons-field">
    <%= label_tag :slug, "Slug", class: "crayons-field_label" %>
    <%= text_field_tag :slug, @listing_category.slug, class: "crayons-textfield" %>
  </div>

  <div class="crayons-field">
    <%= label_tag :social_preview_color, "Social preview color", class: "crayons-field_label" %>
    <%= text_field_tag :social_preview_color, @listing_category.social_preview_color || "#000000", class: "crayons-textfield", placeholder: "#000000", data: { color_picker: true, label_text: "Social preview color" } %>
  </div>

  <div class="crayons-field">
    <%= label_tag :social_preview_description, "Description", class: "crayons-field_label" %>
    <%= text_area_tag :social_preview_description, @listing_category.social_preview_description, size: "100x10", class: "crayons-textfield" %>
  </div>
</div>
<%= javascript_packs_with_chunks_tag "enhanceColorPickers", defer: true %>
