<nav class="flex mb-4" aria-label="Listing Category navigation">
  <%= form_tag(admin_listing_categories_path, method: "get") do %>
    <%= text_field_tag(:search, params[:search], aria: { label: "Search" }, class: "top-bar--search-input crayons-textfield", placeholder: "Search by name") %>
  <% end %>
  <div class="ml-auto">
    <div class="justify-content-end">
      <%= link_to "Make A Listing Category", new_admin_listing_category_path, class: "crayons-btn" %>
    </div>
  </div>
</nav>

<%= paginate @listing_categories %>

<table class="crayons-table" width="100%">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Cost</th>
      <th scope="col">Rules</th>
      <th scope="col">Slug</th>
      <th scope="col">Color</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="crayons-card">
    <% @listing_categories.each do |category| %>
        <tr>
          <td><%= link_to category.id, edit_admin_listing_category_path(category) %></td>
          <td><%= category.name %></td>
          <td><%= category.cost %></td>
          <td><%= category.rules %></td>
          <td><%= category.slug %></td>
          <td><%= category.social_preview_color %></td>
          <td><%= category.social_preview_description %></td>
          <td><%= link_to "Edit", edit_admin_listing_category_path(category), class: "crayons-btn" %></td>
          <td><%= link_to "Destroy", admin_listing_category_path(category), class: "crayons-btn crayons-btn--danger", method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @listing_categories %>
