<div class="crayons-card p-3 mb-5 mt-2">
  <%= link_to "New Push Notification Target", new_admin_push_notification_target_path, class: "crayons-btn float-right" %>

  <h1 class="crayons-title mb-6">Push Notification Targets</h1>

  <p>
    These are the apps that will be able to receive Push Notifications from this Forem instance.
  </p>
</div>

<table class="crayons-table" width="100%">
  <thead>
    <tr>
      <th scope="col">App Bundle</th>
      <th scope="col">Platform</th>
      <th scope="col">Authentication Key</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="crayons-card">
    <% @targets.each do |push_notification_target| %>
        <tr>
          <td><%= push_notification_target.app_bundle %></td>
          <td><%= push_notification_target.platform %></td>
          <% if push_notification_target.auth_credentials.present? %>
            <td>*******</td>
          <% else %>
            <td>Not Available</td>
          <% end %>
          <% if push_notification_target.active? %>
            <td><span class="crayons-icon" role="img" aria-label="Active">✅</span></td>
          <% else %>
            <td><span class="crayons-icon" role="img" aria-label="Active">❌</span></td>
          <% end %>
          <td>
            <% if push_notification_target.forem_app? %>
              <span class="fs-xs">Forem apps are supported by default and can't be modified.</span>
            <% else %>
              <%= link_to "Edit", edit_admin_push_notification_target_path(push_notification_target), class: "crayons-btn crayons-btn--outlined" %>
              <%= link_to "Destroy", admin_push_notification_target_path(push_notification_target), class: "crayons-btn crayons-btn--danger", method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
