<% org = current_user.admin_organizations.first %>

<% if org == nil %>
  <div class="partner-credits-explainer">
    <h4>What next?</h4>
    <h3>Create an Organization</h3>
    <p>
      <em>Organizations act as a publication and a way for your team to interact with DEV on behalf of the company</em>
    </p>
    <p>
      Come back to this page once you have created an organization. Only organization <em>admins</em> may purchase sponsorships.
    </p>
    <a href="/settings/organization">Create Organization</a>
  </div>
<% elsif %w[silver bronze tag].include?(level) %>
  <% current_user.admin_organizations.each do |org| %>
    <% if  org.credits.where(spent: false).size < sponsorship_credits_price(level) %>
      <div class="partner-credits-explainer">
        <h4>What next?</h4>
        <h3><img src="<%= ProfileImage.new(org).get(90) %>" /> Purchase Credits for @<%= org.slug %></h3>
        <% if org.credits.where(spent: false).size > 0 %>
          <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.where(spent: false).size %> credits available </em></div>
        <% end %>
        <p>
          <em>Credits are your wallet for flexibly managing all your DEV partnerships.</em>
        </p>
        <p>
          Credits can be purchased via company credit card, and once in your account you can use them for different promotions.
        </p>
        <p>
          Credits can be purchased in bulk for discounts on all future sponsorships and partnerships, or in small batches to test the waters.
        </p>
        <a href="/credits/purchase?organization_id=<%= org.id %>" data-no-instant>Get Credits</a>
      </div>
    <% else %>
      <div class="partner-credits-explainer">
        <% if %w[gold silver bronze].include?(level) %>
          <h3><img src="<%= ProfileImage.new(org).get(90) %>" />@<%= org.slug %></h3>
          <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.where(spent: false).size %> credits available </em></div>
          <% if org.sponsorship_level == level %>
            <div class="partner-explainer-notice">
              🎉 You are Subscribed as a <%= level.capitalize %> Sponsor.
              <% if org.sponsorship_status == "pending" %>
                <br /><br />Your placement is <em>pending</em>.
              <% end %>
            </div>
          <% elsif org.sponsorship_level.present? %>
            <div class="partner-explainer-notice">
              🛑 You are already subscribed as a <%= org.sponsorship_level %> sponsor. Contact partnerships@dev.to to change plans.
            </div>
          <% else %>
            <h2><%= level.capitalize %> Sponsor Subscription</h2>
            <%= form_tag "/partnerships" do %>
              <%= hidden_field_tag(:organization_id, org.id) %>
              <%= hidden_field_tag(:sponsorship_level, level) %>
              <h4>Sponsorship message/brand instructions:</h4>
              <%= text_area_tag(:sponsorship_instructions, nil, placeholder: "Include brand guideline links and detailed instructions about the message you are trying to get across. DEV editors will use these guidelines contextually depending on sponsorship.") %>
              <button>Subscribe for <%= sponsorship_credits_price(level) %> credits</button>
              <p style="font-size: 0.88em;">
                <em>
                  This subscription will renew every month with credits in your account. If there are no credits, 50 credits will be purchased at the appropriate price. You can cancel this automatic sponsorship subscription at any time.
                </em>
              </p>
            <% end %>
          <% end %>
        <% elsif level == "tag" %>
          <h3><img src="<%= ProfileImage.new(org).get(90) %>" />@<%= org.slug %></h3>
          <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.where(spent: false).size %> credits available </em></div>
          <br />
          <%= form_tag "/partnerships" do %>
            <%= hidden_field_tag(:organization_id, org.id) %>
            <%= hidden_field_tag(:sponsorship_level, level) %>
            <h4>Sponsorship message/brand instructions:</h4>
            <%= text_area_tag(:sponsorship_instructions, nil, placeholder: "Include brand guideline links and detailed instructions about the message you are trying to get across. DEV editors will use these guidelines contextually depending on sponsorship.") %>
            <% Tag.where(sponsor_organization_id: org.id).each do |tag| %>
              <div class="partner-explainer-notice">
                🎉 You are Subscribed as the sponsor of #<%= tag.name %>.
              </div>
            <% end %>
            <%= select_tag "tag_name", options_for_select(Tag.where(sponsor_organization_id: nil, supported: true).pluck(:name)) %>
            <button>Sponsor Tag</button>
            <p style="font-size: 0.88em;">
              <em>
                This subscription will renew every month with credits in your account. If there are no credits, 50 credits will be purchased at the appropriate price. You can cancel this automatic sponsorship subscription at any time.
              </em>
            </p>
          <% end %>
        <% elsif level == "media" %>
          <h3><img src="<%= ProfileImage.new(org).get(90) %>" />@<%= org.slug %></h3>
          <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.where(spent: false).size %> credits available </em></div>
          <br />
          <%= form_tag "/partnerships" do %>
            <%= hidden_field_tag(:organization_id, org.id) %>
            <%= hidden_field_tag(:sponsorship_level, level) %>
            <%= number_field_tag(:sponsorship_amount, nil, placeholder: "Number of credits") %>
            <button>Add spend to your media sponsorship</button>
            <p style="font-size: 0.88em;">
              <em>
                Credits will be allotted flexibly use in DEV-produced podcasts, videos and other media content. You will be notified as it is being distributed.
              </em>
            </p>
          <% end %>
        <% elsif level == "devrel" %>
          <h3><img src="<%= ProfileImage.new(org).get(90) %>" />@<%= org.slug %></h3>
          <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.where(spent: false).size %> credits available </em></div>
          <br />
          <%= form_tag "/partnerships" do %>
            <%= hidden_field_tag(:organization_id, org.id) %>
            <%= hidden_field_tag(:sponsorship_level, level) %>
            <button>Sign Up for DevRel Consulting</button>
            <p style="font-size: 1.1em;">
              You will be contacted by the DEV team within one day of signing up for this service.
            </p>
            <p style="font-size: 0.88em;">
              <em>
                This subscription will renew every month with credits in your account. If there are no credits, 50 credits will be purchased at the appropriate price. You can cancel this automatic sponsorship subscription at any time.
              </em>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
<h2>Contact <a href="mailto:partners@dev.to">partners@dev.to</a> to sign up</h1>
<% end %>
