<div class="partner-credits-explainer">
  <h3><img src="<%= Images::Profile.call(org.profile_image_url, length: 90) %>" />@<%= org.slug %></h3>
  <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.unspent.size %> credits available</em></div>
  <% sponsorships = org.sponsorships.unexpired.where(level: Sponsorship::METAL_LEVELS) %>
  <% level_sponsorship = sponsorships.where(level: level).take %>
  <% if level_sponsorship %>
    <div class="partner-explainer-notice">
      🎉 You are Subscribed as a <%= level.capitalize %> Sponsor.
      <% if level_sponsorship.status == "pending" %>
        <br /><br />Your placement is <em>pending</em>.
      <% end %>
    </div>
  <% elsif sponsorships.present? %>
    <div class="partner-explainer-notice">
      <% sponsorships.each do |sponsorship| %>
      🛑 You are already subscribed as a <%= sponsorship.level %> sponsor. Contact <%= email_link(:business) %>to change plans.
      <% end %>
    </div>
  <% elsif org.enough_credits?(Sponsorship::CREDITS[level]) %>
    <h2><%= level.capitalize %> Sponsor Subscription</h2>
    <%= form_tag "/partnerships" do %>
      <%= hidden_field_tag(:organization_id, org.id) %>
      <%= hidden_field_tag(:level, level) %>
      <h4>Sponsorship message/brand instructions:</h4>
      <%= text_area_tag(:instructions, nil, placeholder: "Include brand guideline links and detailed instructions about the message you are trying to get across. #{community_name} editors will use these guidelines contextually depending on sponsorship.") %>
      <button>Subscribe for <%= Sponsorship::CREDITS[level] %> credits</button>
    <% end %>
  <% else %>
    <%= render partial: "not_enough_credits", locals: { org: org } %>
  <% end %>
</div>
