<h4>What next?</h4>
<h3><img src="<%= Images::Profile.call(org.profile_image_url, length: 90) %>" /> Purchase Credits for @<%= org.slug %></h3>
<% if org.credits.unspent.size > 0 %>
  <div style="font-size: 0.88em;">
    <em>This organization account has <%= org.credits.unspent.size %> credits available</em>
  </div>
<% end %>
<p>
  <em>Credits are your wallet for flexibly managing all your <%= community_name %> partnerships.</em>
</p>
<p>
  Credits can be purchased via company credit card, and once in your account you can use them for different promotions.
</p>
<p>
  Credits can be purchased in bulk for discounts on all future sponsorships and partnerships, or in small batches to test the waters.
</p>
<a href="/credits/purchase?organization_id=<%= org.id %>" data-no-instant>Get Credits</a>
