<div class="partner-credits-explainer">
  <% sponsored_tags = org.sponsorships.unexpired.where(level: :tag).includes(:sponsorable).map { |sp| sp.sponsorable.name } %>
  <h3><img src="<%= Images::Profile.call(org.profile_image_url, length: 90) %>" />@<%= org.slug %></h3>
  <% if org.enough_credits?(Sponsorship::CREDITS[level]) %>
    <div style="font-size: 0.88em;"><em>This organization account has <%= org.credits.unspent.size %> credits available</em></div>
    <br />
    <%= form_tag "/partnerships" do %>
      <%= hidden_field_tag(:organization_id, org.id) %>
      <%= hidden_field_tag(:level, level) %>
      <h4>Sponsorship message/brand instructions:</h4>
      <%= text_area_tag(:instructions, nil, placeholder: "Include brand guideline links and detailed instructions about the message you are trying to get across.  #{community_name} editors will use these guidelines contextually depending on sponsorship.") %>

      <% sponsored_tags.each do |tag_name| %>
        <div class="partner-explainer-notice">
          🎉 You are Subscribed as the sponsor of #<%= tag_name %>.
        </div>
      <% end %>

      <% if sponsored_tags.any? %>
        <h4>Sponsor another tag:</h4>
      <% end %>

      <% tag_names = Tag.where(supported: true).where.not(name: sponsored_tags).pluck(:name) %>
      <%= select_tag "tag_name", options_for_select(tag_names) %>
      <button>Sponsor Tag for <%= Sponsorship::CREDITS[:tag] %> credits</button>
    <% end %>
  <% else %>
    <% sponsored_tags.each do |tag_name| %>
      <div class="partner-explainer-notice">
        🎉 You are Subscribed as the sponsor of #<%= tag_name %>.
      </div>
    <% end %>
    <%= render partial: "not_enough_credits", locals: { org: org } %>
  <% end %>
</div>
