<header class="flex mb-6 items-center">
  <div>
    <h2 class="crayons-title"><span class="crayons-tag crayons-tag--2xl" style="background:<%= @tag.bg_color_hex %>;color:<%= @tag.text_color_hex %>;">#<%= @tag.name %></span></h2>
    <p>Tagged <%= @tag.taggings_count %> times</p>
  </div>

  <div class="ml-auto">
    <a href="<%= URL.tag(@tag) %>" class="crayons-btn crayons-btn--outlined" target="_blank" rel="noopener noreferer">View</a>
  </div>
</header>

<div class="grid gap-6">
  <div class="crayons-card p-6">
    <div class="crayons-card__header">
      <h4 class="crayons-card__headline">Moderators</h4>
    </div>
    <div class="crayons-card__body flex flex-col gap-2">
      <% if @tag_moderators.exists? %>
        <ul class="list-none">
          <% @tag_moderators.each do |user| %>
              <li class="flex justify-between mb-2">
                <a href="<%= URL.user(user) %>" target="_blank" rel="noopener noreferer">@<%= user.username %></a>
                <%= form_with url: admin_tag_moderator_path(@tag.id), model: [:admin, @tag], method: :delete, local: true do |f| %>
                  <%= f.hidden_field :user_id, value: user.id %>
                  <%= f.submit "Remove", class: "crayons-btn crayons-btn--danger crayons-btn--s" %>
                <% end %>
              </li>
          <% end %>
        </ul>
      <% else %>
        <div class="crayons-notice mb-5" aria-live="polite">
          This tag currently has no moderators.
        </div>
      <% end %>
      <%= form_with url: admin_tag_moderator_path(@tag.id), model: [:admin, @tag], method: :post, local: true do |f| %>
        <div class="crayons-field w-50">
          <%= f.label :user_id, "Add Moderator (ID):", class: "crayons-field__label" %>
          <%= f.text_field :user_id, class: "crayons-textfield" %>
          <%= f.submit "Add Moderator", class: "crayons-btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <h4>Edit details</h4>
    <%= render "form", tag: @tag, badges_for_options: @badges_for_options %>
  </div>
</div>
