<div class="flex items-center mb-6">
  <div class="crayons-tabs">
    <div class="nav-item">
      <a href="/admin/tags" class="crayons-tabs__item <%= "crayons-tabs__item--current" if params[:state].blank? %>">All</a>
    </div>
    <div class="nav-item">
      <a href="/admin/tags?state=supported" class="crayons-tabs__item <%= "crayons-tabs__item--current" if params[:state] == "supported" %>">Supported</a>
    </div>
    <div class="nav-item">
      <a href="/admin/tags?state=unsupported" class="crayons-tabs__item <%= "crayons-tabs__item--current" if params[:state] == "unsupported" %>">Unsupported</a>
    </div>
  </div>

  <div class="m-auto">
    <%= form_tag(admin_tags_path, method: "get", class: "inline-flex") do %>
      <%= text_field_tag(:search, params[:search], aria: { label: "Search" }, class: "crayons-textfield") %>
      <% if params[:state].present? %>
        <%= hidden_field_tag(:state, params[:state]) %>
      <% end %>
      <%= submit_tag("Search", class: "crayons-btn ml-2") %>
    <% end %>
  </div>

  <div class="justify-content-end ml-auto">
    <%= link_to "Make A Tag", new_admin_tag_path, class: "crayons-btn" %>
  </div>
</div>

<%= paginate @tags %>

<table class="crayons-table" width="100%">
  <thead>
    <tr>
      <th scope="col">Tag</th>
      <th scope="col">ID</th>
      <th scope="col">Alias For</th>
      <th scope="col">Taggings Count</th>
      <th scope="col">Category</th>
      <th scope="col">Is Moderated?</th>
    </tr>
  </thead>
  <tbody class="crayons-card">
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, edit_admin_tag_path(tag.id) %></td>
        <td><%= tag.id %></td>
        <td><%= tag.alias_for %></td>
        <td><%= tag.taggings_count %></td>
        <td><%= tag.category %></td>
        <td><%= tag.tag_moderator_ids.any? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tags %>
