<header class="flex mb-6 items-center">
  <div>
    <h2 class="crayons-title"><span class="crayons-tag crayons-tag--2xl" style="background:<%= @tag.bg_color_hex %>;color:<%= @tag.text_color_hex %>;">#<%= @tag.name %></span></h2>
    <p>Tagged <%= @tag.taggings_count %> times</p>
  </div>

  <div class="ml-auto">
    <a href="/t/<%= @tag.name %>" class="crayons-btn crayons-btn--outlined">View</a>
  </div>
</header>

<div class="grid gap-6">
  <div class="crayons-card p-6">
    <h4 class="mb-4">Moderators</h4>
    <% if @tag.tag_moderator_ids.any? %>
      <ul class="list-group-flush">
        <% @tag.tag_moderator_ids.each do |id| %>
            <li class="list-group-item d-flex justify-content-between">
              <a href="/<%= User.find(id).username %>">@<%= User.find(id).username %></a>
              <%= form_for [:admin, @tag] do |f| %>
                <%= f.hidden_field :remove_moderator_id, value: id %>
                <%= f.submit "Remove", class: "crayons-btn crayons-btn--danger crayons-btn--s" %>
              <% end %>
            </li>
        <% end %>
      </ul>
    <% else %>
      <p>This tag currently has no moderators.</p>
    <% end %>
    <%= form_for [:admin, @tag], html: { class: "form-inline justify-content-between mt-3" } do |f| %>
      <div class="form-group">
        <%= f.label :tag_moderator_id, "Add Moderator (id):", class: "mr-3" %>
        <%= f.text_field :tag_moderator_id, class: "crayons-textfield" %>
      </div>
      <div>
        <%= f.submit "Add Moderator", class: "crayons-btn" %>
      </div>
    <% end %>
  </div>

  <div class="crayons-card p-6">
    <h4 class="mb-4">Edit details</h4>
    <%= form_for [:admin, @tag] do |form| %>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>
