<div id="editor-liquid-help">
  <div class="text-styles">
    <h3>Supported Custom Liquid Embeds</h3>
    <table class="crayons-table" width="100%">
      <tbody class="crayons-card">
        <tr>
          <td><%= community_name %> Comment</td>
          <td>Medium</td>
        </tr>
        <tr>
          <td><%= community_name %> Link</td>
          <td>NextTech</td>
        </tr>
        <tr>
          <td><%= community_name %> Listing</td>
          <td>Reddit</td>
        </tr>
        <tr>
          <td><%= community_name %> Organization</td>
          <td>Replit</td>
        </tr>
        <tr>
          <td><%= community_name %> Podcast Episode</td>
          <td>Slideshare</td>
        </tr>
        <tr>
          <td><%= community_name %> Tag</td>
          <td>Speakerdeck</td>
        </tr>
        <tr>
          <td><%= community_name %> User Profile</td>
          <td>Soundcloud</td>
        </tr>
        <tr>
          <td>Asciinema</td>
          <td>Spotify</td>
        </tr>
        <tr>
          <td>Codepen</td>
          <td>Stackblitz</td>
        </tr>
        <tr>
          <td>Codesandbox</td>
          <td>Stackery</td>
        </tr>
        <tr>
          <td>DotNetFiddle</td>
          <td>StackExchange or StackOverflow</td>
        </tr>
        <tr>
          <td>Github Gist, Issue or Repository</td>
          <td>Twitch</td>
        </tr>
        <tr>
          <td>Glitch</td>
          <td>Twitter</td>
        </tr>
        <tr>
          <td>Instagram</td>
          <td>TwitterTimeline</td>
        </tr>
        <tr>
          <td>JSFiddle</td>
          <td>Wikipedia</td>
        </tr>
        <tr>
          <td>Jsitor</td>
          <td>Vimeo</td>
        </tr>
        <tr>
          <td>Kotlin</td>
          <td>Youtube</td>
        </tr>
      </tbody>
    </table>

    <hr />

    <h3>Custom Non-URL Embeds</h3>

    <h4>Details</h4>
    <p>You can embed a <code>details</code> HTML element by using details, spoiler, or collapsible. The <em>summary</em> will be what the dropdown title displays. The <em>content</em> will be the text hidden behind the dropdown. This is great for when you want to hide text (i.e. answers to questions) behind a user action/intent (i.e. a click).</p>
    <p><code>{% details summary %} content {% enddetails %}</code></p>
    <p><code>{% spoiler summary %} content {% endspoiler %}</code></p>
    <p><code>{% collapsible summary %} content {% endcollapsible %}</code></p>

    <h4>KaTex</h4>
    <p>Place your mathematical expression within a KaTeX liquid block, as follows:</p>
    <pre>{% katex %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>
    <p>To render KaTeX inline add the "inline" option:</p>
    <pre>{% katex inline %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>

    <h4>RunKit</h4>
    <p>Put executable code within a runkit liquid block, as follows:</p>
    <pre>{% runkit<br>// hidden setup JavaScript code goes in this preamble area<br>const hiddenVar = 42<br>%}<br>// visible, reader-editable JavaScript code goes here<br>console.log(hiddenVar)<br>{% endrunkit %}<br></pre>

    <% if @user_approved_liquid_tags.include? UserSubscriptionTag %>
      <h4><%= community_name %> User Subscriptions</h4>
      <p class="fs-s fw-bold">This liquid tag can only be created with articles by admins.</p>
      <p>You can add call-to-action text that will show above the subscribe button:</p>
      <code>{% user_subscription If you'd like to receive future updates, subscribe below! %}</code>
      <p class="fs-s">
        If a reader is signed out, the button will prompt them to sign in first
        to subscribe. If the reader is signed in, the button will prompt them
        to subscribe.
      </p>
    <% end %>
  </div>
</div>
