<div id="editor-liquid-help">
  <div class="text-styles">
    <h3>Supported Custom Liquid Embeds</h3>
    <p>Note: Old liquid tag embeds will still work.</p>
    <table class="crayons-table" width="100%">
      <tbody class="crayons-card">
        <tr>
          <td style="vertical-align: top;">
            <ul>
              <li><%= community_name %> Comment</li>
              <li><%= community_name %> Link</li>
              <li><%= community_name %> Link</li>
              <li><%= community_name %> Listing</li>
              <li><%= community_name %> Organization</li>
              <li><%= community_name %> Podcast Episode</li>
              <li><%= community_name %> Tag</li>
              <li><%= community_name %> User Profile</li>
              <li>Asciinema</li>
              <li>Codepen</li>
              <li>Codesandbox</li>
              <li>DotNetFiddle</li>
              <li>Github Gist, Issue or Repository</li>
              <li>Glitch</li>
              <li>Instagram</li>
              <li>JSFiddle</li>
              <li>Jsitor</li>
              <li>Kotlin</li>
              <li>Medium</li>
            </ul>
          </td>
          <td style="vertical-align: top;">
            <ul>
              <li>NextTech</li>
              <li>Reddit</li>
              <li>Replit</li>
              <li>Slideshare</li>
              <li>Speakerdeck</li>
              <li>Soundcloud</li>
              <li>Spotify</li>
              <li>Stackblitz</li>
              <li>Stackery</li>
              <li>StackExchange or StackOverflow</li>
              <li>Twitch</li>
              <li>Twitter</li>
              <li>TwitterTimeline</li>
              <li>Wikipedia</li>
              <li>Vimeo</li>
              <li>Youtube</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <hr />

    <h3>Custom Non-URL Embeds</h3>

    <h4>Details</h4>
    <p>You can embed a <code>details</code> HTML element by using details, spoiler, or collapsible. The <em>summary</em> will be what the dropdown title displays. The <em>content</em> will be the text hidden behind the dropdown. This is great for when you want to hide text (i.e. answers to questions) behind a user action/intent (i.e. a click).</p>
    <p><code>{% details summary %} content {% enddetails %}</code></p>
    <p><code>{% spoiler summary %} content {% endspoiler %}</code></p>
    <p><code>{% collapsible summary %} content {% endcollapsible %}</code></p>

    <h4>KaTex</h4>
    <p>Place your mathematical expression within a KaTeX liquid block, as follows:</p>
    <pre>{% katex %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>
    <p>To render KaTeX inline add the "inline" option:</p>
    <pre>{% katex inline %}<br> c = \pm\sqrt{a^2 + b^2}<br>{% endkatex %}<br></pre>

    <h4>RunKit</h4>
    <p>Put executable code within a runkit liquid block, as follows:</p>
    <pre>{% runkit<br>// hidden setup JavaScript code goes in this preamble area<br>const hiddenVar = 42<br>%}<br>// visible, reader-editable JavaScript code goes here<br>console.log(hiddenVar)<br>{% endrunkit %}<br></pre>

    <% if @user_approved_liquid_tags.include? UserSubscriptionTag %>
      <h4><%= community_name %> User Subscriptions</h4>
      <p class="fs-s fw-bold">This liquid tag can only be created with articles by admins.</p>
      <p>You can add call-to-action text that will show above the subscribe button:</p>
      <code>{% user_subscription If you'd like to receive future updates, subscribe below! %}</code>
      <p class="fs-s">
        If a reader is signed out, the button will prompt them to sign in first
        to subscribe. If the reader is signed in, the button will prompt them
        to subscribe.
      </p>
    <% end %>
  </div>
</div>
