<h3 id="<%= id %>" class="permalink-heading">
  <strong><%= title %></strong>
  <a href="#<%= id %>" aria-label="permalink for <%= title %>">
    <%= inline_svg_tag("small-link.svg", aria_hidden: true) %>
  </a>
</h3>
