<ul class="crayons-card grid gap-2 grid-cols-1 s:grid-cols-2 p-4 list-disc">
  <li class="ml-4"><%= community_name %> Comment</li>
  <li class="ml-4"><%= community_name %> Link</li>
  <li class="ml-4"><%= community_name %> Link</li>
  <li class="ml-4"><%= community_name %> Listing</li>
  <li class="ml-4"><%= community_name %> Organization</li>
  <li class="ml-4"><%= community_name %> Podcast Episode</li>
  <li class="ml-4"><%= community_name %> Tag</li>
  <li class="ml-4"><%= community_name %> User Profile</li>
  <li class="ml-4">Asciinema</li>
  <li class="ml-4">Codepen</li>
  <li class="ml-4">Codesandbox</li>
  <li class="ml-4">DotNetFiddle</li>
  <li class="ml-4">Github Gist, Issue or Repository</li>
  <li class="ml-4">Glitch</li>
  <li class="ml-4">Instagram</li>
  <li class="ml-4">JSFiddle</li>
  <li class="ml-4">Jsitor</li>
  <li class="ml-4">Loom</li>
  <li class="ml-4">Kotlin</li>
  <li class="ml-4">Medium</li>
  <li class="ml-4">NextTech</li>
  <li class="ml-4">Reddit</li>
  <li class="ml-4">Replit</li>
  <li class="ml-4">Slideshare</li>
  <li class="ml-4">Speakerdeck</li>
  <li class="ml-4">Soundcloud</li>
  <li class="ml-4">Spotify</li>
  <li class="ml-4">Stackblitz</li>
  <li class="ml-4">Stackery</li>
  <li class="ml-4">StackExchange or StackOverflow</li>
  <li class="ml-4">Twitch</li>
  <li class="ml-4">Twitter</li>
  <li class="ml-4">TwitterTimeline</li>
  <li class="ml-4">Wikipedia</li>
  <li class="ml-4">Vimeo</li>
  <li class="ml-4">Youtube</li>
</ul>
