<% title "About #{community_name}" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/about") %>" />
  <meta name="description" content="About <%= community_name %>">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/about") %>" />
  <meta property="og:title" content="About <%= community_name %>" />
  <meta property="og:image" content="<%= SiteConfig.main_social_image %>" />
  <meta property="og:description" content="<%= community_name %> is great!" />
  <meta property="og:site_name" content="<%= community_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="About <%= community_name %>">
  <meta name="twitter:description" content="<%= community_name %> is great!">
  <meta name="twitter:image:src" content="<%= SiteConfig.main_social_image %>">
<% end %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>About</h1>
  </div>
  <div class="body">
    <p>
      The production About page is a page generated at <a href="/internal/pages">/internal/pages</a>! This one is just a placeholder.
    </p>
  </div>
</div>
