<% title "About #{ApplicationConfig['COMMUNITY_NAME']}" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/about" />
  <meta name="description" content="About <%= ApplicationConfig["COMMUNITY_NAME"] %>">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/about" />
  <meta property="og:title" content="About <%= ApplicationConfig["COMMUNITY_NAME"] %>" />
  <meta property="og:image" content="http://i.imgur.com/B4JNl1w.png" />
  <meta property="og:description" content="<%= ApplicationConfig["COMMUNITY_NAME"] %> is great!" />
  <meta property="og:site_name" content="<%= ApplicationConfig["COMMUNITY_NAME"] %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_networks_handle %>">
  <meta name="twitter:title" content="About <%= ApplicationConfig["COMMUNITY_NAME"] %>">
  <meta name="twitter:description" content="<%= ApplicationConfig["COMMUNITY_NAME"] %> is great!">
  <meta name="twitter:image:src" content="http://i.imgur.com/B4JNl1w.png">
<% end %>

<style>
  h2 {
    text-align: center;
    font-size: 2.5em !important;
    font-weight: 900 !important;
  }

  .about-row {
    width: 500px;
    max-width: 93%;
    margin: 50px auto;
    text-align: center;
  }

  .about-key {
    margin: 10px 0px 30px;
  }

  .about-key img {
    height: 200px;
    width: 200px;
    border-radius: 1000px;
  }

  .about-value {
    margin-bottom: 10px;
  }
</style>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      About dev.to(<%= image_tag("emoji/apple-waving-hand.png", style: "width: 55px; vertical-align: text-bottom;", alt: "Waving hand emoji") %>)
    </h1>
  </div>
  <div class="body">
    <p>
      Where programmers share ideas and help each other grow. It is an online community for sharing and discovering great ideas, having debates, and making friends. Anyone can share articles, questions, discussions, etc. as long as they have the rights to the words they are sharing. Cross-posting from your own blog is welcome.
    </p>
    <h2>Leadership</h2>
    <div class="about-rows">
      <div class="about-row">
        <div class="about-key">
          <img src="<%= cloudinary "https://thepracticaldev.s3.amazonaws.com/i/b22fx2whfnyfmm05p856.jpeg" %>" width="250" alt="Ben Halpern" />
        </div>
        <div class="about-value">
          <b>Ben Halpern, Founder</b><br />
          Ben manages content, is the core maintainer of the dev.to application, and makes jokes on the Internets.
        </div>
      </div>
      <div class="about-row">
        <div class="about-key">
          <img src="<%= cloudinary "https://thepracticaldev.s3.amazonaws.com/i/4zs6ltsogedmp1l46cmi.jpg" %>" width="250" alt="Jess Lee" />
        </div>
        <div class="about-value">
          <b>Jess Lee, Co-Founder</b><br />
          Jess leads day-to-day operations, manages content, and contributes to the dev.to codebase.
        </div>
      </div>
      <div class="about-row">
        <div class="about-key">
          <img src="<%= cloudinary "https://thepracticaldev.s3.amazonaws.com/i/pm1d5npekd2j6ts2hcte.jpeg" %>" width="250" alt="Peter Frank" />
        </div>
        <div class="about-value">
          <b>Peter Frank, Co-Founder</b><br />
          Peter focuses on strategy, investor relations, and sending dev.to swag around the globe.
        </div>
      </div>
    </div>

    <p>
      The platform was created in 2016. The Twitter account,
      <a href="https://twitter.com/thepracticaldev">@ThePracticalDev</a> was around before then. We are based out of New York City.
    </p>
  </div>
</div>
