<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= community_name %> ❤️</title>
</head>
<body>
  <% if @html_variant %>
    <%= @html_variant.html.html_safe %>
    <div id="html-variant-element" data-variant-id="<%= @html_variant.id %>"></div>
    <%= javascript_packs_with_chunks_tag "htmlVariants", defer: true %>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', '<%= Settings::General.ga_tracking_id %>', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
      ga('send', 'event', 'view', '/badge version impression', '<%= @html_variant.name %>', null);
    </script>
  <% end %>
</body>
</html>
