<% if user_signed_in? %>
<% end %>
<% title "DEV Chat" %>
<link rel="canonical" href="https://dev.to/chat"/>
<meta name="description" content="DEV Chat">

<% if user_signed_in? %>
  <%= javascript_pack_tag 'chat', defer: true %>
  <style>
  .inner-content {
    height: calc(100vh - 115px);
    margin: 100px auto;
    width: 96%;
    max-width: 1240px;
  }

    .live-chat {
      height: calc(100vh - 115px);
    }
  </style>

  <div class="inner-content">
    <div
      id="chat"
      class="live-chat"
      data-pusher-key="<%= ENV["PUSHER_KEY"] %>"
      data-chat-channels="<%= @chat_channels.to_json %>"
      data-chat-options="<%= {showChannelsList:true, showTimestamp: true, activeChannelId: @active_channel.id }.to_json %>">
    </div>
<% else %>
  <%= render "devise/registrations/registration_form" %>
<% end %>
<style>
  footer {display: none}
  #page-content {max-height:100vh}
</style>