<% title "#{community_qualified_name} Code of Conduct" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url(code_of_conduct_path) %>" />
  <meta name="description" content="<%= community_qualified_name %> Code of Conduct">
  <meta name="keywords" content="<%= SiteConfig.meta_keywords[:default] %>">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url(code_of_conduct_path) %>" />
  <meta property="og:title" content="<%= community_qualified_name %> Code of Conduct" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= community_qualified_name %> Code of Conduct">
<% end %>

<div class="crayons-layout crayons-layout--limited crayons-article">
  <div class="crayons-card crayons-article__body">
    <h1 class="fw-bold">Code of Conduct</h1>
    <%= render "coc_text" %>
  </div>
</div>
