<% title "The Practical Dev Code of Conduct" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/code-of-conduct") %>" />
  <meta name="description" content="The Practical Dev Code of Conduct">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/code-of-conduct") %>" />
  <meta property="og:title" content="The Practical Dev Code of Conduct" />
  <%#  <meta property="og:image" content="<%= SiteConfig.main_social_image %>" /> %>
  <%#  <meta property="og:description" content="<%= community_qualified_name %> is great!" /> %>
  <meta property="og:site_name" content="<%= community_qualified_name %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_networks_handle %>">
  <meta name="twitter:title" content="The Practical Dev Code of Conduct">
  <%#  <meta name="twitter:description" content="<%= community_qualified_name %> is great!"> %>
  <%#  <meta name="twitter:image:src" content="<%= SiteConfig.main_social_image %>"> %>
<% end %>

<div class="blank-space"></div>

<div class="container article">
  <div class="title">
    <h1>Code of Conduct</h1>
  </div>
  <div class="body">
    <%= render "coc_text" %>
  </div>
</div>
