<% title "Community Moderation Guide for dev.to()" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/community-moderation" />
  <meta name="description" content="Community Moderation Guide for dev.to()">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/community-moderation" />
  <meta property="og:title" content="Community Moderation Guide for dev.to()" />
  <meta property="og:image" content="https://thepracticaldev.s3.amazonaws.com/i/g355ol6qsrg0j2mhngz9.png" />
  <meta property="og:description" content="Things to know!" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Community Moderation Guide for dev.to()">
  <meta name="twitter:description" content="Things to know!">
  <meta name="twitter:image:src" content="https://thepracticaldev.s3.amazonaws.com/i/g355ol6qsrg0j2mhngz9.png">
<% end %>
<style>
  img {
    border: solid #444444;
  }
</style>

<header>
  <div class="blank-space"></div>
</header>
<div class="container article">
  <div class="title">
    <h1>
      Community Moderation
    </h1>
  </div>
  <div class="body">
    <p>The DEV Community Moderator program gives trusted users the ability to help promote valuable posts and push down articles that we deem spammy, overly promotional, or unhelpful. It also provides moderators the ability to quickly flag harassment, as well as a few other neat things.</p>

    <p>Neat things include:</p>
    <ul>
      <li>Quick emoji ratings to down-rank content</li>
      <li>Suggest a tweet for a post</li>
      <li>Rate the experience level of a post</li>
      <li>A mod dashboard!</li>
    </ul>
    <p><strong>To become a community or <a href="/tag-moderation">tag moderator</a>, please email yo@dev.to!</strong></p>
    <p>To access these features for an article, append /mod to the URL of any article or click "Moderate Post" located underneath the title of each post beside the read time.</p>
    <img alt="mod-button-on-articles" src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/ex81b5zgpfb7tof9ljr5.png") %>" />
    <h3>Using our quick emoji rating to down-rank content</h3>
    <p>Clicking on the 'thumbsdown' or 'vomit' button will activate them. Here's what each emoji does: </p>
    <ol>
      <li>Thumbsdown(👎): a quick way to “push content down" so that it’s less likely to be seen on the site (i.e. articles that only has a teaser paragraph and sends the reader to an external link for the rest). </li>
      <li>Vomit(🤢): a quick way to flag content that violates the <a href="https://dev.to/code-of-conduct">Code of Conduct</a> or <a href="https://dev.to/terms">Terms</a> so the DEV core team are notified and can taken action.</li>
    </ol>
    <img alt="emoji-on-article-mod-page" src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/snt5p004ck8b3xfhftkt.png") %>" />
    <p>To down-rank comments, append /mod to the comment permalink or click 'moderate' from the ellipses on the comment.</p>
    <img alt="comment-dropdown" src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/ms02ntw0frn8j2rs214l.png") %>">

    <h3>Suggesting a tweet for a post</h3>
    <p>If you think a post is particularly good, help us craft a tweet to give it a shout out through one of our Twitter accounts. The tweet suggestion is not guaranteed to be used, but will be reviewed by a team member.</p>
    <img alt="tweet-form" src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/j58pg0ci23urj0jqh5oe.png") %>">
    <h3>Rating the experience level of a post</h3>
    <p>Using the 1-10 scale (1: beginner; 10: most advanced), rate what you believe a post's experience level to be. While this is somewhat subjective, just use your best judgement taking into account any bias you may have based on your own knowledge of the topic. This will help us bring more relevant posts to each individual's feed depending on their experience level.</p>
    <img alt="experience-level-buttons" src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/o7hz1ii15n9ywubgxwd9.png") %>">
    <h3>Mod Dashboard</h3>
    <p>To do the above two things (suggest-a-tweet & rate experience levels) in bulk, visit: <a href="/mod">dev.to/mod</a>!</p>
  </div>
  <br>
</div>
