<% title "About #{community_qualified_name}" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/p/information") %>" />
  <meta name="description" content="All information about <%= community_qualified_name %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/p/information") %>" />
  <meta property="og:title" content="All information about <%= community_qualified_name %>" />
  <meta property="og:image" content="<%= SiteConfig.main_social_image %>" />
  <meta property="og:description" content="<%= community_qualified_name %> is great!" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="All information about <%= community_qualified_name %>">
  <meta name="twitter:description" content="<%= community_qualified_name %> is great!">
  <meta name="twitter:image:src" content="<%= SiteConfig.main_social_image %>">
<% end %>

<style>
  .key-links {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .social-links {
    text-align: center;
    padding: 40px 0px;
    filter: invert(0);
    filter: var(--theme-social-icon-invert, invert(0));
  }
</style>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0">More information about <%= community_name %> 👋</h1>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <% if SiteConfig.shop_url.present? %>
        <li><a href="<%= SiteConfig.shop_url %>"><%= community_name %> Shop</a></li>
      <% end %>
      <li><a href="/sponsors">Sponsors</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/terms">Terms of Use</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/security">Vulnerabilities/Bug Bounty</a></li>
      <li><a href="/code-of-conduct">Code of Conduct</a></li>
      <li><a href="/downloads">Get the mobile app</a></li>
    </ul>

    <%= render partial: "layouts/social_media" %>
  </div>
</div>
