<% title "Welcome to #{ApplicationConfig["COMMUNITY_NAME"]}" %>

<style>
  <% cache "onboarding-css-#{ApplicationConfig['DEPLOYMENT_SIGNATURE']}", expires_in: 10.hours do %>
    <%= Rails.application.assets["onboarding.css"].to_s.html_safe %>
    <%= Rails.application.assets["preact/onboarding-modal.css"].to_s.html_safe %>
  <% end %>
  footer {
    display: none;
  }
  .top-bar {
    display: none;
  }
</style>

<div id="onboarding-container">
  <%= javascript_pack_tag "Onboarding", defer: true %>
</div>

<div id="terms" style="display: none;">
  <%= render "terms_text" %>
</div>

<div id="coc" style="display: none;">
  <%= render "coc_text" %>
</div>