<% title @page.title %>
<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url(@page.path) %>" />
  <meta name="description" content="<%= @page.title %> — <%= community_name %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url(@page.path) %>" />
  <meta property="og:title" content="<%= @page.title %> — <%= community_name %>" />
  <meta property="og:image" content="<%= @page.social_image_url || SiteConfig.main_social_image %>" />
  <meta property="og:description" content="<%= @page.description %>" />
  <meta property="og:site_name" content="<%= community_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= SiteConfig.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= @page.title %> — <%= community_name %>">
  <meta name="twitter:description" content="<%= @page.description %>">
  <meta name="twitter:image:src" content="<%= @page.social_image_url || SiteConfig.main_social_image %>">
<% end %>

<main id="main-content">
  <% if @page.template == "contained" %>
    <div class="crayons-layout crayons-layout--limited-l">
      <div class="crayons-card text-styles text-padding">
        <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0"><%= @page.title %></h1>

        <%= @page.processed_html.html_safe %>
      </div>
    </div>
  <% else %>
    <%= @page.processed_html.html_safe %>
  <% end %>
</main>
<div id="IS_CENTERED_PAGE"></div>
