<% title "#{ApplicationConfig['COMMUNITY_NAME']} Sponsors" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/sponsors" />
  <meta name="description" content="dev.to | Sponsors">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">
<% end %>

<div class="blank-space"></div>

<style>
  .container .body h4 img {
    top: 10px;
    display: inline;
    left: 0;
  }
  .sponsor-level-headline {
    padding:5px 18px;
    border-radius: 3px;
  }
</style>

<div class="container article">
  <div class="title" style="height:20px;">
  </div>
  <div class="body" style="text-align:center;">
    <h1 style="font-size:3em;font-weight:600;margin-bottom:5px;">
      THANK YOU
    </h1>
    <p style="margin:5px 5px;"><em>for supporting our community</em></p>

    <h4>
      <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>" alt="golden badge">
      <span class="sponsor-level-headline" style="background-color: #fefa87;">Gold Sponsors</span>
      <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>" alt="golden badge">
    </h4>
    <div id="gold-sponsors">
      <% Sponsorship.gold.includes(:organization).order(featured_number: :asc).each do |sponsorship| %>
        <a href="<%= sponsorship.url %>"><img src="<%= cloudinary(sponsorship.organization.nav_image_url, 250) %>"></a>
        <p>
          <%= sponsorship.blurb_html.html_safe %>
        </p>
        <hr />
      <% end %>
    </div>

    <h4>
      <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>" alt="silver badge">
      <span class="sponsor-level-headline" style="background-color: #d8e1f0;">Silver Sponsors</span>
      <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>" alt="silver badge">
    </h4>
    <div id="silver-sponsors">
      <% Sponsorship.silver.includes(:organization).order(featured_number: :asc).each do |sponsorship| %>
        <a href="<%= sponsorship.url %>"><img src="<%= cloudinary(sponsorship.organization.nav_image_url, 250) %>"></a>
        <p>
          <%= sponsorship.blurb_html.html_safe %>
        </p>
        <hr />
      <% end %>
    </div>

    <h4>
      <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>" alt="bronze badge">
      <span class="sponsor-level-headline" style="background-color: #fcd6bb;">Bronze Sponsors</span>
      <img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>" alt="bronze badge">
    </h4>
    <div id="bronze-sponsors">
      <% Sponsorship.bronze.includes(:organization).order(featured_number: :asc).find_each do |sponsorship| %>
        <a href="<%= sponsorship.url %>"><img src="<%= cloudinary(sponsorship.organization.nav_image_url, 250) %>"></a>
        <p>
          <%= sponsorship.blurb_html.html_safe %>
        </p>
        <hr />
      <% end %>
    </div>

    <h5>Interested in sponsoring dev.to? Email <a href="mailto:peter@dev.to">peter@dev.to</a></h5>
  </div>
</div>
