<% title "#{community_name} Sponsors" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/sponsors") %>" />
  <meta name="description" content="<%= community_name %> | Sponsors">
  <%= meta_keywords_default %>
<% end %>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-0 mt-0">Thank you! ♥️</h1>
    <h2 class="fs-2xl s:fs-3xl l:fs-4xl fw-medium s:fw-bold lh-tight mb-4 mt-0">for supporting our community</h2>

    <div class="sponsors">
      <div class="sponsors__label">
        <h3 class="p-0 m-0 fs-xl fw-medium">🥇 Gold Sponsors</h3>
      </div>
      <div class="sponsors__items">
        <% Sponsorship.gold.live.includes(:organization).order(featured_number: :asc).each do |sponsorship| %>
          <div>
            <a href="<%= sponsorship.url %>" class="sponsor__logo">
              <img src="<%= optimized_image_url(sponsorship.organization.nav_image_url, width: 250) %>" alt="<%= sponsorship.organization.name %> logo" loading="lazy">
            </a>
            <p>
              <%= sponsorship.blurb_html&.html_safe %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="sponsors">
      <div class="sponsors__label">
        <h3 class="p-0 m-0 fs-xl fw-medium">🥈 Silver Sponsors</h3>
      </div>
      <div class="sponsors__items">
        <% Sponsorship.where(status: "live", level: "silver").where("expires_at > ?", Time.current).includes(:organization).order(featured_number: :asc).each do |sponsorship| %>
          <div>
            <a href="<%= sponsorship.url %>" class="sponsor__logo">
              <img src="<%= optimized_image_url(sponsorship.organization.nav_image_url, width: 250) %>" alt="<%= sponsorship.organization.name %> logo" loading="lazy">
            </a>
            <p>
              <%= sponsorship.blurb_html&.html_safe %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="sponsors">
      <div class="sponsors__label">
        <h3 class="p-0 m-0 fs-xl fw-medium">🥉 Bronze Sponsors</h3>
      </div>
      <div class="sponsors__items">
        <% Sponsorship.bronze.live.where("expires_at > ?", Time.current).includes(:organization).order(featured_number: :asc).find_each do |sponsorship| %>
          <div>
            <a href="<%= sponsorship.url %>" class="sponsor__logo">
              <img src="<%= optimized_image_url(sponsorship.organization.nav_image_url, width: 250) %>" alt="<%= sponsorship.organization.name %> logo" loading="lazy">
            </a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="crayons-notice">
      <p>Interested in sponsoring <%= community_name %>? Check out our <a href="<%= app_url("/sponsorships") %>">sponsorships</a> page.</p>
    </div>
  </div>
</div>
<%= javascript_packs_with_chunks_tag "followButtons", defer: true %>
