<% title "DEV Sponsors" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/sponsors"/>
  <meta name="description" content="dev.to | Sponsors">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

<% end %>

<header>
  <div class="blank-space"></div>
</header>

<style>
  .container .body h4 img {
    top: 10px;
    display: inline;
    left: 0;
  }  
}   
</style>

<div class="container article">
  <div class="title" style="height:20px;">
  </div>
  <div class="body" style="text-align:center;">
    <h1 style="font-size:3em;font-weight:600;margin-bottom:5px;">
      THANK YOU
    </h1>
    <p style="margin:5px 5px;"><em>for supporting our community</em></p>

    <h4><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>"><span style="background-color: #fefa87; padding:3px;">Gold Sponsors</span><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>"></h4>
    <div id="gold-sponsors">
      <a href="https://try.digitalocean.com/performance/?utm_source=devto&utm_medium=display&utm_campaign=Devto_2018_Brand"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/85318v8gv77kzr8r2e58.png", 250) %>"></a>

      <p><a href="https://try.digitalocean.com/performance/?utm_source=devto&amp;utm_medium=display&amp;utm_campaign=Devto_2018_Brand">Digital Ocean</a> is a much-loved cloud computing platform. I'm always impressed by how well-built <em>and well-documented</em> the Digital Ocean core products are. It's easier said than done, and they've been able to stay ahead of the curve.</p>
            
      <hr/>

      <a href="https://timber.io/?utm_source=devto&amp;utm_medium=homepage&amp;utm_campaign=devto_aug"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/wxyawe0x0ve0n7kmbzk5.png", 260) %>" /></a>

      <p><a href="https://timber.io/?utm_source=devto&amp;utm_medium=homepage&amp;utm_campaign=devto_aug">Timber</a> is one of the most interesting products to take on the logging space. Built around readability and usability, Timber is a logging system you're actually going to be excited about using. We have been Timber users since the beta days ourselves. They are doing great work.</p>

      <p>Timber currently integrates most seamlessly with Ruby, Elixir and Node applications. It comes highly recommended from our team.</p>
      
      <hr/>
      
      <a href="https://underdog.io?utm_medium=homepage&utm_source=devto&utm_campaign=homepage2018-jun-30&utm_content=engineers-tech-companies"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/o4ajb22iefk88k0607vk.png", 260) %>" /></a>

      <p><a href="https://underdog.io?utm_medium=homepage&utm_source=devto&utm_campaign=homepage2018-jun-30&utm_content=engineers-tech-companies">Underdog</a> matches great devs with awesome tech companies in the major US market. If you are looking for a position in one of these hubs, skip the line and let Underdog be your partner in the process.</p>

      <hr/>
    </div>
    <h5> Interested in sponsoring dev.to? Email <a href="mailto:peter@dev.to">peter@dev.to</a> </h5>      
  </div>
</div>
