<% title "DEV Sponsors" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/sponsors"/>
  <meta name="description" content="dev.to | Sponsors">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

<% end %>

<header>
  <div class="blank-space"></div>
</header>

<style>
  .container .body h4 img {
    top: 10px;
    display: inline;
    left: 0;
  }  
}   
</style>

<div class="container article">
  <div class="title" style="height:20px;">
  </div>
  <div class="body" style="text-align:center;">
    <h1 style="font-size:3em;font-weight:600;margin-bottom:5px;">
      THANK YOU
    </h1>
    <p style="margin:5px 5px;"><em>for supporting our community</em></p>    
    <h4><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>"><span style="background-color: #fefa87; padding:3px;">Gold Sponsors</span><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>"></h4>
    <div id="gold-sponsors">
      <div>
        <a href="https://try.digitalocean.com/performance/?utm_source=devto&utm_medium=display&utm_campaign=Devto_2018_Brand"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/85318v8gv77kzr8r2e58.png", 300) %>"></a>
        <p><a href="https://try.digitalocean.com/performance/?utm_source=devto&utm_medium=display&utm_campaign=Devto_2018_Brand">Digital Ocean</a> is a much-loved cloud computing platform. I'm always impressed by how well-built and well-documented the Digital Ocean core products are. It's easier said than done, and they've been able to stay ahead of the curve.</p>
      </div>    
      <div>
        <a href="https://flatironschool.com/?utm_campaign=Sponsored_Content&utm_source=Devto&utm_medium=homepage"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/w4atocsq5q75vrn3mta7.jpg", 300)%>"></a>
        <p><a href="https://flatironschool.com/?utm_campaign=Sponsored_Content&utm_source=Devto&utm_medium=homepage">Flatiron School</a> is a code school/bootcamp with in-person and online courses and programs. I personally know several incredible developers who have come out of the Flatiron School, and I've been impressed by how they approach software development education with care and pragmatism.</p>
      </div>
      <div>
        <a href="https://www.bugsnag.com/?utm_source=dev.to&utm_medium=cpc&utm_content=homepage_logo&utm_campaign=dev.to-2018-april"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/ly5o0199ic9mdw7dp5p0.png", 300) %>" /></a>
        <p><a href="https://www.bugsnag.com/?utm_source=dev.to&utm_medium=cpc&utm_content=homepage_logo&utm_campaign=dev.to-2018-april">Bugsnag</a> provides error monitoring for web, mobile, and server apps. It is lightweight on the frontend and very sophisticated on the backend. It integrates with pretty much everything and has a free tier. All around great people on the team as well.</p>
      </div>
     </div>
    <h5> Interested in sponsoring dev.to? Email peter@dev.to </h5>      
  </div>
</div>
