<% title "DEV Sponsors" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/sponsors"/>
  <meta name="description" content="dev.to | Sponsors">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

<% end %>

<div class="blank-space"></div>

<style>
  .container .body h4 img {
    top: 10px;
    display: inline;
    left: 0;
  }
}
</style>

<div class="container article">
  <div class="title" style="height:20px;">
  </div>
  <div class="body" style="text-align:center;">
    <h1 style="font-size:3em;font-weight:600;margin-bottom:5px;">
      THANK YOU
    </h1>
    <p style="margin:5px 5px;"><em>for supporting our community</em></p>

    <h4><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>"><span style="background-color: #fefa87; padding:3px;">Gold Sponsors</span><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/2zmukvll98je8qsdyewq.png", 30) %>"></h4>
    <div id="gold-sponsors">
      <a href="https://try.digitalocean.com/performance/?utm_source=devto&utm_medium=display&utm_campaign=Devto_2018_Brand"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/85318v8gv77kzr8r2e58.png", 250) %>"></a>

      <p><a href="https://try.digitalocean.com/performance/?utm_source=devto&amp;utm_medium=display&amp;utm_campaign=Devto_2018_Brand">Digital Ocean</a> is a much-loved cloud computing platform. I'm always impressed by how well-built <em>and well-documented</em> the Digital Ocean core products are. It's easier said than done, and they've been able to stay ahead of the curve.</p>
            
      <hr/>

      <a href="https://triplebyte.com/a/YU8fSn0/sponsorspage"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/r50i600z08ty2sjwey4o.png", 260) %>" /></a>

      <p><a href="https://triplebyte.com/a/YU8fSn0/sponsorspage">Triplebyte</a> allows developers to take one quiz and immediately get into the interview process with top tech companies if you qualify. It should be a part of any developer's job search process.</p>
      
      <hr/>
      
      <a href="https://raygun.com/?utm_source=dev.to"><img src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/6a7bsz3y872g66upddt3.png", 260) %>" /></a>

      <p><a href="https://raygun.com/?utm_source=dev.to">Raygun</a> is an error, crash and performance monitoring service. We know how critical it is to have reliable monitoring and Raygun is one of the industry's most reputable organizations.</p>

      <hr/>
    </div>
    <h5> Interested in sponsoring dev.to? Email <a href="mailto:peter@dev.to">peter@dev.to</a> </h5>      
  </div>
</div>
