<% title "Terms of Use for The DEV Community" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/terms") %>" />
  <meta name="description" content="Terms of Use for The DEV Community">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/terms") %>" />
  <meta property="og:title" content="Terms of Use for The DEV Community" />
  <meta property="og:image" content="<%= SiteConfig.main_social_image %>" />
  <meta property="og:description" content="<%= community_qualified_name %> is great!" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Terms of Use for The DEV Community">
  <meta name="twitter:description" content="The DEV Community is great!">
  <meta name="twitter:image:src" content="<%= SiteConfig.main_social_image %>">
<% end %>

<div class="blank-space"></div>
<div class="container article">
  <div class="title">
    <h1>
      Web Site Terms and Conditions of Use
    </h1>
  </div>
  <div class="body">
    <%= render "terms_text" %>
  </div>
</div>
