<div class="crayons-card mb-4 p-3 m:p-4 s:pl-4 m:pl-7 pr-4">
  <% unless @user.confirmed? %>
    <%= form_with url: send_email_confirmation_admin_user_path(@user), local: true, class: "flex flex-col s:flex-row justify-between gap-4 s:items-center" do |f| %>
      <div>
        <h2 class="crayons-subtitle-1"><%= t("views.admin.users.emails.not_confirmed.subtitle") %></h2>
        <p class="color-secondary"><%= t("views.admin.users.emails.not_confirmed.desc", user: @user.name) %></p>
      </div>
      <%= f.button t("views.admin.users.emails.confirm"), class: "c-btn c-btn--secondary whitespace-nowrap" %>
    <% end %>
  <% else %>
    <%= form_with url: verify_email_ownership_admin_user_path(@user), local: true, class: "flex flex-col s:flex-row justify-between gap-4 s:items-center" do |f| %>
      <% unless @last_email_verification_date %>
        <div>
          <h2 class="crayons-subtitle-1"><%= t("views.admin.users.emails.not_verified.subtitle") %></h2>
          <p class="color-secondary"><%= t("views.admin.users.emails.not_verified.desc", user: @user.name) %></p>
        </div>
        <% if false # Not yet designed to be visible %>
          <%= f.button t("views.admin.users.emails.manually_verify"), class: "c-btn c-btn--secondary whitespace-nowrap", value: "manual_verify" %>
        <% end %>
        <%= f.button t("views.admin.users.emails.verify"), class: "c-btn c-btn--secondary whitespace-nowrap", value: "send_verification_email" %>
      <% else %>
        <p>
          <%= t("views.admin.users.emails.verified_html", time: tag.time(l(@last_email_verification_date, format: :email_verified), datetime: @last_email_verification_date.strftime("%Y-%m-%dT%H:%M:%S%z"), class: "fw-medium whitespace-nowrap")) %>
        </p>
        <%= f.button t("views.admin.users.emails.reverify"), class: "c-btn c-btn--secondary whitespace-nowrap" %>
      <% end %>
    <% end %>
  <% end %>
</div>