<%= form_with url: verify_email_ownership_admin_user_path(@user), local: true, class: "crayons-card mb-4 p-3 m:p-4 s:pl-4 m:pl-7 pr-4 flex flex-col s:flex-row justify-between gap-4 s:items-center" do |f| %>
  <% unless @last_email_verification_date %>
    <div>
      <h2 class="crayons-subtitle-2">Email not verified</h2>
      <p class="color-secondary"><%= @user.name %>'s email hasn't been verified yet.</p>
    </div>
    <%= f.button "Verify email address", class: "c-btn c-btn--secondary whitespace-nowrap" %>
  <% else %>
    <p>
      Last verified on
      <time datetime="<%= @last_email_verification_date.strftime("%Y-%m-%dT%H:%M:%S%z") %>" class="fw-medium whitespace-nowrap">
        <%= @last_email_verification_date.strftime("%b %e '%y, %H:%M") %>
      </time>
    </p>
    <%= f.button "Reverify", class: "c-btn c-btn--secondary whitespace-nowrap" %>
  <% end %>
<% end %>
