<style>
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: white;
  }
  .preview-div-wrapper {
    overflow: hidden;
    position: relative;
  }
  .preview-div {
    border-radius: 25px 25px 0 0;
    background: url(/assets/shecoded-background.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    overflow: hidden;
    width: 94vw;
    margin: 2.25vw auto 5vw;
  }
  .preview-article {
    margin: 25px;
    border-radius: 20px 20px 0 0;
    background: #FFFFFF;
    box-shadow: 5px 5px 0px #8220B0;
    border: 1px solid #8220B0;
    position: relative;
    min-height: 200px;
  }
  .tag-header {
    color: #8220B0;
    margin: 20px;
    font-size: 15px;
    line-height: 18px;
  }
  .title-area h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    margin: 0 20px;
    color: #8220B0;
    padding-bottom: 30px;
  }
  .preview-user {
    color: #8220B0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
  .preview-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .preview-user img {
    border: 1px solid #8220B0;
    box-sizing: border-box;
    border-radius: 4.5vw;
    margin: 20px;
    height: 3.5vw;
    width: 3.5vw;
  }
  .badge-images img {
    height: 3.5vw;
    fill: #8220B0;
    transform: rotate(5deg);
    transform: rotate(2.94deg);
    margin: 10px;
  }

  @media screen and (min-width: 768px) {
    .preview-div {
      background-size: auto;
    }
  }
</style>

<div class="preview-div-wrapper">
  <div class="preview-div">
    <div class="preview-article">
      <div class="tag-header"><%= (@article.tag_list | SiteConfig.campaign_featured_tags).map { |tag| "##{tag}" }.join(", ") %></div>
      <div class="title-area">
        <h1><%= @article.title %></h1>
      </div>
      <div class="preview-user-info">
        <div class="preview-user">
          <img src="<%= ProfileImage.new(@article.user).get(width: 90) %>" />
          <%= truncate @article.user.name, length: 28 %>・<%= @article.readable_publish_date %>
        </div>
        <div class="badge-images">
          <img src="https://thepracticaldev.s3.amazonaws.com/i/bh2wmpcltaybu1xsnico.png" />
        </div>
      </div>
    </div>
  </div>
</div>
