<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.4/jquery.liveaddress.min.js"></script>
<script>
  var liveaddress = jQuery.LiveAddress({
    key: "<%= ApplicationConfig["SMARTY_STREETS_WEB_KEY"] %>",
    target: "US|International",
    addresses: [{
      address1: '#user_shipping_address',
      address2: '#user_shipping_address_line_2',
      locality: '#user_shipping_city',
      administrative_area: '#user_shipping_state',
      postal_code: '#user_shipping_postal_code',
      country: '#user_shipping_country'
    }]
  });

  liveaddress.on("OriginalInputSelected", function (event, data, previousHandler) {
    $('#user_shipping_validated').attr('checked', false);
    previousHandler(event, data);
  });

  liveaddress.on("AddressWasValid", function (event, data, previousHandler) {
    $('#user_shipping_validated').attr('checked', true);
    previousHandler(event, data);
  });
</script>

<%= form_for(@user, url: "/giveaways/freestickers") do |f| %>
  <% if @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.size, "issue") %> prohibited your form from being submitted:</h2>

      <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Shipping Information</h2>
  <% if @user.email.blank? %>
    <div class="field">
      <%= f.label :email, "Email" %><br>
      <%= f.text_field :email %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :shipping_name, "Name (for shipping)" %><br>
    <%= f.text_field :shipping_name %>
  </div>
  <div class="field">
    <%= f.label :shipping_company, "Company (for shipping if applicable)" %><br>
    <%= f.text_field :shipping_company %>
  </div>
  <div class="field">
    <%= f.label :shipping_address, "Address" %><br>
    <%= f.text_field :shipping_address %>
  </div>
  <div class="field">
    <%= f.label :shipping_address_line_2, "Address Line 2" %><br>
    <%= f.text_field :shipping_address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :shipping_city, "City" %><br>
    <%= f.text_field :shipping_city %>
  </div>
  <div class="field">
    <%= f.label :shipping_state, "State/Province" %><br>
    <%= f.text_field :shipping_state %>
  </div>
  <div class="field">
    <%= f.label :shipping_country, "Country" %><br>
    <%= f.select :shipping_country,
                 options_for_select(
                   [["United States", "US"],
                    ["-----", ""],
                    %w[Afghanistan AF],
                    ["Åland Islands", "AX"],
                    %w[Albania AL],
                    %w[Algeria DZ],
                    ["American Samoa", "AS"],
                    %w[Andorra AD],
                    %w[Angola AO],
                    %w[Anguilla AI],
                    %w[Antarctica AQ],
                    ["Antigua and Barbuda", "AG"],
                    %w[Argentina AR],
                    %w[Armenia AM],
                    %w[Aruba AW],
                    %w[Australia AU],
                    %w[Austria AT],
                    %w[Azerbaijan AZ],
                    %w[Bahamas BS],
                    %w[Bahrain BH],
                    %w[Bangladesh BD],
                    %w[Barbados BB],
                    %w[Belarus BY],
                    %w[Belgium BE],
                    %w[Belize BZ],
                    %w[Benin BJ],
                    %w[Bermuda BM],
                    %w[Bhutan BT],
                    %w[Bolivia BO],
                    %w[Bonaire BQ],
                    ["Bosnia and Herzegovina", "BA"],
                    %w[Botswana BW],
                    ["Bouvet Island", "BV"],
                    %w[Brazil BR],
                    ["BIO Territory", "IO"],
                    ["Brunei Darussalam", "BN"],
                    %w[Bulgaria BG],
                    ["Burkina Faso", "BF"],
                    %w[Burundi BI],
                    %w[Cambodia KH],
                    %w[Cameroon CM],
                    %w[Canada CA],
                    ["Cape Verde", "CV"],
                    ["Cayman Islands", "KY"],
                    ["Central African Republic", "CF"],
                    %w[Chad TD],
                    %w[Chile CL],
                    %w[China CN],
                    ["Christmas Island", "CX"],
                    ["Cocos (Keeling) Islands", "CC"],
                    %w[Colombia CO],
                    %w[Comoros KM],
                    %w[Congo CG],
                    %w[Congo CD],
                    ["Cook Islands", "CK"],
                    ["Costa Rica", "CR"],
                    ["Côte d'Ivoire", "CI"],
                    %w[Croatia HR],
                    %w[Cuba CU],
                    %w[Curaçao CW],
                    %w[Cyprus CY],
                    ["Czech Republic", "CZ"],
                    %w[Denmark DK],
                    %w[Djibouti DJ],
                    %w[Dominica DM],
                    ["Dominican Republic", "DO"],
                    %w[Ecuador EC],
                    %w[Egypt EG],
                    ["El Salvador", "SV"],
                    ["Equatorial Guinea", "GQ"],
                    %w[Eritrea ER],
                    %w[Estonia EE],
                    %w[Ethiopia ET],
                    ["Falkland Islands", "FK"],
                    ["Faroe Islands", "FO"],
                    %w[Fiji FJ],
                    %w[Finland FI],
                    %w[France FR],
                    ["French Guiana", "GF"],
                    ["French Polynesia", "PF"],
                    ["French S Territories", "TF"],
                    %w[Gabon GA],
                    %w[Gambia GM],
                    %w[Georgia GE],
                    %w[Germany DE],
                    %w[Ghana GH],
                    %w[Gibraltar GI],
                    %w[Greece GR],
                    %w[Greenland GL],
                    %w[Grenada GD],
                    %w[Guadeloupe GP],
                    %w[Guam GU],
                    %w[Guatemala GT],
                    %w[Guernsey GG],
                    %w[Guinea GN],
                    ["Guinea-Bissau", "GW"],
                    %w[Guyana GY],
                    %w[Haiti HT],
                    ["Heard McDonald Islands", "HM"],
                    ["Holy See", "VA"],
                    %w[Honduras HN],
                    ["Hong Kong", "HK"],
                    %w[Hungary HU],
                    %w[Iceland IS],
                    %w[India IN],
                    %w[Indonesia ID],
                    %w[Iran IR],
                    %w[Iraq IQ],
                    %w[Ireland IE],
                    ["Isle of Man", "IM"],
                    %w[Israel IL],
                    %w[Italy IT],
                    %w[Jamaica JM],
                    %w[Japan JP],
                    %w[Jersey JE],
                    %w[Jordan JO],
                    %w[Kazakhstan KZ],
                    %w[Kenya KE],
                    %w[Kiribati KI],
                    ["Korea, People's Republic", "KP"],
                    ["Korea, Republic of", "KR"],
                    %w[Kuwait KW],
                    %w[Kyrgyzstan KG],
                    %w[Lao LA],
                    %w[Latvia LV],
                    %w[Lebanon LB],
                    %w[Lesotho LS],
                    %w[Liberia LR],
                    %w[Libya LY],
                    %w[Liechtenstein LI],
                    %w[Lithuania LT],
                    %w[Luxembourg LU],
                    %w[Macao MO],
                    %w[Macedonia MK],
                    %w[Madagascar MG],
                    %w[Malawi MW],
                    %w[Malaysia MY],
                    %w[Maldives MV],
                    %w[Mali ML],
                    %w[Malta MT],
                    ["Marshall Islands", "MH"],
                    %w[Martinique MQ],
                    %w[Mauritania MR],
                    %w[Mauritius MU],
                    %w[Mayotte YT],
                    %w[Mexico MX],
                    %w[Micronesia FM],
                    ["Moldova, Republic of", "MD"],
                    %w[Monaco MC],
                    %w[Mongolia MN],
                    %w[Montenegro ME],
                    %w[Montserrat MS],
                    %w[Morocco MA],
                    %w[Mozambique MZ],
                    %w[Myanmar MM],
                    %w[Namibia NA],
                    %w[Nauru NR],
                    %w[Nepal NP],
                    %w[Netherlands NL],
                    ["New Caledonia", "NC"],
                    ["New Zealand", "NZ"],
                    %w[Nicaragua NI],
                    %w[Niger NE],
                    %w[Nigeria NG],
                    %w[Niue NU],
                    ["Norfolk Island", "NF"],
                    ["Northern Mariana Islands", "MP"],
                    %w[Norway NO],
                    %w[Oman OM],
                    %w[Pakistan PK],
                    %w[Palau PW],
                    ["Palestinian Territory", "PS"],
                    %w[Panama PA],
                    ["Papua New Guinea", "PG"],
                    %w[Paraguay PY],
                    %w[Peru PE],
                    %w[Philippines PH],
                    %w[Pitcairn PN],
                    %w[Poland PL],
                    %w[Portugal PT],
                    ["Puerto Rico", "PR"],
                    %w[Qatar QA],
                    %w[Réunion RE],
                    %w[Romania RO],
                    ["Russian Federation", "RU"],
                    %w[Rwanda RW],
                    ["Saint Barthélemy", "BL"],
                    ["Saint Helena", "SH"],
                    ["Saint Kitts and Nevis", "KN"],
                    ["Saint Lucia", "LC"],
                    ["Saint Martin (French part)", "MF"],
                    ["Saint Pierre and Miquelon", "PM"],
                    ["Saint Vincent, Grenadines", "VC"],
                    %w[Samoa WS],
                    ["San Marino", "SM"],
                    ["Sao Tome and Principe", "ST"],
                    ["Saudi Arabia", "SA"],
                    %w[Senegal SN],
                    %w[Serbia RS],
                    %w[Seychelles SC],
                    ["Sierra Leone", "SL"],
                    %w[Singapore SG],
                    ["Sint Maarten (Dutch part)", "SX"],
                    %w[Slovakia SK],
                    %w[Slovenia SI],
                    ["Solomon Islands", "SB"],
                    %w[Somalia SO],
                    ["South Africa", "ZA"],
                    ["South Georgia", "GS"],
                    ["South Sudan", "SS"],
                    %w[Spain ES],
                    ["Sri Lanka", "LK"],
                    %w[Sudan SD],
                    %w[Suriname SR],
                    ["Svalbard and Jan Mayen", "SJ"],
                    %w[Swaziland SZ],
                    %w[Sweden SE],
                    %w[Switzerland CH],
                    ["Syrian Arab Republic", "SY"],
                    ["Taiwan, Province of China", "TW"],
                    %w[Tajikistan TJ],
                    %w[Tanzania TZ],
                    %w[Thailand TH],
                    ["Timor-Leste", "TL"],
                    %w[Togo TG],
                    %w[Tokelau TK],
                    %w[Tonga TO],
                    ["Trinidad and Tobago", "TT"],
                    %w[Tunisia TN],
                    %w[Turkey TR],
                    %w[Turkmenistan TM],
                    ["Turks and Caicos Isl", "TC"],
                    %w[Tuvalu TV],
                    %w[Uganda UG],
                    %w[Ukraine UA],
                    ["United Arab Emirates", "AE"],
                    ["United Kingdom", "GB"],
                    ["United States", "US"],
                    ["United States Minor", "UM"],
                    %w[Uruguay UY],
                    %w[Uzbekistan UZ],
                    %w[Vanuatu VU],
                    %w[Venezuela VE],
                    ["Viet Nam", "VN"],
                    ["Virgin Islands, British", "VG"],
                    ["Virgin Islands, U.S.", "VI"],
                    ["Wallis and Futuna", "WF"],
                    ["Western Sahara", "EH"],
                    %w[Yemen YE],
                    %w[Zambia ZM],
                    %w[Zimbabwe ZW]],
                   @user.shipping_country,
                 ) %>
  </div>
  <div class="field">
    <%= f.label :shipping_postal_code, "Zip Number/Postal Code" %><br>
    <%= f.text_field :shipping_postal_code %>
  </div>
  <div style="display: none">
    <%= f.label :shipping_validated, "validate" %>
    <%= f.check_box :shipping_validated %>
  </div>
  <h2>T-shirt size</h2>
  <div class="field">
    <%= f.label :shirt_gender, "Style" %><br>
    <%= f.select :shirt_gender,
                 options_for_select(
                   [%w[Unisex unisex],
                    ["Women's", "womens"]],
                   @user.shirt_gender,
                 ) %>
  </div>
  <div class="field">
    <%= f.label :shirt_size, "Size" %><br>
    <%= f.select :shirt_size,
                 options_for_select(
                   [%w[Small s],
                    %w[Medium m],
                    %w[Large l],
                    ["Extra Large", "xl"],
                    %w[2XL 2xl],
                    %w[3XL 3xl]],
                   @user.shirt_size,
                 ) %>
  </div>
  <h2>A bit about you</h2>
  <h3>(This is sort of our "I'm not a robot" test)</h3>
  <div class="field">
    <%= f.label :top_languages, "Favorite programming languages" %><br>
    <%= f.text_field :top_languages %>
  </div>
  <div class="field">
    <%= f.label :specialty, "Specialty (web development, sysadmin, etc.)" %><br>
    <%= f.text_field :specialty %>
  </div>
  <div class="field">
    <%= f.label :experience_level, "Programming Experience Level" %><br>
    <%= f.select :experience_level,
                 options_for_select(
                   [["0 (Complete Newbie)", "0"],
                    %w[1 1],
                    %w[2 2],
                    ["3 (Junior Developer)", "3"],
                    %w[4 4],
                    %w[5 5],
                    %w[6 6],
                    ["7 (Experienced Developer)", "7"],
                    %w[8 8],
                    %w[9 9],
                    ["10 (Senior Developer)", "10"]],
                   @user.experience_level,
                 ) %>
  </div>
  <div class="field">
    <%= f.label :tabs_or_spaces, "Tabs or spaces" %><br>
    <%= f.select :tabs_or_spaces,
                 options_for_select(
                   [%w[Tabs tabs],
                    %w[Spaces spaces]],
                   @user.tabs_or_spaces,
                 ) %>

  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <p style="font-size:0.7em;line-height:1.3em">
    All dev.to users who submit this form will receive a "welcome package" -- there is no element of chance or skill in this promotion. Additionally, there is no purchase necessary, and this offer is void if/where prohibited. Please note that there is a limit of 1 per person, and all entrants will go through a spam filtration procedure. Contact yo@dev.to with any questions, or to inquire about an alternative means of entry for this promotion.
  </p>
<% end %>
