<%= render 'mailers/notify_mailer/email_header' do %>
  <table style="width:100%;" cellpadding="0" cellspacing="0">
    <!-- Heading -->
    <tr>
      <td align="center" bgcolor="#FFFFFF" style="padding: 25px 2px 35px;">
        <h1 style="margin: 0; font-size: 24px; color: #333;"> <%= @comment.user.name %> replied to you on <%= community_name %> </h1>
      </td>
    </tr>

    <!-- Content -->
    <tr>
      <td>
        <table style="width:100%;" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width: 30px"></td>
            <td bgcolor="#F8F8F8" style="padding: 8px; text-align: left; color: #3a3c3d; font-size: 16px; border-radius: 8px;">
              <h2 style="font-size:18px;color:rgb(107, 107, 107)">re: <em><%= @comment.commentable&.title || "Content No Longer Available" %></em></h2>

              <%= @truncated_comment %>

            </td>
            <td style="width: 30px"></td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- CTA -->
    <tr>
      <td style="padding: 16px 8px; text-align: center;">
        <a style="background:<%= Settings::UserExperience.primary_brand_color_hex %>;color:white;padding:12px;border-radius:8px;text-decoration:none;display:block;margin-top:4px;font-size:20px;font-weight:bold" href='<%= comment_url(@comment) %>'>
        View reply
        </a> 
      </td>
    </tr>
  </table>
<% end %>