<p>
  Hi <%= @name %>,
</p>

<p>
  Your organization <%= @org_name %> on <%= community_name %> has been successfully deleted.
</p>

<p>
  <%= t("views.mailers.contact_mailto_html", contact_email: ForemInstance.contact_email) %>
</p>

<p>
  Thanks,
  <br>
  The <%= community_name %> Team
</p>
