<p>
  Hi <%= @name %>,
</p>

<p>
  Your organization <%= @org_name %> on <%= community_name %> has been successfully deleted.
</p>

<p>
  Contact us at <%= email_link %> if there is anything more we can help with. 😊
</p>

<p>
  Thanks,
  <br>
  The <%= community_name %> Team
</p>
