<p>
  Hi <%= @name %>,
</p>

<p>
  Your organization <%= @org_name %> on <%= community_name %> has been successfully deleted.
</p>

<p>
  <%= t("contact_prompts.if_we_can_help_html") %> 😊
</p>

<p>
  Thanks,
  <br>
  The <%= community_name %> Team
</p>
