<p>
  Hi <%= @name %>,
</p>

<p>
  Your organization <%= @org_name %> on <%= community_name %> has been successfully deleted.
</p>

<p>
  Contact us at <a href="mailto:<%= ForemInstance.contact_email %>"><%= ForemInstance.contact_email %></a>
  if there is anything more we can help with.
</p>

<p>
  Thanks,
  <br>
  The <%= community_name %> Team
</p>
