<p>
  Hey <%= @user.name %>!
</p>
<p>
  Вітаємо! Вам довірені права модератора для теґу <a href="<%= tag_url(@tag) %>">#<%= @tag.name %></a> на нашій спільноті <%= community_name %>. Зверніть увагу, що зображення вашого профілю тепер видно на цій сторінці.
</p>
<p>
  Як модератор теґу, ви можете:
</p>
<ul>
  <li>
    Видаляти теґ #<%= @tag.name %> з дописів, яким він не підходить.
  </li>
  <li>
    Додвати теґ #<%= @tag %> до постів, якщо він підходить.
  </li>
  <li>
    Оновлювати сторінку теґу #<%= @tag %>.
  </li>
</ul>

<p>
  <strong>Для деталей можете зайти на <a href="<%= app_url(tag_moderation_url) %>">ґайд модерації теґів</a> page.</strong>
</p>

<p>
  Модерація тегів - це те, над чим ми постійно працюємо, тому ви можете очікувати коригувань і розширення функцій з часом, коли ми отримаємо відгуки.
   Звичайно, не соромтеся звертатися до нас у будь-який момент, якщо у вас є якісь зауваження - не соромтеся писати на <%= contact_link %> і ділитися своїми думками.
</p>

<p>
  Щиро дякуємо за те, що ви приділили свій час, щоб принести користь <%= community_name %>. Ми щиро вдячні за вашу допомогу!.</p>
<p>

<p>
  Гарного вам дня та будьте здорові!
  <br>
  - <%= community_name %> Команда
</p>
