<p>
  Hey <%= @user.name %>!
</p>
<p>
  We are happy to let you know that your <%= community_name %> account has just been upgraded to "trusted" status.
</p>
<p>
  This gives you the power to privately downvote content which is low quality or spam and harassment, alongside a bit of additional functionality to help ensure the success of the community. Anywhere you now see a shield on the site indicates a place you can go to join our community's crowd-sourced moderation initiative.
</p>
<p>
  You may occasionally receive notifications about optional moderation actions, but you can  <a href="<%= app_url(user_settings_path(:notifications)) %>">unsubscribe</a> if you do not want to receive these notices.
</p>
<p>
  <b><a href="<%= app_url("/community-moderation") %>">Click here for full details about what you can do with the trusted role.</b></a>
</p>
<p>
  - <%= community_name %> Team
</p>
