<div class="single-article single-article-small-pic feed-cta" id="in-feed-cta">
  <div class="cta-container" id="cta-content">
    <img class="secondary-logo" src="<%= cloudinary(safe_logo_url(SiteConfig.secondary_logo_url), 190) %>"
         alt="Secondary <%= community_name %> logo" />

    <h2>
      <a href="/"><%= community_name %></a> is a community of <br />
      <%= number_with_delimiter User.estimated_count %> amazing <%= community_members_label %>
    </h2>

    <h3>
      Create your profile to customize your experience and get involved.
    </h3>

    <div class="button-container">
      <a href="/enter" class="cta cta-button" aria-label="Sign up.">
        Join Now
      </a>
      <div class="feed-cta-sub">
        <em>We require social login to prevent abuse.</em>
      </div>
    </div>
  </div>
</div>
