<div class="authentication-feed__card" id="in-feed-cta">
  <div class="authentication-feed__container">
    <figure class="authentication-feed__image-container">
      <img class="authentication-feed__image" src="<%= optimized_image_url(Settings::General.logo_png, width: 190) %>"
            alt="Secondary <%= community_name %> logo" loading="lazy" />
    </figure>
    <div class="authentication-feed__content">
      <h2 class="authentication-feed__title">
        <%= render "shared/authentication_title" %>
      </h2>
      <p class="authentication-feed__description">
        <%= render "shared/authentication_description" %>
      </p>
    </div>
  </div>

  <div class="authentication-feed__actions">
    <%= render "shared/authentication_actions" %>
  </div>
</div>
