<div class="authentication-feed__card" id="in-feed-cta">
  <div class="authentication-feed__container">
    <figure class="authentication-feed__image-container">
      <img class="authentication-feed__image" src="<%= optimized_image_url(safe_logo_url(SiteConfig.secondary_logo_url), width: 190) %>"
            alt="Secondary <%= community_name %> logo" />
    </figure>
    <div class="authentication-feed__content">
      <h2 class="authentication-feed__title">
<a href="/"><%= community_name %></a> is a community of <br />
        <%= number_with_delimiter User.registered.estimated_count %> amazing <%= community_members_label %>
      </h2>
      <p class="authentication-feed__description">
        <% if SiteConfig.tagline.present? %>
          <%= SiteConfig.tagline %>
        <% else %>
          Log in to customize your experience and get involved.
        <% end %>
      </p>
    </div>
  </div>

  <div class="authentication-feed__actions">
    <a href="/enter" class="crayons-btn" aria-label="Create new account">
      Create new account
    </a>
    <a href="/enter" class="crayons-btn crayons-btn--ghost-brand" aria-label="Log in">
      Log in
    </a>
  </div>
</div>
