<table class="ledger">
  <caption>Purchase history</caption>

  <thead>
    <tr>
      <th>Item</th>
      <th>Cost (credits)</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% for item in items %>
      <% if item.purchase %>
      <tr>
      <% else %>
      <tr class="misc">
      <% end %>
        <td>
          <% if item.purchase %>
            <a
              href="<%= classified_listing_slug_path(item.purchase.category, item.purchase.slug) %>"
              title="<%= item.purchase.title %>">
              <%= truncate(item.purchase.title, length: 20) %>
            </a>
          <% else %>
            <span>Miscellaneous items</span>
          <% end %>
        </td>
        <td class="cost"><%= item.cost %></td>
        <td>
          <% if item.purchased_at %>
            <time datetime="<%= item.purchased_at.iso8601 %>"><%= item.purchased_at.to_s(:long) %></time>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
