<% title "Credits" %>

<div class="credits-container">
<% if flash[:notice].present? %>
  <div class="notice" id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
  <div class="existing-credits">
    <div class="existing-credits-status">You have <%= @credits.size %> credits to spend</div>
    <a href="/credits/purchase" data-no-instant>Purchase additional credits</a>
  </div>
  <% if @organizations.present? %>
    <% @organizations.each do |org| %>
      <div class="existing-credits">
        <div class="existing-credits-status">
          <%= org.name %> has <span id="org-credits-number"><%= org.unspent_credits_count %></span> credits to spend
        </div>
        <a id="org-credits-purchase-link" href="/credits/purchase?organization_id=<%= org.id %>" data-no-instant>Purchase additional credits</a>
      </div>
    <% end %>
  <% end %>
  <% if @credits.size > 0 %>
    <center>
      <p>
        <a href="/listings/new">Create a Listing</a>
      </p>
      <% if @organizations.present? %>
        <p>
          <a href="/partnerships">View Partnership Opportunities</a>
        </p>
      <% end %>
    </center>
  <% end %>
</div>
