<style>
  <% cache "sponsor-org-section-credits-#{ApplicationConfig['DEPLOYMENT_SIGNATURE']}", expires_in: 10.hours do %>
    <%= Rails.application.assets["sponsorships.css"].to_s.html_safe %>
  <% end %>
</style>

<div class="sponsorships-container">
  <h1>Become a Sponsor</h1>
  <h2>Why Sponsor DEV?</h2>
  <h3>🚀 Reach</h3>
  <p>
    DEV reaches over 3.5 million unique visitors per month with highly technical content. That includes signed up members (<%= number_with_delimiter User.count %>) and yet-to-sign-up visitors from the open web.
  </p>
  <h3>❤️ Community</h3>
  <p>
    DEV is truly a leading community for software development and is leading the way to a more inclusive industry where everyone is welcome.
  </p>
  <h3>💎 Quality</h3>
  <p>
    DEV does not overwhelm members with popup messages, irrelevent ads or anything else that sours the user experience. We treat each visitor with care.
  <h3>🤓 Expertise</h3>
  <p>
    DEV has experts on staff to help you craft your message to the community centered around and create positive mutual outcomes.
  </p>

  <div class="sponsor-credits-explainer">
    <h4>How do I get started?</h4>
    <h3>First, Purchase Credits</h3>
    <p>
      <em>Credits are your wallet for flexibly managing all your DEV partnerships.</em>
    </p>
    <p>
      Credits can be purchased via company credit card, and once in your account you can use them for different promotions.
    </p>
    <p>
      Credits can be purchased in bulk for discounts on all future sponsorships and partnerships, or in small batches to test the waters.
    </p>
    <a href="/credits/purchase">Get Credits</a>
  </div>
  <div class="sponsorship-options">
    <% if !user_signed_in? %>
      <h1>Follow this flow:</h1>
      <p>Sign in or create your account</p>
      <p>Create an organization account</p>
    <% elsif current_user.admin_organizations.size == 0 %>
      <h1>First Create an Ogranization</h1>
    <% else %>
      <%= form_tag "/sponsorships" do %>
        <% if current_user.admin_organizations.size > 1 %>
          <%= select_tag :organization_id, options_for_select([true, false]) %>
        <% else %>
          <h2>Bronze Sponsor</h2>
          <% sponsor = current_user.admin_organizations.first %>
          <h2>Sponsor: <%= sponsor.name %></h2>
          <h3><%= sponsor.sponsorship_level %></h3>
          <h3><%= sponsor.sponsorship_expires_at %></h3>
          <h3><%= sponsor.credits.size %></h3>
          <%= hidden_field_tag(:organization_id, current_user.admin_organizations.first.id) %>
          <%= hidden_field_tag(:sponsorship_level, "bronze") %>
        <% end %>
        <%= submit_tag "Purchase for 50 credits" %>
      <% end %>
      <%= form_tag "/sponsorships" do %>
        <% if current_user.admin_organizations.size > 1 %>
          <%= select_tag :organization_id, options_for_select([true, false]) %>
        <% else %>
          <h2>Silver Sponsor</h2>
          <% sponsor = current_user.admin_organizations.first %>
          <h2>Sponsor: <%= sponsor.name %></h2>
          <h3><%= sponsor.sponsorship_level %></h3>
          <h3><%= sponsor.sponsorship_expires_at %></h3>
          <h3><%= sponsor.credits.size %></h3>
          <%= hidden_field_tag(:organization_id, current_user.admin_organizations.first.id) %>
          <%= hidden_field_tag(:sponsorship_level, "silver") %>
        <% end %>
        <%= submit_tag "Purchase for 300 credits" %>
      <% end %>
      <%= form_tag "/sponsorships" do %>
        <% if current_user.admin_organizations.size > 1 %>
          <%= select_tag :organization_id, options_for_select([true, false]) %>
        <% else %>
          <h2>Gold Sponsor</h2>
          <% sponsor = current_user.admin_organizations.first %>
          <h2>Sponsor: <%= sponsor.name %></h2>
          <h3><%= sponsor.sponsorship_level %></h3>
          <h3><%= sponsor.sponsorship_expires_at %></h3>
          <h3><%= sponsor.credits.size %></h3>
          <%= hidden_field_tag(:organization_id, current_user.admin_organizations.first.id) %>
          <%= hidden_field_tag(:sponsorship_level, "gold") %>
        <% end %>
        Contact <a href="mailto:biz@dev.to">biz@dev.to</a>
      <% end %>
      <%= form_tag "/sponsorships" do %>
        <% if current_user.admin_organizations.size > 1 %>
          <%= select_tag :organization_id, options_for_select([true, false]) %>
        <% else %>
          <h2>Sponsor a Tag</h2>
          <% sponsor = current_user.admin_organizations.first %>
          <h2>Sponsor: <%= sponsor.name %></h2>
          <h3><%= sponsor.sponsorship_level %></h3>
          <h3><%= sponsor.sponsorship_expires_at %></h3>
          <h3><%= sponsor.credits.size %></h3>
          <%= hidden_field_tag(:organization_id, current_user.admin_organizations.first.id) %>
          <%= hidden_field_tag(:sponsorship_level, "gold") %>
        <% end %>
        <%= submit_tag "Purchase for 500 credits" %>
      <% end %>
      <h1> <a href="/credits/purchase" data-no-instant>Buy more credits!</a>
    <% end %>
  </div>
</div>