<header>
  <h2 class="crayons-subtitle-1 mb-1">Add a note</h2>
  <div class="color-secondary flex items-center">
    <%= crayons_icon_tag(:lock, width: 18, height: 18, class: "mr-1", title: "Private") %>
    <p id="note-description">These notes will <strong>not</strong> be shared with the user.</p>
  </div>
</header>
<%= form_with model: @user, url: admin_user_path(@user), method: :patch, html: { class: "grid gap-4 pt-3 m:sticky top-8" }, local: true  do |f| %>
  <div class="crayons-field">
    <%= f.label :new_note, "Note", class: "crayons-field__label" %>
    <%= f.text_area :new_note, class: "crayons-textfield", rows: 5, placeholder: "Write your note here...", aria: { describedby: "note-description" }, required: true %>
  </div>
  <div>
    <%= f.button "Submit", class: "c-btn c-btn--primary", type: "submit" %>
  </div>
<% end %>
