<h3>Past <%= num_days %> day new users (<%= User.where("created_at > ?", num_days.day.ago).count %>)</h3>
<% @variants.each do |var| %>
  <h4>Variant: <%= var %></h4>
  <ul>
    <li>
      Average comments: <%= User.where("created_at > ?", num_days.day.ago).where(onboarding_variant_version: var).average(:comments_count) %>
    </li>
    <li>
      Average articles: <%= User.where("created_at > ?", num_days.day.ago).where(onboarding_variant_version: var).average(:articles_count) %>
    </li>
    <li>
      Average reactions: <%= User.where("created_at > ?", num_days.day.ago).where(onboarding_variant_version: var).average(:reactions_count) %>
    </li>
  </ul>
<% end %>
