<% title "Thank you so much! - DEV" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/membership") %>" />
  <meta name="description" content="dev.to | Membership">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/membership") %>" />
  <meta property="og:title" content="The DEV Sustaining Membership" />
  <meta property="og:image" content="https://thepracticaldev.s3.amazonaws.com/i/jlaubn65o81m46jkg5k6.png" />
  <meta property="og:description" content="Support the DEV Community and get access to exclusive events and features" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="The DEV Sustaining Membership">
  <meta property="og:description" content="Support the DEV Community and get access to exclusive events and features" />
  <meta name="twitter:image:src" content="https://thepracticaldev.s3.amazonaws.com/i/jlaubn65o81m46jkg5k6.png">

<% end %>

<div class="blank-space"></div>

<style>
  body {
    background: #f2f3ff;
  }

  .container .body h1 {
    margin: 1.3em 0 1.50em;
  }

  .container .body {
    text-align: center;
  }
</style>
<div class="container article">
  <div class="title" style="height:30px;">
    <% if flash[:error].present? %>
      <div class="notice error-notice" id="notice" style="text-align:center;color:red">
        ERROR
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
  <div class="body">
    <img src="<%= asset_path "sustaining-membership.svg" %>" style="height:180px;margin-top:30px;" />
    <h1 style="font-size:1.9em;font-weight:600;text-align:center;">
      Thank you so much 🙏
    </h1>
    <p>
      You can manage your membership <a href="/settings/membership">from your settings</a>.
    </p>
    <p>
      Your support means so much to us.
    </p>
    <br /><br /><br />
  </div>
</div>
