<nav class="flex mb-4" aria-label="Broadcasts navigation">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "All", admin_broadcasts_path, class: "nav-link #{'active' if params[:type_of].blank?}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Announcement", admin_broadcasts_path(type_of: :announcement), class: "nav-link #{'active' if params[:type_of] == 'announcement'}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Welcome", admin_broadcasts_path(type_of: :welcome), class: "nav-link #{'active' if params[:type_of] == 'welcome'}" %>
    </li>
  </ul>
  <div class="ml-auto">
    <div class="justify-content-end">
      <%= link_to "Make A New Broadcast", new_admin_broadcast_path, class: "btn btn-primary" %>
    </div>
  </div>
</nav>

<div class="crayons-card p-6 grid gap-6">
  <div class="crayons-notice crayons-notice--warning" aria-live="polite">
    <strong>Note: You must ensure that your Broadcast is active in order for it to be sent to users!</strong>
  </div>
  <table class="crayons-table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="crayons-card">
      <% @broadcasts.each do |broadcast| %>
        <tr>
          <td><%= link_to broadcast.title, admin_broadcast_path(broadcast.id) %></td>
          <td class="justify-content-center">
            <div class="badge badge-<%= broadcast.active? ? "success" : "warning" %>">
              <%= broadcast.active? ? "Active" : "Inactive" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>

<%= csrf_meta_tags %>
