<% smtp_enabled = ForemInstance.smtp_enabled? %>

<div class="flex flex-col">
  <% unless smtp_enabled %>
    <div class="crayons-card">
      <div class="crayons-card__body p-4 grid gap-6 l:grid-flow-col align-items-center">
        <div>
          SMTP settings are required for your Forem to send emails. If you wish to send invitates, email digests, activity notifications, you need to specify which email host will relay those messages for you. You can read more about it <a href="https://admin.forem.com/docs/advanced-customization/config/smtp-settings" target="_blank"
          <%= link_to "Configure SMTP Setting", admin_config_path(anchor: "smtp-section"), target: "_blank", rel: :noopener %>>
      </div>
    </div>
  <% end %>

  <%= form_for(User.new, url: admin_invitations_path) do |f| %>
    <div class="crayons-field mt-6 <%= smtp_enabled ? "" : "crayons-hover-tooltip" %>" data-tooltip="Configure SMTP Settings first">
      <div class="mt-6">
        <%= f.label :email, class: "crayons-field__label" %>
        <%= f.text_field :email,
                         class: "crayons-textfield cursor-not-allowed",
                         placeholder: "Email of invitee",
                         required: true,
                         disabled: !smtp_enabled %>
      </div>
      <div class="mt-6">
        <%= f.label :name, class: "crayons-field__label" %>
        <%= f.text_field :name,
                         class: "crayons-textfield cursor-not-allowed",
                         placeholder: "Name of invitee",
                         required: true,
                         disabled: !smtp_enabled %>
      </div>
      <div>
        <%= f.submit "Invite User", class: "crayons-btn", disabled: !smtp_enabled %>
      </div>
    </div>
  <% end %>
</div>
