<header class="mb-4">
  <h2 class="crayons-subtitle-2 mb-1 flex items-center">
    <%= crayons_icon_tag(:team, title: "Organizations", class: "mr-2") %>
    Organizations
  </h2>
  <p class="color-secondary">Assign a roles to this member based on permissions. <a href="#" class="c-link c-link--branded">Learn more</a></p>
</header>
<% if @organization_memberships.load.empty? %>
  <div class="flex justify-between items-center gap-4">
    <p>This user hasn't been added to any organization yet.</p>
    <button class="c-btn c-btn--secondary whitespace-nowrap" type="button">Add to organization</button>
  </div>
<% else %>
  <% @organization_memberships.each do |org_membership| %>
    <div class="c-card c-card--interactive flex p-2 relative items-center mb-2">
      <div class="flex items-center gap-2 flex-1">
        <a href="<%= org_membership.organization.path %>" target="_blank" rel="noopener" class="c-link">
          <img src="<%= org_membership.organization.profile_image_url_for(length: 64) %>" width="32" height="32" alt="<%= org_membership.organization.name %> logo" class="radius-default align-middle">
        </a>
        <h3 class="crayons-subtitle-3">
          <a href="<%= org_membership.organization.path %>" target="_blank" rel="noopener" class="c-link">
            <%= org_membership.organization.name %>
          </a>
        </h3>
        <small class="color-secondary">&bull; <%= org_membership.type_of_user %></small>
      </div>
      <div class="c-card__revealable absolute right-1">
        <button type="button" class="c-btn c-btn--icon-alone">
          <%= crayons_icon_tag(:edit, class: "c-btn__icon") %>
        </button>
        <%= form_with model: [:admin, org_membership], method: :delete, local: true, html: { class: "inline" } do |f| %>
          <%= f.button crayons_icon_tag(:x, class: "c-btn__icon"), class: "c-btn c-btn--destructive c-btn--icon-alone", data: { confirm: "Are you sure you want to remove them from #{org_membership.organization.name}?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <button class="c-btn c-btn--secondary whitespace-nowrap w-100" type="button">Add another organization</button>
<% end %>
