<header class="mb-4">
  <h2 class="crayons-subtitle-2 mb-1 flex items-center">
    <%= crayons_icon_tag(:badge, title: "Assigned roles", class: "mr-2") %>
    Assigned roles
  </h2>
  <p class="color-secondary">Assign a roles to this member based on permissions. <a href="#" class="c-link c-link--branded">Learn more</a></p>
</header>
<% unless @user.roles.any? %>
  <div class="flex justify-between items-center">
    <p>No special role assigned yet.</p>
    <button class="c-btn c-btn--secondary whitespace-nowrap" type="button" data-modal-trigger data-modal-title="Add role" data-modal-size="m" data-modal-content-selector="#add-role">Add role</button>
  </div>
<% else %>
  <ul class="flex flex-wrap gap-2">
    <% @user.roles.each do |role| %>
      <% if role.name == "banned" || role.name == "suspended" || role.name == "super_admin" || @user.id == current_user.id %>
        <li>
          <span class="c-pill c-pill--inactive c-pill--icon-left cursor-not-allowed fs-italic crayons-tooltip__activator">
            <%= crayons_icon_tag(:lock, class: "c-pill__icon", width: 18, height: 18) %>
            <% if role.resource_name %>
              <%= role.resource_name.to_s %>
            <% else %>
              <%= role_display_name(role) %>
            <% end %>
            <span data-testid="tooltip" class="crayons-tooltip__content fs-normal pointer-events-none">You can't remove this role...</span>
          </span>
        </li>
      <% else %>
        <li>
          <button class="c-pill c-pill--icon-right" style="--icon-right-color: var(--color-secondary); --icon-right-color-hover: var(--accent-danger);" type="button">
            <% if role.resource_name %>
              <%= role.resource_name.to_s %>
            <% else %>
              <%= role_display_name(role) %>
            <% end %>
            <%= crayons_icon_tag(:x, class: "c-pill__icon", width: 18, height: 18) %>
          </button>

          <%# TODO: Turn that `link_to` below to be a `button` that you can see above... %>
          <%#= link_to url_for(action: :destroy, user_id: @user.id, role: role.name.to_sym, resource_type: role.resource_type), method: :delete, data: { confirm: "Are you sure?" }, class: "c-link c-link--block c-link--icon-alone" do %>
            <%#= crayons_icon_tag(:x, width: 18, height: 18, class: "c-link__icon") %>
          <%# end %>
        </li>
      <% end %>
    <% end %>
    <li><button class="c-btn c-btn--secondary whitespace-nowrap" type="button" data-modal-trigger data-modal-title="Add role" data-modal-size="m" data-modal-content-selector="#add-role">Add role</button></li>
  </ul>
<% end %>

<div id="add-role" class="hidden">
  Add role
</div>
