<h1 class="crayons-title mb-4">Edit HTML Variant</h1>
<div class="crayons-card p-6">
  <%= form_for([:admin, @html_variant], method: :patch) do %>
    <%= render "form" %>
    <div class="flex gap-2">
      <%= submit_tag "Update HTML Variant", class: "c-btn c-btn--primary" %>
      <%= link_to "Preview", admin_html_variant_path(@html_variant), class: "c-link c-link--block" %>
      <%= link_to "Fork", new_admin_html_variant_path(fork_id: @html_variant.id), class: "c-link c-link--block" %>
    </div>
  <% end %>
</div>
