<h1 class="crayons-title mb-4">Config</h1>

<div class="flex flex-col gap-4" data-controller="config">
  <% unless current_user.super_admin? %>
    <div class="crayons-notice crayons-notice--warning" role="alert">
      Only users with <strong>Super Admin</strong> privileges may edit this page.
    </div>
  <% end %>

  <%= render partial: "forms/api_tokens" %>
  <%= render partial: "forms/authentication" %>
  <%= render partial: "forms/campaign" %>
  <%= render partial: "forms/community" %>
  <%= render partial: "forms/credits" %>
  <%= render partial: "forms/emails" %>
  <%= render partial: "forms/smtp" %>
  <%= render partial: "forms/ahoy" %>
  <%= render partial: "forms/google_analytics" %>
  <%= render partial: "forms/images", locals: { logo_allowed_types: @logo_allowed_types, logo_max_file_size: @logo_max_file_size } %>
  <%= render partial: "forms/mascot" %>
  <%= render partial: "forms/meta_keywords" %>
  <%= render partial: "forms/monetization" %>
  <%= render partial: "forms/newsletter" %>
  <%= render partial: "forms/onboarding" %>
  <%= render partial: "forms/rate_limit" %>
  <%= render partial: "forms/tags" %>
  <%= render partial: "forms/user_experience" %>
</div>
