<%= form_with(model: classified_listing, local: true) do |form| %>
  <a href="/listings" class="listings-back-button">< go back to listings</a>
  <% if classified_listing.errors.any? %>
    <div class="classified-errors">
      <h2><%= pluralize(classified_listing.errors.count, "error") %> prohibited this classified_listing from being saved:</h2>

      <ul>
      <% classified_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "title", "Title" %>
    <%= form.text_field "title", maxlength: 128, placeholder: "128 characters max, plain text" %>
  </div>
  <div class="field">
    <%= form.label "body_markdown", "Body Markdown" %>
    <%= form.text_area "body_markdown", maxlength: 400, placeholder: "400 characters max, 12 line break max, no images allowed" %>
  </div>
  <div class="field">
    <%= form.label "category" %>
    <%= form.select :category, options_for_select(ClassifiedListing.select_options_for_categories, ClassifiedListing.select_options_for_categories.first) %>
    <details>
      <summary>
        Category details/rules
      </summary>
      <% ClassifiedListing.categories_available.keys.each do |key| %>
        <p>
          <%= ClassifiedListing.categories_available[key][:name] %>: <%= ClassifiedListing.categories_available[key][:rules] %>
        </p>
      <% end %>
    </details>
  </div>
  <div class="field">
    <%= form.label "tag_list", "Tags" %>
    <%= form.text_field "tag_list", placeholder: "8 tags max, comma separated, no spaces or special characters" %>
  </div>
  <% if false # Put connect button (future feature) %>
  <div class="field">
    <%= form.label "contact_via_connect" %>
    <%= form.check_box "contact_via_connect" %>
  </div>
  <% end %>
  <% if current_user.organization && current_user.org_admin %>
    <div class="field">
      <%= form.label "post_as_organization", "Post as #{current_user.organization.name} organization" %>
      <%= form.check_box "post_as_organization" %>
    </div>
    <p><em>Posting on behalf of org spends org credits.</em></p>
  <% end %>
  <div class="actions">
    <%= form.submit "CREATE LISTING", class: "cta" %>
  </div>
  <div class="listings-current-credits">
    You have <%= @credits.size %> credits available — <a href="/credits/new" data-no-instant>Buy More</a>
    <% if current_user.organization && current_user.org_admin %>
      <br/><br/><%= current_user.organization.name %> has <%= current_user.organization.credits.where(spent: false).size %> credits available — <a href="/credits/new?purchaser=organization" data-no-instant>Buy More</a>
    <% end %>
  </div>
  <p><em><%= ApplicationConfig["COMMUNITY_NAME"] %> admins may modify tags and categories to ensure accuracy. We may also take down and refund listings which are miscategorized or otherwise inappropriate.</em></p>
  <p><em>Listings expire 30 days after they are published or "bumped".</em></p>
  <p><em>Email <a href="mailto:yo@dev.to">yo@dev.to</a> if you need support.</em></p>
<% end %>
