<%= content_for :page_meta do %>
  <% title "Listings" %>

  <link rel="canonical" href="https://dev.to<%= request.path %>" />
  <meta name="description" content="Where programmers share ideas and help each other grow.">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dev.to<%= request.path %>" />
  <meta property="og:title" content="Listings" />
  <meta property="og:image" content="https://thepracticaldev.s3.amazonaws.com/i/g355ol6qsrg0j2mhngz9.png">
  <meta property="og:description" content="Where programmers share ideas and help each other grow." />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />

  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:title" content="Listings">
  <meta name="twitter:description" content="Where programmers share ideas, experiences, and help each other grow.">
  <meta name="twitter:image:src" content="https://thepracticaldev.s3.amazonaws.com/i/g355ol6qsrg0j2mhngz9.png">
  <meta name="twitter:card" content="summary_large_image">
  <%= auto_discovery_link_tag(:rss, "https://dev.to/feed", title: "#{ApplicationConfig['COMMUNITY_NAME']} RSS Feed") %>
<% end %>

<div class="home">
  <div class="classifieds-container">
    <div class="classified-filters">
      <div class="classified-filters-categories">
        <code>/listings/</code>
        <a href="/listings<%= "?tags=#{params[:tags]}" if params[:tags] %>" class="<%= 'selected' if params[:category].blank? %>">All</a>
        <% @possible_categories.each do |category| %>
          <a href="/listings/<%= category %><%= "?tags=#{params[:tags]}" if params[:tags] %>" class="<%= 'selected' if params[:category] == category %>"><%= category %></a>
        <% end %>
      </div>
      <div class="classified-filters-tags">
        <% @tags.each do |tag| %>
          <span class="classified-tag">
            <a href="/listings?tags=<%= (@tags + [tag]).uniq.join(",") %>" class="tag-name"><%= tag %></a><a href="/listings?tags=<%= (@tags - [tag]).uniq.join(",") %>" class="tag-close">×</a>
          </span>
        <% end %>
        <% if @tags.size > 1 %>
        <span class="classified-tag clear-all">
          <a href="/listings">clear all</a>
        </span>
        <% end %>
        </div>
    </div>
    <div class="classifieds-columns">
      <% @classified_listings.each do |listing| %>
        <div class="single-classified-listing">
          <div class="listing-content">
            <h3><%= listing.title %></h3>
            <div class="single-classified-listing-body">
              <%= listing.processed_html.html_safe %>
              <a href="/connect/@<%= listing.user.username %>" class="classified-listing-contact-cta">Chat via Connect</a>
            </div>
            <div class="single-classified-listing-tags">
              <% listing.cached_tag_list.to_s.split(", ").each do |tag| %>
                <a href="/listings<%= "/#{listing.category}" if params[:category] %>?tags=<%= (@tags + [tag]).uniq.join(",") %>"><%= tag %></a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
function resizeMasonryItem(item){
  /* Get the grid object, its row-gap, and the size of its implicit rows */
  var grid = document.getElementsByClassName('classifieds-columns')[0],
      rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap')),
      rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));

  /*
   * Spanning for any brick = S
   * Grid's row-gap = G
   * Size of grid's implicitly create row-track = R
   * Height of item content = H
   * Net height of the item = H1 = H + G
   * Net height of the implicit row-track = T = G + R
   * S = H1 / T
   */
  var rowSpan = Math.ceil((item.querySelector('.listing-content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));

  /* Set the spanning as calculated above (S) */
  item.style.gridRowEnd = 'span '+rowSpan;
}
function resizeAllMasonryItems(){
  // Get all item class objects in one list
  var allItems = document.getElementsByClassName('single-classified-listing');

  /*
   * Loop through the above list and execute the spanning function to
   * each list-item (i.e. each masonry item)
   */
  for(var i=0;i<allItems.length;i++){
    resizeMasonryItem(allItems[i]);
  }
}
resizeAllMasonryItems();
</script>