<nav class="hidden m:block">
  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "show" && (params[:which] == "organization" || params[:which].blank?) %>" href="/dashboard">
    Posts
    <span class="crayons-indicator"><%= @user.articles_count %></span>
  </a>

  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "series" && (params[:which] == "organization" || params[:which].blank?) %>" href="/<%= current_user.username %>/series">
    Series
    <span class="crayons-indicator"><%= @user.collections.count %></span>
  </a>

  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "followers" %>" href="/dashboard/user_followers">
    Followers
    <span class="crayons-indicator"><%= @user.followers_count %></span>
  </a>

  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "following_tags" %>" href="/dashboard/following_tags">
    Following tags
    <span class="crayons-indicator"><%= @user.following_tags_count %></span>
  </a>

  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "following_users" %>" href="/dashboard/following_users">
    Following users
    <span class="crayons-indicator"><%= @user.following_users_count %></span>
  </a>

  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "following_organizations" %>" href="/dashboard/following_organizations">
    Following organizations
    <span class="crayons-indicator"><%= @user.following_organizations_count %></span>
  </a>

  <a class="crayons-link crayons-link--block <%= "crayons-link--current" if params[:action] == "following_podcasts" %>" href="/dashboard/following_podcasts">
    Following podcasts
    <span class="crayons-indicator"><%= @user.following_podcasts_count %></span>
  </a>

  <a class="crayons-link crayons-link--block" href="/listings/dashboard" data-no-instant>
    Listings
    <%= inline_svg_tag("external-link.svg", aria: true, class: "crayons-icon", title: "Moderation") %>
  </a>

  <a class="crayons-link crayons-link--block" href="<%= dashboard_analytics_path %>">
    Analytics
  </a>

  <% if @organizations && (params[:which].blank? || params[:which] == "organization") %>
    <% @organizations.each do |org| %>
      <a class="crayons-link crayons-link--block" href="<%= dashboard_analytics_org_path(org.id) %>">Analytics for <%= org.name %></a>
    <% end %>
  <% end %>

  <% if policy(:video).new? && policy(:video).enabled? %>
    <a class="crayons-btn crayons-btn--secondary w-100 mt-4" href="<%= new_video_path %>" data-no-instant> Upload a video
    </a>
  <% end %>
</nav>
