<% num_views = @articles.sum(&:page_views_count) %>

<div class="grid grid-cols-4 gap-4">
  <div class="crayons-card crayons-card--secondary p-6">
    <strong class="fs-3xl lh-tight color-base-90">447</strong>
    <span class="color-base-60 block">Total post reactions</span>
  </div>

  <div class="crayons-card crayons-card--secondary p-6">
    <strong class="fs-3xl lh-tight color-base-90">447</strong>
    <span class="color-base-60 block">Total post views</span>
  </div>

  <div class="crayons-card crayons-card--secondary p-6">
    <strong class="fs-3xl lh-tight color-base-90">447</strong>
    <span class="color-base-60 block">Listings created</span>
  </div>

  <div class="crayons-card crayons-card--secondary p-6">
    <strong class="fs-3xl lh-tight color-base-90">447</strong>
    <span class="color-base-60 block">Credits available</span>
  </div>
</div>



<div class="dashboard-analytics-header-wrapper">
  <div class="dashboard-analytics-header">
    <span><%= number_with_delimiter(@articles.sum(&:public_reactions_count), delimeter: ",") %></span>
    <div class="dashboard-analytics-sub-indicator">
      <img src="<%= asset_path "emoji/emoji-one-heart.png" %>" alt="heart" />
      <img src="<%= asset_path "emoji/emoji-one-unicorn.png" %>" alt="unicorn" />
      <img src="<%= asset_path "emoji/emoji-one-bookmark.png" %>" alt="bookmark" />
      Total Post Reactions
    </div>
  </div>
  <div class="dashboard-analytics-header" id="dashboard-analytics-header">
    <span><%= num_views > 500 ? number_with_delimiter(num_views, delimeter: ",") : "under 500" %></span>
    <div class="dashboard-analytics-sub-indicator">
      <img id="dashboard-analytics-image" src="<%= asset_path "emoji/apple-eyes.png" %>" alt="eyes" />
      Total Post Views
    </div>
  </div>
</div>
