<div class="single-article <%= "single-article-unpublished" unless article.published %>">
  <div class="dashboard-collection-org-details">
    <% if article.organization_id %>
      <span class="dashboard-top-pill"><%= article.organization&.name %></span>
    <% end %>
    <% if article.collection_id %>
      <span class="dashboard-top-pill"><strong>Series:</strong> <%= article.series %></span>
    <% end %>
  </div>
  <a href="<%= article.current_state_path %>"><h2><%= article.title %></h2></a>
  <div class="dashboard-meta-details">
    <% if article.published %>
      <%= article.readable_publish_date %>
      <% article.cached_tag_list_array.each do |tag| %>
        #<%= tag %>
      <% end %>
    <% end %>
  </div>
  <div class="dashboard-actions">
    <% if !article.published %>
      <a href="<%= article.current_state_path %>" class="pill cta yellow">DRAFT</a>
    <% end %>
    <a href="<%= article.path %>/edit" class="pill cta green">EDIT</a>
    <a href="<%= article.path %>/delete_confirm" data-no-instant class="cta pill black">DELETE</a>
    <a
      href="<%= article.path %>/toggle_mute"
      class="cta pill <%= article.receive_notifications ? "mute" : "unmute" %>"
      data-no-instant>
      <%= article.receive_notifications ? "MUTE COMMENTS" : "COMMENTS MUTED" %>
    </a>
    <% if article.published %>
      <span id="pageviews-<%= article.id %>" class="cta pill dashboard-pageviews-indicator" data-analytics-pageviews data-article-id="<%= article.id %>">
        <%= article.page_views_count > 100 ? article.page_views_count : "under 100" %> views // <%= article.positive_reactions_count %> reactions // <%= article.comments_count %> comments
      </span>
    <% end %>
  </div>
  <% if org_admin %>
    <%= form_for(article) do |f| %>
      <input type="hidden" name="destination" value="/dashboard" />
      AUTHOR: <%= f.select(:user_id, options_for_select(@user.organization.users.map {|x| [x.name, x.id] }, article.user_id )) %>
      <%= f.submit "SUBMIT AUTHOR CHANGE", class:"cta pill black" %>
    <% end %>
  <% end %>
</div>