<tr class="js-dashboard-story spec__dashboard-story <%= "story-unpublished" unless article.published %> <%= "js-dashboard-story story-archived hidden" if article.archived %>">
  <td>
    <h3 class="fs-l">
      <a href="<%= article.current_state_path %>" class="flex items-center">
        <% if article.organization_id %>
          <span class="crayons-logo crayons-logo--s mr-2"><img class="crayons-logo__image" src="<%= article.organization&.profile_image_90 %>" alt="<%= article.organization&.name %>" width="24" height="24"></span>
        <% end %>
        <%= sanitize_and_decode article.title %>
      </a>
    </h3>
    <% if article.published %>
      <% if article.cached_tag_list_array.any? %>
        <div class="-ml-1">
          <% article.cached_tag_list_array.each do |tag| %>
            <a href="/t/<%= tag %>" class="crayons-tag"><span class="crayons-tag__prefix">#</span><%= tag %></a>
          <% end %>
        </div>
      <% end %>

      <p class="fs-s color-base-70 js-dashboard-story-details">
        <strong class="fw-medium">Published:</strong> <time datetime="<%= article.published_timestamp %>"><%= article.readable_publish_date %></time>
        <% if article.edited? %>
          <strong class="fw-medium pl-2">Edited:</strong> <time datetime="<%= article.edited_at.utc.iso8601 %>"><%= article.readable_edit_date %></time>
        <% end %>
        <% if article.collection_id %>
          <strong class="fw-medium pl-2">Series:</strong> <%= article.series %>
        <% end %>
      </p>
    <% end %>
  </td>

  <td class="fs-s color-base-70">
    <div class="flex flex-wrap <%= "opacity-25" unless article.published %>" data-analytics-pageviews data-article-id="<%= article.id %>">
      <span class="flex items-center p-1" title="Reactions">
        <%= inline_svg_tag("small-heart.svg", aria: true, class: "crayons-icon mr-1", title: "Reactions") %>
        <% if article.published %>
          <%= article.public_reactions_count %>
        <% else %>
          0
        <% end %>
      </span>

      <span class="flex items-center p-1 ml-1" title="Comments">
        <%= inline_svg_tag("small-comment.svg", aria: true, class: "crayons-icon mr-1", title: "Comments") %>
        <span class="spec__comments-count">
          <%= article.comments_count %>
        </span>
      </span>

      <span class="flex items-center p-1 ml-1" title="Views">
        <%= inline_svg_tag("small-eye.svg", aria: true, class: "crayons-icon mr-1", title: "Views") %>
        <% if article.published %>
          <% if article.page_views_count > 25 %>
            <%= article.page_views_count %>
          <% else %>
            &lt; 25
          <% end %>
        <% else %>
          0
        <% end %>
      </span>

      <% if false %>
        <span class="flex items-center p-1 ml-1" title="Data">
          <%= inline_svg_tag("small-data.svg", aria: true, class: "crayons-icon mr-1", title: "Data") %>
          4
        </span>
      <% end %>
    </div>
  </td>

  <td>
    <% if article.archived %>
      <span class="crayons-indicator crayons-indicator--critical">Archived</span>
    <% else %>
      <% if article.published %>
        <span class="crayons-indicator">Published</span>
      <% else %>
        <a href="<%= article.path %>/edit" class="crayons-indicator crayons-indicator--accent">Draft</a>
      <% end %>
    <% end %>
  </td>

  <td class="align-right">
    <% if manage_view %>
      <a href="<%= article.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--ghost-danger crayons-btn--s">Delete</a>

      <% if article.profile_pins.any? %>
        <%= form_for(article.profile_pins.first) do |f| %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s">Unpin</button>
        <% end %>
      <% else %>
        <%= form_for(ProfilePin.new) do |f| %>
          <%= f.hidden_field :pinnable_id, value: article.id %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s" title="Pin to profile">Pin</button>
        <% end %>
      <% end %>
    <% elsif article.published %>
      <a href="<%= article.path %>/manage" class="crayons-btn crayons-btn--ghost crayons-btn--s">Manage</a>
    <% elsif @user == article.user %>
      <a href="<%= article.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--ghost-danger crayons-btn--s">Delete</a>
    <% end %>
    <a href="<%= article.path %>/edit" class="crayons-btn crayons-btn--ghost crayons-btn--s">Edit</a>

    <div class="js-dashboard-row-more relative inline-block">
      <button class="crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon js-dashboard-row-more-trigger">
        <%= inline_svg_tag("overflow-horizontal.svg", aria: true, class: "crayons-icon", title: "More...") %>
      </button>

      <div class="crayons-dropdown top-100 right-0 z-10 align-left js-dashboard-row-more-dropdown">
        <% if @current_user_pro %>
          <a href="<%= article.path %>/stats" class="crayons-link crayons-link--block w-100 border-0 bg-transparent">Stats</a>
        <% end %>
        <%= form_for(article, method: :patch, remote: true, authenticity_token: true, html: { "data-type": "json", class: "js-archive-toggle" }) do |f| %>
          <%= f.hidden_field :archived, value: !article.archived %>

          <button type="submit" class="crayons-link crayons-link--block w-100 border-0 bg-transparent">
            <%= article.archived ? "Unarchive post" : "Archive post" %>
          </button>
        <% end %>

        <% if organization && org_admin %>
          <%= form_for(article, html: { class: "mt-4 pt-4 border-0 border-t-1 border-color-base-10 border-solid" }) do |f| %>
            <input type="hidden" name="destination" value="/dashboard/organization/<%= organization.id %>" />
            <div class="crayons-field mb-4">
              <label for="user_id" class="crayons-field__label">Author</label>
              <%= f.select :user_id, options_for_select(organization.users.pluck(:name, :id), article.user_id), {}, { class: "crayons-select" } %>

            </div>
            <button type="submit" class="crayons-btn">Save</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </td>
</tr>
