<h1>
  <a class="rounded-btn <%= "active" if params[:action] == "following_tags" %>" href="/dashboard/following_tags">
    <span>tags (<%= @user.following_tags_count %>)</span>
  </a>
  <a class="rounded-btn <%= "active" if params[:action] == "following_users" %>" href="/dashboard/following_users">
    <span>users (<%= @user.following_users_count %>)</span>
  </a>
  <a class="rounded-btn <%= "active" if params[:action] == "following_organizations" %>" href="/dashboard/following_organizations">
    <span>organizations (<%= @user.following_organizations_count %>)</span>
  </a>
  <a class="rounded-btn <%= "active" if params[:action] == "following_podcasts" %>" href="/dashboard/following_podcasts">
    <span>podcasts (<%= @user.following_podcasts_count %>)</span>
  </a>
</h1>
