<%= javascript_packs_with_chunks_tag "dashboardTagsDisableUnchangedButtons", defer: true %>

<div id="following-wrapper" class="grid gap-3 m:gap-4 s:grid-cols-2 l:grid-cols-3 px-3 m:px-0">
  <% tags.each do |follow| %>
    <% tag = follow.followable %>
    <% if tag %>
      <div class="crayons-card branded-2 p-4 m:p-6 m:pt-4 flex flex-col single-article break-word content-center" style="border-top-color: <%= tag.bg_color_hex %>;" id="follows-<%= follow.id %>">
        <h3 class="s:mb-1 -ml-1 p-0 fw-medium">
          <%= render_tag_link(tag.name) %>
        </h3>

        <p class="grid-cell__summary truncate-at-2 mb-4 fs-m h-50">
          <%= strip_tags(tag.short_summary) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
