<%= javascript_packs_with_chunks_tag "dashboardTagsDisableUnchangedButtons", defer: true %>

<div id="following-wrapper" class="grid gap-3 m:gap-4 s:grid-cols-2 l:grid-cols-3 px-3 m:px-0">
  <% tags.each do |follow| %>
    <% tag = follow.followable %>
    <% if tag %>
      <div class="crayons-card branded-2 p-4 m:p-6 m:pt-4 flex flex-col single-article break-word content-center" style="border-top-color: <%= tag.bg_color_hex %>;" id="follows-<%= follow.id %>">
        <h3 class="s:mb-1 -ml-1 p-0 fw-medium">
          <%= render_tag_link(tag.name) %>
        </h3>

        <p class="grid-cell__summary truncate-at-2 mb-4 fs-m h-50">
          <%= strip_tags(tag.short_summary) %>
        </p>

        <%= fields(follow) do |f| %>
          <%= f.hidden_field(:id, name: "follows[][id]", form: "follows_update_form", id: "follow_id_#{follow.followable}") %>
          <%= f.number_field(:explicit_points, step: :any, required: true, class: "crayons-textfield flex-1 fs-s", name: "follows[][explicit_points]", form: "follows_update_form", "aria-label": t("views.dashboard.tags.number.aria_label", name: follow.followable),
                                               id: "explicit_points_#{follow.followable}") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with url: bulk_update_follows_path, method: :patch, local: true, class: "sticky bg-base-inverted mt-3 pt-3 pl-3 pb-1 z-elevate", html: { style: "bottom: 0;margin-left:-1px" }, id: "follows_update_form" do |f| %>
  <button type="submit" class="crayons-btn crayons-btn--m mb-3" name="commit"><%= t("views.dashboard.tags.update") %></button>
<% end %>
