<% title t("views.dashboard.analytics.meta.title") %>

<main class="dashboard-container analytics-container crayons-layout" id="main-content">
  <nav aria-label="Dashboards" class="mx-5">
    <ul class="analytics-nav">
      <li>
        <a href="<%= dashboard_path %>" class="analytics-nav__back"><%= t("views.dashboard.analytics.back") %></a>
      </li>
      <li>
        <a href="<%= dashboard_analytics_path %>"
           <%= params[:org_id] ? "" : 'aria-current="page"'.html_safe %>>
           <%= t("views.dashboard.analytics.your") %>
        </a>
      </li>
      <% @organizations.each do |org| %>
        <li>
          <a href="<%= dashboard_analytics_org_path(org.id) %>"
             data-organization-id="<%= org.id %>"
             <%= params[:org_id].to_i == org.id ? 'aria-current="page"'.html_safe : "" %>>
             <%= t("views.dashboard.analytics.org", org: org.name) %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
      

  <h1 class="fs-4xl fw-bold mx-5"><%= t("views.dashboard.analytics.heading", name: @user_or_org.name) %></h1>

  <%= render "shared/stats" %>
</main>

<%= javascript_include_tag "analyticsDashboard", defer: true %>
