<% title "Dashboard - DEV" %>

<div id="index-container"
    data-params="<%= params.to_json(only: %i[action per_page]) %>"
    data-which="following">
  <div class="dashboard-container" id="user-dashboard">
    <%= render "actions" %>

    <%= render "subactions" %>

    <% @followed_organizations.each do |follow| %>
      <% organization = follow.followable %>
      <div id="follows-<%= follow.id %>" class="single-article">
        <a href="<%= organization.path %>" class="block-link">
          <h2>
            <img alt="<%= organization.name %> profile image" src="<%= ProfileImage.new(organization).get(width: 60) %>" />
            <%= organization.name %>
            <span class="dashboard-username">@<%= organization.username %></span>
          </h2>
        </a>
      </div>
    <% end %>

    <%= render "sublist" %>
  </div>
</div>
