<% title "Dashboard - DEV" %>

<div id="index-container"
    data-params="<%= params.to_json(only: %i[action per_page]) %>"
    data-which="following">
  <div class="dashboard-container" id="user-dashboard">
    <%= render "actions" %>

    <%= render "subactions" %>

    <% @follows.each do |follow| %>
      <% user = follow.followable %>
      <% if user %>
        <div id="follows-<%= follow.id %>" class="single-article">
          <a href="<%= user.path %>" class="block-link">
            <h2>
              <img alt="<%= user.username %> profile image" src="<%= ProfileImage.new(user).get(width: 60) %>" />
              <%= user.name %>
              <span class="dashboard-username">@<%= user.username %></span>
            </h2>
          </a>
        </div>
      <% end %>
    <% end %>

    <%= render "sublist" %>
  </div>
</div>
