<% title "Dashboard - DEV" %>

<div class="dashboard-container" id="user-dashboard">
  <%= render "actions" %>
  <% if @user.org_admin && @user.organization %>
    <h1>
      <a href="/dashboard/user_followers" class="rounded-btn <%= "active" if params[:which] == "user_followers" %>">Personal</a>
      <a href="/dashboard/organization_user_followers" class="rounded-btn <%= "active" if params[:which] == "organization_user_followers" %>"><%= @user.organization.name %> (<%= @user.organization.followers_count %>)</a>
      <% if @user.has_role? :pro %>
        <a class="rounded-btn" href="/dashboard/pro">Pro Analytics</a>
      <% end %>
      <% if @user.has_role?(:pro) && @user.organization_id %>
        <a class="rounded-btn" href="/dashboard/pro/org/<%= @user.organization_id %>">Pro Analytics for <%= @user.organization.name %></a>
      <% end %>
    </h1>
  <% end %>
  <% @follows.each do |follow| %>
    <% user = follow.follower %>
    <% if user %>
      <div class="single-article">
        <a href="<%= user.path %>" class="block-link">
          <h2>
            <img alt="<%= user.username %> profile image" src="<%= ProfileImage.new(user).get(60) %>" />
            <%= user.name %>
            <span class="dashboard-username">@<%= user.username %></span>
          </h2>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
