<% title t("views.dashboard.meta.title", site: community_name) %>

<div id="index-container"
  data-params="<%= params.to_json(only: %i[action per_page]) %>"
  data-which="following">
  <main id="main-content" class="crayons-layout crayons-layout--header-inside crayons-layout--2-cols">
    <%= render("header_and_action", page_title: t("views.dashboard.hidden_tags.heading")) %>
    <div class="crayons-layout__content mb-5" id="user-dashboard">
      <% if @hidden_tags.any? %>
        <%= render "tags", tags: @hidden_tags, page: "hidden" %>
      <% else %>
        <div class="p-9 crayons-card crayons-card--secondary align-center fs-l h-100 flex items-center justify-center"><%= t("views.dashboard.hidden_tags.empty_html", link: tags_path) %></div>
      <% end %>
      <%= render "sublist" %>
    </div>
  </main>
</div>
