<% title "Dashboard" %>

<main class="dashboard-container crayons-layout" id="user-dashboard">
  <h1 class="visually-hidden-header">User Dashboard</h1>

  <%= render "actions" %>
  <% if @organizations && @organizations.size > 0 && (params[:which].blank? || params[:which] == "organization") %>
    <h1>
      <a href="/dashboard" class="rounded-btn <%= "active" if params[:which].blank? %>">Personal</a>
      <% @organizations.each do |org| %>
        <a href="/dashboard/organization/<%= org.id %>" class="rounded-btn <%= "active" if params[:org_id].to_i == org.id %>"><%= org.name %> (<%= org.articles_count %>)</a>
      <% end %>
    </h1>
  <% end %>
  <% if params[:which] == "organization" %>
    <%= render "analytics" %>

    <table class="crayons-table mb-6" width="100%" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Post</th>
          <th>Engagement</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="crayons-card">
        <% @articles.each do |article| %>
          <%= render "dashboard_article_row", article: article, organization: article.organization, org_admin: true, manage_view: false %>
        <% end %>
      </tbody>
    </table>
  <% elsif @articles.any? %>
    <%= render "analytics" %>
    <div class="actions-secondary">
      <% if current_user.created_at < 2.weeks.ago %>
        <a class="video-upload-cta cta" href="/videos/new" data-no-instant>
          Upload a Video 🎥
        </a>
      <% end %>
        <a class="video-upload-cta cta" href="/listings/dashboard" data-no-instant>
          Create/Manage Listings
        </a>
      <%= select_tag "dashboard_sort", options_for_select(sort_options, params[:sort]), 'aria-label': "Sort By" %>
      <% if @articles.any? {|article| article.archived } %>
        <%= link_to "Show archived", "javascript:;", id: "toggleArchivedLink" %>
      <% end %>
    </div>

    <table class="crayons-table mb-6" width="100%" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Post</th>
          <th>Engagement</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="crayons-card">
        <% @articles.each do |article| %>
          <%= render "dashboard_article_row", article: article, organization: nil, org_admin: false, manage_view: false %>
        <% end %>
      </tbody>
    </table>
    <div class="mb-4 pl-3">
      <%= paginate @articles, params: { i: nil } %>
    </div>
  <% else %>
    <div class="no-articles">
      <h3>This is where you can manage your posts, but you haven't written anything yet.</h3>
      <a href="/new" class="cta big">
        Write your first post now
      </a>
      <%= image_tag(cl_image_path(SiteConfig.mascot_image_url,
                                  type: "fetch",
                                  width: 300,
                                  crop: "imagga_scale",
                                  quality: "auto",
                                  flags: "progressive",
                                  fetch_format: "auto",
                                  sign_url: true), class: "sloan", alt: "Sloan, the sloth mascot") %>
      <br />
      <h3>Also check out the <a href="/welcome" data-no-instant>Welcome Thread</a> to introduce yourself!</h3>
    </div>
  <% end %>
</main>
