<% title "Dashboard - DEV" %>

<div class="dashboard-container">
  <div class="actions">
    <a class="action <%= 'active' if params[:which] == "organization" || params[:which].blank? %>" href="/dashboard">
      <span>POSTS</span>
      <span>(<%= @user.articles_count %>)</span>
    </a>
    <a class="action <%= 'active' if params[:which] == "user_followers" || params[:which] == "organization_user_followers" %>" href="/dashboard/user_followers">
      <span>FOLLOWERS</span>
      <span>(<%= @user.followers_count %>)</span>
    </a>
    <a class="action <%= 'active' if params[:which] == "following_users" %>" href="/dashboard/following_users">
      <span>FOLLOWING</span>
      <span>(<%= @user.following_users_count %>)</span>
    </a>
  </div>
<% if @user.org_admin && @user.organization &&  (params[:which].blank? || params[:which] == "organization") %>
  <h1>
    <a href="/dashboard" class=<%= "active" if params[:which].blank? %>>MY POSTS</a>
    <a href="/dashboard/organization" class=<%= "active" if params[:which] == "organization" %>><%= @user.organization.name.upcase %> POSTS (<%= @user.organization.articles.size %>)</a>
  </h1>
<% elsif @user.org_admin && @user.organization &&  (params[:which] == "organization_user_followers" || params[:which] == "user_followers")%>
  <h1>
    <a href="/dashboard/user_followers" class=<%= "active" if params[:which] == "user_followers" %>>MY FOLLOWERS</a>
    <a href="/dashboard/organization_user_followers" class=<%= "active" if params[:which] == "organization_user_followers" %>><%= @user.organization.name.upcase %> FOLLOWERS (<%= @user.organization.followers_count %>)</a>
  </h1>
<% end %>
  <% if @user.org_admin && @user.organization && params[:which] == "organization" %>
      <% if current_user.can_view_analytics? %>
        <%= render "analytics" %>
      <% end %>
      <% @articles.each do |article| %>
        <%= render "dashboard_article", article: article, org_admin: true %>
      <% end %>
    </div>
  <% elsif params[:which] == "user_followers" || params[:which] == "following_users" || params[:which] == "organization_user_followers" %>
      <% @follows.each do |follow| %>
        <% user = params[:which].include?("followers") ? follow.follower : follow.followable %>
        <% if user %>
          <div class="single-article">
            <a href="<%= user.path %>" class="block-link">
              <h2>
                <img alt="<%= user.username %> profile image" src="<%= ProfileImage.new(user).get(60)%>" />
                <%= user.name %>
                <span class="dashboard-username">@<%= user.username %></a>
              </h2>
            </a>
          </div>
        <% end %>
    <% end %>
  <% elsif @articles.any? %>
    <% if current_user.can_view_analytics? %>
      <%= render "analytics" %>
    <% end %>
    <% if current_user.has_role?(:video_permission) %>
      <a class="video-upload-cta" href="/videos/new" data-no-instant>
        Upload a Video 🎥
      </a>
    <% end %>
    <% @articles.each do |article| %>
        <%= render "dashboard_article", article: article, org_admin: false %>
    <% end %>
  <% else %>
    <div class="no-articles">
      <h3>This is where you can manage your posts, but you haven't written anything yet.</h3>
      <a href="/new" class="cta big">
        Write your first post now
      </a>
      <%=image_tag(cl_image_path(asset_path("/assets/sloan.png"),
       :type=>"fetch",
       :width => 300,
       :crop => "imagga_scale",
       :quality => "auto",
       :flags => "progressive",
       :fetch_format => "auto",
       :sign_url => true), class:"sloan", alt:"sloth-mascot") %>
       <br/>
      <h3>Also check out the <a href="/welcome" data-no-instant>Welcome Thread</a> to introduce yourself!</h3>
    </div>
  <% end %>
</div>
