<div class="card-header">
  <span><%= header %></span>
  <button
    class="btn btn-secondary float-right"
    type="button"
    data-toggle="<%= state %>"
    data-target="#<%= target %>"
    aria-expanded="<%= expanded %>"
    aria-controls="<%= target %>">
    Toggle
  </button>
</div>
