<h1>Site configuration</h1>

<style>
  .panel {
    margin-top: 2rem;
  }

  .preview {
    margin: 1rem 0;
  }

  .help-block {
    font-size: 1.5rem;
  }
</style>

<%= form_for(SiteConfig.new, url: internal_config_path) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">Images</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :main_social_image %>
        <%= f.text_field :main_social_image,
                         class: "form-control",
                         value: SiteConfig.main_social_image,
                         placeholder: "https://image.url" %>
        <span class="help-block">Used as the main image in social networks and OpenGraph</span>
        <img alt="main social image" class="preview" src="<%= SiteConfig.main_social_image %>" width="50%" />
      </div>

      <div class="form-group">
        <%= f.label :favicon_url %>
        <%= f.text_field :favicon_url,
                         class: "form-control",
                         value: SiteConfig.favicon_url,
                         placeholder: "https://image.url" %>
        <span class="help-block">Used as the site favicon</span>
        <img alt="favicon" class="preview" src="<%= SiteConfig.favicon_url %>" />
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Rate limits</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :rate_limit_follow_count_daily %>
        <%= f.number_field :rate_limit_follow_count_daily,
                           class: "form-control",
                           value: SiteConfig.rate_limit_follow_count_daily,
                           min: 0,
                           placeholder: "500" %>
        <span class="help-block">Used to limit the amount of users a person can follow daily</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Update site configuration", class: "btn btn-primary" %>
  </div>
<% end %>
