<h1>Site configuration</h1>

<style>
  .panel {
    margin-top: 2rem;
  }

  .preview {
    margin: 1rem 0;
  }

  .help-block {
    font-size: 1.5rem;
  }
</style>

<%= form_for(SiteConfig.new, url: internal_config_path) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">Images</div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label "Main social image" %>
        <%= f.text_field :main_social_image,
                         class: "form-control",
                         value: SiteConfig.main_social_image,
                         placeholder: "https://image.url" %>
        <span class="help-block">Used as the main image in social networks and OpenGraph</span>
        <img alt="main social image" class="preview" src="<%= SiteConfig.main_social_image %>" width="50%" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Update site configuration", class: "btn btn-primary" %>
  </div>
<% end %>
