<h1>Site configuration</h1>

<%= form_for(SiteConfig.new, url: internal_config_path) do |f| %>
  <div class="form-group">
    <%= f.label "Main social image" %>
    <%= f.text_field :main_social_image, value: SiteConfig.main_social_image, class: "form-control", placeholder: "https://image.url" %>
    <img alt="main social image" src="<%= SiteConfig.main_social_image %>" width="30%" />
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
