<ul class="crayons-navigation">
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Article" href="javascript:;">
    <%= t("views.search.nav.posts") %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:User" href="javascript:;">
    <%= t("views.search.nav.people") %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Organization" href="javascript:;">
    <%= t("views.search.nav.organizations") %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Tag" href="javascript:;">
    <%= t("views.search.nav.tags") %>
  </a></li>
  <li><a class="query-filter-button crayons-navigation__item" data-filter="class_name:Comment" href="javascript:;">
    <%= t("views.search.nav.comments") %>
  </a></li>
  <% if policy(Article).has_existing_articles_or_can_create_new_ones? %>
  <li><a class="query-filter-button my-posts-query-button crayons-navigation__item" data-filter="MY_POSTS" href="javascript:;">
    <%= t("views.search.nav.my_posts") %>
  </a></li>
  <% end %>
  <% if Settings::General.display_algolia_branding %>
    <li class="ml-2 mt-3 fw-bold"><a href="https://www.algolia.com/developers/?utm_source=devto&utm_medium=referral" target="_blank">Powered by Algolia</a></li>
  <% end %>
</ul>
