<div
  class="card-header"
  data-toggle="<%= state %>"
  data-target="#<%= target %>"
  aria-expanded="<%= expanded %>"
  aria-controls="<%= target %>">
  <span><%= header %></span>
  <div class="card-header__toggle float-right">
    Toggle
  </div>
</div>
