<div
  class="card-header flex items-center"
  data-toggle="<%= state %>"
  data-target="#<%= target %>"
  aria-expanded="<%= expanded %>"
  aria-controls="<%= target %>">
  <h6 class="mb-0"><%= header %></h6>
  <button type="button" class="card-header__toggle btn btn-secondary ml-auto">
    Toggle
  </button>
</div>
