<div>
  <div class="tag-card crayons-card p-4 m:p-6 m:pt-4 mb-4 flex flex-row relative">
    <div class="mr-8">
      <div class="crayons-field__description">Last deployed</div>
      <div><%= ForemInstance.deployed_at %></div>
    </div>
    <div>
      <div class="crayons-field__description">Latest Commit ID</div>
      <div><%= ForemInstance.latest_commit_id || "Not Available" %></div>
    </div>
  </div>

  <div class="grid gap-2 m:gap-4 l:gap-6 m:grid-cols-2 l:grid-cols-3 px-2 m:px-0">
    <% admin_menu_items.each do |menu_item| %>
      <div class="tag-card crayons-card branded-4 p-4 m:p-6 m:pt-4 flex flex-col relative">
        <h3 class="crayons-tag crayons-tag--l mb-2">
          <a href="/admin/<%= menu_item[:controller] %>" class="crayons-link">
            <%= menu_item[:name].to_s.titleize %>
          </a>
        </h3>
      </div>
    <% end %>
  </div>

  <% if FeatureFlag.enabled?(:data_update_scripts) %>
    <div class="grid gap-2 m:gap-4 l:gap-6 m:grid-cols-2 l:grid-cols-3 px-2 m:px-0">
      <div>
        <div class="mt-6 mb-2"> Tech Resources </div>
        <% AdminHelper::TECH_MENU_ITEMS.each do |tech_menu_item| %>
          <div class="tag-card crayons-card branded-4 p-4 m:p-6 m:pt-4 flex flex-col relative">
            <h3 class="crayons-tag crayons-tag--l mb-2">
              <a href="/admin/<%= tech_menu_item[:controller] %>" class="crayons-link">
                <%= tech_menu_item[:name].to_s.titleize %>
              </a>
            </h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
