<a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
    <div class="small-pic">
      <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
    </div>
</a>
  <!-- below links to comment thread -->
<div class="content notification-content article-content">
  <a href="<%= activity['actor'].path %>">
    <%= activity['actor'].name %>
  </a>
     made a new post:
     <a href="<%= activity['object'].path %>">
       <%= activity['object'].title %>
     </a>
</div>
