<a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
    <div class="small-pic">
      <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
    </div>
</a>
<div class="content notification-content article-content">
  Hey there! <%= image_tag "emoji/apple-hugging-face.png", class: "reaction-image" %> As a trusted user, could you react to this article
  so we know it fits our community code of conduct?
  <br/><br/>
  <b>Here's the article: <a href="<%= activity['object'].path %>">
     <%= activity['object'].title %>
   </a></b>
     <div class="comment-actions">
       <% if current_user.has_role? :trusted %>
         <button class="reaction-button <%= Reaction.cached_any_reactions_for?(activity['object'], current_user, "like") ? "reacted" : "" %>" data-reactable-id="<%=activity['object'].id%>" data-category="like" data-reactable-type="Article" aria-label="like">
           <%= image_tag "favorite-heart-outline-button.svg" %>
           <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-heart.png") %>"/>
         </button>
         <button class="reaction-button <%= Reaction.cached_any_reactions_for?(activity['object'], current_user, "thumbsdown") ? "reacted" : "" %>" data-reactable-id="<%= activity['object'].id %>" data-category="thumbsdown" data-reactable-type="Article" aria-label="dislike">
           <%= image_tag "emoji/emoji-one-thumbs-down-gray.png" %>
           <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-thumbs-down.png") %>"/>
         </button>
         <button class="reaction-button <%= Reaction.cached_any_reactions_for?(activity['object'], current_user, "vomit") ? "reacted" : "" %>" data-reactable-id="<%= activity['object'].id %>" data-category="vomit" data-reactable-type="Article" aria-label="report code of conduct violation">
           <%= image_tag "emoji/emoji-one-nausea-face-gray.png" %>
           <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-nausea-face.png") %>"/>
         </button>
       <% end %>
     </div>
</div>
