
<div class="content notification-content" style="text-align: center;width:98%;margin:auto;display:block;">
  <% cache "activity-badge-reward-#{activity['actor'].badge_id}" do %>
    <div style="margin:6px auto;font-size:1.3em;width:90%">
      You received the <strong><%= activity['actor'].badge.title %></strong> badge
    </div>
    <p style="color:#666666;width: 90%;margin: 10px auto">
      <%= activity['actor'].badge.description %>
    </p>
    <img style="height: 150px;margin:10px 0px 20px" src="<%= cloudinary activity['actor'].badge.badge_image_url, 250 %>" alt="<%= activity['actor'].badge.title %>">
  <% end %>
  <p style="width: 90%;margin: 8px auto">
    <em>
      <%= activity['actor'].rewarding_context_message.html_safe %>
    </em>
  </p>
  <a href="/<%= activity['object'].username %>">
    <button class="cta follow-action-button" style="margin-bottom:12px; display:inline-block">
      CHECK YOUR PROFILE
    </button>
  </a>
</div>
