<a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
  <div class="small-pic">
    <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
  </div>
</a>

  <div class="content notification-content comment-content">
    Hey there! <%= image_tag "emoji/apple-hugging-face.png", class: "reaction-image" %> As a trusted member, could you react to this comment
    so we know it fits our community code of conduct?
    <br/><br>
    <b>Here's the article for context:
    <a href="<%= activity['object'].commentable.path %>">
      <%= activity['object'].commentable.title %>
    </a></b>
    <%= render "notifications/activity/activities/shared/comment_box", activity: activity, context: "moderation" %>
    <br>
    <div class="footnote">All negative reactions are 100% private. If it is a good comment, consider also replying with some positive reinforcement or adding to the conversation.</div>
  </div>
