<% cache "activity-profile-pic-#{activity['actor'].id}-#{activity['actor'].profile_image_url}" do %>
  <a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
    <div class="small-pic">
      <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
    </div>
  </a>
<% end %>

<div class="content notification-content comment-content">
  <a href="<%= activity['actor'].path %>"><%= activity['actor'].name %></a>
  commented on
  <a href="<%= activity['object'].commentable.path %>">
    <%= activity['object'].commentable.title %>
  </a>
  <%= render "notifications/activity/activities/shared/comment_box", activity:activity, context: "default" %>
</div>
