<% cache "activity-profile-pic-#{activity['actor'].id}-#{activity['actor'].profile_image_url}" do %>
  <a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
    <div class="small-pic">
      <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
    </div>
  </a>
<% end %>
  <!-- below links to comment thread -->
<div class="content notification-content comment-content">
    <a href="<%= activity['actor'].path %>"><%= activity['actor'].name %></a> mentioned you in a comment
    <%= render "notifications/activity/activities/shared/comment_box", activity:activity, context: "default" %>
</div>
