<% if activity['object'].category != "readinglist" %>
  <% cache "activity-profile-pic-#{activity['actor'].id}-#{activity['actor'].profile_image_url}" do %>
    <a href="<%= activity['actor'].path %>" class="small-pic-link-wrapper">
      <div class="small-pic">
        <img src="<%= ProfileImage.new(activity['actor']).get %>" alt="<%= activity['actor'].username %> profile image">
      </div>
    </a>
  <% end %>
<% else %>
  <% cache "activity-profile-pic-readinglist-icon" do %>
    <a href="#" class="small-pic-link-wrapper">
      <div class="small-pic">
        <img src="<%= asset_path ReactionImage.new(activity['object'].category).path %>" alt="Reading List Icon">
      </div>
    </a>
  <% end %>
<% end %>
<!-- below links to comment thread -->
<div class="content notification-content reaction-content">
  <% if activity['object'].category == "readinglist" %>
    Someone reacted to
  <% else %>
    <a href="<%= activity['actor'].path %>"><strong><%= activity['actor'].name %></strong></a> reacted to
  <% end %>
  <strong>
    <a href="<%= activity['object'].reactable.path %>" class="notification-comment-reacted-link">
      <%= activity['object'].reactable.title.blank? ? "your #{activity['object'].reactable_type.downcase}" : activity['object'].reactable.title %>
    </a>
  </strong>
  <span class="reaction-images">
    with <%= image_tag ReactionImage.new(activity['object'].category).path, class: "reaction-image", alt: "a #{activity['object'].category}" %>
  </span>
</div>
