<div class="grid l:grid-cols-2 gap-6 mb-4">
    <div class="crayons-field">
    <div class="crayons-field">
      <%= form.label :type_of, "Type:", class: "crayons-field__label" %>
      <%= form.select :type_of, options_for_select(Email.type_ofs.keys, selected: @email.type_of), {}, { class: "crayons-textfield", autocomplete: "off" } %>
    </div>

    <div class="crayons-field">
      <%= form.label :audience_segment_id, "Audience Segment:", class: "crayons-field__label" %>
      <%= form.select :audience_segment_id, options_for_select([["Entire list", nil]] + @audience_segments.map { |s| [s.name || s.type_of, s.id]}), {}, { class: "crayons-textfield", autocomplete: "off" }  %>
    </div>

    <div class="crayons-field">
      <%= form.label :targeted_tags, "Targeted tags:", class: "crayons-field__label" %>
      <%= form.text_field :targeted_tags, class: "crayons-textfield", autocomplete: "off", value: @email.targeted_tags.join(", ") %>
    </div>

    <div class="crayons-field">
      <%= form.label :subject, "Subject:", class: "crayons-field__label" %>
      <%= form.text_field :subject, class: "crayons-textfield", autocomplete: "off" %>
    </div>

    <div class="crayons-field">
      <%= form.label :drip_day, "Drip Day (onboarding drip only):", class: "crayons-field__label" %>
      <%= form.number_field :drip_day, class: "crayons-textfield", autocomplete: "off" %>
    </div>

    <div class="crayons-field">
      <%= form.label :status, "Status:", class: "crayons-field__label" %>
      <%= form.select :status, options_for_select(Email.statuses.keys, selected: @email.status), {}, { class: "crayons-textfield", autocomplete: "off" } %>
    </div>

    <div class="crayons-field">
      <%= form.label :body, "Body Content:", class: "crayons-field__label" %>
      <%= form.text_area :body, size: "100x5", class: "crayons-textfield" %>
    </div>
  </div>

  <div>
    <div class="crayons-card crayons-card--secondary p-4">
      <% if @email.persisted? %>
        <h2 class="crayons-title mb-2">Preview</h2>
        <p><strong>Subject:</strong><%= Email.replace_merge_tags(@email.subject, current_user) %> </p>
        <p><strong>Body:</strong></p>
        <div class="crayons-article__body text-styles">
          <%= Email.replace_merge_tags(@email.body, current_user).html_safe %>
        </div>
      <% else %>
        <div class="flex flex-col gap-3">
          <p>
            Use this form to compose a new email. Fill in the subject, body, and specify the recipients.
          </p>
          <p>
            You can use the following merge tags:
          </p>
          <p>
            <code>*|name|*</code>, <code>*|username|*</code>, <code>*|email|*</code>
          </p>
          <p>
            <strong>
              One-off and newsletter emails will be sent immediately once marked as "Active". Onboarding drip emails will be sent on the specified day when marked "Active".
            </strong>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%#= javascript_include_tag "admin/emails", defer: true %>
