<style>
  section {
    margin-bottom: 1em;
    box-shadow: none !important;
  }

  section:first-of-type {
    margin-top: 1em;
  }
</style>

<header>
  <h2 class="crayons-title">Members</h2>
  <p><a href="<%= admin_users_path %>">← Go back to All members</a></p>
</header>

<article
  class="flex flex-row flex-wrap justify-between content-between"
  data-controller="user"
  data-user-email-component-path-value="<%= edit_admin_user_tools_email_path(@user.id) %>"
  data-user-tools-component-path-value="<%= admin_user_tools_path(@user.id) %>"
  data-action="user:home@document->user#closeEmail">
  <div class="flex flex-column" style="flex-basis: 70%;">
    <section class="crayons-card" id="profile">
      <h3 class="crayons-subtitle-2"><%= @user.name %></h3>
    </section>

    <%= render(
          Admin::Users::ToolsComponent.new(
            user: @user,
            # to move up to the controller
            num_emails: [@user.email_messages.count, 50].min, # we only display 50 emails at most
            verified: @user.last_verification_date.present?,
          ),
        ) %>

    <section class="crayons-card" id="account">
      <h3 class="crayons-subtitle-2">Account Information & Settings</h3>
    </section>
  </div>

  <div class="flex flex-column">
    <section class="crayons-card" id="status">
      <h3 class="crayons-subtitle-2">Status</h3>
    </section>

    <section class="crayons-card" id="admin-roles">
      <h3 class="crayons-subtitle-2">Admin Roles</h3>
    </section>

    <section class="crayons-card" id="tag-moderation">
      <h3 class="crayons-subtitle-2">Tag Moderation</h3>
    </section>

    <section class="crayons-card" id="activity">
      <h3 class="crayons-subtitle-2">Activity & Engagement</h3>
    </section>
  </div>
</article>
