<div class="form-group">
  <%= label_tag :app_bundle, "App Bundle:" %>
  <%= text_field_tag :app_bundle, @app.app_bundle, class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag :platform, "Platform:" %>
  <%= select_tag :platform, options_for_select(ConsumerApp.platforms.invert, selected: @app.platform, class: "crayons-select"), class: "crayons-select" %>
</div>

<div class="form-group">
  <%= label_tag :auth_key, "Authentication Key:" %>
  <%= text_area_tag :auth_key, @app.auth_key, size: "100x10", class: "form-control" %>
</div>
