<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <% if @organization.story.present? %>
      <div class="widget">
        <header>
          <h4><%= t("views.organizations.story") %></h4>
        </header>
        <div class="widget-body">
          <%= sanitized_sidebar @organization.story %>
        </div>
      </div>
    <% end %>
    <% if @organization.tech_stack.present? %>
      <div class="widget">
        <header>
          <h4><%= t("views.organizations.stack") %></h4>
        </header>
        <div class="widget-body">
          <%= sanitized_sidebar @organization.tech_stack %>
        </div>
      </div>
    <% end %>
    <% if @organization.users.any? %>
      <div class="widget">
        <div class="widget-body">
          <%= crayons_icon_tag(:post, class: "mr-3 color-base", title: t("views.organizations.side.post.icon")) %>
          <%= t "views.organizations.side.post.text", count: @stories.size %>
        </div>
        <div class="widget-body mt-4">
          <%= crayons_icon_tag(:team, class: "mr-3 color-base", title: t("views.organizations.side.member.icon")) %>
          <%= t "views.organizations.side.member.text", count: @organization.users.size %>
        </div>
      </div>
    <% end %>
  </div>
</div>
