<% title sanitize(@organization.name) %>

<%= content_for :page_meta do %>
  <%= render "users/meta" %>
<% end %>
<%= render "users/profile_header" %>
<div class="home sub-home" id="index-container"
     data-params="<%= params.to_json(only: %i[tag username search_fields]) %>" data-which="<%= @list_of %>"
     data-tag="<%= "organization_#{@organization.id}" %>"
     data-feed="<%= params[:timeframe] || "base-feed" %>"
     data-articles-since="<%= Timeframer.new(params[:timeframe]).datetime&.iso8601 %>">
  <%= render "organizations/sidebar" %>
  <div class="articles-list" id="articles-list">
    <div class="substories" id="substories">
      <%# organizations/main_feed will iterate on stories with .each_with_index,
          thus by using .present? here we preload the items %>
      <% if @stories.present? %>
        <%= render "organizations/main_feed" %>
      <% end %>
    </div>
    <div class="loading-articles" id="loading-articles">
      loading...
    </div>
  </div>
  <%= render "organizations/sidebar_additional" %>
</div>

<%= render "stories/narrow_nav_menu" %>
<%= render "stories/stories_list_script" %>
