<h2 class="crayons-title mb-6"><%= "Edit Sponsorship ##{@sponsorship.id}" %></h2>

<div class="crayons-card p-6">
  <%= form_for [:admin, @sponsorship] do |f| %>
    <div class="form-group">
      Creator: <%= link_to "@#{@sponsorship.user.username}", "/#{@sponsorship.user.username}" %>
    </div>
    <div class="form-group">
      Organization: <%= link_to "@#{@sponsorship.organization.username}", "/#{@sponsorship.organization.username}" %>
    </div>
    <div class="form-group">
      Created at: <%= f.object.created_at.strftime("%d %B %Y %H:%M UTC") %>
    </div>
    <div class="form-group">
      Level: <%= @sponsorship.level %>
    </div>
    <div class="form-group">
      <% if @sponsorship.sponsorable.is_a?(ActsAsTaggableOn::Tag) %>
        Sponsorable: <%= link_to @sponsorship.sponsorable.name, "/t/#{@sponsorship.sponsorable.name}" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, Sponsorship::STATUSES %>
    </div>
    <div class="form-group">
      <%= f.label :expires_at %>
      <%= f.datetime_select :expires_at, required: true, start_year: Time.current.year, end_year: Time.current.year + 2, class: "form-control" %> UTC Time
    </div>
    <div class="form-group">
      <%= f.label :tagline %>
      <%= f.text_field :tagline, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :blurb_html %>
      <%= f.text_area :blurb_html, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :featured_number %>
      <%= f.text_field :featured_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :instructions %>
      <%= f.text_field :instructions, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :instructions_updated_at %>
      <%= f.datetime_select :instructions_updated_at, required: true, start_year: Time.current.year, end_year: Time.current.year + 2, class: "form-control" %> UTC Time
    </div>
    <%= f.submit "Update Sponsorship", class: "btn btn-primary" %>
    <%= link_to "Destroy Sponsorship", admin_sponsorship_path(@sponsorship), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
