<nav class="flex mb-4" aria-label="Sponsorships navigation">
  <div class="crayons-tabs">
    <%= link_to "All", admin_sponsorships_path, class: "crayons-tabs__item #{'crayons-tabs__item--current' if params[:status].blank?}" %>
    <%= link_to "None", admin_sponsorships_path(status: "none"), class: "crayons-tabs__item #{'crayons-tabs__item--current' if params[:status] == 'none'}" %>
    <%= link_to "Pending", admin_sponsorships_path(status: "pending"), class: "crayons-tabs__item #{'crayons-tabs__item--current' if params[:status] == 'pending'}" %>
    <%= link_to "Live", admin_sponsorships_path(status: "live"), class: "crayons-tabs__item #{'crayons-tabs__item--current' if params[:status] == 'live'}" %>
  </div>
  <div class="ml-auto">
    <div class="justify-content-end">
      <%= link_to "Make A New Sponsorship", new_admin_sponsorship_path, class: "crayons-btn" %>
    </div>
  </div>
</nav>

<%= paginate @sponsorships %>

<table class="crayons-table" width="100%">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Level</th>
      <th scope="col">Status</th>
      <th scope="col">Expires At</th>
      <th scope="col">Sponsorable</th>
      <th scope="col">Created At</th>
      <th scope="col">Creator</th>
      <th scope="col">Organization</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="crayons-card">
    <% @sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= link_to sponsorship.id, edit_admin_sponsorship_path(sponsorship) %></td>
        <td class="whitespace-nowrap"><%= sponsorship.level %></td>
        <td><%= sponsorship.status %></td>
        <td><%= sponsorship.expires_at&.strftime("%d %B %Y %H:%M UTC") %></td>
        <td>
          <% if sponsorship.sponsorable.is_a?(ActsAsTaggableOn::Tag) %>
            <%= link_to sponsorship.sponsorable.name, "/t/#{sponsorship.sponsorable.name}" %>
          <% end %>
        </td>
        <td><%= sponsorship.created_at.strftime("%d %B %Y %H:%M UTC") %></td>
        <td><%= link_to "@#{sponsorship.user.username}", "/#{sponsorship.user.username}" %></td>
        <td>
          <%= link_to "@#{sponsorship.organization.username}", "/#{sponsorship.organization.username}" %>
        </td>
        <td>
          <%= link_to "edit", edit_admin_sponsorship_path(sponsorship) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sponsorships %>
