<h2 class="crayons-title mb-6">Make a new Sponsorship:</h2>
<div class="crayons-card p-6">
  <%= form_for([:admin, @sponsorship], method: :post) do |f| %>
    <div class="form-group">
      <%= f.label :user_id, "Creator ID:" %>
      <%= f.text_field :user_id, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :organization_id, "Organization ID:" %>
      <%= f.text_field :organization_id, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :level, "Level:" %>
      <%= f.select :level, options_for_select(Sponsorship::LEVELS, selected: @sponsorship.level), required: true, class: "form-control selectpicker" %>
    </div>

    <div class="form-group">
      <%= f.label :status, "Status:" %>
      <%= f.select :status, options_for_select(Sponsorship::STATUSES, selected: @sponsorship.status), required: true, class: "form-control selectpicker" %>
    </div>

    <div class="form-group">
      <%= f.label :expires_at, "Expires At:" %>
      <%= f.datetime_select :expires_at, start_year: Time.current.year, end_year: Time.current.year + 2, class: "form-control" %> UTC Time
    </div>

    <div class="form-group">
      <%= f.label :tagline, "Tagline:" %>
      <%= f.text_field :tagline, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :url, "URL:" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :blurb_html, "Blurb HTML:" %>
      <%= f.text_area :blurb_html, size: "100x10", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :featured_number, "Featured Number:" %>
      <%= f.text_field :featured_number, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :instructions, "Instructions:" %>
      <%= f.text_field :instructions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :sponsorable_id, "Sponsorable:" %>
      <%= f.text_field :sponsorable_id, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :sponsorable_type, "Sponsorable Type:" %>
      <%= f.text_field :sponsorable_type, class: "form-control" %>
    </div>

    <%= submit_tag "Create Sponsorship", class: "crayons-btn" %>
  <% end %>
</div>
