<div class="row">
  <div class="col-sm-6">
    <h2>Activity</h2>
    <ul>
      <li><%= @user.comments_count %> comments</li>
      <li><%= @user.articles_count %> articles</li>
      <li><%= @user.reactions_count %> reactions</li>
      <li><%= @user.followers_count %> followers</li>
      <li><%= @user.following_users_count %> users following</li>
      <li><%= @user.badge_achievements_count %> badges</li>
    </ul>
  </div>
</div>
