<div class="crayons-card p-6 grid gap-6">
  <h2>Credits</h2>
   
  <div>
    <h4 class="mt-3"><%= @user.username %></h4>
    <% current_credits = @user.unspent_credits_count %>
    <p>Available User Credits: <%= current_credits %></p>
    <%= form_with scope: :user, url: admin_user_path(@user), method: :patch, local: true, html: { class: "form-inline justify-content-between mb-2" } do |f| %>
      <div class="form-group">
        <%= f.number_field :add_credits, in: 1...10_000, required: true, class: "form-control mr-3", size: 5 %>
        <%= f.text_field :new_note, placeholder: "Why are you adding these credits?", size: 50, required: true, class: "form-control" %>
      </div>
      <%= f.submit "Add Credits", class: "btn btn-primary" %>
    <% end %>
    <% if current_credits.positive? %>
    <%= form_with scope: :user, url: admin_user_path(@user), method: :patch, local: true, html: { class: "form-inline justify-content-between mb-2" } do |f| %>
      <div class="form-group">
        <%= f.number_field :remove_credits, in: 1..current_credits, required: true, class: "form-control mr-3", size: 5 %>
        <%= f.text_field :new_note, placeholder: "Why are you removing these credits?", size: 50, required: true, class: "form-control" %>
      </div>
      <%= f.submit "Remove Credits", class: "btn btn-danger" %>
    <% end %>
    <% end %>
  </div>
  
  <% if @organizations.present? %>
    <div>
      <h4>Organizations</h4>
      <%= form_with scope: :user, url: admin_user_path(@user), method: :patch, local: true, html: { class: "form-inline justify-content-between mb-2" } do |f| %>
        <div class="form-group">
          <%= f.number_field :add_org_credits, in: 1...10_000, required: true, class: "form-control mr-3", size: 5 %>
          <%= f.text_field :new_note, placeholder: "Why are you adding these credits?", size: 50, required: true, class: "form-control mr-3" %>
          <%= f.select :organization_id, orgs_with_credits(@organizations), {}, { class: "form-control" } %>
        </div>
        <%= f.submit "Add Org Credits", class: "btn btn-primary" %>
      <% end %>
      <%= form_with scope: :user, url: admin_user_path(@user), method: :patch, local: true, html: { class: "form-inline justify-content-between mb-2" } do |f| %>
        <div class="form-group">
          <%= f.number_field :remove_org_credits, in: 1...10_000, required: true, class: "form-control mr-3", size: 5 %>
          <%= f.text_field :new_note, placeholder: "Why are you removing these credits?", size: 50, required: true, class: "form-control mr-3" %>
          <%= f.select :organization_id, orgs_with_credits(@organizations), {}, { class: "form-control" } %>
        </div>
        <%= f.submit "Remove Org Credits", class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
