<div class="crayons-card p-6 grid gap-2">
  <h2>Current Roles</h2>
  <p>(View full history in notes below)</p>
  <div class="crayons-card__body">
    <ul>
      <% @user.roles.each do |role| %>
        <% if role.name == "banned" || role.name == "super_admin" || @user.id == current_user.id %>
          <li><%= role_display_name(role) %> <em><%= role.resource_name.to_s %></em></li>
        <% else %>
          <li>
            <%= role_display_name(role) %> <em><%= role.resource_name.to_s %></em> &nbsp;
            <%= link_to "X", url_for(action: :destroy, user_id: @user.id, role: role.name.to_sym, resource_type: role.resource_type), method: :delete, data: { confirm: "Are you sure?" },
                                                                                                                                      class: "crayons-btn crayons-btn--danger crayons-btn--s lh-base fs-xs" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
