<div class="crayons-card p-6 grid gap-6" id="user-email-tools">
  <h2>Email Tools</h2>

  <div>
    <%= form_with url: verify_email_ownership_admin_user_path(@user), local: true do |f| %>
      Email last verified at: <%= @last_email_verification_date %>
      <%= f.hidden_field(:user_id, value: @user.id) %>
      <%= f.submit "Verify Email Ownership", class: "btn btn-primary float-right" %>
    <% end %>
  </div>

  <div>
    <h3>Email <%= @user.name %></h3>
    <%= form_with url: send_email_admin_user_path(@user), local: true do |f| %>
      <%= f.hidden_field(:user_id, value: @user.id) %>
      <h4>Subject:</h4>
      <%= f.text_field :email_subject, class: "form-control my-1" %>
      <h4>Body:</h4>
      <%= f.text_area :email_body, class: "form-control my-1", rows: "10" %>
      <%= f.submit "Send Email", class: "btn btn-primary float-right" %>
    <% end %>
  </div>

  <div>
    <h3>Recent Emails</h3>
    <div class="list-group-flush">
      <% @user.email_messages.order(sent_at: :desc).limit(50).each do |email| %>
        <a href="<%= admin_user_email_message_path(@user, email) %>"
           class="list-group-item list-group-item-action"
           rel="noopener noreferer"
           target="_blank">
          <%= email.subject %>
          <em> - <%= email.sent_at&.strftime("%b %e '%y") %></em>
        </a>
      <% end %>
    </div>
  </div>
</div>
