<div class="crayons-card p-3 s:p-4 m:p-7">
  <header class="flex flex-col l:flex-row justify-content-between l:items-center ">
    <h1 class="crayons-title ml-3 l:ml-0">Members</h1>
    <%= render "admin/users/index/tabs" %>
  </header>
    <%= render "admin/users/index/controls" %>
    <table class="crayons-table" width="100%">
      <thead>
        <tr>
          <th scope="col">Member</th>
          <th scope="col">Status</th>
          <th scope="col">Last activity & Joined on</th>
          <th scope="col">Organizations</th>
        </tr>
      </thead>
      <tbody class="crayons-card">
        <% @users.each do |user| %>
        <tr>
          <td>
          <div class="flex s:items-start flex-col s:flex-row">
            <a href="<%= admin_user_path(user.id) %>">
              <img class="radius-full align-middle" src="<%= user.profile_image_url_for(length: 50) %>" width="40" height="40" alt="<%= user.name %>" />
            </a>
            <div class="pl-3 flex-1"><%= user.name %>
              <p class="fs-xs color-base-60">@<%= user.username %>&nbsp;<span class="fs-xs c-indicator" aria-disabled="true"><%= user.current_roles %></span></p>
            </div>
          </div>
          </td>
          <td><%= user.current_status %></td>
          <td>
          <%= user.latest_activity %>
          <p class="fs-xs color-base-60">
            <%= user.registered_at.strftime("%d %b, %Y") %>
          </p>
          </td>
          <td>
            <%= user.organizations.map(&:name).join(", ") %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="flex justify-end">
      <%= paginate @users, theme: "admin", scope: @users, label: "Paginate users" %>
    </div>
</div>
