<div class="crayons-card overflow-admin-main-layout-padding p-4 m:p-7">
  <header class="flex flex-col l:flex-row justify-content-between l:items-center ">
    <h1 class="crayons-title ml-2 m:ml-0">Members</h1>
    <%= render "admin/users/index/tabs" %>
  </header>
    <%= render "admin/users/index/controls" %>

    <!-- Small screen data view start -->
    <div class="block m:hidden fs-s">
      <h2 class="member-data-heading fs-s py-2 -mx-3 px-3 color-base-60">Members</h2>
      <ul class="list-none">
        <% @users.includes([:organization_memberships]).each do |user| %>
          <li class="py-4">
            <article>
              <header class="flex">
                <a href="<%= admin_user_path(user.id) %>">
                  <img class="radius-full align-middle" src="<%= user.profile_image_url_for(length: 50) %>" width="40" height="40" alt="<%= user.name %>" />
                </a>
                <div class="pl-3 flex-1 fs-s"><%= link_to user.name, admin_user_path(user) %>
                  <p class="color-base-60">@<%= link_to user.username, admin_user_path(user) %>&nbsp;
                  </p>
                </div>
              </header>
              <div class="flex justify-between py-2">
                <div>
                <% if user.suspended? %>
                  <span><%= inline_svg_tag("suspended-circle.svg", aria: true, title: "Suspended", class: "mb-1") %>Suspended</span>
                <% elsif user.warned? %>
                  <span><%= inline_svg_tag("warned-circle.svg", aria: true, title: "Warned", class: "mb-1") %>Warned</span>
                <% elsif user.comment_suspended? %>
                  <span><%= inline_svg_tag("suspended-circle.svg", aria: true, title: "Comment Suspended", class: "mb-1") %>Comment suspended</span>
                <% elsif user.trusted? %>
                  <span><%= inline_svg_tag("trusted-circle.svg", aria: true, title: "Trusted", class: "mb-1") %>Trusted</span>
                <% else %>
                  <span><%= inline_svg_tag("good-standing-circle.svg", aria: true, title: "Good Standing", class: "mb-1") %>Good standing</span>
                <% end %>
                </div>
                <div>
                <span class="c-indicator ml-2 crayons-hover-tooltip" data-tooltip="<%= user.current_role %>">
                  <%= user.current_role %>
                </span>
                </div>
              </div>
              <div class="flex justify-between items-end">
                <dl class="flex gap-2">
                  <div>
                    <dt class="color-base-60 fw-normal">Latest activity</dt>
                    <dd><%= user.latest_activity %></dd>
                  </div>
                  <div>
                    <dt class="color-base-60 fw-normal">Joined on</dt>
                    <dd><%= user.registered_at.strftime("%d %b, %Y") %></dd>
                  </div>
                </dl>
                <div>
                  <% if user.organization_memberships.any? %>
                    <% user.organization_memberships.includes([:organization]).each do |org_membership| %>
                      <span class="crayons-hover-tooltip" data-tooltip="<%= org_membership.organization.name %>">
                        <a href="<%= org_membership.organization.path %>" target="_blank" rel="noopener" class="c-link crayons-logo crayons-logo--l">
                          <img src="<%= org_membership.organization.profile_image_url_for(length: 64) %>" width="32" height="32" alt="<%= org_membership.organization.name %>" class="crayons-logo__image">
                        </a>
                      </span>
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </div>
              </div>
            </article>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- Small screen data view end -->

    <!-- Large screen data view start -->
    <table class="crayons-table hidden m:block" width="100%">
      <thead>
        <tr>
          <th scope="col">Member</th>
          <th scope="col">Status</th>
          <th scope="col">Last activity & Joined on</th>
          <th scope="col">Organizations</th>
        </tr>
      </thead>
      <tbody class="crayons-card">
        <% @users.includes([:organization_memberships]).each do |user| %>
        <tr>
          <td>
          <div class="flex s:items-start flex-col s:flex-row">
            <a href="<%= admin_user_path(user.id) %>">
              <img class="radius-full align-middle" src="<%= user.profile_image_url_for(length: 50) %>" width="40" height="40" alt="<%= user.name %>" />
            </a>
            <div class="pl-3 flex-1 fs-s"><%= link_to user.name, admin_user_path(user) %>
              <p class="color-base-60">@<%= link_to user.username, admin_user_path(user) %>&nbsp;
                <span class="c-indicator ml-2 crayons-hover-tooltip" data-tooltip="<%= user.current_role %>">
                  <%= user.current_role %>
                </span>
              </p>
            </div>
          </div>
          </td>
          <td>
           <% if user.suspended? %>
             <span><%= inline_svg_tag("suspended-circle.svg", aria: true, title: "Suspended", class: "mb-1") %>Suspended</span>
           <% elsif user.warned? %>
             <span><%= inline_svg_tag("warned-circle.svg", aria: true, title: "Warned", class: "mb-1") %>Warned</span>
           <% elsif user.comment_suspended? %>
             <span><%= inline_svg_tag("suspended-circle.svg", aria: true, title: "Comment Suspended", class: "mb-1") %>Comment suspended</span>
           <% elsif user.trusted? %>
             <span><%= inline_svg_tag("trusted-circle.svg", aria: true, title: "Trusted", class: "mb-1") %>Trusted</span>
           <% else %>
             <span><%= inline_svg_tag("good-standing-circle.svg", aria: true, title: "Good Standing", class: "mb-1") %>Good standing</span>
           <% end %>
          </td>
          <td>
          <%= user.latest_activity %>
          <p class="fs-xs color-base-60">
            <%= user.registered_at.strftime("%d %b, %Y") %>
          </p>
          </td>
          <td>
            <% if user.organization_memberships.any? %>
              <% user.organization_memberships.includes([:organization]).each do |org_membership| %>
                <span class="crayons-hover-tooltip" data-tooltip="<%= org_membership.organization.name %>">
                  <a href="<%= org_membership.organization.path %>" target="_blank" rel="noopener" class="c-link crayons-logo crayons-logo--l">
                    <img src="<%= org_membership.organization.profile_image_url_for(length: 64) %>" width="32" height="32" alt="<%= org_membership.organization.name %>" class="crayons-logo__image">
                  </a>
                </span>
              <% end %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!-- Large screen data view end -->

    <div class="flex justify-end">
      <%= paginate @users, theme: "admin", scope: @users, label: "Paginate users" %>
    </div>
</div>
