<% if params[:controller] == "admin/users" %>
  <%= form_with url: admin_users_path, method: :get, local: true do |f| %>
    <div class="crayons-field">
      <%= f.label :role, "Filter by Role", class: "crayons-field__label" %>
      <%= f.select :role, options_for_select(Role::ROLES, params[:role]), { include_blank: true }, class: "crayons-select" %>
    </div>
    <div class="crayons-field">
      <%= f.label :search, class: "crayons-field__label" %>
      <p class="crayons-field__description">Find a user by username, name, email, social username, or ID.</p>
      <%= f.text_field :search, value: params[:search], class: "crayons-textfield" %>
      <%= f.submit "Search", class: "crayons-btn" %>
    </div>
  <% end %>
<% end %>
<div class="flex mb-6 items-center">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to "Invitations", admin_invitations_path, class: "nav-link #{'active' if params[:controller] == 'admin/invitations'}" %>
    </li>
    <% if params[:controller] == "admin/invitations" %>
      <li class="nav-item">
        <%= link_to "New", new_admin_invitation_path, class: "nav-link" %>
      </li>
    <% end %>
    <li class="nav-item" style=";">
      <%= link_to admin_users_gdpr_delete_requests_path, class: "nav-link #{'active' if params[:controller] == 'admin/users/gdpr_delete_requests'}" do %>
        GDPR Delete Requests
        <% if Users::GdprDeleteRequest.any? %>
          &nbsp;<span class="crayons-indicator crayons-indicator--critical"><%= Users::GdprDeleteRequest.count %></span>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
