<div class="crayons-card p-6">
  <h2 class="mb-6">Recent Notes (last 10)</h2>

  <% unless @notes.load.empty? %>
    <% @notes.each do |note| %>
      <p>
        <em>
          <%= note.created_at.strftime("%d %B %Y %H:%M UTC") %> by <%= User.find(note.author_id).username if note.author_id.present? %>
        </em> -
        <% unless note.reason.blank? %>
          <strong><%= note.reason %>:</strong>
        <% end %>
        <%= note.content %>
      </p>
    <% end %>
  <% else %>
    <div class="crayons-notice mb-6" aria-live="polite">No notes yet...</div>
  <% end %>
  <%= form_with model: @user, url: admin_user_path(@user), method: :patch, html: { class: "mb-2" }, local: true  do |f| %>
    <div class="form-group">
      <%= f.label "Add new note: ", class: "d-block" %>
      <%= f.text_area :new_note, class: "form-control" %>
    </div>
    <%= f.submit "Submit Note", class: "crayons-btn float-right" %>
  <% end %>
</div>
