<%= render "menu" %>

<%= paginate @users, theme: "internal" %>

<table class="crayons-table" width="100%">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Twitter</th>
      <th scope="col">GitHub</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody class="crayons-card">
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, admin_user_path(user) %></td>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user_twitter_link(user) %></td>
      <td><%= user_github_link(user) %></td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: "internal" %>
