<% if true %>
  <%= render "header" %>
  <%= render "navigation" %>

  <div class="crayons-card p-7"><%# This container could be considered as wrapper for tab's content %>
    <%= render "activity_new" if @user.registered %>

    <div class="m:grid gap-8 grid-cols-2">
      <div>
        <div class="mb-7">
          <%= render "admin/users/widgets/roles" %>
        </div>

        <div class="mb-7">
          <%= render "admin/users/widgets/tag_moderation" %>
        </div>
      </div>

      <div>
        <div class="mb-7">
          <%= render "admin/users/widgets/organizations" %>
        </div>

        <div class="mb-7">
          <%= render "admin/users/widgets/credits" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% if @user.registered? %>
    <%= render "credits" %>
    <%= render "notes" %>
    <%= render "user_organizations" %>
    <%= render "email_tools" %>
  <% end %>
<% end %>
