<%= render "admin/users/show/profile" %>
<%= render "admin/users/show/tabs" %>

<% if @current_tab == "overview" %>
  <div class="crayons-card p-3 s:p-4 m:p-7">
    <%= render "admin/users/show/overview/stats" if @user.registered %>

    <div class="l:grid gap-8 grid-cols-2">
      <div>
        <section class="mb-7">
          <%= render "admin/users/show/overview/roles" %>
        </section>

        <section class="mb-7">
          <%= render "admin/users/show/overview/tag_moderation" %>
        </section>
      </div>

      <div>
        <section class="mb-7">
          <%= render "admin/users/show/overview/organizations" %>
        </section>

        <section class="mb-7">
          <%= render "admin/users/show/overview/credits" %>
        </section>
      </div>
    </div>
  </div>
<% elsif @current_tab == "notes" %>
  <section class="flex flex-col m:flex-row gap-4">
    <div class="crayons-card p-3 s:p-4 m:p-7 flex-1">
      <%= render "admin/users/show/notes/form" %>
    </div>
    <div class="crayons-card p-3 s:p-4 m:p-7 flex-1">
      <%= render "admin/users/show/notes/index" %>
    </div>
  </section>
<% elsif @current_tab == "emails" %>
  <%= render "admin/users/show/emails/verification" %>
  <section class="flex flex-col m:flex-row gap-4">
    <div class="crayons-card p-3 s:p-4 m:p-7 flex-1">
      <%= render "admin/users/show/emails/form" %>
    </div>
    <div class="crayons-card p-3 s:p-4 m:p-7 flex-1">
      <%= render "admin/users/show/emails/index" %>
    </div>
  </section>
<% elsif @current_tab == "reports" %>
  <section class="crayons-card p-3 s:p-4 m:p-7">
    <%= render "admin/users/show/reports/index" %>
  </section>
<% elsif @current_tab == "flags" %>
  <section class="crayons-card p-3 s:p-4 m:p-7">
    <%= render "admin/users/show/flags/index" %>
  </section>
<% elsif @current_tab == "unpublish_logs" %>
  <section class="crayons-card p-3 s:p-4 m:p-7">
    <%= render "admin/users/show/unpublish_logs/index" %>
  </section>
<% end %>
