<%= javascript_packs_with_chunks_tag "admin/shared/flagReactionItemDropdowmButton", defer: true %>
<% user_vomit_reactions = @related_vomit_reactions.select { |flag| flag.reactable_type == "User" } %>

<h2 class="crayons-subtitle-2 px-1"><%= t("views.admin.users.priviliged_actions.title") %></h2>
<p class="crayons-subtitle-3 fw-normal color-secondary px-1 mt-1"><%= t("views.admin.users.priviliged_actions.description") %></p>

<div id="reaction-content" class="flex flex-col gap-3 px-1 pt-6" style="overflow: auto; height: 406px;">
  <% if user_vomit_reactions.present? %>
    <% user_vomit_reactions.each do |vomit_reaction| %>
      <%= render "admin/shared/flag_reaction_item", vomit_reaction: vomit_reaction %>
      <hr id="js__reaction__div__hr__<%= vomit_reaction.id %>" class="w-100 hr-no-margins">
    <% end %>
  <% else %>
    <div class="flex flex-col justify-center items-center gap-4 h-100">
      <div class="flex p-4 gap-2 radius-default" style="background: #EEF2FF;">
        <%= crayons_icon_tag("flags", native: true, width: 56, height: 56) %>
      </div>
      <p class="crayons-subtitle-3 fw-normal color-secondary"><%= t("views.admin.users.priviliged_actions.no_flags") %></p>
    </div>
  <% end %>
<div>
