<% image_url = Images::Optimizer.call(podcast.pattern_image_url || "https://i.imgur.com/fKYKgo4.png", crop: nil, fetch_format: "jpg") %>

<div class="podcastliquidtag" style="background: #<%= podcast.main_color_hex %> url(<%= image_url %>)" data-meta="<%= episode.decorate.mobile_player_metadata.to_json %>">
  <div class="podcastliquidtag__info">
    <a href="/<%= podcast.slug %>/<%= episode.slug %>">
      <h1 class="podcastliquidtag__info__episodetitle"><%= episode.title %></h1>
    </a>
    <a href="/<%= podcast.slug %>" style="display:block">
      <h2 class="podcastliquidtag__info__podcasttitle">
        <%= podcast.title %> <button class="crayons-btn follow-action-button" data-info='{"id":<%= podcast.id %>,"className":"<%= podcast.class.name %>"}'>&nbsp;</button>

      </h2>
    </a>
  </div>
  <div id="record-<%= episode.slug %>" data-podcast="<%= podcast.slug %>" data-episode="<%= episode.slug %>" class="podcastliquidtag__record">
    <img class="button play-butt" id="play-butt-<%= episode.slug %>" src="/assets/playbutt.png" alt="play">
    <img class="button pause-butt" id="pause-butt-<%= episode.slug %>" src="/assets/pausebutt.png" alt="pause">
    <%= optimized_image_tag(podcast.image_url,
                            optimizer_options: { crop: "fill" },
                            image_options: { class: "podcastliquidtag__podcastimage", id: "podcastimage-#{episode.slug}", alt: podcast.title }) %>
  </div>

  <%= render "podcast_episodes/podcast_bar", podcast: podcast, episode: episode %>
</div>
