<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <% if @podcast_index && @podcasts %>
      <nav aria-labelledby="podcasts-heading" class="widget podcast-pic-widget">
        <div class="widget--header">
          <a href="/pod"><h1 id="podcasts-heading" class="fs-base">podcasts</h1></a>
        </div>
        <div class="widget-body">
          <ul class="list-none p-0">
            <% @podcasts.each do |podcast| %>
            <li class="w-100">
              <a href="/<%= podcast.slug %>">
                <div class="podcast-pic" id="podcast-pic-<%= podcast.slug %>">
                  <img src="<%= Images::Optimizer.call(podcast.image_url, crop: "fill", width: 100, height: 100) %>"
                      alt="<%= podcast.title %>" aria-hidden="true" />
                  <div class="podcast-name">
                    <div class="podcast-name-inner">
                      <%= podcast.title %>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
          </ul>
          <p><%= link_to "Suggest a Podcast", new_podcast_path, class: "suggest-podcast" %></p>
        </div>
      </nav>
    <% elsif @podcast %>
    <% end %>
  </div>
</div>
