<div class="subscribe-buttons">
  <% if @podcast.itunes_url.present? %>
    <a href="<%= @podcast.itunes_url %>" target="_blank" rel="noopener">
      <img alt="iTunes" src="<%= cloudinary("https://d.ibtimes.co.uk/en/full/1423047/itunes-12.png", 40, 90, format = "png") %>" />
      iTunes
    </a>
  <% end %>
  <% if @podcast.overcast_url.present? %>
    <a href="<%= @podcast.overcast_url %>" target="_blank" rel="noopener">
      <img alt="Overcast" src="<%= cloudinary("https://d2uzvmey2c90kn.cloudfront.net/img/logo.svg", 40, 90, format = "png") %>" />
      Overcast
    </a>
  <% end %>
  <% if @podcast.android_url.present? %>
    <a href="<%= @podcast.android_url %>" target="_blank" rel="noopener">
      <img alt="Android" src="<%= cloudinary("http://storage.googleapis.com/ix_choosemuse/uploads/2016/02/android-logo.png", 40, 90, format = "png") %>" />
      Android
    </a>
  <% end %>
  <% if @podcast.soundcloud_url.present? %>
    <a href="<%= @podcast.soundcloud_url %>" target="_blank" rel="noopener">
      <img alt="Soundcloud" src="<%= cloudinary("https://thepracticaldev.s3.amazonaws.com/i/u4dh128d4hcwyazwu268.png", 40, 90, format = "png") %>" />
      Soundcloud
    </a>
  <% end %>
  <% if @podcast.feed_url.present? %>
    <a href="<%= @podcast.feed_url %>" target="_blank" rel="noopener">
      <img alt="RSS Feeds" src="<%= cloudinary("https://temenos.com/globalassets/img/marketplace/temenos/rss/rss.png", 40, 90, format = "png") %>" />
      RSS
    </a>
  <% end %>
</div>
