<% title @podcast.title + " — The Practical Dev" %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/<%= @podcast.slug %>" />
  <meta name="description" content="Software Engineering Daily is a programming podcast that airs five days a week.">
  <meta name="keywords" content="software development,engineering,rails,javascript,ruby">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://dev.to/<%= @podcast.slug %>" />
  <meta property="og:title" content="Software Engineering Daily — The Practical Dev" />
  <meta property="og:image" content="https://res.cloudinary.com/practicaldev/image/fetch/c_scale,h_180,w_180,r_max/u_devuserbg_npatyr,y_60/<%= cloudinary(@podcast.image_url, 180) %>">

  <meta property="og:description" content="Software Engineering Daily is a programming podcast that airs five days a week" />
  <meta property="og:site_name" content="The Practical Dev" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ThePracticalDev">
  <meta name="twitter:creator" content="@software_daily">
  <meta name="twitter:title" content="Software Engineering Daily — The Practical Dev">
  <meta name="twitter:description" content="Software Engineering Daily is a programming podcast that airs five days a week." />
  <meta name="twitter:image:src" content="https://res.cloudinary.com/practicaldev/image/fetch/c_scale,h_180,w_180,r_max/u_devuserbg_npatyr,y_60/<%= cloudinary(@podcast.image_url, 180) %>">
<% end %>

<div class="podcast-index-container">
  <div class="episodes-container">
    <% @podcast_episodes.each do |episode| %>
      <a href="<%= episode.path %>/edit">
        <div class="individual-episode">
          <div class="pic">
            <%= cl_image_tag(episode.image_url || @podcast.image_url,
                             type: "fetch",
                             crop: "fill",
                             width: 420,
                             height: 420,
                             quality: "auto",
                             flags: "progressive",
                             fetch_format: "auto",
                             sign_url: true,
                             alt: episode.title) %>
          </div>
          <div class="title">
            <%= episode.title %>
          </div>
        </div>
      </a>
    <% end %>
    <div class="pagination-wrapper">
      <%= paginate @podcast_episodes %>
    </div>
  </div>

</div>
