<div class="crayons-card p-6" data-controller="image-upload" data-image-upload-url-value="<%= image_uploads_path %>">
  <h2 class="crayons-title mb-4">Upload an Image</h2>
  <p class="mb-6">Quickly upload an image.</p>
# Multipart, remote forms are tricky, the data is actually sent in the Stimulus controller. %>
  <%= form_with(url: image_uploads_path, multipart: true) do |f| %>
    <div class="form-group">
      <%= f.label(:image, "Image:") %>
      <%= f.file_field(
            "image",
            class: "form-control",
            required: true,
            accept: "image/*",
            data: { "image-upload-target": "fileField" },
          ) %>
    </div>
    <%= f.submit "Upload", class: "btn btn-primary", data: { action: "image-upload#onFormSubmit" } %>
  <% end %>

  <div class="mt-4 d-none" data-image-upload-target="imageResult">
  </div>
</div>
