<% menu_items.each do |group_name, group| %>
  <% if group.length == 1 %>
    <a class="crayons-link crayons-link--block"
       href="/admin/<%= group[0][:controller] %>"
    >
      <%= display_name(group_name) %>
    </a>
  <% else %>
    <div class="ml-2"><%= display_name(group_name) %></div>
    <% group.each do |item| %>
      <a class="crayons-link crayons-link--block ml-6"
         href="/admin/<%= group_name %>/<%= item[:controller] %>"
      >
        <%= item[:name].to_s.titleize %>
      </a>
    <% end %>
  <% end %>
<% end %>
