<% menu_items.each do |group_name, group| %>
  <% if group.length == 1 %>
    <a class="crayons-link crayons-link--block"
       href="/admin/<%= group[0][:controller] %>"
    >
      <%= display_name(group_name) %>
    </a>
  <% else %>
    <div
      class="crayons-link crayons-link--block cursor-pointer" data-toggle="collapse"
      data-target="#<%= group_name %>"
      aria-expanded="false"
      aria-controls="<%= group_name %>"
      >
      <%= display_name(group_name) %>
    </div>
    <div id="<%= group_name %>" class="collapse hide" aria-labelledby="<%= group_name %>">
      <% group.each do |item| %>
        <a class="crayons-link crayons-link--block ml-6"
           href="/admin/<%= group_name %>/<%= item[:controller] %>"
        >
          <%= item[:name].to_s.titleize %>
        </a>
      <% end %>
    </div>
  <% end %>
<% end %>
