<% menu_items.each do |group_name, group| %>
  <li>
    <% if group[:children].length == 1 %>
      <% if group[:children][0][:visible] %>
        <a class="crayons-link crayons-link--block <%= "crayons-link--current" if deduced_controller(request) == group[:children][0][:controller] %>"
           href="/admin/<%= group[:children][0][:controller] %>"
           aria-page="<%= "page" if deduced_controller(request) == group[:children][0][:controller] %>"
           data-action="click->sidebar#expandDropdown"
        >
          <%= inline_svg_tag(group[:svg], aria: true, class: "dropdown-icon crayons-icon") %>
          <%= display_name(group_name) %>
        </a>
      <% end %>
    <% else %>
      <button class="crayons-link crayons-link--block cursor-pointer <%= "crayons-link--current" if deduced_scope(request) == group_name.to_s %>"
        id="<%= group_name %>_button"
        data-toggle="collapse"
        data-target="#<%= group_name %>"
        data-target-href="/admin/<%= group_name %>/<%= group[:children][0][:controller] %>"
        aria-expanded="<%= (deduced_scope(request) == group_name.to_s).to_s %>"
        aria-controls="<%= group_name %>"
        data-action="click->sidebar#expandDropdown"
      >
        <%= inline_svg_tag(group[:svg], aria: true, class: "dropdown-icon crayons-icon") %>
        <%= display_name(group_name) %>
      </button>
      <ul id="<%= group_name %>"
          data-sidebar-target="submenu"
          class="<%= deduced_scope(request) == group_name.to_s ? "expand show" : "collapse hide" %>"
      >
        <% group[:children].each do |item| %>
          <% if item[:visible] %>
            <li>
              <a class="crayons-link crayons-link--block ml-7 <%= "fw-bold" if deduced_controller(request) == item[:controller].to_s %>"
                 href="/admin/<%= group_name %>/<%= item[:controller] %>"
                 aria-page="<%= "page" if deduced_controller(request) == item[:controller].to_s %>"
              >
                <%= item[:name].to_s.titleize %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </li>
<% end %>
