<% nested_menu_items_v2 = get_nested_menu_items(request.path.split("/")[-2], request.path.split("/")[-1]) %>

<% if nested_menu_items_v2[:children].present? && nested_menu_items_v2[:children].length > 0 %>

  <header class="mb-3">
    <h2 class="crayons-title"><%= nested_menu_items_v2[:name].to_s.titleize %></h2>
    <div class="block s:flex items-center space-between">
      <nav class="crayons-tabs crayons-tabs--wrapped">
        <% nested_menu_items_v2[:children].each do |item| %>
          <a
            href="/admin/<%= request.path.split("/")[- 2] %>/<%= item[:controller] %>"
            class="crayons-tabs__item <%= "crayons-tabs__item--current" if request.path.split("/")[-1]&.match?(item[:controller]) %>" <>
            <%= item[:name].to_s.titleize %>
          </a>
        <% end %>
      </nav>
    </div>
  </header>

<% end %>
