<span data-controller="modal" data-modal-root-selector-value="#edit-navigation-link-<%= link[:id] %>-modal-root" data-modal-content-selector-value="#edit-navigation-link-<%= link[:id] %>-modal" data-modal-title-value="Edit Link" data-modal-size-value="l">
  <button data-action="modal#toggleModal" class="color-accent-brand crayons-btn crayons-btn--ghost-brand">
    Edit Link
  </button>

  <div id="edit-navigation-link-<%= link[:id] %>-modal" class="hidden">
    <%= form_for [:admin, link] do |form| %>
      <%= render "form", form: form %>
      <%= form.submit class: "c-btn c-btn--primary" %>
    <% end %>
  </div>

   <div id="edit-navigation-link-<%= link[:id] %>-modal-root"></div>
</span>
