<%= render "add_navigation_link_modal" %>

<% @navigation_links.each do |link| %>
  <%= link[:name] %>
  <div>
    <a href="<%= link[:url] %>" class="crayons-link crayons-link--block">
      <% if link[:icon].present? %>
        <%= link[:icon].html_safe %>
      <% end %>
      <span class="crayons-indicator"></span>
    </a>
  </div>
  <div>
    <div><%= link_to "Delete", admin_navigation_link_path(id: link[:name]), data: { confirm: "Are you sure?" }, method: :delete, class: "color-accent-danger" %></div>
  </div>
<% end %>
