<%= javascript_packs_with_chunks_tag "validateFileInputs", defer: true %>

<%= form_with(model: podcast, local: true) do |form| %>
  <div>
    <header class="mb-4">
      <a href="/pod" class="podcast-back-button">&lt; return to podcasts</a>
      <h2>Suggest a Podcast</h2>
    </header>
    <% if podcast.errors.any? %>
      <div class="podcast-errors">
        <h2><%= pluralize(podcast.errors.count, "error") %> while creating a podcast:</h2>
        <ul>
        <% podcast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id="podcast-form-data" class="crayons-card mb-6 grid grid-flow-row gap-6 p-6">
      <div class="crayons-field crayons-field--checkbox">
        <%= check_box_tag :i_am_owner, class: "crayons-checkbox" %>
        <%= label_tag :i_am_owner, "I am the owner of this podcast", class: "i_am_owner", class: "crayons-field__label" %>
      </div>
      <div class="crayons-field">
        <%= form.label :title, class: "crayons-field__label" %>
        <%= form.text_field :title, placeholder: "", class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :description, "Description", class: "crayons-field__label" %>
        <%= form.text_area :description, placeholder: "", class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :website_url, class: "crayons-field__label" %>
        <%= form.text_field :website_url, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :feed_url, class: "crayons-field__label" %>
        <%= form.text_field :feed_url, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :twitter_username, class: "crayons-field__label" %>
        <%= form.text_field :twitter_username, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :slug, class: "crayons-field__label" %>
        <%= form.text_field :slug, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :main_color_hex, class: "crayons-field__label" %>
        <%= form.text_field :main_color_hex, placeholder: "FF00FF", class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :image, class: "crayons-field__label" %>
        <%= form.file_field :image, accept: "image/*" %>
      </div>
      <div class="crayons-field">
        <%= form.label :pattern_image, class: "crayons-field__label" %>
        <%= form.file_field :pattern_image, accept: "image/*" %>
      </div>
      <div class="crayons-field">
        <%= form.label :android_url, class: "crayons-field__label" %>
        <%= form.text_field :android_url, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :itunes_url, class: "crayons-field__label" %>
        <%= form.text_field :itunes_url, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :overcast_url, class: "crayons-field__label" %>
        <%= form.text_field :overcast_url, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.label :soundcloud_url, class: "crayons-field__label" %>
        <%= form.text_field :soundcloud_url, class: "crayons-textfield" %>
      </div>
      <div class="crayons-field">
        <%= form.submit "Suggest", class: "crayons-btn" %>
      </div>
    </div>
  </div>
<% end %>
