<%= content_for :page_meta do %>
  <%= render "podcast_episodes/meta" %>
<% end %>
<div class="home">
  <%= render "podcast_episodes/sidebar" %>
  <div class="podcasts-form" id="podcasts-form">
    <%= render "form", podcast: @podcast %>
  </div>
  <%= render "podcast_episodes/sidebar_additional" %>
</div>

<%= javascript_packs_with_chunks_tag "storiesList", defer: true %>
