<div class="row">
  <h3><u>Notes</u></h3>
  <% if @user.notes.count > 0 %>
    <% @user.notes.each do |note| %>
      <p><em><%= note.created_at.strftime("%d %B %Y %H:%M UTC") %> by <%= User.find(note.author_id).username if note.author_id.present? %></em> -
        <% if !note.reason.blank? %><strong><%= note.reason %>:</strong>
          <% end %><%= note.content %></p>
    <% end %>
  <% else %>
    <p><em>No notes yet!</em></p>
  <% end %>
  <%= form_for [:internal, @user] do |f| %>
    <%= f.label "Add new note: " %>
    <br>
    <%= f.text_area :new_note %>
    <br>
    <%= f.submit "Submit Note" %>
  <% end %>
</div>