<h1><a href="<%= @user.path %>"><%= @user.name %></a></h1>
<h2>@<%= @user.username %></h2>
<h4><%= @user.comments.size %> comments</h4>
<h4><%= @user.articles.size %> articles</h4>
<h4><%= @user.reactions.size %> reactions</h4>
<h4>Joined <%= @user.created_at.to_formatted_s(:long_ordinal) %></h4>
<% if @user.banned %>
  <h1 style="color:red">User is banned</h1>
  <% @user.notes.each do |note| %>
    <b><%= note.reason %></b> | <%= note.content %>
  <% end %>
<% else %>
  <div class="row">
    <% if @user.comments.where("created_at < ?", 100.days.ago).empty? %>
      <%= form_for(@user, :url => banish_internal_user_path(@user), :html => {:method => :post, :onsubmit => "confirm('Are you sure? This is extremely destructive and will change their username to @spam_###. Do not do it lightly.')"}) do %>
        <button class="btn btn-danger" style="font-size:2em;">Banish User for Spam!</button>
      <% end %>
      <em>This is extremely destructive and will change their username to @spam_###. Do not do it lightly.</em>
    <% else %>
      <em>You cannot take admin action from this view because this is not a newish user. For safety.</em>
    <% end %>
  </div>
<% end %>

<% if current_user.has_role?(:super_admin) %>
  <%= form_for(@user, :url => full_delete_internal_user_path(@user), :html => {:method => :post, :onsubmit => "confirm('Are you sure? This is extremely destructive and irreversible.')"}) do %>
    <button class="btn btn-danger" style="font-size:2em;">FULLY DELETE USER</button>
  <% end %>
<% end %>
