<style>
  dt {
    width: calc(20% - 1rem);
    float: left;
  }

  dd {
    width: calc(80% - 1rem)
  }
</style>
<div class="row">
  <h1>
    <%= @user.name %><a href="/<%= @user.username %>" target="_blank"> (@<%= @user.username %>)</a>
  </h1>
  <p><u><a style="color: red" href="/internal/users/<%= @user.id %>/edit">click here to banish or delete user</a></u>
  </p>
  <p><em>Member since <%= @user.created_at.strftime("%b %e '%y") %></em></p>
  <p><strong><u>General Info</u></strong></p>
  <dl>
    <dt>ID:</dt>
    <dd><%= @user.id %></span></dd>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Name:</dt>
    <dd><%= @user.name %></dd>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
    <dt>Twitter:</dt>
    <dd><%= @user.twitter_username || "N/A" %></dd>
    <dt>GitHub:</dt>
    <dd><%= @user.github_username || "N/A" %></dd>
    <dt>Sustaining Member:</dt>
    <dd><%= @user.a_sustaining_member? %></dd>
    <% if @user.a_sustaining_member? %>
      <dt>Monthly Dues:</dt>
      <dd><%= @user.monthly_dues %></dd>
    <% end %>
  </dl>

  <p><strong><u>Activity</u></strong></p>
  <ul>
    <li><%= @user.comments.size %> comments</li>
    <li><%= @user.articles.size %> articles</li>
    <li><%= @user.reactions.size %> reactions</li>
    <li><%= @user.followers.size %> followers</li>
    <li><%= @user.following_users_count %> users following</li>
    <li><%= @user.badge_achievements_count %> Badges</li>

  </ul>

</div>
<div class="row">
  <h3><u>Current Roles</u></h3>
  <p>(view full history in notes below)</p>
  <ul>
    <% @user.roles.each do |role| %>
      <li><%= role.name %> <em><%= "- " + Tag.find(role.resource_id).name if role.resource_id.present? %></em></li>
    <% end %>
  </ul>
  <h3><u>Privileges</u></h3>
  <% if !@user.banned && !@user.warned %>
    <%= form_for [:internal, @user] do |f| %>
      <p>
        Add Trusted Role (Community Moderator)
        <%= f.check_box :trusted_user, checked: @user.trusted %>
      </p>
      <p>
        Add Pro Role (Upgraded DevRel Dashboard)
        <%= f.check_box :pro_user, checked: @user.has_role?(:pro) %>
      </p>
      <%= f.submit "Update Privileges" %>
    <% end %>
  <% else %>
    User must be in good standing to have heigtened privileges of any kind.
  <% end %>
  <br>
  <h3><u>Warn or Ban User</u></h3>
  <% if @user.banned %>
    <p style="background-color:red;color:white">🚨 Banned User 🚨</p>
  <% elsif @user.warned %>
    <p style="background-color: orange;color:white">Warned User</p>
  <% else %>
    <p style="color:green">Member in good standing</p>
  <% end %>
  <%= form_for [:internal, @user] do |f| %>
    <%= f.label "Ban User" %>
    <%= f.check_box :ban_user, checked: @user.banned %>
    <br>
    <%= f.label "Warn User" %>
    <%= f.check_box :warn_user, checked: @user.warned %>
    <br>
    <%= f.label "Reason for action:" %>
    <%= f.text_area :note_for_current_role, required: true %>
    <br>
    <%= f.submit "Update User Status" %>
  <% end %>
</div>
<div class="row">
  <h3><u>Mentorship</u></h3>
  <% if @user.mentors.count > 0 %>
    <h4> Mentor(s):</h4>
    <ul>
      <% @user_mentor_relationships.each do |relationship| %>
        <li>
          <a href="https://dev.to/<%= User.find(relationship.mentor_id).username %>" target=">blank">@<%= User.find(relationship.mentor_id).username %></a>
          <% if relationship.active %>
            <span style="color:green"><em> (active)</em></span>
          <% else %>
            <span style="color:red"><em> (inactive)</em></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% elsif @user.mentees.count > 0 %>
    <h4>Mentee(s):</h4>
    <ul>
      <% @user_mentee_relationships.each do |relationship| %>
        <li>
          <a href="https://dev.to/<%= User.find(relationship.mentee_id).username %>" target=">blank">@<%= User.find(relationship.mentee_id).username %></a>
          <% if relationship.active %>
            <span style="color:green"><em> (active)</em></span>
          <% else %>
            <span style="color:red"><em> (inactive)</em></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for [:internal, @user] do |f| %>
    <% if @user.banned_from_mentorship %>
      <p style="background-color:red; color:white;">User is banned from mentorship program</p>
    <% end %>
    <p>Ban user from mentorship program <%= f.check_box :ban_from_mentorship, checked: @user.has_role?(:banned_from_mentorship) %></p>
    <%= f.label "Reason: " %>
    <%= f.text_area :note_for_mentorship_ban, required: true %>
    <br>
    <%= f.submit "Update Mentorship Status" %>
  <% end %>
</div>
<div class="row">
  <h3><u>Notes</u></h3>
  <% if @user.notes.count > 0 %>
    <% @user.notes.each do |note| %>
      <p><em><%= note.created_at.strftime("%d %B %Y %H:%M UTC") %> by <%= User.find(note.author_id).username %></em> -
        <% if !note.reason.blank? %><strong><%= note.reason %>:</strong>
          <% end %><%= note.content %></p>
    <% end %>
  <% else %>
    <p><em>No notes yet!</em></p>
  <% end %>
  <%= form_for [:internal, @user] do |f| %>
    <%= f.label "Add new note: " %>
    <br>
    <%= f.text_area :note %>
    <br>
    <%= f.submit "Submit Note" %>
  <% end %>
</div>

<%= render "mentee_match" %>

<h2><u>Recent Emails</u></h2>
<ul>
  <% @user.email_messages.order("sent_at DESC").limit(50).each do |email| %>
    <li><a href="/admin/email_messages/<%= email.id %>"><%= email.subject %></a>
      <em><%= email.sent_at&.strftime("%b %e '%y") %></em></li>
  <% end %>
</ul>
<br>
<br>
