<style>
  dt {
    width: calc(20% - 1rem);
    float: left;
  }

  dd {
    width: calc(80% - 1rem)
  }
</style>
<div class="row">
  <h1>
    <%= @user.name %><a href="/<%= @user.username %>" target="_blank"> (@<%= @user.username %>)</a>
  </h1>
  <p><u><a style="color: red" href="/internal/users/<%= @user.id %>/edit">click here to merge, banish, or delete user.</a></u>
  </p>
  <p><em>Member since <%= @user.created_at.strftime("%b %e '%y") %></em></p>
  <p><strong><u>General Info</u></strong></p>
  <dl>
    <dt>ID:</dt>
    <dd><%= @user.id %></span></dd>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Name:</dt>
    <dd><%= @user.name %></dd>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
    <dt>Twitter:</dt>
    <dd><%= @user.twitter_username || "N/A" %></dd>
    <dt>GitHub:</dt>
    <dd><%= @user.github_username || "N/A" %></dd>
    <dt>Sustaining Member:</dt>
    <dd><%= @user.a_sustaining_member? %></dd>
    <% if @user.a_sustaining_member? %>
      <dt>Monthly Dues:</dt>
      <dd><%= @user.monthly_dues %></dd>
    <% end %>
  </dl>
</div>
<%= render "activity" %>
<div class="row">
  <h3><u>Mentorship</u></h3>
  <% if @user.mentors.count > 0 %>
    <h4> Mentor(s):</h4>
    <ul>
      <% @user_mentor_relationships.each do |relationship| %>
        <li>
          <a href="https://dev.to/<%= User.find(relationship.mentor_id).username %>" target=">blank">@<%= User.find(relationship.mentor_id).username %></a>
          <% if relationship.active %>
            <span style="color:green"><em> (active)</em></span>
          <% else %>
            <span style="color:red"><em> (inactive)</em></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% elsif @user.mentees.count > 0 %>
    <h4>Mentee(s):</h4>
    <ul>
      <% @user_mentee_relationships.each do |relationship| %>
        <li>
          <a href="https://dev.to/<%= User.find(relationship.mentee_id).username %>" target=">blank">@<%= User.find(relationship.mentee_id).username %></a>
          <% if relationship.active %>
            <span style="color:green"><em> (active)</em></span>
          <% else %>
            <span style="color:red"><em> (inactive)</em></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% elsif @user.has_role? :banned_from_mentorship %>
    <p style="background-color: red;">User is banned from the mentorship program.</p>
  <% else %>
    <p>Currently not in a mentorship relationship.</p>
  <% end %>
  <%= form_for(@user, url: user_status_internal_user_path(@user)) do |f| %>
    <p>Ban from mentorship: <%= f.check_box :toggle_mentorship, checked: @user.has_role?(:banned_from_mentorship) %></p>
    <p>Reason for action: <%= f.text_area :mentorship_note %></p>
    <%= f.submit %>
  <% end %>
</div>
<%= render "notes" %>
<%= render "mentee_match" %>
<div class="row">
  <h2><u>Recent Emails</u></h2>
  <ul>
    <% @user.email_messages.order("sent_at DESC").limit(50).each do |email| %>
      <li><a href="/admin/email_messages/<%= email.id %>"><%= email.subject %></a>
        <em><%= email.sent_at&.strftime("%b %e '%y") %></em></li>
    <% end %>
  </ul>
</div>
<br>
<br>
