<div class="row">
  <h1>
    <%= @user.name%><a href="/<%= @user.username %>" target="_blank"> (@<%= @user.username %>)</a>
  </h1>
  <p><em>Member since <%= @user.created_at.strftime("%d %B %Y %H:%M UTC") %></em></p>
  <% if @user.banned %>
    <p style="background-color:red;color:white">BANNED USER</p>
    <p>Reason for banning: <%= @user.reason_for_ban %></p>
  <% elsif @user.warned %>
    <p style="background-color:orange;color:white">User Status: Warned</p>
    <p>Reason for warning: <%= @user.reason_for_warning %></p>
  <% else %>
    <p style="color:green">Member in good standing</p>
  <% end %>
  <hr/>
  <h3><u>Basic Info</u></h3>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <% if @user.feed_admin_publish_permission %>
    <p><strong>Admins can publish from RSS ✅</strong></p>
  <% else %>
    <p>Admins cannot publish from RSS ❌<p>
  <% end %>
  <h3><u>Badges</u></h3>
  <% if @user.badges.count > 0 %>
    <% @user.badges.each do |badge| %>
      <img style="max-width: 230px;" src="<%= badge.badge_image_url %>">
    <% end %>
  <% end %>
  <h3><u>Mentorship Details</u></h3>
  <%= form_for ([:internal, @user]) do |f| %>
    <% if @user.banned_from_mentorship %>
      <p style="background-color:red; color:white;"> USER IS BANNED FROM MENTORSHIP, SEE NOTES BELOW </p>
    <% else %>
      <p>Ban user from participating in mentorship program <%= f.check_box :ban_from_mentorship %></p>
    <% end %>
    <%= f.label :offering_mentorship %>
    <%= f.check_box :offering_mentorship %>
    <br>
    <% if !@user.mentor_description.blank? %>
      <p>"<%= @user.mentor_description %>"</p>
    <% end %>
    <%= f.label :seeking_mentorship %>
    <%= f.check_box :seeking_mentorship %>
    <br>
    <% if !@user.mentee_description.blank? %>
      <p>"<%= @user.mentee_description %>"</p>
    <% end %>
    <h3><u>Mentorship Matches</u> </h3>
    <% if @user.mentors.count > 0 %>
      <h4> Mentor(s):</h4>
      <ul>
      <% @user_mentor_relationships.each do |relationship| %>
        <li>
          <a href="https://dev.to/<%= User.find(relationship.mentor_id).username %>" target=">blank">@<%= User.find(relationship.mentor_id).username %></a>
          <% if relationship.active %>
            <span style="color:green"><em> (active)</em></span>
          <% else %>
            <span style="color:red"><em> (inactive)</em></span>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% else %>
      <em>This member does not have any mentorship relationships right now.</em>
      <br />
    <% end %>
    <br>
    <%= f.label :add_mentor %>
    <%= f.text_field :add_mentor, placeholder:"user id#" %>
    <% if @user.mentees.count > 0 %>
      <h4>Mentee(s):</h4>
      <ul>
      <% @user_mentee_relationships.each do |relationship| %>
        <li><a href="https://dev.to/<%= User.find(relationship.mentee_id).username %>" target=">blank">@<%= User.find(relationship.mentee_id).username %></a>
        <% if relationship.active %>
          <span style="color:green"><em> (active)</em></span>
        <% else %>
          <span style="color:red"><em> (inactive)</em></span>
        <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
    <br>
    <%= f.label :add_mentee %>
    <%= f.text_field :add_mentee, placeholder:"user id#" %>
    <h3><u>Notes</u></h3>
    <% if @user.notes.count > 0 %>
      <% @user.notes.each do |note| %>
        <p><em><%= note.created_at.strftime("%d %B %Y %H:%M UTC") %> by <%= User.find(note.author_id).username %></em> - <%= note.content %></p>
      <% end %>
      <br>
      <h4>Add Note</h4>
      <%= f.text_area :note %>
    <% else %>
      <%= f.text_area :note %>
    <% end %>
    <br/>
    <%= f.submit %>
  <% end %>
</div>

<% if @user.seeking_mentorship && @user.mentee_description.present? %>
  <h2> Mentee Description </h2>
    <div class="row" style="font-size:0.85em;position:sticky;top:50px;background:white;z-index:1000;border:2px solid black">
      <div class="col-md-2">
        <img src="<%= @user.profile_image_90 %>" style="border-radius:100px;width:50px;height:50px;" />
        <br/>
        <a href="/<%= @user.username %>" target="_blank">@<%= @user.username %></a>
        <br/>
      </div>
      <div class="col-md-3" style="border-left:1px solid black">
        <h4>Tags</h4>
        <%= @user.cached_followed_tag_names.join(", ") %>
      </div>
      <div class="col-md-3" style="max-height: 22vh;overflow:auto">
        <h4>Mentee description</h4>
        <%= @user.mentee_description %>
        <%= @user.mentee_description %>
        <%= @user.mentee_description %>
        <%= @user.mentee_description %>
        <%= @user.mentee_description %>
      </div>
      <div class="col-md-3">
        <h4>Skills/Languages</h4>
        <%= @user.mostly_work_with %>
      </div>
      <div class="col-md-1">
      </div>
    </div>

  <h2> Possible Mentors </h2>
  <% count = 0 %>
  <% MentorRelationship.
      unmatched_mentors.where.not(mentor_form_updated_at: nil, id: @user.id).
      where.not(mentor_description: nil).
      order("mentor_form_updated_at DESC").limit(175).
      sort_by { |possible_mentor| UserSimilarity.new(@user, possible_mentor).score }.reverse.
      first(40).each do |possible_mentor| %>
    <div class="row" style="font-size:0.9em">
      <div class="col-md-2">
        <img src="<%= possible_mentor.profile_image_90 %>" style="border-radius:100px;width:50px;height:50px;" />
        <br/>
        <a href="/<%= possible_mentor.username %>" target="_blank">@<%= possible_mentor.username %></a>
        <br/>
        <a href="/internal/users/<%= possible_mentor.id %>" target="_blank">Internal(<%= possible_mentor.id %>)</a>
      </div>
      <div class="col-md-3" style="border-left:1px solid black">
        <h4>Tag Intersection</h4>
        <%= UserSimilarity.new(@user, possible_mentor).tag_intersection.join(", ") %>
      </div>
      <div class="col-md-3">
        <h4>Mentor description</h4>
        <%= possible_mentor.mentor_description %>
      </div>
      <div class="col-md-3">
        <h4>Skills/Languages</h4>
        <%= possible_mentor.mostly_work_with %>
      </div>
      <div class="col-md-1">
        <h4>Action</h4>
        <%= form_for ([:internal, @user]) do |f| %>
          <%= f.hidden_field :quick_match, value: true %>
          <%= f.hidden_field :add_mentor, value: possible_mentor.id %>
          <%= f.submit "Match!" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<h2> Recent Emails </h2>
<% @user.email_messages.order("sent_at DESC").limit(50).each do |email| %>
  <div class="row">
    <a href="/admin/email_messages/<%= email.id %>"><%= email.subject %></a> <%= email.sent_at&.strftime("%b %e '%y") %>
  </div>
<% end %>
