<%= link_to "Back to All Page Redirects", internal_page_redirects_path, class: "btn btn-primary float-right" %>

<h2>Page Redirect - ID:  <%= @page_redirect.id %></h2>
<% badge_type =
     if @page_redirect.version <= 3
       "success"
     elsif @page_redirect.version <= 5
       "warning"
     else
       "danger"
     end %>
<h4 class="d-inline-block mb-5">
  Version:
  <span class="align-top badge badge-<%= badge_type %>"><%= @page_redirect.version %></span>
</h4>

<%= form_with model: [:internal, @page_redirect], method: :patch, local: true do |form| %>
  <div class="form-group">
    <%= form.label :old_path %>
    <%= form.text_field :old_path, class: "form-control", disabled: true %>
  </div>
  <div class="form-group">
    <%= form.label :new_path %>
    <%= form.text_field :new_path, class: "form-control" %>
  </div>
  <%= form.submit "Update Page Redirect", class: "btn btn-primary" %>
<% end %>

<hr class="mt-5">

<div class="d-flex justify-content-start">
  <%= link_to "Destroy Page Redirect", url_for(action: :destroy, id: @page_redirect.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger ml-2 float-right" %>
</div>
