<%= link_to "Back to All Page Redirects", internal_page_redirects_path, class: "btn btn-primary float-right" %>

<h2>Page Redirect - ID:  <%= @page_redirect.id %></h2>

<%= form_with model: [:internal, @page_redirect], method: :patch do |form| %>
  <%= render partial: "form", locals: { page_redirect: @page_redirect } %>
  <%= form.submit "Update Listing", class: "btn btn-primary" %>
<% end %>

<hr class="mt-5">

<div class="d-flex justify-content-start">
  <%= link_to "Destroy Page Redirect", url_for(action: :destroy, id: @page_redirect.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger ml-2 float-right" %>
</div>
