<div class="row m-3">
  <div class="col">
    <a href="<%= new_internal_page_redirect_path %>" class="btn btn-primary" role="button">Create a New Page Redirect</a>
  </div>
  <div class="col">
    <%= search_form_for @q, url: internal_page_redirects_path, class: "form-inline justify-content-end" do |f| %>

      <%= f.label :old_slug_or_new_slug_cont, "Old or new slug", class: "sr-only" %>
      <%= f.search_field :old_slug_or_new_slug_cont, placeholder: "Old or new slug", class: "form-control mx-3" %>

      <%= f.submit "Search", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<%= paginate @page_redirects %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Old Slug</th>
      <th scope="col">New Slug</th>
      <th scope="col">Overridden</th>
      <th scope="col">Version</th>
      <th scope="col">
        <%= content_tag :span, sort_link(@q, :created_at, "Date"), class: "mx-2" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @page_redirects.each do |page_redirect| %>
      <% bg_color_class =
           if page_redirect.version <= 3
             "success"
           elsif page_redirect.version <= 5
             "warning"
           else
             "danger"
           end %>

      <tr>
        <td><%= link_to(page_redirect.id, edit_internal_page_redirect_path(page_redirect.id)) %></td>
        <td><%= page_redirect.old_slug %></td>
        <td><%= page_redirect.new_slug %></td>
        <td><%= page_redirect.overridden %></td>
        <td class="bg-<%= bg_color_class %>"><%= page_redirect.version %></td>
        <td><%= page_redirect.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @page_redirects %>
