<meta name="robots" content="noindex" />
<div class="dialog">
  <h1>Thank you for your report. You can use this link to check for any updates on your report:</h1>
  <h3>https://dev.to<%= @feedback_message.path %></h3>
  <p style="color: white;background-color:#d10000;">Note that the link above is public, but secret.</p>
  <div class="report-body">
    <h3>Current Status: <%= @feedback_message.status %></h3>
    <% if @feedback_message.feedback_type == "abuse-reports" %>
      <h3>
        Reported URL: <%= link_to @feedback_message.reported_url, @feedback_message.reported_url, target: "_blank" %>
        <br>
        <small>(Opens in a new tab)</small>
      </h3>
      <hr>
      <h4>Category: <%= @feedback_message.category %></h4>
    <% end %>
      <h4>Message:</h4>
    <p>
      <% if @feedback_message.message.blank? %>
        <span class="blankmessage">No message was left.</span>
      <% else %>
        <%= @feedback_message.message %>
      <% end %>
    </p>
  </div>
  <hr>
  <p>
    Questions? Send an email to <a href="mailto:yo@dev.to">yo@dev.to</a>
  </p>
</div>
