<div class="crayons-field mt-6 align-left">
  <%= label_tag :community_name, class: "crayons-field__label" do %>
    Community name
    <span class="crayons-field__required crayons-tooltip" data-tooltip="This will set the primary name for your Forem" aria-describedby="community-name-subtitle"></span>
    <p id="community-name-subtitle" class="crayons-field__description">Used as the primary name for your Forem.</p>
  <% end %>
  <%= text_field_tag :community_name, "", placeholder: "Climbing Life", class: "crayons-textfield fs-italic", required: true %>
</div>

<div class="crayons-field mt-6 align-left">
  <%= label_tag :logo_svg, class: "crayons-field__label" do %>
    Logo
    <span class="crayons-field__required crayons-tooltip" data-tooltip="This will set the logo for your Forem" aria-describedby="logo-subtitle"></span>
    <p id="logo-subtitle" class="crayons-field__description">Ideally SVG, but PNG will work, too. Min size: 300x300px.</p>
  <% end %>
  <span class="block border-none">
    <%= file_field_tag :logo_svg, class: "crayons-btn crayons-btn--secondary", role: "button", required: true %>
  </span>

  <% if ::Settings::General.logo_svg.present? %>
    <div class="site-logo">
      <%= ::Settings::General.logo_svg.html_safe %>
    </div>
  <% end %>
</div>

<div class="crayons-field mt-6 align-left">
  <%= label_tag :primary_brand_color_hex, class: "crayons-field__label" do %>
    Brand color
    <span class="crayons-field__required crayons-tooltip" data-tooltip="This will set the accent color for buttons, links, etc. on your Forem" aria-describedby="color-selector-subtitle"></span>
    <p id="color-selector-subtitle" class="crayons-field__description">This will be the "accent" color used for buttons, links, etc.</p>
  <% end %>

 <div class="flex items-center w-100 m:w-50 crayons-field">
    <div class="flex items-center">
      <%= text_field_tag :primary_brand_color_hex,
                         ::Settings::UserExperience.primary_brand_color_hex,
                         pattern: "^#+([a-fA-F0-9]{6})$",
                         placeholder: ::Settings::UserExperience.primary_brand_color_hex,
                         class: "crayons-textfield js-color-field" %>
      <%= color_field_tag :primary_brand_color_hex,
                          ::Settings::UserExperience.primary_brand_color_hex,
                          pattern: "^#+([a-fA-F0-9]{6})$",
                          placeholder: ::Settings::UserExperience.primary_brand_color_hex,
                          class: "crayons-color-selector js-color-field ml-2",
                          required: true %>
   </div>
</div>

<div class="crayons-field mt-6 align-left">
  <fieldset aria-describedby="section-description">
    <legend class="fs-l">Who can join this community?</legend>
    <div>
      <%= radio_button_tag :invite_only_mode, "0", class: "crayons-field crayons-field--radio", required: true %>
      <label for="invite_only_mode_0">Everyone</label>
      <br>
      <%= radio_button_tag :invite_only_mode, "1", class: "crayons-field crayons-field--radio", required: true %>
      <label for="invite_only_mode_1">Only people who are invited</label>
    </div>
  </fieldset>

<div class="crayons-field mt-6 align-left">
  <fieldset aria-describedby="section-description">
    <legend class="fs-l">Who can view content in this community?</legend>
    <div>
      <%= radio_button_tag :public, "0", class: "crayons-field crayons-field--radio", required: true %>
      <label for="public_0">Everyone</label>
      <br>
      <%= radio_button_tag :public, "1", class: "crayons-field crayons-field--radio", required: true %>
      <label for="public_1">Members only</label>
    </div>
  </div>
</div>
