<footer class="crayons-footer print-hidden">
  <div id="footer-container" class="crayons-layout crayons-layout--limited-m crayons-footer__container">
    <nav class="m:-mt-4">
      <a href="/" class="crayons-link inline-block p-2">Home</a>
      <% NavigationLink.ordered.each do |link| %>
        <% if !link.display_only_when_signed_in? || (link.display_only_when_signed_in? && user_signed_in?) %>
          <a href="<%= link.url %>" class="crayons-link inline-block p-2"><%= link.name %></a>
        <% end %>
      <% end %>

      <% unless user_signed_in? %>
        <a href="<%= sign_up_path %>" class="crayons-link fw-bold inline-block p-2">Sign In/Up</a>
      <% else %>
        <a href="/new" class="crayons-link fw-bold inline-block p-2">Write a post</a>
      <% end %>

      <div class="pt-4"><%= render partial: "layouts/social_media" %></div>
    </nav>
    <hr class="crayons-footer__divider">
    <p class="fs-s crayons-footer__description"><a href="/" aria-label="<%= community_name %> Home" class="crayons-link"><%= community_name %></a> – <%= Settings::Community.community_description %></p>
    <div class="m:-mb-4 crayons-footer__description">
      <%# The following copy is necessary for compatibility with the Forem AGPL licence which requires instances to link back to the source. %>
      <p class="fs-s">Built on <a href="https://www.forem.com" class="crayons-link" target="_blank" rel="noopener">Forem</a> — the <a href="https://dev.to/t/opensource" target="_blank" rel="noopener" class="crayons-link">open source</a> software that powers <a href="https://dev.to" target="_blank" rel="noopener" class="crayons-link">DEV</a> and other inclusive communities.</p>
      <p class="fs-s">Made with love and <a href="https://dev.to/t/rails" target="_blank" rel="noopener" class="crayons-link">Ruby on Rails</a>. <%= community_name %> <span title="copyright">&copy;</span> <%= copyright_notice %>.</p>
      <div><a href="https://www.forem.com" target="_blank" rel="noopener" class="inline-block mt-4"><%= inline_svg_tag("logo-forem.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Forem logo") %></a></div>
    </div>
  </div>
</footer>
<div id="snack-zone"></div>
