<footer class="crayons-footer print-hidden">
  <div id="footer-container" class="crayons-layout crayons-footer__container">
    <div class="crayons-footer__info">
      <div><a href="/" class="crayons-footer__logo" aria-label="<%= community_name %> Home"><%= logo_svg %></a></div>
      <p><%= SiteConfig.community_description %></p>
      <div><%= render partial: "layouts/social_media" %></div>
      <%# The following copy is necessary for compatability with the Forem AGPL licence which requires instances to link back to the source. %>
      <p class="fs-xs color-base-60"><%= community_qualified_name %> copyright <%= copyright_notice %></p>
      <p class="fs-xs color-base-60">Built on <a href="https://www.forem.com">Forem</a> — the <a href="https://dev.to/t/opensource">open source</a> software that powers <a href="https://dev.to">DEV</a> and other inclusive communities.</p>
      <p class="fs-xs color-base-60">Made with love and <a href="https://dev.to/t/rails">Ruby on Rails</a>.</p>
    </div>

    <nav class="crayons-footer__nav">
      <div>
        <a href="/" class="crayons-link crayons-link--block">Home</a>
        <% if user_signed_in? %>
          <a href="<%= readinglist_path %>" class="crayons-link crayons-link--block">Reading list</a>
        <% end %>
        <a href="<%= listings_path %>" class="crayons-link crayons-link--block">Listings</a>
        <a href="<%= pod_path %>" class="crayons-link crayons-link--block">Podcasts</a>
        <a href="<%= videos_path %>" class="crayons-link crayons-link--block">Videos</a>
        <a href="<%= tags_path %>" class="crayons-link crayons-link--block">Tags</a>
        <% unless user_signed_in? %>
          <a href="<%= sign_up_path %>" class="crayons-link crayons-link--block fw-bold">
            Sign In/Up
          </a>
        <% else %>
          <a href="/new" class="crayons-link crayons-link--block fw-bold">Write a post</a>
        <% end %>
      </div>

      <div>
        <a href="/code-of-conduct" class="crayons-link crayons-link--block">Code of Conduct</a>
        <a href="/faq" class="crayons-link crayons-link--block">FAQ</a>
        <a href="/about" class="crayons-link crayons-link--block">About</a>
        <a href="/privacy" class="crayons-link crayons-link--block">Privacy policy</a>
        <a href="/terms" class="crayons-link crayons-link--block">Terms of use</a>
        <a href="/contact" class="crayons-link crayons-link--block">Contact</a>
      </div>

      <div>
        <a href="/sponsors" class="crayons-link crayons-link--block">Sponsors</a>
        <% if SiteConfig.shop_url.present? %>
          <a href="<%= SiteConfig.shop_url %>" class="crayons-link crayons-link--block"><%= community_name %> Shop</a>
        <% end %>
      </div>
    </nav>

    <% if SiteConfig.mascot_footer_image_url.present? %>
      <%= image_tag(SiteConfig.mascot_footer_image_url,
                    class: "crayons-footer__mascot",
                    alt: SiteConfig.mascot_image_description,
                    width: SiteConfig.mascot_footer_image_width,
                    height: SiteConfig.mascot_footer_image_height,
                    loading: "lazy") %>
    <% end %>
  </div>
</footer>
<div id="snack-zone"></div>
