<div class="hamburger">
  <div class="hamburger__content">
    <a href="<%= listings_path %>" class="crayons-link crayons-link--block">
      <%= inline_svg_tag("twemoji/listing.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Listings") %>
      Listings
    </a>
    <a href="<%= pod_path %>" class="crayons-link crayons-link--block">
      <%= inline_svg_tag("twemoji/mic.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Podcasts") %>
      Podcasts
    </a>
    <a href="<%= videos_path %>" class="crayons-link crayons-link--block">
      <%= inline_svg_tag("twemoji/camera.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Videos") %>
      Videos
    </a>
    <a href="<%= tags_path %>" class="crayons-link crayons-link--block">
      <%= inline_svg_tag("twemoji/tag.svg", aria: true, class: "crayons-icon crayons-icon--default", title: "Tags") %>
      Tags
    </a>
  </div>
  <div class="hamburger__overlay js-hamburger-trigger"></div>
</div>
