<a href="/" class="site-logo" aria-label="<%= t("views.main.aria_home") %>">
  <% if Settings::General.logo_svg.present? %>
    <% if FeatureFlag.enabled?(:creator_onboarding) %>
      <img src="<%= logo_svg %>" alt="<%= community_name %>" style="object-fit: contain;max-width: 300px;max-height: 40px;" />
    <% else %>
      <%= Settings::General.logo_svg %>
    <% end %>
  <% else %>
    <span class="truncate-at-2">
      <%= community_name %>
    </span>
  <% end %>
</a>
