<div class="global-signup-modal" id="global-signup-modal" style="display:none">
  <div class="global-signup-modal--bg" id="global-signup-modal-bg">
    <button type="button" class="close-modal-button">
      <img src="<%= asset_path("cancel.svg") %>" class="search-img" alt="Close modal button" />
    </button>
  </div>
  <div class="global-signup-modal--inner-a">
    <%= image_tag(cloudinary(SiteConfig.mascot_image_url, 300),
                  class: "mascot-image",
                  alt: SiteConfig.mascot_image_description,
                  loading: "lazy") %>

    <h1>Join our <%= community_qualified_name %> :)</h1>

    <% if SiteConfig.tagline.present? %>
      <p><%= SiteConfig.tagline %></p>
    <% end %>

    <div class="flex flex-col l:flex-row justify-center">
      <%= render partial: "shared/authentication/providers_signup_modal" %>
    </div>

    <p>
      <em>We strive for transparency and don't collect excess data.</em>
    </p>
  </div>
</div>
