<div class="global-signup-modal" id="global-signup-modal" style="display:none">
  <div class="global-signup-modal--bg" id="global-signup-modal-bg">
    <button type="button" class="close-modal-button">
      <img src="<%= asset_path("cancel.svg") %>" class="search-img" alt="Close modal button" />
    </button>
  </div>
  <div class="global-signup-modal--inner-a">
    <%= image_tag(cloudinary(SiteConfig.mascot_image_url, 300), class: "mascot-image", alt: "Sloan, the sloth mascot", loading: "lazy") %>
    <h1>Join our <%= ApplicationConfig["COMMUNITY_NAME"] %> Community :)</h1>
    <p>
      <%= SiteConfig.tagline %>
    </p>
    <% if SiteConfig.auth_allowed?("twitter") %>
      <a href="/users/auth/twitter?callback_url=<%= ApplicationConfig["APP_PROTOCOL"] %><%= ApplicationConfig["APP_DOMAIN"] %>/users/auth/twitter/callback" class="sign-up-link cta" data-no-instant>
        <img src="<%= asset_path("twitter-logo.svg") %>" class="icon-img" alt="Twitter logo" /> Auth With Twitter
      </a>
    <% end %>
    <% if SiteConfig.auth_allowed?("github") %>
      <a href="/users/auth/github?state=signup-modal" class="sign-up-link cta" data-no-instant>
        <img src="<%= asset_path("github-logo.svg") %>" class="icon-img" alt="GitHub logo" /> Auth With GitHub
      </a>
    <% end %>
    <p>
      <em>We strive for transparency and don't collect excess data.</em>
    </p>
  </div>
</div>
