<div class="global-signup-modal" id="global-signup-modal" style="display:none">
  <div class="global-signup-modal--bg" id="global-signup-modal-bg">
    <button type="button" class="close-modal-button">
      <img src="<%= asset_path("cancel.svg") %>" class="search-img" alt="Close modal button" />
    </button>
  </div>
  <div class="global-signup-modal--inner-a">
    <%= image_tag(cl_image_path(asset_path("/assets/sloan.png"),
                                type: "fetch",
                                width: 300,
                                crop: "imagga_scale",
                                quality: "auto",
                                flags: "progressive",
                                fetch_format: "auto",
                                sign_url: true), class: "sloan", alt: "Sloan, the sloth mascot", loading: "lazy") %>
    <h1>Join our <%= community_qualified_name %> :)</h1>
    <p>
      We're a place where coders share, stay up-to-date and grow their careers.
    </p>
    <% if SiteConfig.auth_allowed?("twitter") %>
      <a href="/users/auth/twitter?callback_url=<%= app_url %>/users/auth/twitter/callback" class="sign-up-link cta" data-no-instant>
        <img src="<%= asset_path("twitter-logo.svg") %>" class="icon-img" alt="Twitter logo" /> Auth With Twitter
      </a>
    <% end %>
    <% if SiteConfig.auth_allowed?("github") %>
      <a href="/users/auth/github?state=signup-modal" class="sign-up-link cta" data-no-instant>
        <img src="<%= asset_path("github-logo.svg") %>" class="icon-img" alt="GitHub logo" /> Auth With GitHub
      </a>
    <% end %>
    <p>
      <em>We strive for transparency and don't collect excess data.</em>
    </p>
  </div>
</div>
