<div class="navigation-progress" id="navigation-progress">
</div>
<div class="top-bar" id="top-bar">
  <nav>
    <div id="pwa-nav-buttons" class="pwa-nav-buttons">
      <button type="button" id="app-back-button"><img src="<%= asset_path("keyboard-left-arrow-button.svg") %>" alt="back icon" /></button>
      <button type="button" id="app-forward-button"><img src="<%= asset_path("keyboard-right-arrow-button.svg") %>" alt="forward icon" /></button>
      <button type="button" id="app-refresh-button"><img src="<%= asset_path("refresh-button.svg") %>" alt="refresh icon" /></button>
    </div>
    <a href="#articles-list" class="skip-content-link">Skip to content</a>
    <a href="/" class="top-bar--logo" id="logo-link" aria-label="<%= ApplicationConfig["COMMUNITY_NAME"] %> Home"><%= logo_svg %></a>
    <div class="top-bar--search js-top-bar-search" id="nav-search-form-root">
      <form acceptCharset="UTF-8" method="get" action="/search">
        <input class="top-bar--search-input" type="text" name="q" id="nav-search" placeholder="Search" autoComplete="off" />
      </form>
    </div>
    <div class="top-bar--links">
      <a href="/new" id="write-link" class="cta top-bar--link write">WRITE A POST</a>
      <a href="/connect" id="connect-link" class="top-bar--link" aria-label="Connect">
        <%= inline_svg_tag("connect.svg", aria: true, title: "Connect") %>
        <span class="connect-number nav-indicator" id="connect-number"></span>
      </a>
      <a href="/notifications" id="notifications-link" class="top-bar--link" aria-label="Notifications">
        <%= inline_svg_tag("bell.svg", aria: true, title: "Notifications") %>
        <span class="notifications-number nav-indicator" id="notifications-number"></span>
      </a>
      <div class="navbar-menu-wrapper top-bar--menu" id="navbar-menu-wrapper">
        <button type="button" class="navigation-butt top-bar--menu-trigger" id="navigation-butt" aria-label="Navigation menu">
          <% if user_signed_in? %>
            <span class="top-bar--profile"><img alt="" id="nav-profile-image" /></span>
          <% else %>
            <%= inline_svg_tag("menu.svg", aria: true, title: "Navigation menu") %>
          <% end %>
        </button>
        <div class="top-bar--menu-overlay" id="menubg"></div>
        <%= render "layouts/nav_menu" %>
      </div>
    </div>
  </nav>
  <% if user_signed_in? %>
    <script async>
      // Here we have some scripts we want to get working on before
      // waiting for the page to stream in.

      // Load the current user's pic as quickly as it's available
      var currentUser = localStorage.getItem('current_user')
      var navProfilePic = document.getElementById('nav-profile-image')
      if (currentUser && navProfilePic) {
        navProfilePic.src = JSON.parse(currentUser).profile_image_90;
      }

      // Load notifications count as quickly as it's available.
      // Not if we're on the notifications page itself
      if (
        window.location.pathname !== '/notifications'
      ) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
          xmlhttp = new XMLHttpRequest();
        } else {
          xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
        }
        xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == XMLHttpRequest.DONE) {
            var count = xmlhttp.response;
            if (isNaN(count)) {
              document
                .getElementById('notifications-number')
                .classList.remove('showing');
            } else if (count != '0' && count != undefined && count != '') {
              document.getElementById('notifications-number').innerHTML =
                xmlhttp.response;
              document
                .getElementById('notifications-number')
                .classList.add('showing');
            } else {
              document
                .getElementById('notifications-number')
                .classList.remove('showing');
            }
          }
        };

        xmlhttp.open('GET', '/notifications/counts', true);
        xmlhttp.send();
      }
    </script>
  <% end %>
</div>
