<%= render "shell/top" %>
<style>.app-shell-loader {display: none;}</style>
<div id="page-content" class="universal-page-content-wrapper <%= view_class %>" data-current-page="<%= current_page %>">
  <% if flash[:global_notice] %>
    <div class="global-notice">
      <%= flash[:global_notice] %>
    </div>
  <% end %>
  <div id="page-content-inner">
    <% if @hero_html %>
      <div id="hero-html-wrapper" data-name="<%= @hero_area.name %>">
        <script>
          // Make sure html variant element has id js-hero-banner and data-name as its name
          if (localStorage.getItem('exited_hero') === '<%= @hero_area.name %>') {
            document.getElementById('hero-html-wrapper').style.display = 'none';
          }
        </script>
        <%= @hero_html.html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>
<%= render "shell/bottom" %>
