<%= render "shell/top" %>
<% if SiteConfig.payment_pointer.present? %>
  <div id="base-payment-pointer" data-payment-pointer="<%= SiteConfig.payment_pointer %>"></div>
<% end %>
<style>.app-shell-loader {display: none;}</style>
<div id="page-content" class="wrapper <%= view_class %>" data-current-page="<%= current_page %>">
  <% if flash[:global_notice] %>
    <div class="crayons-banner">
      <%= flash[:global_notice] %>
    </div>
  <% end %>
  <div id="page-content-inner">
    <% if @hero_html %>
      <div id="hero-html-wrapper" data-name="<%= @hero_area.name %>">
        <script>
          // Make sure html variant element has id hero-html-wrapper and data-name as its name
          if (localStorage.getItem('exited_hero') === '<%= @hero_area.name %>') {
            document.getElementById('hero-html-wrapper').style.display = 'none';
          }
        </script>
        <%= @hero_html.html_safe %>
      </div>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <%= render "layouts/asset_reconciliation" %>
    <% end %>
  </div>
</div>
<%= render "shell/bottom" %>
