<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags %>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag SiteConfig.favicon_url %>
  <title><%= controller_name.titleize %></title>

  <!-- StimulusJS -->
  <%= javascript_packs_with_chunks_tag "internal", defer: true %>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <!-- Bootstrap and FontAwesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <%= stylesheet_link_tag "internal/layout" %>

</head>
<body>
  <div class="d-flex">
    <nav class="sidebar-nav">
      <a href="/internal">
        <img class="d-block mx-auto mt-3" src="<%= asset_path("rainbowdev.svg") %>" width="40" height="40" alt="DEV Logo">
      </a>
        <%= render "internal/shared/navbar" %>
    </nav>

    <div class="container mt-3">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == "notice" || type == "success" ? "success" : "danger" %>">
          <button class="close" data-dismiss="alert">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <%= message %>
        </div>
      <% end %>
      <h1 class="mt-3"><%= controller_name.titleize %></h1>
      <%= yield %>
    </div>
  </div>

  <!-- Bootstrap Dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <%= javascript_include_tag "internal" %>

</body>
</html>
