
<% title "DEV Connect" %>
<%= content_for :page_meta do %>
  <link rel="canonical" href="https://dev.to/connect"/>
  <meta name="description" content="DEV Connect">
<% end %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/material.min.css">

<% if user_signed_in? %>
  <%= javascript_pack_tag 'chat', defer: true %>
  <div class="chat-page-wrapper">
    <div class="chat-page-header">DEV Connect is Beta (Work in Progress ❤️)</div>
    <div
      id="chat"
      class="live-chat"
      data-pusher-key="<%= ENV["PUSHER_KEY"] %>"
      data-algolia-id="<%= ENV["ALGOLIASEARCH_APPLICATION_ID"] %>"
      data-algolia-key="<%= @secured_algolia_key %>"
      data-algolia-index="<%= "SecuredChatChannel_#{Rails.env}" %>"
      data-chat-channels="<%= [] %>"
      data-chat-options="<%= {showChannelsList:true, showTimestamp: true, activeChannelId: @active_channel&.id }.to_json %>"
      data-twilio-token="<%= @twilio_token %>"
    >
    </div>
<% else %>
  <%= render "devise/registrations/registration_form" %>
<% end %>
<style>
  footer {display: none}
  #page-content {max-height:100vh}
</style>
<script>
  window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
</script>